body {
  background-image: url(/media/images/deep-dusk-002.jpg);
  background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  filter: drop-shadow(2px 4px 6px black);
}

.link-bingo {
  background: transparent;
  border: 0;
  color: var(--bs-body-color) !important;
  font-size: 1.1rem !important;
}

.bingo-card {
  padding: 2rem;
  border-radius: .5rem;
  background-color: darkblue;
  font-weight: bold;
  font-size: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bingo-card, .bingo-button {
  width: 150px;
  height: 150px;
}

.bingo-button {
  font-size: 2rem;
}

.top-25 {
  top: 25%;
}

.top-75 {
  top: 75%;
}

.hero-main {
  background: initial;
}

@media (min-width: 767.98px) {
  .hero-main {
    background-image: url(/media/images/hero.webp) !important;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    filter: drop-shadow(2px 4px 6px black);
  }
  .start-md-75 {
    left: 75%;
  }

  .start-md-25 {
    left: 25%;
  }
}