[data-bs-theme=dark] {
  --bs-heading-color: #fff !important;
}

html, body {
  overflow-x: hidden !important;
}

.hero {
	width: 100%;
	position: relative;
	z-index: 1046;
	background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;   
}

.hero-back {
		border-bottom: solid 1px #dee2e6;
		background-color: rgba(0, 0, 0, 0.6);
}

.hero-filter {
  filter: drop-shadow(2px 4px 6px black)
}

.hero-web {
    background: url('/media/images/hero-web.webp');
}

.hero-flash {
    background: url('/media/images/hero-flash.webp');
}

.hero-main {
	background: url('/media/images/hero.webp');
}

.hero-codinghome  {
	background: url('/media/images/hero-codinghome.webp');
}

.hero-ehs {
	background: url('/media/images/hero-ehs.webp');
}

.hero-script {
	background: url('/media/images/hero-script.webp');
}

.hero-noodle {
	background: url('/media/images/hero-noodle.webp');
} 

.hero-sms {
	background: url('/media/images/hero-sms.webp');
}

.hero-mdickie {
	background: url('/media/images/hero-mdickie.webp');
} 
