[data-bs-theme=dark] {
  --bs-heading-color: #fff !important;
}

html, body {
  overflow-x: hidden !important;
}

.hero {
    width: 100%;
    position: relative;
    z-index: 1046;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;   
}

.hero-back {
    border-bottom: solid 1px #dee2e6;
    background-color: rgba(0, 0, 0, 0.6);
}

.hero-filter {
  filter: drop-shadow(2px 4px 6px black)
}

.hero-web {
    background: url('/media/images/hero-web.webp');
}

.hero-flash {
    background: url('/media/images/hero-flash.webp');
}

.hero-main {
	background: url('/media/images/hero.webp');
}

.hero-codinghome  {
	background: url('/media/images/hero-codinghome.webp');
}

.hero-ehs {
	background: url('/media/images/hero-ehs.webp');
}

.hero-script {
	background: url('/media/images/hero-script.webp');
}

.hero-noodle {
	background: url('/media/images/hero-noodle.webp');
} 

.hero-sms {
	background: url('/media/images/hero-sms.webp');
}

.hero-mdickie {
	background: url('/media/images/hero-mdickie.webp');
} 

.accordion-body p:last-child {
  margin-bottom: 0 !important;
}

a:not(p a), p, code:not(p code), b:not(p b), i:not(p i) { /* Custom */
	margin-block-start: 0 !important;
}

@media (min-width: 645.98px) {
  .container-xsm, .container-sm, .container {
    max-width: 540px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media (min-width: 768px) {
  .container-md, .container-sm, .container-xsm, .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container-lg, .container-md, .container-sm, .container-xsm, .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-xl, .container-lg, .container-md, .container-sm, .container-xsm, .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container-xsm, .container {
    max-width: 1320px;
  }
}

@media (min-width: 767.98px) {
  .container-footer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5); 
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 700px) {
  .container-footer {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-footer {
     max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-footer {
      max-width: 1320px;
  }
}

@media (min-width:767.98px) {
  .row, .price-row {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }
  .herorow {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width:767.98px) {
  .herorow-md {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
  }
}

@media (min-width:767.98px) {
  .row {
    margin-top: calc(-1 * var(--bs-gutter-y));
    margin-right: calc(-.5 * var(--bs-gutter-x));
    margin-left: calc(-.5 * var(--bs-gutter-x));
  }
}

.permrow {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-.5 * var(--bs-gutter-x));
  margin-left: calc(-.5 * var(--bs-gutter-x));
}

.mediarow {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
}

.btn-dl {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

[data-bs-theme=dark] .btn-dl {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}

.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.dropdown-item {
  border-radius: var(--bs-border-radius-sm);
}

.dropdown-menu {
  padding: var(--bs-border-radius-sm);
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

@keyframes pageslideIn {
  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }
}

@-webkit-keyframes pageslideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(3.5rem);
    -webkit-opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes slideIn {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

.dropdown-menu {
  -webkit-animation-name: pageslideIn;
  animation-name: pageslideIn;
}

.navbar .dropdown-menu {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.btn-group,
.btn-group-vertical {
  position: relative;
  display: inline-flex;
  vertical-align: middle;
}
.btn-group > .btn,
.btn-group-vertical > .btn {
  position: relative;
  flex: 1 1 auto;
}
.btn-group > .btn-check:checked + .btn,
.btn-group > .btn-check:focus + .btn,
.btn-group > .btn:hover,
.btn-group > .btn:focus,
.btn-group > .btn:active,
.btn-group > .btn.active,
.btn-group-vertical > .btn-check:checked + .btn,
.btn-group-vertical > .btn-check:focus + .btn,
.btn-group-vertical > .btn:hover,
.btn-group-vertical > .btn:focus,
.btn-group-vertical > .btn:active,
.btn-group-vertical > .btn.active {
  z-index: 1;
}

.btn-toolbar {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.btn-toolbar .input-group {
  width: auto;
}

.btn-group {
  border-radius: var(--bs-border-radius);
}
.btn-group > :not(.btn-check:first-child) + .btn,
.btn-group > .btn-group:not(:first-child) {
  margin-left: calc(var(--bs-border-width) * -1);
}
.btn-group > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group > .btn.dropdown-toggle-split:first-child,
.btn-group > .btn-group:not(:last-child) > .btn {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}
.btn-group > .btn:nth-child(n+3),
.btn-group > :not(.btn-check) + .btn,
.btn-group > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.navbar-expand-story .breadcrumb {
  flex-direction: row !important;
}

@media (min-width: 900.98px) {
  .navbar-expand-story {
    flex-wrap: nowrap;
    justify-content: flex-start;
  }
  .navbar-expand-story .navbar-nav {
    flex-direction: row;
  }
  .navbar-expand-story .navbar-nav .dropdown-menu {
    position: absolute;
  }
  .navbar-expand-story .navbar-nav .nav-link {
    padding-right: var(--bs-navbar-nav-link-padding-x);
    padding-left: var(--bs-navbar-nav-link-padding-x);
  }
  .navbar-expand-story .navbar-nav-scroll {
    overflow: visible;
  }
  .navbar-expand-story .navbar-collapse {
    display: flex !important;
    flex-basis: auto;
  }
  .navbar-expand-story .navbar-toggler {
    display: none;
  }
  .navbar-expand-story .offcanvas {
    position: static;
    z-index: auto;
    flex-grow: 1;
    width: auto !important;
    height: auto !important;
    visibility: visible !important;
    background-color: transparent !important;
    border: 0 !important;
    transform: none !important;
    transition: none;
  }
  .navbar-expand-story .offcanvas .offcanvas-header {
    display: none;
  }
  .navbar-expand-story .offcanvas .offcanvas-body {
    display: flex;
    flex-grow: 0;
    padding: 0;
    overflow-y: visible;
  }
  .container-none {
    margin-left: initial !important;
    margin-right: initial !important;
    width: initial !important;
	}
	.m-story-0 {
		margin: 0 !important;
	}
	.ms-story-1 {
		margin-left: .25rem !important;
	}
}

@media (max-width: 900.98px) {
  .second-navbar {
    padding: 0;
  }
  .pb-story-2 {
    padding-bottom: 1rem;
  }
  .dropdown-story {
    left: initial !important;
  }
	.m-story-2 {
		margin: .5rem !important;
	}
}

@media (min-width: 645.98px) {
  .procard {
    margin-left: auto;
    margin-right: auto;
    width: 18rem;
  }
}

.permcard {
	width: 100%;
}

@media (min-width: 424.98px) {
  .permcard {
    margin-left: auto;
    margin-right: auto;
    width: 18rem !important;
  }
}

@media (max-width: 767.98px) {
  .card-width {
    width: 100%;
  }
}

[data-bs-theme=dark] .card-border {
    --bs-card-border-width: var( --bs-border-width);
    --bs-card-border-color: var( --bs-border-color-translucent);
    --bs-card-border-radius: var( --bs-border-radius);
    border: var(--bs-card-border-width) solid var(--bs-card-border-color);
    border-radius: var(--bs-card-border-radius);;
}

.custom-card-header { /* Custom */
  padding: var(--bs-card-cap-padding-y) var(--bs-card-cap-padding-x);
  margin-bottom: 0;
  color: var(--bs-card-cap-color);
  background-color: var(--bs-card-cap-bg);
}

.carousel-main {	
    background-color: black;	
    width: 100%;		
 }	
 @media (min-width:645.98px) {	
    .carousel-main {	
          width: 90%;
          border-radius: var(--bs-border-radius) !important;
    }	
 }	
 @media (min-width:767.98px) {	
    .carousel-main {	
       width: 70%;	
    }	
 }	
 @media (min-width:1024px) {	
    .carousel-main {	
       width: 50%;	
    }	
 }
 @media (min-width:1440px) {	
    .carousel-main {	
       width: 40%;	
    }	
 }	
 @media (min-width:2000px) {	
    .carousel-main {	
       width: 30%;	
    }	
 }	
 
 .carousel-main .carousel-control-prev, .carousel-main .carousel-control-next {
   position: static !important;
 }
 
 .carousel-main .carousel-indicators {
   display: block !important;
   position: static !important;
   margin-left: 0 !important;
   margin-bottom: 0 !important;
   margin-right: 0 !important;
 }
 
 .carousel-products .carousel-control-prev,
 .carousel-products .carousel-control-next {
     position: initial;
 }