[data-bs-theme=dark] {
  --bs-heading-color: #fff !important;
}

.hero {
	width: 100%;
	position: relative;
	z-index: 1046;
	background-size: cover !important;
  background-position: center center !important;
  background-repeat: no-repeat !important;   
}

.hero-back {
	border-bottom: solid 1px #dee2e6;
	background-color: rgba(0, 0, 0, 0.6);
}

.hero-filter {
  filter: drop-shadow(2px 4px 6px black)
}

.hero-web {
  background: url('/media/images/hero-web.webp');
}

.hero-flash {
  background: url('/media/images/hero-flash.webp');
}

.hero-main {
	background: url('/media/images/hero.webp');
}

.hero-codinghome  {
	background: url('/media/images/hero-codinghome.webp');
}

.hero-ehs {
	background: url('/media/images/hero-ehs.webp');
}

.hero-script {
	background: url('/media/images/hero-script.webp');
}

.hero-noodle {
	background: url('/media/images/hero-noodle.webp');
} 

.hero-sms {
	background: url('/media/images/hero-sms.webp');
}

.hero-mdickie {
	background: url('/media/images/hero-mdickie.webp');
} 

a:not(p a), p, code:not(p code), b:not(p b), i:not(p i) {
	margin-block-start: 0;
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: initial !important;
}

p:not(.accordion-body p:nth-last-of-type(2)) {
  margin-top: 0;
  margin-bottom: 1rem;
}

.accordion-body p:last-child {
  margin-bottom: 0 !important;
}

@media (min-width: 767.98px) {
  .container-footer {
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    padding-right: calc(var(--bs-gutter-x) * .5); 
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
  }
}

@media (min-width: 700px) {
  .container-footer {
      max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container-footer {
     max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container-footer {
      max-width: 1320px;
  }
}

.mediarow {
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
}

.btn-dl {
  --bs-btn-color: #fff;
  --bs-btn-bg: #212529;
  --bs-btn-border-color: #212529;
  --bs-btn-hover-color: #fff;
  --bs-btn-hover-bg: #424649;
  --bs-btn-hover-border-color: #373b3e;
  --bs-btn-focus-shadow-rgb: 66, 70, 73;
  --bs-btn-active-color: #fff;
  --bs-btn-active-bg: #4d5154;
  --bs-btn-active-border-color: #373b3e;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #fff;
  --bs-btn-disabled-bg: #212529;
  --bs-btn-disabled-border-color: #212529;
}

[data-bs-theme=dark] .btn-dl {
  --bs-btn-color: #000;
  --bs-btn-bg: #f8f9fa;
  --bs-btn-border-color: #f8f9fa;
  --bs-btn-hover-color: #000;
  --bs-btn-hover-bg: #d3d4d5;
  --bs-btn-hover-border-color: #c6c7c8;
  --bs-btn-focus-shadow-rgb: 211, 212, 213;
  --bs-btn-active-color: #000;
  --bs-btn-active-bg: #c6c7c8;
  --bs-btn-active-border-color: #babbbc;
  --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
  --bs-btn-disabled-color: #000;
  --bs-btn-disabled-bg: #f8f9fa;
  --bs-btn-disabled-border-color: #f8f9fa;
}


.btn-square {
  width: 36px;
  height: 36px;
}

.btn-sm-square {
  width: 28px;
  height: 28px;
}

.btn-lg-square {
  width: 46px;
  height: 46px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
  padding-left: 0;
  padding-right: 0;
  text-align: center;
}

.dropdown-menu {
  animation-duration: 0.3s;
  -webkit-animation-duration: 0.3s;
  animation-fill-mode: both;
  -webkit-animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

@keyframes pageslideIn {
  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }
}

@-webkit-keyframes pageslideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(3.5rem);
    -webkit-opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes slideIn {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

.dropdown-menu {
  -webkit-animation-name: pageslideIn;
  animation-name: pageslideIn;
}

.navbar .dropdown-menu {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

@media (min-width:500px) {
  .btn-sm + .dropdown-toggle-split, .btn-group-sm > .btn + .dropdown-toggle-split {
    padding-right: 0.375rem;
    padding-left: 0.375rem;
  }

  .btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
    padding-right: 0.75rem;
    padding-left: 0.75rem;
  }
  
  .btn-group-vertical {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .btn-group-vertical > .btn,
  .btn-group-vertical > .btn-group {
    width: 100%;
  }
  .btn-group-vertical > .btn:not(:first-child),
  .btn-group-vertical > .btn-group:not(:first-child) {
    margin-top: -1px;
  }
  .btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
  .btn-group-vertical > .btn-group:not(:last-child) > .btn {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-group-vertical > .btn ~ .btn,
  .btn-group-vertical > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
  
  .btn-group {
    border-radius: 0.375rem;
  }
  .btn-group > :not(.btn-check:first-child) + .btn,
  .btn-group > .btn-group:not(:first-child) {
    margin-left: -1px;
  }
  .btn-group > .btn:not(:last-child):not(.dropdown-toggle),
  .btn-group > .btn.dropdown-toggle-split:first-child,
  .btn-group > .btn-group:not(:last-child) > .btn {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
  .btn-group > .btn:nth-child(n+3),
  .btn-group > :not(.btn-check) + .btn,
  .btn-group > .btn-group:not(:first-child) > .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
  .btn-group,
  .btn-group-vertical {
    position: relative;
    display: inline-flex;
    vertical-align: middle;
  }
  .btn-group > .btn,
  .btn-group-vertical > .btn {
    position: relative;
    flex: 1 1 auto;
  }
  .btn-group > .btn-check:checked + .btn,
  .btn-group > .btn-check:focus + .btn,
  .btn-group > .btn:hover,
  .btn-group > .btn:focus,
  .btn-group > .btn:active,
  .btn-group > .btn.active,
  .btn-group-vertical > .btn-check:checked + .btn,
  .btn-group-vertical > .btn-check:focus + .btn,
  .btn-group-vertical > .btn:hover,
  .btn-group-vertical > .btn:focus,
  .btn-group-vertical > .btn:active,
  .btn-group-vertical > .btn.active {
    z-index: 1;
  }
  
  .btn-lg, .btn-group-lg > .btn {
    --bs-btn-padding-y: 0.5rem;
    --bs-btn-padding-x: 1rem;
    --bs-btn-font-size: 1.25rem;
    --bs-btn-border-radius: 0.5rem;
  }

  .btn-sm, .btn-group-sm > .btn {
    --bs-btn-padding-y: 0.25rem;
    --bs-btn-padding-x: 0.5rem;
    --bs-btn-font-size: 0.875rem;
    --bs-btn-border-radius: 0.25rem;
  }
}

.btn-lg + .dropdown-toggle-split, .btn-group-lg > .btn + .dropdown-toggle-split {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}
.btn-group-vertical {
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
.btn-group-vertical > .btn,
.btn-group-vertical > .btn-group {
  width: 100%;
}
.btn-group-vertical > .btn:not(:first-child),
.btn-group-vertical > .btn-group:not(:first-child) {
  margin-top: calc(var(--bs-border-width) * -1);
}
.btn-group-vertical > .btn:not(:last-child):not(.dropdown-toggle),
.btn-group-vertical > .btn-group:not(:last-child) > .btn {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.btn-group-vertical > .btn ~ .btn,
.btn-group-vertical > .btn-group:not(:first-child) > .btn {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.breadcrumb .dropdown-menu {
	position: absolute !important;
}
