---
import DefaultBody from '../../layouts/DefaultBody.astro';
import Navbar    from '../../components/Navbar.astro';
import Footer    from '../../components/Footer.astro';
import BackToTop from '../../components/BackToTop.astro';

import VersionsTab from '../../layouts/experimental/VersionsTab.astro';
---

<DefaultBody title="Public Archive Redesign" description="This page is used as a blank canvas for our web-devs to use for testing new elements." author="Alex Toucan">
<div id="page">
  <Navbar />
  <div id="main-content">
    <main id="canvas" class="container">
      <h1 class="title">Public Archive Redesign</h1>
      <p>This page is a blank canvas for our web-devs to test new elements.</p>
      <hr>
      <div class="my-5">
        <!-- Start adding new elements here -->
            <VersionsTab
            versions={[
              {
              id: "1.0",
              title: "1.0",
              dates: "September 2021 - January 2022",
              description: "The initial release of AT Products! At first, it was released on <a href='https://code.org'>Code.org</a>, a simple learning platform for code, such as HTML or websites. Later on, it was moved to its own domain (atproducts.org). This version contains the early version of articles (sub-pages in communities), which later in 2.8, were moved to modals, and replaced back to articles in 2.21.",
              links: [
                { label: "1.0", url: "https://1-0.atproducts.xyz" }
              ]
              },
              {
              id: "2.0",
              title: "2.0",
              dates: "February 9th, 2022 - February 14th, 2022",
              description: "The beginning of a lifetime: the 2.x architecture. This version introduced a complete redesign (will not be the first however!), which featured Bootstrap v3, the first time that Bootstrap was used in any project, and articles would be moved onto each communities page to be viewed all at once.",
              links: [
                { label: "2.0.1", url: "https://2-0-1.atproducts.xyz" },
                { label: "2.0.2", url: "https://2-0-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.1",
              title: "2.1",
              dates: "February 28th, 2022 - March 26th, 2022",
              description: "This version once again redesigned the visuals of the site, now making everything dark instead of the previous light mode.",
              links: [
                { label: "2.1", url: "https://2-1.atproducts.xyz" },
                { label: "2.1.1", url: "https://2-1-1.atproducts.xyz" },
                { label: "2.1.2", url: "https://2-1-2.atproducts.xyz" },
                { label: "2.1.3", url: "https://2-1-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.2",
              title: "2.2",
              dates: "March 27th, 2022 - March 28th, 2022",
              description: "Merely a minor update to 2.1, this version changed the language basics inside communities from a Google Document embed, to a <code>.txt</code> embed.",
              links: [
                { label: "2.2", url: "https://2-2.atproducts.xyz" },
                { label: "2.2.1", url: "https://2-2-1.atproducts.xyz" },
                { label: "2.2.1.1", url: "https://2-2-1-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.3",
              title: "2.3",
              dates: "April 1st, 2022",
              description: "This new version now features icons! Icons were primarily used for social media links in the introductions of both the index page, and communities if necessary.",
              links: [
                { label: "2.3", url: "https://2-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.4",
              title: "2.4",
              dates: "April 7th, 2022 - April 25th, 2022",
              description: "This version now introduces easier navigation, as now pages with sub-sections now have the old version of the navigation button (which the functionality of such was still used until 2.21 of 2025), allowing users to easily jump to different sections of a page. 2.4.2 also brought in the 'Cookie Consent Menu', which is also still used under a different design today!",
              links: [
                { label: "2.4", url: "https://2-4.atproducts.xyz" },
                { label: "2.4.1", url: "https://2-4-1.atproducts.xyz" },
                { label: "2.4.2", url: "https://2-4-2.atproducts.xyz" },
                { label: "2.4.3", url: "https://2-4-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.5",
              title: "2.5",
              dates: "May 29th, 2022 - May 30th, 2022",
              description: "This version introduced 2 new pages: Flash Documentation, and the Noodle Hackerspace, both as a product and community respectively.",
              links: [
                { label: "2.5", url: "https://2-5.atproducts.xyz" },
                { label: "2.5.1", url: "https://2-5-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.6",
              title: "2.6",
              dates: "June 3rd, 2022 - August 31st, 2022",
              description: "This version introduced the third overhaul in the site! Bootstrap v5 was introduced here, along with a complete redesign of the site. New pages such as SMS Bomb and the short-lived Food Bot were introduced. The site now also became light mode as it replaced dark mode again. 2.6.1 also featured a new company logo, and MDickie Projects! 2.6.3 also featured a new footer (which is still used today)!",
              links: [
                { label: "2.6", url: "https://2-6.atproducts.xyz" },
                { label: "2.6.1", url: "https://2-6-1.atproducts.xyz" },
                { label: "2.6.2", url: "https://2-6-2.atproducts.xyz" },
                { label: "2.6.3", url: "https://2-6-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.7",
              title: "2.7",
              dates: "September 22nd, 2022 - September 30th, 2022",
              description: "This version introduced a new navbar (the first of its still used design)! 2.7.1 also introduced Paid Services, which was the first time that AT Products offered paid services to its users.",
              links: [
                { label: "2.7", url: "https://2-7.atproducts.xyz" },
                { label: "2.7.1", url: "https://2-7-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.8",
              title: "2.8",
              dates: "October 9th, 2022 - October 26th, 2022",
              description: "This version introduced modals for articles inside communities, replacing the previous method of having all sub-sections onto one page (although they would still exist as a 'backup' format)! 2.8.2 would also introduce scrollspies to communities who had basic language guides.",
              links: [
                { label: "2.8", url: "https://2-8.atproducts.xyz" },
                { label: "2.8.1", url: "https://2-8-1.atproducts.xyz" },
                { label: "2.8.2", url: "https://2-8-2.atproducts.xyz" },
                { label: "2.8.3", url: "https://2-8-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.9",
              title: "2.9",
              dates: "November 4th, 2022",
              description: "This version introduced the start of Pynx's Projects: BxPP!",
              links: [
                { label: "2.9", url: "https://2-9.atproducts.xyz" }
              ]
              },
              {
              id: "2.10",
              title: "2.10",
              dates: "November 16th, 2022 - December 7th, 2022",
              description: "This version introduced several new features, such as the new index carousel, a fixed-top navbar, and accordions (first inside the 'Other Scripts' section inside the Script Community)! 2.10.1 also introduced the first version of the Public Archive, and a redesign to the Paid Services page!",
              links: [
                { label: "2.10", url: "https://2-10.atproducts.xyz" },
                { label: "2.10.1", url: "https://2-10-1.atproducts.xyz" },
                { label: "2.10.2", url: "https://2-10-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.11",
              title: "2.11",
              dates: "December 14th, 2022",
              description: "This version introduced a new collapse menu on the footer, more policies, and new logos for both MDickie Projects and Flash Documentation!",
              links: [
                { label: "2.11", url: "https://2-11.atproducts.xyz" }
              ]
              },
              {
              id: "2.12",
              title: "2.12",
              dates: "January 4th, 2023",
              description: "This version finally introduced the color modes (dark & light) switch!",
              links: [
                { label: "2.12", url: "https://2-12.atproducts.xyz" }
              ]
              },
              {
              id: "2.13",
              title: "2.13",
              dates: "January 18th, 2023 - March 25th, 2023",
              description: "This version redesigned the index page with cards, added the compilation page of Pynx's Projects, and also added the back to top button! 2.13.1 also added Pynx's Inferno page, 2.13.2 also made text now left-aligned, and 2.13.3 also added the new licenses page!",
              links: [
                { label: "2.13", url: "https://2-13.atproducts.xyz" },
                { label: "2.13.1", url: "https://2-13-1.atproducts.xyz" },
                { label: "2.13.2", url: "https://2-13-2.atproducts.xyz" },
                { label: "2.13.3", url: "https://2-13-3.atproducts.xyz" },
                { label: "2.13.3.1", url: "https://2-13-3-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.14",
              title: "2.14",
              dates: "April 12th, 2023 - May 17th, 2023",
              description: "This version introduced several internal features, such as a new PWA (Progressive Web App) setup, CSP (Content Security Policy), and also redesigned the index carousel!",
              links: [
                { label: "2.14", url: "https://2-14.atproducts.xyz" },
                { label: "2.14.1", url: "https://2-14-1.atproducts.xyz" },
                { label: "2.14.1.1", url: "https://2-14-1-1.atproducts.xyz" },
                { label: "2.14.2", url: "https://2-14-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.15",
              title: "2.15",
              dates: "June 30th, 2023 - August 19th, 2023",
              links: [
                { label: "2.15", url: "https://2-15.atproducts.xyz" },
                { label: "2.15.1", url: "https://2-15-1.atproducts.xyz" },
                { label: "2.15.2", url: "https://2-15-2.atproducts.xyz" },
                { label: "2.15.2.1", url: "https://2-15-2-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.16",
              title: "2.16",
              dates: "September 13th, 2023 - October 25th, 2023",
              links: [
                { label: "2.16", url: "https://2-16.atproducts.xyz" },
                { label: "2.16.1", url: "https://2-16-1.atproducts.xyz" },
                { label: "2.16.1.1", url: "https://2-16-1-1.atproducts.xyz" },
                { label: "2.16.1.2", url: "https://2-16-1-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.17",
              title: "2.17",
              dates: "November 29th, 2023 - January 24th, 2024",
              links: [
                { label: "2.17", url: "https://2-17.atproducts.xyz" },
                { label: "2.17.1", url: "https://2-17-1.atproducts.xyz" },
                { label: "2.17.1.1", url: "https://2-17-1-1.atproducts.xyz" },
                { label: "2.17.2", url: "https://2-17-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.18",
              title: "2.18",
              dates: "March 27th, 2024 - May 29th, 2024",
              links: [
                { label: "2.18", url: "https://2-18.atproducts.xyz" },
                { label: "2.18.0.1", url: "https://2-18-0-1.atproducts.xyz" },
                { label: "2.18.0.2", url: "https://2-18-0-2.atproducts.xyz" },
                { label: "2.18.0.3", url: "https://2-18-0-3.atproducts.xyz" }
              ]
              },
              {
              id: "2.19",
              title: "2.19",
              dates: "July 10th, 2024 - September 18th, 2024",
              links: [
                { label: "2.19", url: "https://2-19.atproducts.xyz" },
                { label: "2.19.1", url: "https://2-19-1.atproducts.xyz" },
                { label: "2.19.2", url: "https://2-19-2.atproducts.xyz" },
                { label: "2.19.2.1", url: "https://2-19-2-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.20",
              title: "2.20",
              dates: "October 10th, 2024 - December 11th, 2024",
              links: [
                { label: "2.20", url: "https://2-20.atproducts.xyz" },
                { label: "2.20.1", url: "https://2-20-1.atproducts.xyz" },
                { label: "2.20.2", url: "https://2-20-2.atproducts.xyz" }
              ]
              },
              {
              id: "2.21",
              title: "2.21",
              dates: "Feburary 12th, 2025",
              links: [
                { label: "2.21", url: "https://2-21.atproducts.xyz" }
              ]
              },
              {
              id: "2.22",
              title: "2.22",
              dates: "March 19th, 2025 - May 14th, 2025",
              links: [
                { label: "2.22", url: "https://2-22.atproducts.xyz" },
                { label: "2.22.0.1", url: "https://2-22-0-1.atproducts.xyz" },
                { label: "2.22.0.2", url: "https://2-22-0-2.atproducts.xyz" },
                { label: "2.22.1", url: "https://2-22-1.atproducts.xyz" }
              ]
              },
              {
              id: "2.23",
              title: "2.23",
              dates: "September 3rd, 2025 - Ongoing",
              links: [
                { label: "2.23", url: "https://2-23.atproducts.xyz" },
                { label: "2.23.0.1", url: "https://2-23-0-1.atproducts.xyz" },
                { label: "2.23.0.2", url: "https://2-23-0-2.atproducts.xyz" },
                { label: "2.23.1", url: "https://2-23-1.atproducts.xyz" },
                { label: "2.23.2", url: "https://2-23-2.atproducts.xyz" },
                { label: "2.23.3", url: "https://2-23-3.atproducts.xyz" }
              ]
              }
            ]}
          />
        <!-- End of new elements -->
      </div>
    </main>
    <Footer />
  </div>
<BackToTop />
</div>
</DefaultBody>