body {
  text-align: center;
    background-color:#ab0000
}

h1 {
  color: black;
  text-align: center;
  font-family: verdana;
}

h2 {
  text-align: center;
  color: black;
  font-family: verdana;
}

h3 {
  text-align: center;
  color: black;
  font-family: verdana;
}

h4 {
  text-align: center;
  color: black;
  font-family: verdana;
}

h5 {
  text-align: center;
  color: black;
  font-family: verdana;
}

h6 {
  text-align: center;
  color: black;
  font-family: verdana;
}

p {
  text-align: center;
  color: black;
  font-size: 16px;
  font-family: verdana;

}

a {
  text-align: center;
  font-family: verdana;

}

a {
  display: inline-block;
  width:2x
    heightpx;
}

img {
  text-align: center;
  font-family: verdana;
}
