
body {
  background-image: url("background.jpg");
  background-color: #cccccc;
}
p {
  color: black;
  font-family: verdana;
  text-align: center;
  color: lightgrey;
}
h1 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: #C8BFC7;
}
h2 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: lightgray;
}
a {
  font-family: verdana;
  text-align: center;
  color: grey;
}
h4 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: lightgrey;
}
h6 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: lightgrey;
}
h3 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: lightgrey;
}
