# Enable if maintenance mode.
# [[redirects]]
#   from = "/*"
#   to = "https://other.atproducts.xyz/maintenance/"
#   status = 301
#   force = true
#   conditions = {Language = ["en"], Country = ["US"]}

[[headers]]
  for = "/*"
  [headers.values]
    X-XSS-Protection = "1"
    X-Frame-Options = "SAMEORIGIN"
    X-Content-Type-Options = "nosniff"
    Strict-Transport-Security = '''
      max-age=31536000; 
      includeSubDomains; 
      preload'''
    Referrer-Policy = "strict-origin"
    Access-Control-Allow-Origin = "*"
    X-UA-Compatible = "IE=edge"
    Cross-Origin-Opener-Policy = "same-origin"
    Cross-Origin-Embedder-Policy = "require-corp"
