body {
  background: rgb(54, 57, 63);
}
p {
  color: rgb(209, 221, 222);
  font-family: verdana;
  text-align: center;
}


h1 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
h5 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
h2 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
a {
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
h4 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
h6 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
h3 {
  font-weight: bold;
  font-family: verdana;
  text-align: center;
  color: rgb(209, 221, 222);
}
