---
import DefaultBody from '../../layouts/DefaultBody.astro';
import HeroPynx from '../../components/secondary/HeroPynx.astro';
import Navbar from '../../components/Navbar.astro';
import Footer from '../../components/Footer.astro';
import BackToTop from '../../components/BackToTop.astro';
import Accordion from '../../components/accordion/Accordion.astro';
import AccordionItem from '../../components/accordion/AccordionItem.astro';
import CodeBlock from '../../components/CodeBlock.astro';
---

<DefaultBody title="RadiumOS" heroid="radium" icon="radium.webp" description="RadiumOS; a sequel off the previous Pynx Project: NyaOS." keywords="Inferno, NyaOS, RadiumOS, BxPP, AT Products LLC" author="Alex Toucan & Pynx" highlight="true">
<div id="page">
	<Navbar />
	<div id="main-content">
		<HeroPynx
			title="RadiumOS"
			id="radium"
			description="Made by Pynx&semi; based from NyaOS, RadiumOS is a hobby OS with potential."
	    buttons={[
	      { href: "#downloads", text: "Downloads", type: "primary" },
				{ href: "https://github.com/RadiumOS-Dev/RadiumOS" , text: "<i class='bi bi-github fs-6 me-2'></i> GitHub Repo" , type: "secondary" }, 
	    ]},
	    dropdownItems={[
        { navigationDesc: "General Information", navigationLink: "#general-info" },
        { navigationDesc: "Commands", navigationLink: "#commands" },
        { navigationDesc: "Downloads", navigationLink: "#downloads" },
	    ]},
	  />
	  <main id="RadiumOS" class="container">
	    <div id="general-info">
	      <h2> General Information </h2>
	      <p>RadiumOS (formerly TomatoOS) is a 32-bit OS, similar to a former project, NyaOS, developed however completely from scratch. Test this OS in a virtual machine! <b>Note regarding Wi-Fi access, Virtio is supported only.</b></p>
        <span><strong>The minimum requirements for RadiumOS is:</strong></span>
        <ul>
          <li><strong>CPU:</strong> At least 1 core.</li>
          <li><strong>RAM:</strong> At least 64mb (or roughly the size of the ISO).</li>
          <li><strong>Storage:</strong> None, since it's all run on the ISO.</li>
        </ul>
	    </div>
	    <hr>
      <div id="commands">
        <h2>Commands</h2>
<pre class="mt-2 p-2 border-2 border-solid rounded-2"><code>-- General Commands --
help             # Displays this message
clear            # Clears screen
echo             # Echos back text
date             # Shows the current date and time
time             # Shows current time
timestamp        # Shows unix timestamp
exit             # Exits the OS
reboot           # Reboots the system
shutdown         # Shuts down the system
brain            # Spams brains
brainz           # Theme Menu

-- Toolkit Commands --
mempop           # Memory pop toolkit
returnregister   # Register toolkit
tui              # Opens the TUI interface
menu             # Enters TUI menu

-- Network Commands --
wifi             # WiFi management commands
network          # System network lookup

-- System Commands --
radifetch        # System info lookup
settings         # Enter settings
chem             # Enter chemical compound lookup
brainfuck        # Brainfuck language
</code></pre>
      </div>
      <hr>
	    <div id="downloads">
	      <h2>Downloads</h2>
			<div class="d-grid d-md-flex flex-wrap gap-2 my-3">
				<a class="btn btn-primary btn-lg" href="/media/files/RadiumOS.iso">ISO Download</a>
			</div>
			<div class="d-grid d-md-flex flex-wrap gap-2 my-3">
				<a class="btn btn-secondary" href="/media/files/TomatoOS.iso">TomatoISO (deprecated) (July 29th release)</a>
			</div>
			<h3>How to Run</h3>
			<p>You <b>MUST</b> use <a href="https://www.qemu.org/">QEMU</a>, or else it will result in a kernel panic.</p>
<CodeBlock language="Bash" highlight_as="bash"><Fragment slot="code-example">qemu-system-i386 \
  -rtc base=utc,clock=host,driftfix=slew \
  -cdrom RadiumOS.iso \
  -boot order=d \
  -machine q35,pcspk-audiodev=audio0 \
  -m 128 \
  -smp 1 \
  -serial stdio \
  -netdev user,id=net0 \
  -device rtl8139,netdev=net0 \
  -vga std \
  -display gtk,zoom-to-fit=off,window-close=off \
  -monitor none \
  -audiodev pa,id=audio0
</Fragment></CodeBlock>
			<h3>ISO Stats</h3>
			<ul>
				<li><strong>Name:</strong> RadiumOS.iso</li>
				<li><strong>Version:</strong> 0.0.1 (Pre-release)</li>
				<li><strong>Last Modified:</strong> Sunday, August 31, 2025, 6:31:19 PM</li>
				<li><strong>Size:</strong> 54.7 MB (57,384,960 bytes) (may differ on disk).</li>
			</ul>
	    </div>
			<hr>
			<div id="nyaos">
				<Accordion parent="nyaosAccordion">
					<Fragment slot="accordion-content">
						<AccordionItem title="NyaOS" id="nyaosItem" parent="nyaosAccordion">
							<Fragment slot="accordion-item-content">
								<h2>NyaOS</h2>
								<p>NyaOS is a 32-bit OS, developed by Pynx, and is the predecessor to RadiumOS. The bootloader is made with <a href="https://osdev.org/">OSDev</a>. It was also made for fun.</p>
								<p>NyaOS is no longer being developed, and is very similar to RadiumOS, and currently even comes with a filesystem, which is planned for RadiumOS soon.</p>
								<span><strong>The minimum requirements for NyaOS is:</strong></span>
								<ul>
									<li><strong>CPU:</strong> At least 1 core.</li>
									<li><strong>RAM:</strong> At least 21mb (or roughly the size of the ISO).</li>
									<li><strong>Storage:</strong> None, since it's all run on the ISO.</li>
								</ul>
								<span><strong>Most commands are similar, but also feature extra ones:</strong></span>
								<pre class="mt-2 p-2 border-2 border-solid rounded-2"><code>-- General Commands --
help             # shows a help message
ping             # just outputs pong 
echo             # echos back said string(s) (currently, echo is bugged)
clear            # clears screen (after running commands, it may turn light blue instead)
history          # shows commands previously used
fb               # toggle special characters
exit             # exits the console (causes a kernel panic)

-- File-related Commands --
create &lt;dirname&gt; # creates a new file
write &lt;dirname&gt;  # writes data to a file
cat &lt;dirname&gt;    # displays the contents of a files
del &lt;dirname&gt;    # deletes a files
del -r &lt;dirname&gt; # deletes a directory
ls               # lists files
mkdir &lt;dirname&gt;  # creates a new directory
cd &lt;dirname&gt;     # changes the current directory
</code></pre>
								<span><strong>Download here:</strong></span>
								<div class="d-grid d-md-flex flex-wrap gap-2 my-3">
									<a class="btn btn-primary btn-lg" href="/media/files/NyaOS.iso">ISO Download</a>
								</div>
								<h3>ISO Stats</h3>
								<ul>
									<li><strong>Name:</strong> NyaOS.iso</li>
									<li><strong>Last Modified:</strong> Tuesday, November 30, 2024, 4:45:51 PM CST.</li>
									<li><strong>Size:</strong> 27.5 MB (28,841,984 bytes) (may differ on disk).</li>
								</ul>
							</Fragment>
						</AccordionItem>
					</Fragment>
				</Accordion>
			</div>
	  </main>
		<Footer author="Alex Toucan & Pynx" />
	</div>
	<BackToTop />
</div>
</DefaultBody>
