---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Learning Resources & Links" icon="vibrant2.png" color="#404eed" description="The Script Community presents 'Learning Resources & Links'!" author="AT Products LLC & The Script Community" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="Learning Resources & Links"
    link={[
     { name: "The Script Community" , href: "/script" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="links"
      scrollcontent={[ 
        { name: "Learning Resources", href: "#learn" },
        { name: "Other Links", href: "#links" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Learning Resources & Links</h1>
          <h5 class="text-start"><b>Made by:</b> <a href="/script">The Script Community</a>.</h5>
          <h5 class="text-start"><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
          <div id="disclaimer">
            <h2> Disclaimer </h2>
            <p> We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, The Script Community, or the Noodle Hackerspace. <br>
              <br> Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM. <br>
              <br> If it's an APK file, use an emulator. <br>
              <br>
              <a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a>
              <br>
              <a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
            </p>
          </div>
          <hr>
        </div>
        <div id="content">
          <div id="learn">
            <h2>Learning Resources</h2>
            <p>
              <a href="https://www.youtube.com/watch?v=3Kq1MIfTWCE">Hacking Course - Network Penetration Testing</a> <br>
              <a href="https://hackthebox.com/">HackTheBox</a> <a href="https://tryhackme.com/">TryHackMe</a> <br>
              <a href="https://github.com/yeahhub/Hacking-Security-Ebooks">E-Books</a> <br>
              <a href="https://www.kali.org/tools">Library of tools from Kali Linux OS</a> <br>
              <a href="https://www.w3schools.com/python/default.asp">W3schools</a> <br>
              <a href="https://www.freecodecamp.org/">freeCodeCamp</a> <br>
              <a href="https://www.codecademy.com/">CodeAcademy</a> <br>
              <a href="https://www.youtube.com/watch?v=_uQrJ0TkZlc">Course 1</a> <br>
              <a href="https://www.youtube.com/watch?v=rfscVS0vtbw&amp;t=9695s">Course 2</a>
            </p>   
          </div>
          <div id="links">
            <h2>Other Links</h2>
            <p>
              <a href="https://www.virustotal.com/">Detect Malware</a><br>
              <a href="https://github.com/malwaredllc/byob">Exploitation Framework</a>
            </p>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>The Script Community is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
