---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import Accordion from '../../../components/accordion/Accordion.astro';
import AccordionItem from '../../../components/accordion/AccordionItem.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Other Scripts" icon="vibrant2.png" color="#404eed" description="The Script Community presents 'Other Scripts'!" author="AT Products LLC & The Script Community" accordion="true" />
<div id="page">
  <Navbar pageTitle="Other Scripts"
    link={[
     { name: "The Script Community" , href: "/script" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="nitro">
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Other Scripts</h1>
          <h5 class="text-start"><b>Made by:</b> <a href="/script">The Script Community</a>.</h5>
          <h5 class="text-start"><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
          <div id="disclaimer">
            <h2> Disclaimer </h2>
            <p> 
            We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br><br>
            Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>
            If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
            </p>
          </div>
          <hr>
        </div>
        <div id="content">
          <Accordion parent="other-accordion">
            <Fragment slot="accordion-content">
              <AccordionItem title="Nitro Generator" id="ngott" parent="other-accordion">
                <Fragment slot="accordion-item-content">
                  <h3> Disclaimer </h3>
                  <p> Note that an actual working key would take over a billion (10^6) years to find. </p>
                  <br>
                  <p> 
                    <a href="/media/files/nitro.py" download>Nitro Generator (Python)</a>  <br>
                    <a href="/media/files/verify.py" download>Nitro Verify (Python)</a> 
                    by nasus
                  </p>
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Kahoot Scripts" id="ksott" parent="other-accordion">
                <Fragment slot="accordion-item-content">
                  <p> <a href="/media/files/id.py" download>Kahoot Answers (Python)</a> <a href="/media/files/lobby.py" download>Kahoot Lobby Flood (Python | KahootPY | Threading)</a> by Nasus</p>
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Other Scripts" id="osott" parent="other-accordion">
                <Fragment slot="accordion-item-content">
                  <p> 
                    <a href="/media/files/user_agents.txt" download>User Agents (TXT)</a> <br>
                    <a href="/media/files/invite.py" download>Invite Generator and Checker (Python)</a>  <br>
                    <a href="/media/files/webhook.py" download>Webhook Deleter (Python)</a>  <br>
                    <a href="/media/files/tiktok.py" download>TikTok Username Checker (Python)</a>  <br>
                    <a href="/media/files/bot.py" download>Bot's Code (Python)</a> 
                    by Nasus
                </p>
                <p>
                    <a href="/media/files/basey64.py" download>Base64 (Python)</a>  <br>
                    <a href="/media/files/Windows_Screen_Grabber.py" download>Windows Screen Grabber V1 (Python)</a>  <br>
                    <a href="/media/files/Windows_Screen_Grabber_V2.py" download>Windows Screen Grabber V2 (Python)</a>
                    by ğ™‚ğ™ğ™¤ğ™¨ğ™©.ğ™„ğ™£ğ™ğ™ğ™š.ğ™ğ™ğ™šğ™¡ğ™¡
                  </p>  
                </Fragment>
              </AccordionItem>
            </Fragment>
          </Accordion>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>The Script Community is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
