---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import Accordion from '../../../components/accordion/Accordion.astro';
import AccordionItem from '../../../components/accordion/AccordionItem.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Phishing" icon="vibrant2.png" color="#404eed" description="The Script Community presents 'Phishing'!" author="AT Products LLC & The Script Community" accordion="true" />
<div id="page">
  <Navbar pageTitle="Phishing"
    link={[
     { name: "The Script Community" , href: "/script" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="phishing">
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Phishing</h1>
          <h5 class="text-start"><b>Made by:</b> <a href="/script">The Script Community</a>.</h5>
          <h5 class="text-start"><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <div class="d-flex flex-wrap gap-2 pt-2">
            <a href="https://www.i-techsupport.com/everything-you-need-to-know-about-phishing-attacks/" target="_blank" rel="noreferrer noopener" class="btn btn-info mb-1 me-0">Techsupport.com</a>
            <a href="https://en.wikipedia.org/wiki/Phishing" target="_blank" rel="noreferrer noopener" class="btn btn-info mb-1 mx-0">Source (Wikipedia)</a>
            <a href="https://phish.report" target="_blank" rel="noreferrer noopener" class="btn btn-info mb-1">Report Phishing</a>
          </div>
          <hr>
        </div>
        <div id="content">
          <p> Phishing is a type of social engineering where an attacker sends a fraudulent (e.g., spoofed, fake, or otherwise deceptive) message designed to trick a human victim into revealing sensitive information to the attacker or to deploy malicious software on the victim's infrastructure like ransomware. Phishing attacks have become increasingly sophisticated and often transparently mirror the site being targeted.
          <br> As of 2024, phishing is by far the most common attack performed by cybercriminals. </p>
          <Accordion parent="phishing-accordion">
            <Fragment slot="accordion-content">
              <AccordionItem title="Email Phishing" id="eph" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  Most phishing messages are delivered by email, and are not personalized or targeted to a specific individual or company–this is termed "bulk" phishing.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Spear Phishing" id="spht" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  Spear phishing involves an attacker directly targeting a specific organization or person with tailored phishing communications. This is essentially the creation and sending of emails to a particular person to make the person think the email is legitimate. In contrast to bulk phishing, spear phishing attackers often gather and use personal information about their target to increase their probability of success.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Whaling Phishing" id="wph" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  Whaling is a highly targeted phishing attack - aimed at senior executives - masquerading as a legitimate email. Whaling is digitally enabled fraud through social engineering, designed to encourage victims to perform a secondary action, such as initiating a wire transfer of funds.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Watering Hole Attacks" id="whpt" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  Watering hole is a computer attack strategy in which an attacker guesses or observes which websites an organization often uses and infects one or more of them with malware. Eventually, some member of the targeted group will become infected.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Clone Phishing" id="cph" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  Clone phishing is a type of phishing attack whereby a legitimate, and previously delivered email containing an attachment or link has had its content and recipient address(es) taken and used to create an almost identical or cloned email. The attachment or link within the email is replaced with a malicious version and then sent from an email address spoofed to appear to come from the original sender.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="SMS Phishing" id="smph" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                  SMS phishing or smishing is conceptually similar to email phishing, except attackers use cell phone text messages to deliver the "bait". Smishing attacks typically invite the user to click a link, call a phone number, or contact an email address provided by the attacker via SMS message. The victim is then invited to provide their private data; often, credentials to other websites or services.
                </Fragment>
              </AccordionItem>
              <AccordionItem title="Voice Phishing" id="vpht" parent="phishing-accordion">
                <Fragment slot="accordion-item-content">
                Attackers will dial a large quantity of telephone numbers and play automated recordings - often made using text to speech synthesizers - that make false claims of fraudulent activity on the victim's bank accounts or credit cards. The calling phone number will be spoofed to show the real number of the bank or institution impersonated. The victim is then directed to call a number controlled by the attackers, which will either automatically prompt them to enter sensitive information in order to "resolve" the supposed fraud, or connect them to a live person who will attempt to use social engineering to obtain information.
                </Fragment>
              </AccordionItem>
            </Fragment>
          </Accordion>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>The Script Community is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
