.full-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* full viewport height */
}

.fs-16 {
  font-size: 6.25rem !important;
}

.donate-page {
  max-width: 600px;
  margin: 0 auto;
  display: block;
}

.width-fit-content {
  width: fit-content;
}

.min-width-200 {
  min-width: 200px;
}