.ci::before,
[class^="ci-"]::before,
[class*=" ci-"]::before {
  display: inline-block;
  font-family: var(--font-customicons) !important;
  font-style: normal;
  font-weight: normal !important;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  vertical-align: .05em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ci-atproducts::before {
  content: "A";
}