:root {
  --bs-list-group-item-padding-y: 0.5rem;
  --bs-list-group-item-padding-x: 1rem;
}

body, nav, header {
  padding-right: 0 !important;
}

[data-bs-theme='dark'] {
  .headerimg {
    filter: invert(1);
  }
}

.navbar .offcanvas {
  button:not(.btn-close) {
    border: 0;
    background: transparent;
  }
  
  @media (max-width: 991.98px) {
    .navbar-body {
      height: 100% !important;
    }
  
    .nav-tab-link {
      position: sticky;
      top: 100%;
    }
  }
  
  @media (min-width: 991.98px) {
    & .custom-group-item .dropdown-menu {
      border: var(--bs-dropdown-border-width) solid var(--bs-dropdown-border-color) !important;
    }
    
    .dropdown-menu a {
      padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x) !important;
    }
  
    .dropdown-menu .dropdown-menu {
      margin-left: .5rem !important;
    }
  
    .custom-group .custom-group {
      flex-direction: column !important;
      gap: .25rem !important;
      padding: var(--bs-border-radius-sm);
    }
  
    .custom-group-item {
      display: block;
      width: 100%;
      padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
      clear: both;
      font-weight: 400;
      color: var(--bs-nav-link-color);
      text-align: inherit;
      text-decoration: none;
      white-space: nowrap;
      background-color: transparent;
      border: 0;
      border-radius: var(--bs-border-radius-sm);
    }
    .custom-group-item:hover, .custom-group-item:focus {
      color: var(--bs-dropdown-link-hover-color);
      background-color: var(--bs-dropdown-link-hover-bg);
    }
    .custom-group-item.active, .custom-group-item:active {
      color: var(--bs-dropdown-link-active-color);
      text-decoration: none;
      background-color: var(--bs-dropdown-link-active-bg);
    }
    .custom-group-item.disabled, .custom-group-item:disabled {
      color: var(--bs-dropdown-link-disabled-color);
      pointer-events: none;
      background-color: transparent;
    }
  }
  
  .custom-group {
    & {
      display: flex;
    }
    & .custom-group-item, & .custom-group-item a {
      padding: var(--bs-list-group-item-padding-x)
      var(--bs-list-group-item-padding-y);
      text-decoration: none;
    }
     & .custom-group-item:hover, & .custom-group-item a:hover {
      color: var(--bs-link-hover-color-rgb) !important;
    }
    & .dropdown:not(.dropdown .subdropdown) a {
      color: var(--bs-dropdown-link-color);
    }
    & .dropdown-item {
      color: inherit;
    }
    @media (max-width: 991.98px) {
      & {
        display: flex;
        flex-direction: column;
      }
  
      & .custom-group-item {
        position: relative;
        display: block;
        width: 100%;
        border-radius: 0;
        border-top: 0 !important;
        border-left: 0 !important;
        border-right: 0 !important;
        border-bottom: rgba(var(--bs-secondary-rgb), 0.75) var(--bs-border-width)
          var(--bs-border-style) !important;
      }
  
      & .custom-group-item, & .custom-group-item a {
        color: var(--bs-nav-link-color);
      } 
  
      & .custom-group-item-action {
        width: 100%;
        color: var(--bs-nav-link-color);
        text-align: inherit;
        padding: var(--bs-list-group-item-padding-y)
          var(--bs-list-group-item-padding-x) !important;
      }
  
      & .custom-group-item .dropdown-toggle {
        width: 100%;
        text-decoration: none;
      }
  
      & .custom-group-item .dropdown-menu .custom-group-item:first-child {
        border-top: rgba(var(--bs-secondary-rgb), 0.75) var(--bs-border-width)
          var(--bs-border-style) !important;
      }
  
      & .custom-group-item .dropdown-menu .dropdown-menu .custom-group-item {
        padding-left: calc(var(--bs-list-group-item-padding-x) * 3) !important;
      }
  
      & .custom-group-item .dropdown-menu {
        margin-top: 0 !important;
      }
  
      & .dropdown-menu a.custom-group-item,
      & .custom-group-item .dropdown-menu .dropdown-toggle {
        padding-left: calc(var(--bs-list-group-item-padding-x) * 2) !important;
      }
  
      & .custom-group-item .dropdown-menu & .custom-group-item:last-child {
        border-bottom: 0 !important;
      }
  
      & .custom-group-item:last-child {
        border-bottom: 0 !important;
      }
  
      & .custom-group-item:only-child {
        border: 0 !important;
      }
      & .color-dropdown {
        & {
          margin: 0 !important;
        }
  
        & .dropdown-menu {
          position: absolute !important;
          width: -webkit-fill-available !important;
          margin: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x) !important;
        }
      }
    }
    & .dropdown, & .dropstart, & .dropend, & .dropup {
      position: static !important;
    }
    & .color-dropdown {
      .dropdown-menu .custom-group {
        padding: 0 !important;
        margin: 0 !important;
        gap: .25rem;
      }
      .dropdown-item {
        padding: var(--bs-list-group-item-padding-y) var(--bs-list-group-item-padding-x);
        color: inherit;
      }
    }
  }
  
  .color-dropdown { 
    & {
      margin: 0 !important;
    }
  
    .dropdown-menu {
      padding: .25rem !important;
    }
  
    .dropdown-item {
      padding: var(--bs-dropdown-item-padding-y) var(--bs-dropdown-item-padding-x);
    }
  }
  
  .text-wrap {
    word-break: break-word;
  }
}

.dropdown-story {
  position: absolute !important;
}

.navbar .offcanvas .breadcrumb {
  border-top: rgba(var(--bs-secondary-rgb), 0.75) var(--bs-border-width)
          var(--bs-border-style) !important;
  border-bottom: rgba(var(--bs-secondary-rgb), 0.75) var(--bs-border-width)
          var(--bs-border-style) !important;
  padding: var(--bs-list-group-item-padding-y)
          var(--bs-list-group-item-padding-x) !important;
}