:root {
  --bs-btn-border-radius: .25rem;
}

@media (min-width: 991.98px) {
  .main-table {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .navbar {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    padding: 0;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
  }

  .offcanvas-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .offcanvas-header {
    padding: 0 !important;
    margin: 0 !important;
  }

  .offcanvas {
    position: static !important; /* disables floating behavior */
    transform: none !important;  /* prevents slide-in animation */
    visibility: visible !important;
    height: 100%;
    max-width: none;
    width: 100%;
    border-right: 1px solid #ccc;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .offcanvas.h-lg-100 {
    height: 100% !important;
  }
  
  .left-column {
    grid-column: 1; grid-row: 1 / span 2;
  }
  
  .right-column {
    grid-column: 2; grid-row: 1 / span 2; display: grid; grid-template-rows: 70px 1fr;
  }
}

.primary-section {
  background-color: #17191C;
}

.secondary-section, .offcanvas.secondary-section {
  background-color: #1d2124 !important; 
}

.list-group {
  & .list-group-item {
    border-width: 1px !important;
    border-radius: var(--bs-btn-border-radius) !important;
  }
}

[data-bs-theme=dark] .main-image {
  filter: invert(1);
}

button.link-game {
  background: transparent;
  border: 0;
}

.link-game {
    color: RGBA(var(--bs-dark-rgb, var(--bs-link-opacity, 1)));
    -webkit-text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1));
    text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1))
}

[data-bs-theme=dark] .link-game {
    color: var(--bs-secondary-color)!important
}

.link-game:hover,.link-game:focus {
    color: RGBA(26,30,33,var(--bs-link-opacity, 1));
    -webkit-text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1));
    text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1))
}

[data-bs-theme=dark] .link-game:hover, [data-bs-theme=dark] .link-game:focus  {
  color: #d6dade !important;
  -webkit-text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1));
  text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1));
}