:root {
  --bs-btn-border-radius: .25rem;
}

@media (min-width: 991.98px) {
  .main-table {
    display: grid;
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr;
    height: 100vh;
  }

  .navbar {
    grid-column: 1;
    grid-row: 1 / span 2;
    height: 100%;
    padding: 0;
    display: block !important;
    padding: 0 !important;
    margin: 0 !important;
    height: 100% !important;
  }

  .offcanvas-body {
    padding: 0 !important;
    margin: 0 !important;
  }

  .offcanvas-header {
    padding: 0 !important;
    margin: 0 !important;
  }

  .offcanvas {
    position: static !important; /* disables floating behavior */
    transform: none !important;  /* prevents slide-in animation */
    visibility: visible !important;
    height: 100%;
    max-width: none;
    width: 100%;
    border-right: 1px solid #ccc;
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
  }

  .offcanvas.h-lg-100 {
    height: 100% !important;
  }
  
  .left-column {
    grid-column: 1; grid-row: 1 / span 2;
  }
  
  .right-column {
    grid-column: 2; grid-row: 1 / span 2; display: grid; grid-template-rows: 70px 1fr;
  }
}

[data-bs-theme=dark] {
  .primary-section {
    background-color: #17191C;
  }

  .secondary-section, .offcanvas.secondary-section {
    background-color: #1d2124 !important; 
  }
}

.primary-section {
  background-color: #e9ecef;
}

.secondary-section, .offcanvas.secondary-section {
  background-color: #f8f9fa !important;
}

.secondary-section {
    --bs-navbar-padding-x: 0;
    --bs-navbar-padding-y: .5rem;
    --bs-navbar-color: rgba(var(--bs-emphasis-color-rgb), .65);
    --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), .8);
    --bs-navbar-disabled-color: rgba(var(--bs-emphasis-color-rgb), .3);
    --bs-navbar-active-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-padding-y: .3125rem;
    --bs-navbar-brand-margin-end: 1rem;
    --bs-navbar-brand-font-size: 1.25rem;
    --bs-navbar-brand-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-brand-hover-color: rgba(var(--bs-emphasis-color-rgb), 1);
    --bs-navbar-nav-link-padding-x: .5rem;
    --bs-navbar-toggler-padding-y: .25rem;
    --bs-navbar-toggler-padding-x: .75rem;
    --bs-navbar-toggler-font-size: 1.25rem;
    --bs-navbar-toggler-icon-bg: url(data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%2833, 37, 41, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e);
    --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), .15);
    --bs-navbar-toggler-border-radius: var(--bs-border-radius);
    --bs-navbar-toggler-focus-width: .25rem;
    --bs-navbar-toggler-transition: box-shadow .15s ease-in-out;
}

.list-group {
  & .list-group-item {
    border-width: 1px !important;
    border-radius: var(--bs-btn-border-radius) !important;
  }
}

[data-bs-theme=dark] .main-image {
  filter: invert(1);
}

button.link-game {
  background: transparent;
  border: 0;
}

.link-game {
    color: RGBA(var(--bs-dark-rgb, var(--bs-link-opacity, 1)));
    -webkit-text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1));
    text-decoration-color: RGBA(var(--bs-dark-rgb),var(--bs-link-underline-opacity, 1))
}

[data-bs-theme=dark] .link-game {
    color: var(--bs-secondary-color)!important
}

.link-game:hover,.link-game:focus {
    color: RGBA(26,30,33,var(--bs-link-opacity, 1));
    -webkit-text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1));
    text-decoration-color: RGBA(26,30,33,var(--bs-link-underline-opacity, 1))
}

[data-bs-theme=dark] .link-game:hover, [data-bs-theme=dark] .link-game:focus  {
  color: #d6dade !important;
  -webkit-text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1));
  text-decoration-color: RGBA(26, 30, 33, var(--bs-link-underline-opacity, 1));
}

.dropdown-item {
  border-radius: var(--bs-border-radius-sm);
}

.dropdown-menu {
  padding: var(--bs-border-radius-sm);
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@keyframes slideIn {
  0% {
    transform: translateY(1rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0rem);
    opacity: 1;
  }

  0% {
    transform: translateY(1rem);
    opacity: 0;
  }
}

@-webkit-keyframes slideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-transform: translateY(0);
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(1rem);
    -webkit-opacity: 0;
  }
}

@keyframes pageslideIn {
  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }

  100% {
    opacity: 1;
  }

  0% {
    transform: translateY(3.5rem);
    opacity: 0;
  }
}

@-webkit-keyframes pageslideIn {
  0% {
    -webkit-transform: transform;
    -webkit-opacity: 0;
  }

  100% {
    -webkit-opacity: 1;
  }

  0% {
    -webkit-transform: translateY(3.5rem);
    -webkit-opacity: 0;
  }
}

@media (prefers-reduced-motion: reduce) {
  @keyframes slideIn {
    0% {
      transform: translateY(0);
      opacity: 1;
    }

    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  @-webkit-keyframes slideIn {
    0% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }

    100% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }
  }

  @keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }

  @-webkit-keyframes pageslideIn {
    0% {
      opacity: 1;
    }

    100% {
      opacity: 1;
    }
  }
}

.dropdown-menu {
  -webkit-animation-name: pageslideIn;
  animation-name: pageslideIn;
}

.navbar .dropdown-menu {
  -webkit-animation-name: slideIn;
  animation-name: slideIn;
}

.dropdown-menu a+a {
  margin-top: 0.125rem;
}

#container {
	border-radius: .375rem !important;
}

.emulator::before {
  padding-top: 0 !important;
}

.main-header {
  font-size: 20vw;
  background-clip: text;
  background-image: url(/media/images/hero.webp);
  color: transparent;
  background-position: center;
  filter: drop-shadow(2px 4px 6px black);
}

@media (min-width: 768px) {
  .main-header {
    font-size: 15vw;
  }
}

.secondary-header {
  font-size: 3rem;
}

.right-column {
  height: max-content;
}