table {
    table-layout: fixed;
}

div-3 {
    white-space: pre-line;
}

th, tr, td, th div {
    vertical-align: middle;
}

th, tr, td {
    height: 34px;
}

th div {
    line-height: 34px;
}

th {
    overflow: hidden !important;
}

th.th-1 {
    width: 30px;
}

th.th-2 {
    width: 270px;
}

th.th-3 {
    width: 400px;
}

th.th-4 {
    width: 85px;
}

th.th-5 {
    width: 270px;
}