---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Apps & Software" icon="codinghome.webp" description="CodingHome presents 'Apps & Software'!" author="AT Products LLC & CodingHome" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="Apps & Software"
    link={[
     { name: "CodingHome" , href: "/codinghome" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="app"
      scrollcontent={[ 
        { name: "Main Samples", href: "#main-apps" },
        { name: "Encochat", href: "#encochat" },
        { name: "vpnchecker", href: "#vpnchecker" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Apps & Software</h1>
          <h5><b>Made by:</b> <a href="/codinghome">CodingHome</a>.</h5>
          <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
          <div id="disclaimer">
            <h2> Disclaimer </h2>
            <p> We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br>
              <br> Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM. <br>
              <br> If it's an APK file, use an emulator. <br>
              <br>
              <a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a>
              <br>
              <a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
            </p>
          </div>
          <hr>
        </div>
        <div id="content">
          <div id="main-apps">
            <p>
              <a href="/sms">SMS Bomb (Android)</a> by CodingLive
            </p>
          </div>
          <div id="encochat">
            <h2>Encochat by CodingLive</h2>
            <p>
              <a href="https://github.com/ProtDos/encochat">Encochat v1</a>
            </p>
            <p>
              <a href="https://github.com/ProtDos/PrivateChatOld">Encochat v2</a>
            </p>
            <p>
              <a href="https://github.com/ProtDos/PrivateChat">Encochat v3</a>
            </p>
            <p>
              <a href="/redirect/encochat">Encochat Download</a>
            </p>
          </div>
          <div id="vpnchecker">
            <h2>vpnchecker by CodingLive</h2>
            <p><b>Use caution upon entering these links as they grab your personal information upon entering.</b></p>
            <p>
              <a href="https://github.com/ProtDos/vpnchecker">vpnchecker</a> (<a href="https://github.com/ProtDos/vpnchecker/archive/refs/heads/main.zip">HTML | ZIP</a>)
            <p>
              <a href="https://protdos.github.io/vpnchecker" class="text-warning">vpnchecker Website</a>
            </p>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>CodingHome is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
