---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/stories/Navbar.astro';
import Scrollspy from '../../../layouts/stories/Scrollspy.astro';
import CodeBlock from '../../../components/CodeBlock.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody breadcrumb="true" title="JSON Basics" icon="codinghome.webp" description="CodingHome presents 'JSON Basics'!" author="AT Products LLC & CodingHome" highlight="true" scrollspy="true">
<div id="page">
  <Navbar pageTitle="JSON Basics" 
    link={[
     { name: "CodingHome" , href: "/codinghome" },
    ]}
  />
  <div id="main-content">
    <Scrollspy id="json" 
      scrollcontent={[ 
        { name: "Example Documents", href: "#example" },
        { name: "Importing JSON", href: "#import" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">JSON Basics</h1>
          <h5><b>Made by:</b> <a href="/codinghome">CodingHome</a>.</h5>
          <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
        </div>
        <div id="content">
          <div id="example">
            <h2>Example Document</h2>
<CodeBlock language="JSON" highlight_as="json"><Fragment slot="code-example">&lbrace;
  "foo"&colon; "bar",
  "array"&colon; [
    "foo",
    "bar"
  ]
&rbrace;
</Fragment></CodeBlock>
            <p>All JSON files are surrounded by &lbrace; and &rbrace;, which means it is a object. Unlike Javascript, you must use double quotes (") for strings, not singular quotes (')</p>
          </div>
          <div id="import">
            <h2>Importing JSON</h2>
            <p>Importing JSON is different in different languages. Here are some examples:</p>
            <CodeBlock language="JavaScript" highlight_as="javascript"><Fragment slot="code-example">fetch('example.json')</Fragment></CodeBlock>
            <CodeBlock language="Node.js" highlight_as="javascript"><Fragment slot="code-example">import('./example.json')</Fragment></CodeBlock>
            <CodeBlock language="TypeScript" highlight_as="typescript"><Fragment slot="code-example">import data from 'example.json'</Fragment></CodeBlock>
            <CodeBlock language="Python" highlight_as="python"><Fragment slot="code-example">import 'json'; with open('data.json', 'r') as f: data = json.load(f)</Fragment></CodeBlock>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>® <script is:inline src="/static/year.js"></script> AT Products LLC</h6>
          <h6>CodingHome is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
