---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import CodeBlock from '../../../components/CodeBlock.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody breadcrumb="true" title="SQL Basics" icon="codinghome.webp" description="CodingHome presents 'SQL Basics'!" author="AT Products LLC & CodingHome" highlight="true" scrollspy="true">
<div id="page">
  <Navbar pageTitle="SQL Basics" 
    link={[
     { name: "CodingHome" , href: "/codinghome" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="sql" 
      scrollcontent={[ 
        { name: "Querying Data from a Table", href: "#query" },
        { name: "Modifying Data", href: "#mod" },
        { name: "Table Management", href: "#table" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">SQL Basics</h1>
          <h5><b>Made by:</b> <a href="/codinghome">CodingHome</a>.</h5>
          <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <a href="../resources/#learningresources" target="_blank" rel="noreferrer noopener" class="mt-2 btn btn-info">SQL Resources</a>
          <hr>
        </div>
        <div id="content">
          <div id="query">
            <h2>Querying Data from a Table</h2>
            <p class="mb-1">Query Data in Columns c1, c2 from a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, c2 FROM t;</Fragment></CodeBlock>
            <p class="mb-1">Query All Rows and Columns from a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT * FROM t;</Fragment></CodeBlock>
            <p class="mb-1">Query Data and Filter Rows with a Condition</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, c2 FROM t
WHERE condition;
</Fragment></CodeBlock>
            <p class="mb-1">Query Distinct Rows from a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT DISTINCT c1 FROM t
WHERE condition;
</Fragment></CodeBlock>
            <p class="mb-1">Sort the Result Set in Ascending or Descending Order</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, c2 FROM t<br>
ORDER BY c1 ASC [DESC];
</Fragment></CodeBlock>
            <p class="mb-1">Skip Offset of Rows and Return the Next n Rows</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, c2 FROM t
ORDER BY c1
LIMIT n OFFSET offset;
</Fragment></CodeBlock>
            <p class="mb-1">Group Rows using an Aggregate Function</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, aggregate(c2)
FROM t
GROUP BY c1;
</Fragment></CodeBlock>
            <p class="mb-1">Filter Groups using <b>Having</b> Clause</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">SELECT c1, aggregate(c2)
FROM t
GROUP BY c1
HAVING condition;
</Fragment></CodeBlock>
          </div>
          <div id="mod">
            <h2>Modifying Data</h2>
            <p class="mb-1">Insert One Row into a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">INSERT INTO t(column_list)
VALUES(value_list);
</Fragment></CodeBlock>
            <p class="mb-1">Insert Multiple Rows into a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">INSERT INTO t(column_list)<br>
VALUES (value_list),
(value_list), …;
</Fragment></CodeBlock>
            <p class="mb-1">Insert Rows from t2 into t1</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">INSERT INTO t1(column_list)
SELECT column_list
FROM t2;
</Fragment></CodeBlock>
            <p class="mb-1">Update New Value in the Column c1 for All Rows</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">UPDATE t
SET c1 = new_value;
</Fragment></CodeBlock>
            <p class="mb-1">Update Values in the Column c1, c2 that Match the Condition</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">UPDATE t
SET c1 = new_value,
c2 = new_value
WHERE condition;
</Fragment></CodeBlock>
            <p class="mb-1">Delete All Data in a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">DELETE FROM t;</code></pre>
            <p class="mb-1">Delete Subset of Rows in a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">DELETE FROM t
WHERE condition;
</Fragment></CodeBlock>
          </div>
          <div id="table">
            <h2>Table Management</h2>
            <p class="mb-1">Create a new Table with Three Columns</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">CREATE TABLE t (
  id INT PRIMARY KEY,
  name VARCHAR NOT NULL,
  price INT DEFAULT 0
);<br>
</Fragment></CodeBlock>
            <p class="mb-1">Delete the Table from the Database</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">DROP TABLE t ;</Fragment></CodeBlock>
            <p class="mb-1">Add a new Column to the Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t ADD column;</Fragment></CodeBlock>
            <p class="mb-1">Drop Column c from the Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t DROP COLUMN c ;</Fragment></CodeBlock>
            <p class="mb-1">Add a Constraint</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t ADD constraint;</Fragment></CodeBlock>
            <p class="mb-1">Drop a Constraint</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t DROP constraint;</Fragment></CodeBlock>
            <p class="mb-1">Rename a Table from t1 to t2</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t1 RENAME TO t2;</Fragment></CodeBlock>
            <p class="mb-1">Rename Column c1 to c2</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">ALTER TABLE t1 RENAME c1 TO c2 ;</Fragment></CodeBlock>
            <p class="mb-1">Remove all Data in a Table</p>
<CodeBlock language="SQL" highlight_as="sql"><Fragment slot="code-example">TRUNCATE TABLE t;</Fragment></CodeBlock>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>® <script is:inline src="/static/year.js"></script> AT Products LLC</h6>
          <h6>CodingHome is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
