---
import DefaultBody from "../../../../layouts/DefaultBody.astro"
import BlogIntro from "../../../../layouts/BlogIntro.astro"
---

<DefaultBody
  title="ATPLLC: 2025 Review"
  description="2025 was a big year for AT Products LLC; learn more on how we expanded as a company!"
  author="Alex Toucan"
  keywords="AT Products LLC, 2025 review, company growth, annual summary, ATP"
  color="#212529"
>
  <Fragment slot="main-content">
    <div>
      <BlogIntro 
        title="ATPLLC: 2025 Review" 
        author={[
          {name: "Alex Toucan", image: "/media/favicon/iconembed.png"},
        ]}
        date="December 27th, 2025",
        image="/media/slideshow/Slide1.webp"
      />
      <div id="body" class="mt-4">
        <p>Hey there! 2025 was a big year for AT Products LLC, especially our websites. This year alone, we have released 10 versions, from <a href="https://2-21.atproducts.xyz/">2.21</a> to <a href="https://2-23.2.atproducts.xyz/">2.23.2</a>, with a ton of new features, redesigns, and improvements; alongside some new sites as well, including <a href="https://games.atproducts.xyz/">AT's Unblocked Games</a>.</p>
        <p>In this post, we'll take a look back at some of the major milestones and improvements we've made throughout the year, including our versions and new sites.</p>
        <h2>2.21 — Feburary 2025: Articles</h2>
        <figure>
          <img src="/media/slideshow/Slide2.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="2.21 Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of the new articles, from the old modals.</small></figcaption>
        </figure>
        <p>On Feburary 12th, 2025, we released <a href="https://2-21.atproducts.xyz/">2.21</a>, which replaced the previous modals (similar to pop-ups) to articles, for every community's section.</p>
        <p>Modals, originally introduced on October 9th, 2022 with <a href="https://2-8.atproducts.xyz/">2.8</a>, were intended to be an easy way to display sections of a community onto the same page, but as more content was added, they became cluttered and difficult to manage and view. As a result, articles came about in 2.21, being their own seperate page, alongside some extra features, This is also similar to <a href="https://codeprojects.org/projects/weblab/Doofx7-Zaj7lRvU-7pSljDkgBVEQUiT1EWGGfJLbO3I/">way before 1.0</a>, when seperate sections were their own pages.</p>
        <h2>2.22 — March 2025: New Index Page</h2>
        <figure>
          <img src="/media/slideshow/Slide3.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="Index Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of the new and old index page.</small></figcaption>
        </figure>
        <p>On March 25th, 2025, we released <a href="https://2-22.atproducts.xyz/">2.22</a>, which brought a complete redesign to the index page, alongside a redesign to code blocks for certain articles.</p>
        <p>Back on June 30th, 2023, within the version of <a href="https://2-15.atproducts.xyz/">2.15</a>, we introduced the near modern layout of the index page, which was revolutionary at the time; but as people disliked some quirks regarding the design, we changed it: so came <a href="https://2-22.atproducts.xyz/">2.22</a>, being released on March 19th, 2025. The new design focused on simplicity and ease of access, with a more cleaner look.</p>
        <h2>2.22 — March 2025: Code Blocks Redesign</h2>
        <figure>
          <img src="/media/slideshow/Slide4.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="Code Blocks Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of the new and old code blocks.</small></figcaption>
        </figure>
        <p>Alongside the index page redesign being released with <a href="https://2-22.atproducts.xyz/">2.22</a>, we also introduced a new design for code blocks in articles, making them more readable and visually appealing, alongside their copy and paste function.</p>
        <p>Back on October 10th, 2024, within <a href="https://2-20.atproducts.xyz/">2.20</a>, syntax highlighting was introduced for code, rather just the text itself only being highlighting, and nothing else to it. This was improved further in <a href="https://2-22.atproducts.xyz/">2.22</a>, on March 25th, 2025, with a new box design to contain such code, alongside a new copy button to easily copy the code.</p>
        <h2>2.23 — September 2025: New Mobile Navbar</h2>
        <figure>
          <img src="/media/slideshow/Slide5.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="Dark Mode Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of the new and old mobile navbar.</small></figcaption>
        </figure>
        <p>On September 3rd, 2025, we released <a href="https://2-23.atproducts.xyz/">2.23</a>, which introduced a new mobile navbar design for easier navigation on smaller devices.</p>
        <p>This new design is a turn on the classical <a href="https://getbootstrap.com/docs/5.3/components/navbar/">Bootstrap navbar</a>, which was introduced on the site with <a href="https://2-7.atproducts.xyz/">2.7</a>, which was released on September 22nd, 2022.</p>
        <p>The new mobile design features not only a new offcanvas, but also new subdropdowns! This allows for easier navigation on smaller devices, as well as a more modern look. The desktop version of the navbar also brought the new subdropdowns as well. This was all made possible with some custom JavaScript and CSS, alongside Bootstrap's built-in features.</p>
        <h2>2.23 — September 2025: RadiumOS</h2>
        <figure>
          <img src="/media/slideshow/Slide7.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="RadiumOS Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of RadiumOS.</small></figcaption>
        </figure>
        <p>Alongside <a href="https://2-23.atproducts.xyz/">2.23</a>, we also released <a href="https://atproducts.xyz/pynx/radiumos">RadiumOS</a>, Pynx's new text-based OS, with complete documentation on how to use it. The new page describes commands, their use, and download links all for RadiumOS.</p>
        <h2>2.23.1 — November 2025: Community History Sections</h2>
        <figure>
          <img src="/media/slideshow/Slide6.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="Community History Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of the new community history sections.</small></figcaption>
        </figure>
        <p>On November 19th, 2025, we released <a href="https://2-23-1.atproducts.xyz/">2.23.1</a>, which introduced new history sections for every community on the site, alongside their logo with copyright information. This was made to give more information about each community, as well as a more professional look.</p>
        <p>These history sections provide a brief overview of each community, including their founding date, major milestones, and notable projects. This was all made possible with some custom HTML and CSS.</p>
        <h2>AT's Unblocked Games — November 2025: New Site Launch</h2>
        <figure>
          <img src="/media/slideshow/Slide8.webp" class="img-fluid rounded-2 border border-secondary mt-3 article-image" alt="AT's Unblocked Games Example">
          <figcaption class="text-muted mt-1 mb-3"><small>Showcase of AT's Unblocked Games.</small></figcaption>
        </figure>
        <p>On November 26th, 2025, we launched <a href="https://games.atproducts.xyz/">AT's Unblocked Games</a>, a new site dedicated to providing unblocked games for students and employees who are restricted from accessing gaming sites on their networks.</p>
        <p>The site features a wide variety of games, from classic arcade games to modern HTML5 & Flash games, all of which are accessible without any restrictions. The site was built using HTML, CSS, and JavaScript, and is hosted on our own servers to ensure maximum uptime and performance.</p>
        <p>The site used to be based off the same project, which only featured a fullscreen demo for a singular <code>&lt;div&gt;</code> back in 2024. The site's development resumed back on November 16th, 2025, and was launched 10 days later, complete with new features and a brand new design, alongside 90+ games after launch.</p>
        <h2>Looking Ahead to 2026</h2>
        <p>As we look ahead to 2026, we are excited to continue building and improving our websites and services. As we continue to develop, we will lend all information as we can fastly and efficiently regarding recent developments.</p>
        <p>Thank you for being a part of our journey in 2025, and we look forward to what the future holds!</p>
        <p class="ms-4">— Alex Toucan, Founder & CEO of AT Products LLC</p>
      </div>
    </div>
  </Fragment>
</DefaultBody>
