---
import DefaultBody from "../layouts/DefaultBody.astro";
import GamePage from "../layouts/GamePage.astro";
import GameList from "../layouts/GameList.astro";
---

<DefaultBody title="AT's Unblocked Games" fourofour="true"
description="Play unblocked games instantly: puzzle, arcade, casual, and series favorites like Papa’s, Riddle School, Sonic, Mario, Super Mario 64, and more. Organized for quick access and compatible via HTML5, Ruffle (Flash), and Emulator.js (console)." 
keywords="unblocked games, play online, puzzle games, arcade classics, casual games, endless runners, Papa's Series, Riddle School, Sonic Advance, Sonic Genesis, Mario, Super Mario 64, Pacman, Minesweeper, 2048, Bloxorz, Chrome Dino, Flappy Bird, Doodle Jump, Slope, Subway Surfers, Snow Rider 3D, Retro Bowl, Bloons TD, school friendly games, browser games, HTML5, Ruffle, Emulator.js" 
author="AT Products LLC">
  <GamePage title="AT's Unblocked Games">
    <GameList />
    <Fragment slot="page-content">
     	<div class="container text-center">
        <div>
          <h1 class="main-header display-3 fw-bold lh-1">OOPS!</h1>
          <h1 class="secondary-header display-3 lh-1">404 - Page not found</h1>
        </div>
        <p class="fs-5 m-3 mb-0 text-body-secondary">The page you are looking for might have been removed had its name changed or is temporarily unavailable.</p>
        <div class="mx-auto justify-content-between container mt-3" id="links">
          <div class="d-grid gap-2 justify-content-center">
            <input class="btn btn-primary rounded-pill" style="width:150px;" type="button" value="Return" id="404btn" aria-label="Return">
            <a href="/" class="btn btn-secondary rounded-pill" style="width:150px;">Index Page</a>
          </div>
        </div>
      </div>
    </Fragment>
  </GamePage>
</DefaultBody>
