---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero     from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Error 404" heroid="web" description="The content that the publisher attempted to share, doesn't exist. This is a 404 page after all..." author="Alex Toucan" fourofour="true">
  <div id="page">
    <Navbar />
    <div id="main-content">
      <main id="404" class="text-center">
      <Hero
        id="web"
        htmlContent={`
          <div class="page-404 container">
            <div class="container text-center">
              <div>
                <h1 class="main-header display-3 fw-bold lh-1">OOPS!</h1>
                <h1 class="secondary-header display-3 lh-1">404 - Page not found</h1>
              </div>
              <p class="fs-5 m-3 mb-0 text-body-secondary">
                The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
              </p>
              <div class="mx-auto justify-content-between container mt-3" id="links">
                <div class="d-grid gap-2 justify-content-center">
                  <input class="btn btn-primary rounded-pill" type="button" value="Return" id="404btn" aria-label="Return">
                  <a href="/" class="btn btn-secondary rounded-pill">Index Page</a>
                </div>
              </div>
            </div>
          </div>
        `}
      />
      </main>
      <Footer hr="none"/>
    </div>
    <BackToTop />
  </div>
</DefaultBody>
