---

---

<html class="h-100" lang="en" data-bs-theme="dark">
  <head>
    <title>Blue Ball Machine</title>
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:image" content="/media/favicon/iconembed.png">
    <meta name="twitter:image" content="/media/favicon/iconembed.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Blue Ball Machine">
    <meta name="description" content="Blue Ball Machine; creates blue balls.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Maintenance Mode">
    <meta name="twitter:description" content="atproducts.xyz is currently under maintenance as planned.">
    <meta name="author" content="Alex Toucan">
    <meta property="og:title" content="Blue Ball Machine">
    <meta property="og:description" content="Blue Ball Machine; creates blue balls.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      body {
        background: url(/media/images/image.gif);
      }
    </style>
  </head>
  <body class="h-100">
   <embed src="/media/images/sound.mp3" hidden="true" loop="true" autostart="true" width="0" height="0">
  </body>
</html>
