---
import Hero      from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import Modal     from '../components/Modal.astro';
import Scrollspy from '../components/Scrollspy.astro'
---

<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
    <title>CodingHome</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="image" href="/media/images/hero-codinghome.webp">
    <link rel="icon" href="/media/images/codinghome.webp">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="CodingHome">
    <meta name="description" content="A Discord server full of coders!">
    <meta name="keywords" content="Scripts, viruses, coding,">
    <meta name="author" content="CodingLive, ProtDos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="/media/images/codinghome.webp">
     <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body class="fixedtopnavimage">
      <div id="page">
<Navbar />
<Hero id="codinghome" title="CodingHome" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." primaryHref="https://discord.gg/pgGfhDVrmS" primaryText="Discord Server Invite" secondaryHref="/backup/codinghome" secondaryText="View the all laid out format" imageSrc="/media/images/codinghome.webp" imageWidth="15%" minImageWidth="150px"
icons={[
    { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/pgGfhDVrmS" },
    { icon: "bullseye", desc: "ProtDos", href: "https://protdos.com/" },
    { icon: "github", desc: "GitHub", href: "https://github.com/protdos" },
    { icon: "envelope-fill", desc: "ProtDos's Email", href: "mailto:contact@protdos.com" },
  ]}
/>
     <main id="codinghome" class="text-center container">
       <div id="disclaimer">
         <h2> Disclaimer </h2><p> We do not take responsibility for any damage, or legal issues, done with these files here at AT Products LLC, Ethical Hacking Society, CodingHome, CodingHome, or Noodle Hackerspace.      <br><br>
      Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a></p></div><hr>
  <div id="resources">
            <h2> Resources </h2>
        <p> What do you want to know about today? </p>
<Modal title="Resources" id="resources-alt"><div slot="content">
<div class="my-2 text-center">
          <div class="d-flex flex-wrap row-cols-3 rounded-2 overflow-hidden text-white">
            <b class="col-12 py-2 bg-secondary">Contributors</b>
            <div class="col py-2 bg-secondary">#1</div>
            <div class="col py-2 bg-secondary">#2</div>
            <div class="col py-2 bg-secondary">#3</div>
            <a href="https://github.com/Savageboitim13" class="btn btn-primary rounded-0 py-2 col">venenjean</a>
            <a href="https://zoezo.dev" class="btn btn-primary rounded-0 py-2 col">Zoezo</a>
            <a href="https://tryhackme.com/p/social" class="btn btn-primary rounded-0 py-2 col">Social</a>
          </div>
        </div>
        <p class="my-3">Please note that if a link is a <a href="#" class="link-warning">warning link</a>, the resource is not in the primary language here of English and is instead German.</p>
        <div class="accordion" id="resourcesAccordion">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#learningresources" aria-expanded="false" aria-controls="learningresources">
                Learning Resources
              </button>
            </h2>
            <div id="learningresources" class="accordion-collapse collapse" data-bs-parent="#resourcesAccordion">
              <div class="accordion-body">
                <h4>Learning Resources</h4>
                <p>
                  <a href="https://w3schools.com/">W3Schools</a>
                  <a href="https://www.tutorialsteacher.com/">TutorialsTeacher</a>
                  <a href="https://stackexchange.com/">StackExchange</a>
                  <a href="https://www.stackoverflow.com/">StackOverflow</a>
                  <a href="https://chat.openai.com/chat">ChatGPT</a>
                  <a href="https://developer.mozilla.org/">MDN Web Docs</a>
                  <a href="https://www.codecademy.com/">CodeAcademy</a>
                  <a href="https://www.freecodecamp.org/">FreeCodeCamp</a>
                  <a href="https://devdocs.io/">DevDocs</a>
                  <a href="https://github.com/google/styleguide">Google's Style Guide</a>
                  <a href="https://leetcode.com/">Leetcode</a>
                  <a href="https://roadmap.sh/">Roadmaps for Languages</a>
                  <a href="https://github.com/codecrafters-io/build-your-own-x">Build your own X</a>
                  <a href="https://learn.microsoft.com/en-us/docs/">Microsoft's Documentation</a>
                  <a href="https://markdownguide.org">Markdown Documentation</a>
                  <a href="https://www.learnc.net/c-tutorial/">LearnC.net</a>
                  <a href="https://www.learn-c.org/en">LearnC.org</a>
                  <a href="https://www.learncpp.com/">learncpp</a>
                  <a href="https://devhints.io/lua">Lua Cheatsheet</a>
                  <a href="https://typehero.dev/explore">Learn TypeScript</a>
                  <a href="https://en.wikibooks.org/">WikiBooks</a>
                  <a href="https://university.webflow.com/">Webflow University</a>
                  <a href="https://www.edx.org/learn">EDX Courses</a>
                  <a href="https://caniuse.com/">CanIUse?</a>
                  <a href="https://refactoring.guru/">Refactoring Guru</a>
                  <a href="https://wiki.archlinux.org/title/Pacman/Tips_and_tricks#Removing_unused_packages_(orphans))">Pacman Tips and Tricks</a>
                </p>
                            <h5>Haskell Resources</h5>
<p>
  <a href="https://www.haskell.org/">Hakell Documentation</a>
  <a href="https://wiki.haskell.org/">Haskell Wiki</a>
  <a href="https://hoogle.haskell.org/">Haskell Packages</a>
<a href="https://hackage.haskell.org/">Learning about Haskell Packages</a>
<a href="https://mmhaskell.com/">Monday Morning Haskell</a>
    <a href="http://learnyouahaskell.com/">LearnYouAHaskell</a>
<a href="https://youtu.be/Vgu82wiiZ90?list=PLe7Ei6viL6jGp1Rfu0dil1JH1SHk9bgDV">Haskell Basics</a>
</p>
                <h5>C# Resources</h5>
                <p>
                  <a href="https://learn.microsoft.com/en-us/dotnet/csharp">C# / dotnetDocumentation</a>
                  <a href="https://www.c-sharpcorner.com/">C# Corner</a>
                  <a href="https://www.c-sharpcorner.com/csharp-tutorials">C# Corner - Tutorials</a>
                  <a href="https://www.tutorialsteacher.com/csharp/">C# TutorialsTeacher</a>
                  <a href="https://learn.microsoft.com/en-us/dotnet/api/system.configuration.configurationmanager?view=windowsdesktop-7.0">ConfigurationManager C#</a>
                  <a href="https://auth0.com/blog/introduction-to-async-programming-in-csharp/">Async I/O in C#</a>
                </p>
                <h5>SQL Resources</h5>
                <p>
                  <a href="https://www.litedb.org/docs/getting-started/">LiteDB</a>
                  <a href="https://docs.oracle.com/cd/E17952_01/connector-net-en/index.html">.NET SQL Connecter Documentation</a>
                  <a href="https://mysqlconnector.net/">MySQLConnecter</a>
                  <a href="https://www.youtube.com/watch?v=4q-keGvUnag">DB Relation Models</a>
                  <a href="https://www.sqlstyle.guide">SQL Style Guide</a>
                </p>
                <h5>.NET Resources</h5>
                <p>
                  <a href="https://learn.microsoft.com/en-us/dotnet/csharp">C# / dotnetDocumentation</a>
                  <a href="https://docs.oracle.com/cd/E17952_01/connector-net-en/index.html">.NET SQL Connecter Documentation</a>
                  <a href="https://codinghelmet.com/articles/threadexc">How to Handle Exceptions from Background Worker Thread in .NET</a>
                </p>
                <h5>Discord Resources</h5>
                <p>
                  <a href="https://discord.js.org/">Discord.js Website</a>
                  <a href="https://discordjs.guide/">Discord.js Guide</a>
                  <a href="https://discord.com/developers/docs/intro">Discord Developers Portal</a>
                  <a href="https://discords.com/emoji-list/">Discord Icons</a>
                  <a href="https://www.authorityhunter.com/how-to-revive-dead-discord-server/">Discord Server Revival</a>
                  <a href="https://r.3v.fi/discord-timestamps/">Discord Timestamp Creator</a>
                  <a href="https://discordresources.com/">Other Discord Resources</a>
                </p>
                <h5>DB SSH connection (Terminal)</h5>
                <ul>
                  <li>Create ssh key files (.ssh)</li>
                  <li>Run this command - <code>ssh-copy-id user@host-ip/-name</code></li>
                  <li>For local connection: <code>ssh-copy-id user@localhost </code></li>
                </ul>
                <h5>All Guides VenenJean used to Install VisualBox under Manjaro</h5>
                <p>
                  <a href="https://wiki.manjaro.org/index.php/VirtualBox#Configuring_the_host">Guide 1 (Manjaro Wiki)</a>
                  <a href="https://hibbard.eu/install-ubuntu-virtual-box">Guide 2 (Hibbard)</a>
                  <a href="https://www.cherryservers.com/blog/how-to-install-and-start-using-mariadb-on-ubuntu-20-04">Guide 3 (CherryServers)</a>
                  <a href="https://www.ibm.com/docs/en/spectrum-lsf-rtm/10.2.0?topic=ssl-configuring-default-root-password-mysqlmariadb">Guide 4 (IBM)</a>
                    <a href="https://linuxiac.com/how-to-install-virtualbox-on-manjaro-linux/">Guide 5 (LinuxIAC)</a>
                  <a href="https://mariadb.org/download/?t=repo-config&d=22.04+%22jammy%22&v=11.1&r_m=23Media">Guide 6 (MariaDB)</a>
                  <a href="https://phoenixnap.com/kb/ssh-with-key">SSH Public Key Connection Setup</a>
                  <a href="https://wiki.manjaro.org/">Manjaro Wiki</a>
                </p>
                <h5>C# Hashing with Salt and Pepper</h5>
                <p>
                  <a href="https://www.vb-paradise.de/index.php/Thread/133457-Sha256-hashing-von-Userdaten-Name-Pwd-inkl-Salt-und-Pepper-Hab-ich-das-korrekt-u/" class="link-warning">Source (German)</a>
                </p>
                <p>
                  There are outdated files on the source, if you need to, use the updated files of the <a href="/media/files/csharpsaltpepper.1.cs">first code block</a> and the <a href="/media/files/csharpsaltpepper.2.cs">second code block</a>.
                </p>
              </div>
            </div>
          </div>
<div class="accordion-item">
  <h2 class="accordion-header">
    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#otherresources" aria-expanded="false" aria-controls="otherresources">
      Other Resources
    </button>
  </h2>
  <div id="otherresources" class="accordion-collapse collapse" data-bs-parent="#resourcesAccordion">
    <div class="accordion-body">
      <h4>Other Resources</h4>
      <p>
        <a href="https://www.datensen.com/blog/">Data Management Blog</a>
        <a href="http://www.denic.de/en/domains/whois-service/web-whois.html">WHOIS Lookup</a>
        <a href="https://www.immuniweb.com/websec/">Web Security Testing</a>
        <a href="https://css-tricks.com/probably-dont-base64-svg/">CSS Data URI</a>
        <a href="https://www.urldecoder.io/">URL Decoder</a>
        <a href="https://codebeautify.org/">CodeBeautify</a>
        <a href="https://www.newtonsoft.com/json">JSON.NET</a>
        <a href="https://github.com/sshnet/SSH.NET">SSH.NET</a>
        <a href="https://www.sonarsource.com/products/sonarlint/features/visual-studio/">SonarLint</a>
        <a href="https://astro.build/">Astro</a>
        <a href="https://getbootstrap.com">Bootstrap</a>
        <a href="https://tailwindcss.com/">Tailwind.css</a>
        <a href="https://iconscout.com/">Iconscout</a>
        <a href="https://github.com/">GitHub</a>
        <a href="https://gitlab.com/">GitLab</a>
        <a href="https://youtu.be/RxHJdapz2p0?si=H3teosorRjwVNE7P">How Git Actually Works</a>
        <a href="https://www.webbyawards.com/">Webby Awards</a>
        <a href="https://pagespeed.web.dev/">PageSpeed Insights</a>
        <a href="https://www.freesoff.com/">FreeSoff (Free Software)</a>
        <a href="https://www.nirsoft.net/panel/">NirSoft</a>
        <a href="https://www.commontools.org/">Commontools.org</a>
        <a href="https://coolbackgrounds.io/">CoolBackgrounds</a>
        <a href="https://uigradients.com/">UIgradients</a>
        <a href="https://cssgradient.io/">CSS Gradients</a>
        <a href="https://www.svgbackgrounds.com/">SVG Gradients</a>
        <a href="https://www.ilovepdf.com/">ILovePDF</a>
        <a href="https://jpg2png.com/">JPG2PNG</a>
        <a href="https://png2pdf.com/">PNG2PDF</a>
        <a href="https://pdf2png.com/">PDF2PNG</a>
        <a href="https://www.zamzar.com/convert/xlsx-to-pdf/">XLSX2PDF</a>
        <a href="https://pmichaels.net/2021/08/29/compiling-code-files-in-c-using-roslyn/">CS2DLL</a>
        <a href="https://www.spycolor.com/">SpyColor</a>
        <a href="https://app.eraser.io/">Eraser (Planning)</a>
        <a href="https://dontasktoask.com/">Don't ask to ask, just ask</a>
        <a href="https://insights.stackoverflow.com/survey/">StackOverflow Yearly Surveys</a>
        <a href="https://survey.devographics.com/en-US">State of Language Survey</a>
      </p>
      <h5>Fonts</h5>
        <p>
          <a href="https://www.cufonfonts.com/font/segoe-ui-4">Segoe UI</a>
          <a href="https://www.cufonfonts.com/font/force-commander">Force Commander</a>
          <a href="https://www.cufonfonts.com/search/Oswald">Oswald</a>
          <a href="https://fonts.google.com/specimen/Oswald">Oswald from Google</a>
          <a href="https://www.cufonfonts.com/search/kanit">Kanit</a>
          <a href="https://fonts.google.com/specimen/Kanit">Kanit from Google</a>
        </p>
        <h5>Discord Glitches</h5>
<p><a href="https://github.com/PanIntegralus/discord.webm-compilation">Glitched WEBMs</a><br>
<a href="https://gist.github.com/ghostrider-05/8f1a0bfc27c7c4509b4ea4e8ce718af0">Discord Link Protocols</a><br>
<a href="https://drive.google.com/drive/folders/18-9X13abayITCKmToARWDljynvMzBXob">Fake Nitro Links</a></p>

<p><a href="https://www.youtube.com/watch?v=MDSscZjzXb4">Much more in this video</a></p>
      </div>
    </div>
  </div>
   <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#youtubecreators" aria-expanded="false" aria-controls="youtubecreators">
        YouTube Creators
      </button>
    </h2>
    <div id="youtubecreators" class="accordion-collapse collapse" data-bs-parent="#resourcesAccordion">
      <div class="accordion-body">
        <h4>YouTube Creators</h4>
<h5>C#</h5>
<p>
<a href="https://www.youtube.com/@IAmTimCorey">IAmTimCorey</a>
<a href="https://www.youtube.com/@tutorialsEUC">tutorialsEU</a>
</p>
<h5>JavaScript</h5>
<p>
<a href="https://www.youtube.com/@ColorCodeio">ColorCode
</a>
</p>
<h5>General</h5>
<p>
<a href="https://www.youtube.com/@Coderized">Coderized</a>
<a href="https://www.youtube.com/@wndtn/videos">Winderton</a>
<a href="https://www.youtube.com/@CodeAesthetic">CodeAesthetic</a>
<a href="https://www.youtube.com/@StudyingWithAlex">Studying with Alex</a>
<a href="https://www.youtube.com/watch?v=NuyzuNBFWxQ">Fireship</a>
</p>
<h5>Computer Science</h5>
<p>
<a href="https://www.youtube.com/cs50">CS50 | Harvard University</a>
</p>
<h5>Web Development</h5>
<p>
<a href="https://www.youtube.com/@KevinPowell">Kevin Powell
<a href="https://www.youtube.com/@WebDevSimplified">Web Dev Simplified</a>
</p>
<h5>Networks/Cybersecurity</h5>
</p>
<a href="https://www.youtube.com/@NetworkChuck">NetworkChuck</a>
</p>
<h5>Indie App Development</h5>
<p>
<a href="https://www.youtube.com/@craftzdog">Takuya Matsuyama</a>
<a href="https://www.youtube.com/@devaslife">DevAsLife</a>
</p>
        <h5>NeoVim Usage</h5>
        <p>
<a href="https://www.devas.life/effective-neovim-setup-for-web-development-towards-2024/">Takuya Matsuyama</a>
</p>
        </div>
    </div>
  </div>
      <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#hackingresources" aria-expanded="false" aria-controls="hackingresources">
        Hacking Resources
      </button>
    </h2>
    <div id="hackingresources" class="accordion-collapse collapse" data-bs-parent="#resourcesAccordion">
      <div class="accordion-body">
        <h4>Hacking Resources</h4>
                  <h5>Network Attack</h5>
        <p>
          <a href="https://crypto.stanford.edu/cs155old/cs155-spring11/lectures/08-tcp-dns.pdf">Stanford</a>
          <a href="https://www.cl.cam.ac.uk/~rja14/Papers/SEv2-c21.pdf">Cambridge</a>
        </p>
        <h5>Network Fundamentals</h5>
        <p>
        <a href="https://www.youtube.com/playlist?list=PLIFyRwBY_4bRLmKfP1KnZA6rZbRHtxmXi">Old-Fashioned</a>
          <a href="https://www.youtube.com/playlist?list=PLDQaRcbiSnqF5U8ffMgZzS7fq1rHUI3Q8">Modern</a>
        </p>
        </div>
    </div>
  </div>
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#downloadableresources" aria-expanded="false" aria-controls="downloadableresources">
        Downloadable Resources
      </button>
    </h2>
    <div id="downloadableresources" class="accordion-collapse collapse" data-bs-parent="#resourcesAccordion">
      <div class="accordion-body">
        <h4>Downloadable Resources</h4>
         <div class="my-1">
        <h4>1,000 I.T books!</h4>
        <a class="btn btn-primary" href="https://drive.google.com/drive/folders/1F7D5c30nP-y_Q7SFqoRTRvJ7tl0UcY3q">View</a>
    </div>
      </div>
    </div>
  </div>
</div>
</div></Modal>
<Modal title="Viruses &amp; Malware" id="files"><div slot="content">
    <p> <a href="/media/files/Meme_Coin.ZIP" download>Meme_Coin (ZIP)</a> <a href="/media/files/Meme_coin_miner.exe" download>Meme_Coin (EXE)</a> 
        <a href="/media/files/My_App.zip" download>My_App (ZIP)</a> <a href="/media/files/Myballzhert.zip" download>Myballzhert (ZIP)</a> by Dream3456789 (Password: "mysubsarethebest")</p>
    <p> <a href="/media/files/KILL_SWITCH.bat" download>USB &amp; Internet Disabler (BAT)</a> <a href="/media/files/UN_KILL.bat" download>Unkill Tool for Disabler (BAT)</a> by CodingLive </p> 
    <p> <a href="/media/files/Trojan_Spyer.exe" download>Trojan_Spyer (EXE)</a> by MagSam2</p> 
   <p> <a href="/media/files/Nuking-Discord-Server-Bot-Nuke-Bot-master.zip" download>Nuking Discord Bot (ZIP)</a> 
<p>   <a href="/media/files/Scammed.zip" download>Scam (ZIP)</a> by the pfp is for nuking kpopserver </p>
   <p> <a href="/media/files/BFF_DoS.exe" download>BFF_DoS (EXE)</a> 
       <a href="/media/files/Code.txt" download>Code (TXT)</a> <a href="/media/files/baby.bat" download>Baby (BAT)</a>
     <a href="/media/files/BabyCodes.txt" download>BabyCodes (TXT)</a> by Corrupt Assassin </p>
</div></Modal>
<Modal title="Code Samples" id="code"><div slot="content">
<p> <a href="https://github.com/FordArthur/insitucs">Insitux Compiler</a> <a href="https://github.com/FordArthur/chess-ix">Chess I (Insitux)</a> <a href="/media/files/chess.ix" download>Chess II (Insitux)</a> <a href="https://github.com/FordArthur/ballistics-ix">Ballstics I (Insitux)</a> <a href="https://github.com/FordArthur/Insitux-math-libs">Math Libs for Insitux</a> <a href="https://github.com/FordArthur/svelte-app">svelte-app</a> <a href="/media/files/RosettaCode.ix" download>Rosetta Code (Insitux)</a> <a href="/media/files/polinomic-solver.ix" download>Polinomic Solver (Insitux)</a> <a href="/media/files/ambiguous-operator.ix" download>Ambiguous Operator (Insitux)</a> <a href="/media/files/rockpaperscissors.ix" download>Rock Paper Scissors (Insitux)</a> <a href="/media/files/rockalfordscissors.py" download>Rock Paper Scissors (Python)</a> by Al-Ford Arthur</p>    <p> <a href="/media/files/rockpaperscissors.py" download>Rock Paper Scissors (Python)</a> by Sezieru</p>
                            <p> <a href="https://github.com/Savageboitim13/UMS-WF/">UMS-WF</a> <a href="https://github.com/Savageboitim13/Principles-CSharp">Principles for C# & Java</a> by venenjean</p>    
     <p><a href="https://github.com/phunanon/ip3">IP3</a> by Patrick</p>
      <p> <a href="https://github.com/JSman225/ROTL">ROTL</a> by JSman225</p>
  <p> <a href="/media/files/test-OBFUSCATED.py" download>ISS Obfuscator (Python 3.9)</a> by vesper</p>
    <p> <a href="/media/files/long_snakes_long_code_.py" download>Snake Game in One Line of Code (Python)</a> by ByThon</p>
   <p> <a href="https://github.com/ProtDos/ScammerPayback">ScammerPayback</a> 
   <a href="/media/files/tic.py" download>Tic Tac Toe (Python)</a> 
     <a href="https://github.com/ProtDos/Flask-PayPal/archive/refs/heads/main.zip" download>Flask PayPal (Python | ZIP)</a> 
         <a href="/media/files/stress.py" download>Apache Stress Tester (Python)</a> 
        <a href="/media/files/bestree.py" download>bestree (Python)</a> 
          <a href="/media/files/protect.py" download>SSL Protection (Python)</a> 
           <a href="https://github.com/ProtDos/SeedPhraseHack/archive/refs/heads/main.zip" download>SeedPhraseHack (Python | ZIP)</a> 
           <a href="/media/files/checker.py" download>Domain Checker (Python)</a> 
   <a href="https://github.com/ProtDos/DiscordMassDM">Discord Mass DM</a> (<a href="https://github.com/ProtDos/DiscordMassDM/archive/refs/heads/main.zip">Python | ZIP</a>) 
          <a href="https://github.com/ProtDos/IP-Address-Generator-Checker">IP Address Generator Checker</a> (<a href="https://github.com/ProtDos/IP-Address-Generator-Checker/archive/refs/heads/main.zip">Python | ZIP</a>) 
          <a href="https://github.com/ProtDos/ClashOfClans-Wrapper">Clash of Clans Wrapper</a> (<a href="https://github.com/ProtDos/ClashOfClans-Wrapper/archive/refs/heads/main.zip">Python | ZIP</a>) 
            <a href="https://github.com/ProtDos/Crunch-PasswordGenerator/archive/refs/heads/main.zip" download>Crunch Password Generator (Python | ZIP)</a> 
 <a href="https://github.com/ProtDos/Mint">Mint (OSINT)</a> (<a href="https://github.com/ProtDos/Mint/archive/refs/heads/main.zip">Python | ZIP</a>) 
     <a href="https://github.com/ProtDos/WebcamSearch/archive/refs/heads/main.zip" download>Webcam Search (Python | ZIP)</a> 
<a href="https://github.com/ProtDos/Discord-Token-Onliner">Discord Token Onliner</a> (<a href="https://github.com/ProtDos/Discord-Token-Onliner/archive/refs/heads/main.zip">Python | ZIP</a>) 
 <a href="https://github.com/ProtDos/boosint">boosint (OSINT)</a> (<a href="https://github.com/ProtDos/boosint/archive/refs/heads/main.zip">Python | ZIP</a>) 
 <a href="https://github.com/ProtDos/ntru">ntru</a> (<a href="https://github.com/ProtDos/ntru/archive/refs/heads/main.zip">Python | ZIP</a>) 
 <a href="https://github.com/ProtDos/pq-ntru">pq-ntru</a> (<a href="https://github.com/ProtDos/pq-ntru/archive/refs/heads/main.zip">Python | ZIP</a>) 
     <a href="https://github.com/ProtDos/Veilo">Veilo</a> (<a href="https://github.com/ProtDos/Veilo-Site">Source Code</a>) <a href="https://github.com/ProtDos/IP-Address-Generator-Checker">IP Adress Generator Checker</a> By CodingLive</p>
<h4>ncrypt.c by Sezieru</h4>
  This is a relatively simple example for using <code>crypt()</code> on Linux to generate Linux-compatible password hashes.  This is useful for replacing a lost password hash, for example.
  <p> <a href="/media/files/ncrypt.c" download>ncrypt.c Download</a> </p>
  <h4> Other OSINT Guides </h4>
   <p> <a href="https://github.com/ProtDos/VanishGuide">VanishGuide</a> 
      <a class="link-danger" href="https://github.com/ProtDos/discord-phishing-links">Discord Phishing Links</a> 
         <a class="link-danger" href="https://github.com/ProtDos/IP-Address-List">IP Address List</a> by CodingLive</p>
</div></Modal>
<Modal title="Apps &amp; Software" id="app"><div slot="content">
<p> <a href="/media/files/sms_bomb.apk" download>SMS Bomb (APK)</a> by CodingLive</p>
      <h4>Encochat by CodingLive</h4>
      <p> <a href="https://github.com/ProtDos/encochat">Encochat v1</a> </p>
      <p> <a href="https://github.com/ProtDos/PrivateChatOld">Encochat v2</a>  </p>
      <p> <a href="https://github.com/ProtDos/PrivateChat">Encochat v3</a>  </p>
      <p> <a href="https://app.protdos.com/">Encochat Website</a>  </p>
      <p> <a href="/redirect/encochat">Encochat Download</a> </p>
      <h4>vpnchecker by CodingLive</h4>
         <p> <a href="https://github.com/ProtDos/vpnchecker">vpnchecker</a> (<a href="https://github.com/ProtDos/vpnchecker/archive/refs/heads/main.zip">HTML | ZIP</a>)
      <p> <a class="link-danger" href="https://protdos.github.io/vpnchecker">vpnchecker Website</a></p>
</div></Modal>
<Modal title="Python Basics" id="py"><div slot="content">
<Scrollspy id="py-basics-list"
scrollcontent={[
  { name: "Comments", href: "#com-3" },
  { name: "Data Types", href: "#data-3" },
  { name: "Strings", href: "#str-3" },
  { name: "Numbers", href: "#num-3" },
]}
><div slot="scrollspy-content">
<div id="com-3">
<h4>Comments</h4>
<p>You can write text that the program will ignore by beginning the line with a #, this helps with reminding you what certain code does or for explaining purposes.<br><br><code>
# This is a comment
</code></p>
</div>
<div id="data-3">
<h4>Data Types</h4>
<p>Variables can store data of different types, and different types can do different things.</p>
<p>Python has the following data types built-in by default, in these categories:<br>
Text Type: <code>str</code><br>
Numeric Types: <code>int, float, complex</code><br>
Sequence Types: <code>list, tuple, range</code><br>
Mapping Type: <code>dict</code><br>
Set Types: <code>set, frozenset</code><br>
Boolean Type: <code>bool</code><br>
Binary Types: <code>bytes, bytearray, memoryview</code></p>
<p>We will go more in-depth on some of these types in the next few paragraphs.</p>
<p>You can print the data type of a variable with the type() function:<br>
<code>
x = 5 <br>
print(type(x))
</code></p>
</div>
<div id="str-3">
<h4>Strings</h4>
<p>Strings are surrounded by either single quotation marks, or double quotation marks.</p>
<code>
x = "hello" <br>
y = 'hello' <br>
# single quotations and double quotation marks are the same<br>
x == y # returns True
</code><p></p>
<p>You can assign a multiline string to a variable by using three quotes:<br>
<code>
x = """The FitnessGram Pacer test is a multistage aerobic capacity test that progressively gets more difficult as it continues. The 20 meter Pacer test will begin in 30 seconds."""
</code></p>
<p>You can check the length of a string using the len() function:
<code>
x = "hello"<br>
print(len(text)) # returns 5<br></code></p>
</div>
<div id="num-3">
<h4>Numbers</h4>
<p>There are 2 primary, <code>int</code> and <code>float</code></p><p><code>
x = 2 # int<br>
y = 2.8 # float
</code></p>
<p>To verify the type of an object in Python, use the type() function:<code>
print(type(x))<br>
print(type(y))</code></p>
<p>Int, or integers, are whole numbers, positive or negative, without decimals.</p>
<p>Float is a number, positive or negative, containing one or more decimals.</p>
<p>Both strings and numbers are built-in data types.</p>
</div>
</div></Scrollspy>
</div></Modal>
<Modal title="C++ Basics" id="cpp"><div slot="content">
<Scrollspy id="cpp-basics-list"
scrollcontent={[
  { name: "Strings", href: "#str-4" },
  { name: "Integers", href: "#integers-4" },
  { name: "Print", href: "#print-4" },
]}
><div slot="scrollspy-content">
 <div id="strings-4">
<h4>Strings</h4>
<p> A string is a sequence of characters representing text. Strings are typically enclosed in quotation marks and can be stored in variables for later use in a program. </p>
<p><code>
#include &lt;ostream&gt;<br>
#include &lt;string&gt;<br><br><br>
int main()<br>
\{<br>
    // Declare a string variable<br>
    std::string str = "codinghome";<br>
}
  </code></p>
</div>
<div id="integers-4">
<h4>Integers and Floating Point Numbers</h4>
<p>Simply said, Integers are used for numbers without a decimal, and Float is used for numbers with decimals, <b>simply said</b>. There is more to that but we are keeping it simple.</p>
<p><code>
#include &lt;iostream&gt;<br><br>
int main()<br>
\{<br>
    // Declare an integer variable<br>
    int num = 10;<br><br>
    // Declare a floating-point variable<br>
    float fnum = 10.5;<br>
}
      </code></p>
</div>
<div id="print-4">
<h4>Print</h4>
          <p> Printing an output to the terminal/console or whatever you want to call it. </p>
<p><code>
#include &lt;iostream&gt;<br><br>
int main()<br>
\{<br>
&nbsp;&nbsp;// Declare an integer variable<br>
&nbsp;&nbsp;int num = 10;<br><br>
&nbsp;&nbsp;// Declare a floating-point variable<br>
&nbsp;&nbsp;float fnum = 10.5;<br><br>
&nbsp;&nbsp;std::cout &lt;&lt; "num: " &lt;&lt; num &lt;&lt; std::endl;  // &lt;-- Prints the integer Variable (Variable num)
&nbsp;&nbsp;std::cout &lt;&lt; "fnum: " &lt;&lt; fnum &lt;&lt; std::endl; // &lt;-- Prints the floating point Variable(Variable fnum)
}
  </code></p>
</div>
</div></Scrollspy>
</div></Modal>
<Modal title="Haskell Basics" id="hs"><div slot="content">
<Scrollspy id="hs-basics-list"
scrollcontent={[
  { name: "Data Types", href: "#data-5" },
  { name: "Function Type Declartion", href: "#ftd-5" },
  { name: "Function Defintion", href: "#fde-5" },
  { name: "Functional Principles", href: "#fpr-5" },
  { name: "Comments", href: "#com-5" },
]}
><div slot="scrollspy-content">
<div id="data-5">
<h4>Data Types</h4>
<p>In Haskell, types are how you describe the data your program will work with. Types can be simple, like:</p>
<ul>
  <li>Bool: boolean True or False.</li>
  <li>Char: one character.</li>
  <li>Int: fixed-precision signed integer (usually 64-bit)</li>
  <li>Float / Double: floating-point values.</li>
</ul>
<p>Or, they can be composed with constructs, like:</p>
<ul>
  <li>String: shortcut for [Char].</li>
  <li>[a] : list of <code>a</code>s (where a is a general type).</li>
  <li>(a, b) : tuple composed of <code>a</code> and <code>b</code></li>
  <li>Just a : Maybe monad with the <code>Just</code> option</li>
</ul>
</div>
<div id="ftd-5">
<h4>Function Type Declaration</h4>
<p>Haskell's functions will usually have 2 parts: a type declaration, and the implementation of the function itself  (the type part can also be inferred):</p>
<code>
-- type declaration <br>
--   constraints =&gt; type -&gt; ... -&gt; returnType (the last type will always be the return type) <br>
countIns :: Eq a =&gt; a -&gt; [a] -&gt; Int <br>
-- implementation <br>
countIns x = length . filter (== x) <br>
</code>
<ul>
  <li>Bool: boolean True or False.</li>
  <li>Char: one character.</li>
  <li>Int: fixed-precision signed integer (usually 64-bit)</li>
  <li>Float / Double: floating-point values.</li>
</ul>
<p>Notice the type declaration has 2 types of "arrows": <code>=&gt;</code> and <code>-&gt;</code>.</p>
<ul>
  <li>=&gt; : used for giving additional context of what rules <code>a</code> should follow (in the example above, we see a should be part of the <code>Eq</code> class, which allows for comparison)</li>
  <li>-&gt; : used for actually declaring the type of the function (in the above example, we see the first argument is <code>a</code>, a general, comparable type, then a list of as and then finally it outputs an <code>Int</code>eger)</li>
</ul>
</div>
<div id="fde-5">
<h4>Function Definition</h4>
<p>Functions are defined like: <code>functionName argument(s) = expression</code>. Haskell forces declarative style, so functions are (usually) composed of just an expression (always returns a value). </p>
<code>
-- type declaration
countIns :: Eq a =&gt; a -&gt; [a] -&gt; Int
-- implementation
-- function args = expression
countIns x = length . filter (== x)
</code>
</div>

<div id="fpr-5">
<h4>Functional Principles</h4>
<p>Haskell restricts to the functional paradigm, meaning Haskell enforces:</p>
<ul>
  <li><b>Immutability:</b> when the <code>data</code> has to be defined again for it to "change"</li>
  <li><b>Purity:</b> functions must be pure, producing no side-effects (like modifying a global variable), and must be deterministic (<code>f(x) = y</code>, no matter when <code>f</code> is called)</li>
  <li><b>Higher-order functions:</b> functions must be first-class, meaning they can be passed as arguments to other functions. This allows for higher-order functions. which take a function and other data and apply the function to the data in different ways.</li>
  <li><b>Disciplined state </b> trying to minimize the use of mutable state and trying to make it local when possible.</li>
</ul>
</div>
<div id="com-5">
<h4>Comments</h4>
<p>In-line comments are made with <code>--</code> and block comments with <code>\{- -}</code>:</p>
<code>
-- inline<br>
commentHere = False<br>
\{- block<br>
commenHere = True<br>
-}
</code>
</div>

        </div></Scrollspy>
</div></Modal>
<Modal title="HTML Basics" id="html"><div slot="content">
<Scrollspy id="html-basics-list"
scrollcontent={[
  { name: "Example Document", href: "#example-6" },
  { name: "HTML Headings", href: "#head-6" },
  { name: "HTML Paragraphs", href: "#text-6" },
  { name: "HTML Links", href: "#links-6" },
  { name: "HTML Images", href: "#img-6" },
]}
><div slot="scrollspy-content">
<div id="example-6">
<h4>Example Document</h4>
<code>
&lt;!DOCTYPE html&gt;<br>
&lt;html&gt;<br>
&nbsp;&lt;body&gt;<br>
&nbsp;&nbsp;&lt;h1&gt;My first Heading&lt;/h1&gt;<br>
&nbsp;&nbsp;&lt;p&gt;My first paragraph&lt;/p&gt;<br>
&nbsp;&lt;/body&gt;<br>
&lt;/html&gt;
</code><br>
<p>The <code>&lt;!DOCTYPE&gt;</code> declaration represents the document type, and helps browsers to display web pages correctly. It must only appear once, at the top of the page (before any HTML tags). The <code>&lt;!DOCTYPE&gt;</code> declaration is not case sensitive. </p>
</div>
<div id="head-6">
<h4>HTML Headings</h4>
<p>HTML headings are defined with the <code>&lt;h1&gt;</code> to <code>&lt;h6&gt;</code> tags.
<code>&lt;h1&gt;</code>defines the most important heading. <code>&lt;h6&gt;</code> defines the least important heading:<br>
<code>&lt;h1&gt;Big&lt;/h1&gt;</code> <br>
<code>&lt;h6&gt;Small&lt;/h6&gt;</code> </p>
</div>
<div id="text-6">
<h4>HTML Paragraphs</h4>
<p>HTML paragraphs are defined with the &lt;p&gt; tag:<code><br>
&lt;p&gt;This is a paragraph.&lt;/p&gt;<br>
&lt;p&gt;This is another paragraph.&lt;/p&gt;</code></p>
</div>
<div id="links-6">
<h4>HTML Links</h4>
<p>HTML links are defined with the &lt;a&gt; tag:<br>
<code>&lt;a href="https://example.com"&gt;This is a link&lt;/a&gt;</code></p>
</div>
<div id="img-6">
<h4>HTML Images</h4>
<p>HTML images are defined with the &lt;img&gt; tag. The source file (src), alternative text (alt), width, and height are provided as attributes:<br>
<code>&lt;img src="example.jpg" alt="example.com" width="104" height="142"&gt;</code></p>
</div>
  </div></Scrollspy>
  </div></Modal>
<Modal title="CSS Basics" id="css"><div slot="content">
  <div class="my-3">
<a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/CSS_basics" target="_blank" rel="noreferrer noopener" class="btn btn-info">Source (Mozilla)</a>
    </div>
<Scrollspy id="css-basics-list"
scrollcontent={[
  { name: "Example Document", href: "#example-7" },
  { name: "CSS Rulesets", href: "#rules-7" },
  { name: "Classes", href: "#classes-7" },
  { name: "Text Elements", href: "#text-7" },
  { name: "Padding Elements", href: "#pad-7" },
  { name: "Color Elements", href: "#color-7" },
  { name: "Comments", href: "#com-7" },
  { name: "Extra: Centering Images", href: "#eci-7" },
]}
><div slot="scrollspy-content">
<div id="example-7">
<h4>Example Document</h4>
<code>
h1 \{<br>
&nbsp;&nbsp;color: black;   <br>
&nbsp;&nbsp;text-align: center; <br>
&nbsp;&nbsp;font-size: 26px;<br>
&nbsp;&nbsp;font-family: verdana;<br>
}
</code><br><br>
<code>&lt;p style="font-size:10px"&gt;</code>
<p>To put CSS files in HTML, use... <code>&lt;link rel="stylesheet" href="style.css"&gt;</code></p>
</div>
<div id="rules-7">
<h4>CSS Rulesets</h4>
<p>
</p><div class="d-flex"><div class="col-4"><p>Selector</p></div><div class="col"><div class="me-auto"><code class="position-static">p \{ </code></div></div></div>
<div class="d-flex"><div class="col-4"><p>Property</p></div><div class="col"><div class="me-auto"><code class="position-static">&nbsp;&nbsp;color: red; </code></div></div></div>
<div class="d-flex"><div class="col-4"><p>Declaration</p></div><div class="col"><div class="me-auto"><code class="position-static">}</code></div></div></div>  
<p></p>
<p><b>Properties</b> - With these, you can style a HTML element, like for example; color. <br>
<b>Property Value</b> - This chooses one of the possible options for a given property, like red for color.</p>
  <p>
You can also write CSS like <code>html\{color:red;}</code>
<br>
You can also put styles in HTML elements. <code>&lt;h1 style="font-color:white;"&gt;</code>
<br>
You can also select multiple elements at once like...
<br>
<code>
h1, h4, h6, h2 \{<br>
&nbsp;&nbsp;color: red;<br>
}</code></p>
</div>
        <div id="classes-7">
        <h4>Classes</h4>
        <p>Think of classes like custom HTML elements, they can be applied in html like <code>&lt;p class="text-red"&gt;</code></p>
        <p>Classes begin with a dot or period (.) to begin the selector.</p>
        <code>
.text-red \{<br>
&nbsp;&nbsp;color: red;<br>
}</code>
      </div>
<div id="text-7">
<h4>Text Elements</h4><p>
<code>font-size: 10px;</code> - Text size, can be in pixels.<br>
<code>font-family: verdana;</code> - Fonts<br>
<code>text-align: center;</code> - Can align to the left side, right side, or in the center of the webpage. <br>
<code>text-shadow: 3px black</code> - Shadow of text. Can be in pixels and colors.
</p>
</div>
<div id="pad-7">
<h4>Padding Elements</h4>
<p>
<code>padding-top: 50px;</code> - Separation. It can be top, left, right, and bottom in pixels.<br>
<code>margin: 50px;</code> - A margin. It can be in pixels.<br>
<code>border-width: 5px;</code> - Border width. Can be thin, medium, thick, or just pixels.<br>
<code>border-style: dotted;</code> - Border style. Can be dotted, dashed, solid, double, groove, ridge, inset, outset, none, or hidden. Can also be colored.<br>
<code>width=500px;</code> - Width of the element. It can be pixels or percentages.</p>
</div>
<div id="color-7">
<h4>Color Elements</h4>
<p><code>color: red;</code> - The color of the element, can be hexadecimal, or RGB.<br>
<code>background-color: white;</code> - Background color of the element.</p>
</div>
<div id="com-7">
  <h4>Comments</h4>
<p>Comments are commonly used to explain the code and may help when you edit the source code later and are ignored by browsers.
<br><br>
A CSS comment starts with <code>/*</code> and ends with <code>*/</code>, and no changes are needed to make it multiple lines.</p>
 <p> <code>
  /* This is a single-line comment */<br><br>
  /* This is<br>
a multi-line<br>
    comment */</code></p>
        </div>
<div id="eci-7">
<h4>Extra: Centering Images</h4>
<code>img \{<br>
&nbsp;&nbsp;margin: 0 auto;<br>
&nbsp;&nbsp;display: block;<br>
}</code>
  </div>
</div></Scrollspy>
 </div></Modal>
<Modal title="JavaScript Basics" id="js"><div slot="content">
<Scrollspy id="js-basics-list"
scrollcontent={[
  { name: "Including JavaScript in an HTML Page", href: "#html-8" },
  { name: "Call an External JavaScript File", href: "#call-8" },
  { name: "Including Comments", href: "#com-8" },
  { name: "Variables", href: "#var-8" },
  { name: "Data Types", href: "data-8" },
]}
><div slot="scrollspy-content">
 <div id="html-8">
<h4>Including JavaScript in an HTML Page</h4>
<p><code>&lt;script type="text/javascript"&gt; <br>
 //JS code goes here <br>
&lt;/script&gt; </code></p>
</div>
<div id="call-8">
<h4>Call an External JavaScript File</h4>
     <p> <code>&lt;script src="myscript.js"&gt;&lt;/script&gt;</code></p>
</div>
<div id="com-8">
<h4>Including Comments</h4>
<p>Single line comments - <code>// Comment</code> <br>
Multi-line comments - <code>/* comment here */</code></p>
</div>
<div id="var-8">
<h4>Variables</h4>
<p>
<code>var, const, let</code><br>
<code>var</code> — The most common variable. Can be reassigned but only accessed within a function. Variables defined with var move to the top when code is executed.<br>
<code>const</code> — Can not be reassigned and not accessible before they appear within the code.<br>
<code>let</code> — Similar to const, however, let variable can be reassigned but not re-declared.<br>
</p>
</div>
<div id="data-8">
<h4>Data Types</h4>
<p>
Numbers — <code>var age = 23</code> <br>
Variables — <code>var x</code><br>
Text (strings) — <code>var a = "init"</code><br>
Operations — <code>var b = 1 + 2 + 3</code><br>
True or fase statements — <code>var c = true</code><br>
Constant numbers — <code>const PI = 3.14</code><br>
Constant numbers — <code>const PI = 3.14</code><br>
Objects — <code>var name = \{firstName: "John", lastName: "Doe"}</code>
</p>

<p><b>Objects Example</b> <br>
  <pre>
var person = \{
  <br>
&nbsp;&nbsp;firstName: "John",<br>
&nbsp;&nbsp;lastName: "Doe",<br>
&nbsp;&nbsp;age: 20,<br>
&nbsp;&nbsp;nationality: "American"<br>
}
  </pre>
</p>
          </div>
</div></Scrollspy>
</div></Modal>
<Modal title="SQL Basics" id="sql"><div slot="content">
<Scrollspy id="sql-basics-list"
scrollcontent={[
  { name: "Querying Data from a Tablem", href: "#query-9" },
  { name: "Modifying Data", href: "#mod-9" },
  { name: "Table Management", href: "#table-9" },
]}
><div slot="scrollspy-content">
<div id="query-9">
<h4>Querying Data from a Table</h4>
<p>Query Data in Columns c1, c2 from a Table</p>
<code>
SELECT c1, c2 FROM t;<br>
Code language: SQL (Structured Query Language) (sql)
</code><br><br>
<p>Query All Rows and Columns from a Table</p>
<code>SELECT * FROM t;</code><br><br>
<p>Query Data and Filter Rows with a Condition</p>
<code>
SELECT c1, c2 FROM t<br>
WHERE condition;
</code><br><br>
<p>Query Distinct Rows from a Table</p>
<code>
SELECT DISTINCT c1 FROM t<br>
WHERE condition;
</code><br><br>
<p>Sort the Result Set in Ascending or Descending Order</p>
<code>
SELECT c1, c2 FROM t<br>
ORDER BY c1 ASC [DESC];
</code><br><br>
<p>Skip Offset of Rows and Return the Next n Rows</p>
<code>
SELECT c1, c2 FROM t<br>
ORDER BY c1<br>
LIMIT n OFFSET offset;
</code><br><br>
<p>Group Rows using an Aggregate Function</p>
<code>
SELECT c1, aggregate(c2)<br>
FROM t<br>
GROUP BY c1;
</code><br><br>
<p>Filter Groups using <b>Having</b> Clause</p>
<code>
SELECT c1, aggregate(c2)<br>
FROM t<br>
GROUP BY c1<br>
HAVING condition;
</code><br><br>
</div>
<div id="mod-9">
<h4>Modifying Data</h4>
<p>Insert One Row into a Table</p>
<code>
INSERT INTO t(column_list)<br>
VALUES(value_list);
</code><br><br>
<p>Insert Multiple Rows into a Table</p>
<code>
INSERT INTO t(column_list)<br>
VALUES (value_list), <br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;(value_list), …;
</code><br><br>
<p>Insert Rows from t2 into t1</p>
<code>
INSERT INTO t1(column_list)<br>
SELECT column_list<br>
FROM t2;
</code><br><br>
<p>Update New Value in the Column c1 for All Rows</p>
<code>
UPDATE t<br>
SET c1 = new_value;
</code><br><br>
<p>Update Values in the Column c1, c2 that Match the Condition</p>
<code>
UPDATE t
SET c1 = new_value, <br>
&nbsp;&nbsp;&nbsp;&nbsp;c2 = new_value<br>
WHERE condition;
</code><br><br>
<p>Delete All Data in a Table</p>
<code>DELETE FROM t;</code>
<p>Delete Subset of Rows in a Table</p>
<code>
DELETE FROM t<br>
WHERE condition;
</code><br><br>
</div>
<div id="table-9">
<h4>Table Management</h4>
<p>Create a new Table with Three Columns</p>
<code>
CREATE TABLE t (<br>
&nbsp;&nbsp;id INT PRIMARY KEY,<br>
&nbsp;&nbsp;name VARCHAR NOT NULL,<br>
&nbsp;&nbsp;price INT DEFAULT 0<br>
);<br>
</code><br><br>
<p>Delete the Table from the Database</p>
<code>DROP TABLE t ;</code><br><br>
<p>Add a new Column to the Table</p>
<code>ALTER TABLE t ADD column;</code><br><br>
<p>Drop Column c from the Table</p>
<code>ALTER TABLE t DROP COLUMN c ;</code><br><br>
<p>Add a Constraint</p>
<code>ALTER TABLE t ADD constraint;</code><br><br>
<p>Drop a Constraint</p>
<code>ALTER TABLE t DROP constraint;</code><br><br>
<p>Rename a Table from t1 to t2</p>
<code>ALTER TABLE t1 RENAME TO t2;</code><br><br>
<p>Rename Column c1 to c2</p>
<code>ALTER TABLE t1 RENAME c1 TO c2 ;</code><br><br>
<p>Remove all Data in a Table</p>
<code>TRUNCATE TABLE t;</code>
</div>
</div></Scrollspy>
</div></Modal>
<Modal title="JSON Basics" id="json"><div slot="content">
<Scrollspy id="json-basics-list"
scrollcontent={[
  { name: "Example Documents", href: "#example-10" },
  { name: "Importing JSON", href: "#import-10" },
]}
><div slot="scrollspy-content">
<div id="example-10">
<h4>Example Document</h4>
<code>
\{<br>
&nbsp;&nbsp;"foo": "bar",<br>
&nbsp;&nbsp;"array": [<br>
&nbsp;&nbsp;&nbsp;&nbsp;"foo",<br>
&nbsp;&nbsp;&nbsp;&nbsp;"bar"<br>
&nbsp;&nbsp;]<br>
}
</code><br><br>
<p>All JSON files are surrounded by \{ and }, which means it is a object. Unlike Javascript, you must use double quotes (") for strings, not singular quotes (')</p>
</div>
<div id="import-10">
<h4>Importing JSON</h4>
<table>
<tbody>
<tr>
<td class="border-1">JavaScript</td>
<td class="border-1 text-break"><code class="position-static">fetch('example.json')</code></td>
</tr>
<tr>
<td class="border-1">Node.js</td>
<td class="border-1 text-break"><code class="position-static">import('./example.json')</code></td>
</tr>
<tr>
<td class="border-1">TypeScript + Node.js</td>
  <td class="border-1 text-break"><code class="position-static">import data from 'example.json'</code></td>
</tr>
<tr>
<td class="border-1">Python</td>
  <td class="border-1 text-break"><code class="position-static">import 'json'; with open('data.json', 'r') as f: data = json.load(f)</code></td>
</tr>
</tbody>
</table>
</div>
</div></Scrollspy>
</div></Modal>
</main>
<Footer />
              <a href="#" class="btn btn-lg btn-lg-square back-to-top" style="display: none;"><i class="bi bi-caret-up-fill"></i></a>
</div>
      <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
      <script is:inline src="/static/scroll.js"></script>
      <script is:inline src="/static/purecookie.js"></script>
      <script is:inline src="/static/enabler.js"></script>
          <script is:inline src="/static/modal-id.js"></script>
      <script is:inline src="/static/accordion-id.js"></script>
    </body>
    </html>

