---
import Hero      from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import Modal     from '../components/Modal.astro';
import Scrollspy from '../components/Scrollspy.astro'
---

<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
    <title>CodingHome</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="image" href="/media/images/hero-codinghome.webp">
    <link rel="icon" href="/media/images/codinghome.webp">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="CodingHome">
    <meta name="description" content="A Discord server full of coders!">
    <meta name="keywords" content="Scripts, viruses, coding,">
    <meta name="author" content="CodingLive, ProtDos">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="og:image" content="/media/images/codinghome.webp">
     <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body class="fixedtopnavimage">
      <div id="page">
<Navbar />
<Hero id="codinghome" title="CodingHome" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." primaryHref="https://discord.gg/pgGfhDVrmS" primaryText="Discord Server Invite" secondaryHref="/backup/codinghome" secondaryText="View the all laid out format" imageSrc="/media/images/codinghome.webp" imageWidth="15%" minImageWidth="150px"
icons={[
    { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/pgGfhDVrmS" },
    { icon: "bullseye", desc: "ProtDos", href: "https://protdos.com/" },
    { icon: "github", desc: "GitHub", href: "https://github.com/protdos" },
    { icon: "envelope-fill", desc: "ProtDos's Email", href: "mailto:contact@protdos.com" },
  ]}
/>
     <main id="codinghome" class="text-center container">
       <div id="disclaimer">
         <h2> Disclaimer </h2><p> We do not take responsibility for any damage, or legal issues, done with these files here at AT Products LLC, Ethical Hacking Society, CodingHome, CodingHome, or Noodle Hackerspace.      <br><br>
      Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a></p></div><hr>
  <div id="resources">
            <h2> Resources </h2>
        <p> What do you want to know about today? </p>

        <Modal title="JavaScript Basics" id="js"><div slot="content">
          <Scrollspy id="js-basics-list"
          scrollcontent={[
            { name: "Including JavaScript in an HTML Page", href: "#html-8" },
            { name: "Call an External JavaScript File", href: "#call-8" },
            { name: "Including Comments", href: "#com-8" },
            { name: "Variables", href: "#var-8" },
            { name: "Data Types", href: "data-8" },
          ]}
          >
<div slot="scrollspy-content" is:raw>
&lbrace; Example&colon; &rbrace;
</div>
          </Scrollspy>
          </div></Modal>
</main>
<Footer />
              <a href="#" class="btn btn-lg btn-lg-square back-to-top" style="display: none;"><i class="bi bi-caret-up-fill"></i></a>
</div>
      <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
      <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
      <script is:inline src="/static/scroll.js"></script>
      <script is:inline src="/static/purecookie.js"></script>
      <script is:inline src="/static/enabler.js"></script>
          <script is:inline src="/static/modal-id.js"></script>
      <script is:inline src="/static/accordion-id.js"></script>
    </body>
    </html>

