---
import Head      from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero      from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import Modal     from '../components/Modal.astro';
import Scrollspy from '../components/Scrollspy.astro';
import Accordion from '../components/accordion/Accordion.astro';
import AccordionItem from '../components/accordion/AccordionItem.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head highlight="true" title="CodingHome" heroid="codinghome" icon="codinghome.webp" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." keywords="Scripts, viruses, coding," author="Alex Toucan & CodingLive" />
<div id="page">
  <Navbar /> 
  <div id="main-content">
    <Hero id="codinghome" title="CodingHome" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." imageSrc="/media/images/codinghome.webp" imageWidth="15%" minImageWidth="150px" imageClasses="me-md-3 rounded-2" container="true"
      icons={[
        { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/pgGfhDVrmS" },
        { icon: "bullseye", desc: "ProtDos", href: "https://protdos.com/" },
        { icon: "github", desc: "GitHub", href: "https://github.com/protdos" },
        { icon: "envelope-fill", desc: "ProtDos's Email", href: "mailto:contact@protdos.com" },
      ]},
      buttons={[
        { href: "https://discord.gg/pgGfhDVrmS", text: "Discord Server Invite", type: "primary" },
        { href: "/sms", text: "SMS Bomb", type: "secondary" },
      ]},
    />  
    <main id="codinghome" class="text-center container">
      <div id="disclaimer">
        <h2> Disclaimer </h2>
        <p> We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br>
          <br> Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM. <br>
          <br> If it's an APK file, use an emulator. <br>
          <br>
          <a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a>
          <br>
          <a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
        </p>
      </div>
      <hr>
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/resources">
          Resources
        </a>
        <Modal title="Viruses &amp; Malware" id="files">
          <Fragment slot="modal-content">
            <p>
              <a href="/media/files/Meme_Coin.ZIP" download>Meme_Coin (ZIP)</a>
              <a href="/media/files/Meme_coin_miner.exe" download>Meme_Coin (EXE)</a>
              <a href="/media/files/My_App.zip" download>My_App (ZIP)</a>
              <a href="/media/files/Myballzhert.zip" download>Myballzhert (ZIP)</a> by Dream3456789 (Password: "mysubsarethebest")
            </p>
            <p>
              <a href="/media/files/Trojan_Spyer.exe" download>Trojan_Spyer (EXE)</a> by MagSam2
            </p>
            <p>
              <a href="/media/files/Nuking-Discord-Server-Bot-Nuke-Bot-master.zip" download>Nuking Discord Bot (ZIP)</a>
            <p>
              <a href="/media/files/Scammed.zip" download>Scam (ZIP)</a> by the pfp is for nuking kpopserver
            </p>
            <p>
              <a href="/media/files/BFF_DoS.exe" download>BFF_DoS (EXE)</a>
              <a href="/media/files/Code.txt" download>Code (TXT)</a>
              <a href="/media/files/baby.bat" download>Baby (BAT)</a>
              <a href="/media/files/BabyCodes.txt" download>BabyCodes (TXT)</a> by Corrupt Assassin
            </p>
          </Fragment>
        </Modal>
        <Modal title="Code Samples" id="code">
          <Fragment slot="modal-content">
            <p>
              <a href="https://github.com/FordArthur/insitucs">Insitux Compiler</a>
              <a href="https://github.com/FordArthur/chess-ix">Chess I (Insitux)</a>
              <a href="/media/files/chess.ix" download>Chess II (Insitux)</a>
              <a href="https://github.com/FordArthur/ballistics-ix">Ballstics I (Insitux)</a>
              <a href="https://github.com/FordArthur/Insitux-math-libs">Math Libs for Insitux</a>
              <a href="https://github.com/FordArthur/svelte-app">svelte-app</a>
              <a href="/media/files/RosettaCode.ix" download>Rosetta Code (Insitux)</a>
              <a href="/media/files/polinomic-solver.ix" download>Polinomic Solver (Insitux)</a>
              <a href="/media/files/ambiguous-operator.ix" download>Ambiguous Operator (Insitux)</a>
              <a href="/media/files/rockpaperscissors.ix" download>Rock Paper Scissors (Insitux)</a> by Al-Ford Arthur
            </p>
            <p>
              <a href="/media/files/rockpaperscissors.py" download>Rock Paper Scissors (Python)</a> by Sezieru
            </p>
            <p>
              <a href="https://github.com/Savageboitim13/UMS-WF/">UMS-WF</a>
              <a href="https://github.com/Savageboitim13/Principles-CSharp">Principles for C# & Java</a> by venenjean
            </p>
            <p>
              <a href="https://github.com/phunanon/ip3">IP3</a> by Patrick
            </p>
            <p>
              <a href="https://github.com/JSman225/ROTL">ROTL</a> by JSman225
            </p>
            <p>
              <a href="/media/files/test-OBFUSCATED.py" download>ISS Obfuscator (Python 3.9)</a> by vesper
            </p>
            <p>
              <a href="/media/files/long_snakes_long_code_.py" download>Snake Game in One Line of Code (Python)</a> by ByThon
            </p>
            <p>
              <a href="https://github.com/ProtDos/ScammerPayback">ScammerPayback</a>
              <a href="/media/files/tic.py" download>Tic Tac Toe (Python)</a>
              <a href="https://github.com/ProtDos/Flask-PayPal/archive/refs/heads/main.zip" download>Flask PayPal (Python | ZIP)</a>
              <a href="/media/files/stress.py" download>Apache Stress Tester (Python)</a>
              <a href="/media/files/bestree.py" download>bestree (Python)</a>
              <a href="/media/files/protect.py" download>SSL Protection (Python)</a>
              <a href="https://github.com/ProtDos/SeedPhraseHack/archive/refs/heads/main.zip" download>SeedPhraseHack (Python | ZIP)</a>
              <a href="/media/files/checker.py" download>Domain Checker (Python)</a>
              <a href="https://github.com/ProtDos/DiscordMassDM">Discord Mass DM</a> (<a href="https://github.com/ProtDos/DiscordMassDM/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/IP-Address-Generator-Checker">IP Address Generator Checker</a> (<a href="https://github.com/ProtDos/IP-Address-Generator-Checker/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/ClashOfClans-Wrapper">Clash of Clans Wrapper</a> (<a href="https://github.com/ProtDos/ClashOfClans-Wrapper/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/Crunch-PasswordGenerator/archive/refs/heads/main.zip" download>Crunch Password Generator (Python | ZIP)</a>
              <a href="https://github.com/ProtDos/Mint">Mint (OSINT)</a> (<a href="https://github.com/ProtDos/Mint/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/WebcamSearch/archive/refs/heads/main.zip" download>Webcam Search (Python | ZIP)</a>
              <a href="https://github.com/ProtDos/Discord-Token-Onliner">Discord Token Onliner</a> (<a href="https://github.com/ProtDos/Discord-Token-Onliner/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/boosint">boosint (OSINT)</a> (<a href="https://github.com/ProtDos/boosint/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/ntru">ntru</a> (<a href="https://github.com/ProtDos/ntru/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/pq-ntru">pq-ntru</a> (<a href="https://github.com/ProtDos/pq-ntru/archive/refs/heads/main.zip">Python | ZIP</a>) <a href="https://github.com/ProtDos/IP-Address-Generator-Checker">IP Adress Generator Checker</a> By CodingLive
            </p>
            <h3>ncrypt.c by Sezieru</h3> This is a relatively simple example for using <code>crypt()</code> on Linux to generate Linux-compatible password hashes. This is useful for replacing a lost password hash, for example. <p>
              <a href="/media/files/ncrypt.c" download>ncrypt.c Download</a>
            </p>
            <h3> Other OSINT Guides </h3>
            <p><b>Use caution upon entering these links as they grab your personal information upon entering.</b></p>
            <p>
              <a href="https://github.com/ProtDos/VanishGuide">VanishGuide</a>
              <a href="https://github.com/ProtDos/discord-phishing-links">Discord Phishing Links</a>
              <a href="https://github.com/ProtDos/IP-Address-List">IP Address List</a> by CodingLive
            </p>
          </Fragment>
        </Modal>
        <Modal title="Apps &amp; Software" id="app">
          <Fragment slot="modal-content">
            <p>
              <a href="/media/files/sms_bomb.apk" download>SMS Bomb (APK)</a> (<a href="/sms">Site</a>) by CodingLive
            </p>
            <h3>Veilo by CodingLive</h3>
            <p>
              <a href="https://veilo.protdos.com/download">Veilo</a>
            </p>
            <p>
              <a href="/redirect/veilo">Veilo Download</a>
            </p>
            <h3>Encochat by CodingLive</h3>
            <p>
              <a href="https://github.com/ProtDos/encochat">Encochat v1</a>
            </p>
            <p>
              <a href="https://github.com/ProtDos/PrivateChatOld">Encochat v2</a>
            </p>
            <p>
              <a href="https://github.com/ProtDos/PrivateChat">Encochat v3</a>
            </p>
            <p>
              <a href="https://app.protdos.com/">Encochat Website</a>
            </p>
            <p>
              <a href="/redirect/encochat">Encochat Download</a>
            </p>
            <h3>vpnchecker by CodingLive</h3>
            <p><b>Use caution upon entering these links as they grab your personal information upon entering.</b></p>
            <p>
              <a href="https://github.com/ProtDos/vpnchecker">vpnchecker</a> (<a href="https://github.com/ProtDos/vpnchecker/archive/refs/heads/main.zip">HTML | ZIP</a>)
            <p>
              <a href="https://protdos.github.io/vpnchecker">vpnchecker Website</a>
            </p>
          </Fragment>
        </Modal>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/python">
          Python Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/cplusplus">
          C++ Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/haskell">
          Haskell Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/html">
          HTML Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/css">
          CSS Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/javascript">
          JavaScript Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/sql">
          SQL Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/json">
          JSON Basics
        </a>
      </div>
    </main>
    <Footer author="Alex Toucan & CodingLive" />
  </div>
  <BackToTop />
</div>
<Scripts highlight="true" modal="true" accordion="true" scrollspy="true" />
