---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero      from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="CodingHome" heroid="codinghome" icon="codinghome.webp" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." keywords="Scripts, viruses, coding," author="Alex Toucan & CodingLive" />
<div id="page">
  <Navbar /> 
  <div id="main-content">
    <Hero id="codinghome" title="CodingHome" description="CodingHome is a coding and web development community where tech enthusiasts of all skill levels can come together." imageSrc="/media/images/codinghome.webp" imageWidth="15%" minImageWidth="150px" imageClasses="me-md-3 rounded-2" container="true"
      icons={[
        { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/pgGfhDVrmS" },
        { icon: "github", desc: "GitHub", href: "https://github.com/protdos" },
      ]},
      buttons={[
        { href: "https://discord.gg/pgGfhDVrmS", text: "Discord Server Invite", type: "primary" },
        { href: "/sms", text: "SMS Bomb", type: "secondary" },
      ]},
    />  
    <main id="codinghome" class="text-center container">
      <div id="disclaimer">
        <h2> Disclaimer </h2>
        <p> We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br>
          <br> Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM. <br>
          <br> If it's an APK file, use an emulator. <br>
          <br>
          <a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a>
          <br>
          <a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
        </p>
      </div>
      <hr>
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/resources">
          Resources
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/viruses">
          Viruses & Malware
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/code">
          Code Samples
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/apps">
          Apps & Software
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/python">
          Python Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/cplusplus">
          C++ Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/haskell">
          Haskell Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/html">
          HTML Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/css">
          CSS Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/javascript">
          JavaScript Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/sql">
          SQL Basics
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/codinghome/json">
          JSON Basics
        </a>
      </div>
    </main>
    <Footer author="Alex Toucan & CodingLive" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
