---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="ATP's Discord Rules" description="Our rules towards Discord Servers." author="Alex Toucan"/>
<Navbar />
       <main id="discord-rules" class="container">
<h1 class="title"> ATP's Discord Rules </h1> 
<h5> Last Updated: <time>December 20th, 2023</time>.</h5>
         <h5> Into Effect: <time>December 20th, 2023</time>.</h5>
         <p><a href="https://discord.com/terms">Discord ToS</a></p>
    <p><a href="https://discord.com/guidelines">Discord Community Guidelines</a></p>
<div id="definition">
<h3> Defintions </h3> <p> Company: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and Noodle Hackerspace (commonly referred to as "We", "Us", "Our") 
<br> <br>
    You: You refers to the individual accessing or using the Website, Service, or the company or any other legal entity on behalf of which such individual is accessing or using any Discord Server, Website, File (including code), and access to any other services by/owned by AT Products. </p> 
</div>
<div id="discord-tos">
<h3> I: Discord ToS </h3>
<p>This section is in adherence to the <a href="https://discord.com/terms">Discord Terms of Service (ToS)</a> and the <a href="https://discord.com/guidelines">Discord Community Guidelines</a>. Please refer to these documents for comprehensive guidance on the coding and hacking aspects as outlined by Discord.<br><br>
It's mandatory to be at least 13 years old, by US law, to access our servers. Any engagement in activities that border on illegalities will be treated with utmost seriousness.<br><br>
Non-ethical hacking, which encompasses illegal actions such as phishing, DDOS attacks, token theft, malware distribution, and other similar techniques, is strictly prohibited. Content related to these practices is <b>exclusive to our website for cooperating with the Discord ToS</b>, and sharing or promoting such content within our servers is prohibited.<br><br>
Additionally, in the realm of coding and ethical hacking, refrain from sharing or providing access to content involving hacking, cracking, or distribution of stolen goods, pirated content, or accounts. Any breach, whether complete or partial, of the <a href="https://discord.com/terms">Discord ToS</a> or the <a href="https://discord.com/guidelines">Discord Community Guidelines</a> will result in an immediate ban across all our Discord servers.
</p></div>
<div id="our-tos">
<h3> II: Our Discord Server Rules </h3>
<p>This section outlines the guidelines for using our Discord servers. Minor infractions will result in a warning or mute, while severe violations may lead to a kick or ban.<br><br>
We uphold the Discord Terms of Service (TOS) earnestly, and any breach—be it minor or major—will result in a permanent ban from any AT Products servers, excluding services.<br><br>
Certain Discord servers within AT Products' Family of Services and Products may enforce additional rules specific to their community. Our Discord Rules document and any supplementary regulations will be considered the governing norms within our Discord communities and servers.<br><br>
Respect for our members is paramount. Acts such as bullying, toxicity, instigating drama, or any intentional mental and/or emotional harm towards our members are strictly prohibited and will be dealt with seriously.<br><br>
Discriminatory behavior, including homophobia, transphobia, racism, sexism, or any other form of prejudice, will not be tolerated. Any such conduct will result in disciplinary action, including immediate bans. Individuals known to espouse these beliefs will be banned preemptively. Failure to comply with our rules will result in a ban.<br><br>
Raiding is a serious offense as it violates Discord TOS and will lead to permanent bans for the entire server or anyone involved in the activity from any AT Products servers and services.<br><br>
Evading a ban may result in IP termination with no chance of appeal. Creating alternative accounts while banned is strictly prohibited.<br><br>
The appropriateness of NSFW content varies among servers. Posting NSFW content is only permitted in designated NSFW channels. Prohibited content includes pornography, gore, child porn, and bestiality, as they are illegal under US law. The age of consent in the US, set at 18, applies to all AT Products services regardless of local regulations.<br><br>
Individuals associated with illegal activities, such as bestiality or pedophilia, will be promptly banned if such behavior is reported or confirmed.<br><br>
Hackers posing a threat to AT Products or its affiliates will be banned from all servers and services. Those already known to engage in hacking activities will be banned preemptively for our community's safety.
</p>
</div>
<div id="acceptance">
<h3> III: Acceptance</h3> <p>
    Upon visiting any of the websites, or servers, You signify your agreement to the following TOS. In the circumstance that You violate any section of the TOS, We reserve the right to revoke Your privileges and ability to use the server and services we provide.
<br> <br>
    We reserve the right, at our sole discretion, to modify or replace these TOS at any time. If a revision has a sufficient effect on you, we will make efforts to provide at least a 30-day notice before any new Terms take effect. A sufficient revision is determined at our sole discretion. </p> 
          </div> </main>
<Footer />
<BackToTop />
</div>
<Scripts />
