---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="ATP's Discord Rules" description="Our rules towards Discord Servers." author="Alex Toucan" />
<div id="page">
  <Navbar />
  <main id="discord-rules" class="container">
    <h1 class="title"> ATP's Discord Rules </h1>
    <h5> Last Updated: <time>March 17th, 2024</time>. </h5>
    <h5> Into Effect: <time>March 27th, 2024</time>. </h5>
    <p>
      <a href="https://discord.com/terms">Discord ToS</a>
    </p>
    <p>
      <a href="https://discord.com/guidelines">Discord Community Guidelines</a>
    </p>
    <div id="definition">
      <h3> Definitions </h3>
      <p> Company: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and Noodle Hackerspace (commonly referred to as "We", "Us", "Our") <br>
        <br> You: You refers to the individual accessing or using the Website, Service, or the company or any other legal entity on behalf of which such individual is accessing or using any Discord Server, Website, File (including code), and access to any other services by/owned by AT Products.
      </p>
    </div>
    <div id="discord-tos">
      <h3>I: Discord ToS</h3>
      <p> This section is reserved for the <a href="https://discord.com/terms">Discord ToS</a> and <a href="https://discord.com/guidelines">Discord Community Guidelines</a>. Please read the two web pages for full Discord Guidelines. <br>
        <br> The following rules will be enforced: It's required to be 13 and over due to US law. Any partially illegal activity will be taken seriously. Non-ethical hacking (meaning illegal hacking), such as phishing, DDOS, token theft, malware distribution, and other non-ethical hacking techniques, is strictly prohibited and exclusive to our website. Regarding coding/ethical hacking, do not distribute or provide access to content involving hacking, cracking, distribution of stolen goods, pirated content, or accounts. Any full or partial violation of the <a href="https://discord.com/terms">Discord ToS</a> and the <a href="https://discord.com/guidelines">Discord Community Guidelines</a> will result in an instant ban on all of our Discord Servers.
      </p>
    </div>
    <div id="our-tos">
      <h3>II: Our Discord Server Rules</h3>
      <p> This section is reserved for our rules to use our Discord servers. Minor violations will result in a mute/warning. Major violations will result in a kick/ban. <br>
        <br> We take the Discord TOS seriously, and any minor or major violation will result in a permanent ban from any AT Products servers, but not services. <br>
        <br> Some of the Discord Servers that take part in AT Products's Family of Services and Products may have different rules that take place in their community. So let alone our Discord Rules document, and the extra rules We may have, will be taken in place as the rules to be in our Discord Communities and Servers. <br>
        <br> Please have respect for our members. Bullying, being toxic, causing drama, or any intentional mental and/or emotional harm towards our members is completely prohibited and will be taken seriously. <br>
        <br> NSFW matters in some servers. If there isn’t an NSFW channel, do not post any NSFW at all. If there is an NSFW channel or more, post NSFW there. NSFW could apply to pornography only, as gore, child porn, and bestiality are completely prohibited as it is against US law. 18 is the age of consent in the US and will apply to any AT Products services, regardless of local regulations. <br>
        <br> Discriminatory behavior, including homophobia, transphobia, racism, sexism, or any other form of discrimination towards individuals, will not be tolerated and will result in disciplinary action. If already known to engage in such behaviors, individuals will be banned beforehand. Failure to comply with our rules will lead to a ban. <br>
        <br> Zoophilia, pedophilia, necrophilia, and any other forms of illegal behavior with/without paraphilias, such as exploitation of minors/animals, will not be tolerated under any circumstances. Any such activity will result in an instant ban if mentioned in any form and may be reported to Discord staff, law enforcement authorities, and/or the National Center for Exploited and Missing Children respectively. Any other sexual attractions that are not necessarily illegal (paraphilia) should not be shared and also will result in an instant ban if mentioned in any form. <br>
        <br> Raiding will be taken seriously as it violates Discord TOS (also in exploits), and your whole server/anyone involved will be permanently banned from any AT Products servers and services. <br>
        <br> Evading a ban may result in an IP termination and will never get to appeal. Any alternative accounts are prohibited if you are banned. <br>
        <br> If you’re known as something unlawful, such as bestiality or a pedophile, you will be banned or even be banned beforehand if it does spread around. <br>
        <br> Any hackers that threaten AT Products or its affiliates will be banned from all servers and services. Those already known as hackers will be banned beforehand for our safety.
      </p>
    </div>
    <div id="acceptance">
      <h3> III: Acceptance</h3>
      <p> Upon visiting any of our servers, You signify your agreement to the following TOS. In the circumstance that You violate any section of the TOS, We reserve the right to revoke Your privileges and ability to use the server and services we provide. <br>
        <br> We reserve the right, at our sole discretion, to modify or replace these TOS at any time. If a revision has a good effect on you, we will make efforts to provide at least a 30-day notice before any new Terms take effect. A sufficient revision is determined at our sole discretion.
      </p>
    </div>
  </main>
  <Footer />
  <BackToTop />
</div>
<Scripts />
