---
import DefaultBody from '../layouts/DefaultBody.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="ATP's Discord Rules" description="Our rules towards Discord Servers." author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <main id="discord-rules" class="container">
      <h1 class="title"> ATP's Discord Rules </h1>
      <h5> Last Updated: <time>October 2nd, 2024</time>. </h5>
      <h5> Into Effect: <time>October 10th, 2024</time>. </h5>
      <p>
        <a href="https://discord.com/terms">Discord ToS</a>
        <br>
        <a href="https://discord.com/guidelines">Discord Community Guidelines</a>
      </p>
      <div id="definition">
        <h3> Definitions </h3>
        <p> <b>Website:</b> <a href="https://atproducts.xyz">atproducts.xyz</a>
        <br> <b>Company:</b> AT Products LLC/ATPLLC: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and the Noodle Hackerspace (commonly referred to as "We", "Us", "Our") <br>
        <br> <b>Server(s)/Communities:</b> The Script Community, Ethical Hacking Society, CodingHome, and the Noodle Hackerspace.<br>
        <br> <b>Services:</b> Read the <a href="https://beta.atproducts.xyz/paidterms/">Paid Services & Website Creation Policies and Terms</a> for more information. <br>
        <br> <b>You/Your:</b> You/Your refers to the individual, organization, or company accessing or using the Servers, Website, Service, or the company or any other legal entity on behalf of which such individual, organization, or company is accessing or using any Discord Server, Website, File (including code), and access to any other Services by/owned by AT Products LLC.
      </div>
      <div id="discord-tos">
        <h3>I: Discord ToS</h3>
        <p> This section is reserved for the <a href="https://discord.com/terms">Discord ToS</a> and <a href="https://discord.com/guidelines">Discord Community Guidelines</a>. Please look at the two web pages for full Discord Guidelines. <br>
          <br> The following rules will be enforced: It is currently enforced to be 13 and over due to US law. Any partially illegal activity will be taken seriously. Non-ethical hacking (meaning illegal hacking), such as phishing, DDOS, token theft, malware distribution, and other non-ethical hacking techniques, is strictly prohibited and only ethical hacking is exclusive to our Website. Regarding coding/ethical hacking, do not distribute or provide access to content involving hacking, cracking, distribution of stolen goods, pirated content, or accounts. Any full or partial violation of the <a href="https://discord.com/terms">Discord ToS</a> and the <a href="https://discord.com/guidelines">Discord Community Guidelines</a> will result in an instant ban on all of our Discord Servers.
        </p>
      </div>
      <div id="our-tos">
        <h3>II: Our Discord Server Rules</h3>
        <p> This section is reserved for our rules to use our Discord Servers. Typical punishments in our servers are as follows: minor violations will result in a mute/warning, and major violations will result in a kick/ban. Rules and policies may be different in some servers and may not be outlined in this policy. <br>
          <br> We take the Discord TOS seriously, and any minor or major violation will result in a permanent ban from any AT Products LLC's Servers, but not Services. <br>
          <br> Some Discord Servers within AT Products LLC's Family of Services and Products may have different community rules. So let alone our Discord Rules document, and the extra rules We may have in other Servers, will be taken in place as the rules to be in our Discord communities and Servers. <br>
          <br> Please have respect for our members. Bullying, being toxic, causing drama, or any intentional mental and/or emotional harm towards our members is completely prohibited and will be taken seriously. <br>
          <br> NSFW matters in some Servers. If there are no NSFW channels, do not post any NSFW. If there is an NSFW channel or more, post NSFW there as NSFW could apply to pornography only, as gore, child porn, and bestiality are completely prohibited as it is against US law. 18 is the age of consent in the US and will apply to any AT Products LLC's Services, regardless of local regulations. <br>
          <br> Discriminatory behavior, including homophobia, transphobia, racism, sexism, or any other form of discrimination towards individuals, will not be tolerated and will result in disciplinary action. If already known to engage in such behaviors, individuals will be banned beforehand. Failure to comply with our rules will lead to a ban (dependent on the Server's policy). <br>
          <br> Zoophilia, pedophilia, necrophilia, and any other forms of illegal behavior with/without paraphilias, such as exploitation of minors/animals, will not be tolerated under any circumstances. Any such activity will result in an instant ban if mentioned in any form and may be reported to Discord staff, law enforcement authorities, and/or the <a href="https://www.missingkids.org/HOME">National Center for Exploited and Missing Children</a> respectively. Any other sexual attractions (even if they are not necessarily illegal) shall not be shared and also will result in a punishment (dependent on the Server's policy) if mentioned in any form. <br>
          <br> Raiding will be taken seriously as it violates Discord TOS (also in exploits), and Your whole Server/anyone involved will be permanently banned from any AT Products Servers, and Services. <br>
          <br> Evading a ban may result in an IP termination and Your privilege of appealing will be revoked (if the Server allows for appeals). Any alternative accounts are prohibited if You are banned. <br>
          <br> If You engage in unlawful activities such as bestiality or pedophilia, You will be banned immediately, and preemptive bans may be applied if such behavior is reported or suspected. <br>
          <br> Any person that threatens AT Products LLC or its affiliates with exploiting or hacking will be banned from all Servers and Services. Those already known as exploiters or (blackhat) hackers may be banned (dependent on the Server's policy) beforehand for our safety.
        </p>
      </div>
      <div id="acceptance">
        <h3> III: Acceptance</h3>
        <p> Upon visiting and joining any of our Servers, You signify Your agreement to the following rules. If You violate any section of the Discord Rules, we reserve the right to revoke Your privileges and ability to use what we provide of Services and Servers. <br>
          <br> We reserve the right, at our sole discretion, to modify or replace these rules at any time. If a revision has a good effect on You, we will make efforts to provide at least a 30-day notice before any new rules take effect. A sufficient revision is determined at our sole discretion.
        </p>
      </div>
    </main>
    <Footer />
  </div>
  <BackToTop />
</div>
</DefaultBody>
