---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Ethical Hacking Society" heroid="ehs" description="The Ethical Hacking Society is about ethical hacking as a whole." keyword="scripts, viruses, coding," author="Alex Toucan & CobraCommander" />
<div id="page">
  <Navbar />
  <div class="alert alert-dark mb-0" role="alert"> This is an inactive community. Expect no new sections or changes without special exceptions. </div>
  <div id="main-content">
    <Hero id="ehs" title="Ethical Hacking Society" description="The Ethical Hacking Society is about ethical hacking as a whole." 
      buttons={[
        { href: "https://discord.gg/yCnteHexEs", text: "Discord Server Invite", type: "primary" },
        { href: "/backup/ehs", text: "View the all laid out format", type: "secondary" },
      ]},
      icons={[
          { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/zPdxVST5VU" },
          { icon: "discord", desc: "Anti Vegans", href: "https://discord.gg/yCnteHexEs" },
      ]},
    />
    <main id="ehs" class="mt-3 text-center container">
      <div id="disclaimer">
        <h2> Disclaimer </h2>
        <p> We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br>
          <br> Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM. <br>
          <br> If it's an APK file, use an emulator. <br>
          <br>
          <a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a>
          <br>
          <a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
        </p>
      </div>
      <hr>
      <div id="resources" class="text-center">
        <h2> Resources </h4>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/slammer">
          Slammer
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/dos">
          Denial of Service
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/ddos">
          Distributed Denial of Service
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/token">
          Token Grabbers
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/ransomware">
          Ransomware
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/trojans">
          Trojans
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/worms">
          Worms
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/ehs/other">
          Other Resources
        </a>
      </div>
    </main>
    <Footer author="Alex Toucan & CobraCommander" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
