---
import DefaultBody from '../layouts/DefaultBody.astro';
import HeroPynx from '../components/secondary/HeroPynx.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="ezpkgm" heroid="ehs" description="ezpkgm is a JavaScript package manager." keywords="ezpkgm, BxPP, AT Products LLC" author="Alex Toucan & Pynx">
<div id="page">
  <Navbar />
  <div id="main-content">
    <HeroPynx
      title="ezpkgm"
      description="Made by Pynx &semi; A JavaScript package manager."
      buttons={[
        { href: "#downloads", text: "Downloads", type: "primary" },
        { href: "https://github.com/ezpkgm/ezpkgm", text: "<i class='bi bi-github fs-6 me-2'></i> GitHub Repo", type: "secondary" },
      ]},
      dropdownItems={[
        { navigationDesc: "General Information", navigationLink: "#general-info" },
        { navigationDesc: "Downloads", navigationLink: "#downloads" },
      ]}
    />
    <main id="ezpkgm" class="container">
      <div id="general-info">
        <h2> General Information </h2>
        <p> ezpkgm, made by Pynx, is a JavaScript/node.js package manager.</p>
      </div>
      <hr>
      <div id="downloads">
        <h2>Downloads</h2>
        <div class="d-grid d-sm-flex gap-2 mb-2">
          <a class="btn btn-primary btn-lg" href="https://github.com/ezpkgm/ezpkgm/archive/refs/heads/main.zip" download>Download</a> 
        </div>
      </div>
    </main>
    <Footer author="Alex Toucan & Pynx" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
