---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Modal  from '../components/Modal.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Flash Documentation" heroid="flash" icon="Adobe_Flash_Player_32.svg.png" description="Flash might be no longer supported by Adobe, but we'll keep Flash Player going until the end of time!" keywords="Flash Documentation, AT Products" author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <Hero id="flash" description="Flash might be no longer supported by Adobe, but we'll keep Flash Player going until the end of time!" imageSrc="/media/images/flashdoc.webp" imageWidth="50%" imageAlt="Flash Documentation" minImageWidth="250px" imageClasses="bg-light p-1 bg-opacity-50 rounded-2" />
    <main id="flash" class="text-center container">
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeair">
          Adobe AIR
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeairlogohistory">
          Adobe AIR Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobedirector">
          Adobe Director
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobedirectorlogohistory">
          Adobe Director Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeshockwave">
          Adobe Shockwave
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeshockwavelogohistory">
          Adobe Shockwave Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeflashlogohistory">
          Adobe Flash Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/flash2021">
          How to use Flash after 2021
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/flashocx">
          How to fix the &quot;missing Flash.ocx&quot; error after Windows 2000
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/amdfix">
          AMD GPU Fix for Flash Player
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/browsers">
          Browsers that support the Flash Player plug-in
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/android">
          Flash Player for Android
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/tools">
          Tools for Flash Player
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/screensavers">
          How to Run Apps in Screensavers
        </a>
        
        <Modal title="Flash Games for Today's Times" id="fg">
          <Fragment slot="modal-content">
              <h2>Browser Games</h2>
              <p>Browser games are not that popular due to the 2020s having modern and widely used browsers not supporting the original Flash Engine. Either websites went to HTML5 games or replaced their engines with <a href="https://ruffle.rs/">Ruffle</a> or others.</p>
              <p><a href="https://www.newgrounds.com/">Newgrounds</a>. This is a special one as they allow any users to post content. They replaced their engine with their <a href="https://www.newgrounds.com/flash/player">downloadable one</a>.</p>
              <p>There's tons of generic flash games, like the following:<br>
                  <a href="https://www.crazygames.com/t/flash">CrazyGames</a><br>
                  <a href="https://armorgames.com/category/flash-games">Armor Games</a><br>
                  <a href="https://www.kongregate.com/flash-games">Kongregate</a><br>
                  <a href="https://poki.com/en/flash">Poki</a><br>
                  <a href="https://www.addictinggames.com/">Addicting Games</a><br>
                  <a href="https://www.numuki.com/games/flash/">NuMuKi</a>
              </p>
              <p>If you want to support high quality games, you can do so on <a href="https://store.steampowered.com/curator/41097579-Adobe-Flash-Games/">Steam</a>.</p>
              <h2>App Games</h2>
              <p>Not many Flash games are on apps, mostly after 2020.</p>
              <p><a href="https://flashpointarchive.org/">Flashpoint</a>, it contains a ton, mostly flash games.<br>
                  <a href="https://archive.org/details/softwarelibrary_flash_games">Archive.org</a>, it contains tons of SWF files for the <a href="flash2021">App installation</a>.</p>
          </Fragment>
        </Modal>
        <Modal title="Flash Engines and Alternatives" id="eg">
          <Fragment slot="modal-content">
              <h2>Browser Supports</h2>
              <p><a href="https://ruffle.rs/">Ruffle</a></p>
              <h2>Apps</h2>
              <p>These ones are for computers, if you use Android, <a href="#" data-bs-target="#br" data-bs-toggle="modal" data-bs-dismiss="modal">click here for the browsers</a> or <a href="#" data-bs-target="#ao" data-bs-toggle="modal" data-bs-dismiss="modal">click here for the actual flash engine</a>.</p>
              <p><a href="https://ruffle.rs/">Ruffle</a><br>
                  <a href="https://flashpointarchive.org/">FlashPoint</a></p>
          </Fragment>
        </Modal>
      </div>
    </main>
    <Footer />
  </div>
  <BackToTop />
</div>
<Scripts modal="true" scrollspy="true" />
