---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Flash Documentation" heroid="flash" color="#4a0000" icon="Adobe_Flash_Player_32.svg.png" description="Flash might be no longer supported by Adobe, but we'll keep Flash Player going until the end of time!" keywords="Flash Documentation, AT Products" author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <Hero id="flash" description="Flash might be no longer supported by Adobe, but we'll keep Flash Player going until the end of time!" imageSrc="/media/images/flashdoc.webp" imageWidth="50%" imageAlt="Flash Documentation" minImageWidth="250px" imageClasses="bg-light p-1 bg-opacity-50 rounded-2" />
    <main id="flash" class="text-center container">
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeair">
          Adobe AIR
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeairlogohistory">
          Adobe AIR Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobedirector">
          Adobe Director
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobedirectorlogohistory">
          Adobe Director Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeshockwave">
          Adobe Shockwave
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeshockwavelogohistory">
          Adobe Shockwave Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/adobeflashlogohistory">
          Adobe Flash Logo History
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/flash2021">
          How to use Flash after 2021
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/flashocx">
          How to fix the &quot;missing Flash.ocx&quot; error after Windows 2000
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/amdfix">
          AMD GPU Fix for Flash Player
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/browsers">
          Browsers that support the Flash Player plug-in
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/android">
          Flash Player for Android
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/tools">
          Tools for Flash Player
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/screensavers">
          How to Run Apps in Screensavers
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/flashgames">
          Flash Games for Today's Times
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/flash/alt">
          Flash Engines and Alternatives
        </a>
      </div>
    </main>
    <Footer />
  </div>
  <BackToTop />
</div>
</DefaultBody>
