---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="ATPLLC DoBT - Beta Testing Guidelines" description="View our guidelines to become a beta tester." author="Alex Toucan" />
<div id="page">
	<Navbar />
	<main id="guidelines" class="container">
		<h1 class="title">Beta Testing Guidelines</h1>
		<h5> Last Updated: <time>March 12th, 2023</time>. </h5>
		<h5> Into Effect: <time>March 18th, 2023</time>. </h5>
		<div id="disclaimer">
			<p class="my-3">
				<i>This legal document does not apply to the <a href="https:/atproducts.xyz">main website's</a> viewers/users, only the Department of Beta Testing.</i>
			</p>
		</div>
		<div id="definitions">
		    <h3> Definitions </h3>
		    <p>
		        <b>Department:</b> Department of Beta Testing (DoBT) of AT Products LLC. <br>
		        <b>Main Website/General Website:</b> <a href="https://atproducts.xyz">atproducts.xyz</a> <br>
		        <b>Company:</b> The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and Noodle Hackerspace. <br> 
		        <b>Products:</b> Flash Documentation, MDickie Projects, and SMS Bomb. (commonly referred to as "We", "Us", and "Our") <br>
		        <b>Beta Testers/Testers:</b> Individuals or groups enlisted under the Department of Beta Testing (DoBT) of AT Products LLC to evaluate pre-release products and provide feedback. <br>
		        <b>You:</b> Refers to any individual accessing or using the Website, Service, or Code provided by AT Products LLC, or any legal entity on whose behalf such individual accesses or uses the aforementioned resources.
		    </p>
		</div>
		<div id="general-guidelines">
		    <h3> I: General Guidelines </h3>
		    <p> 
		        For <a href="/apply">applications</a> to participate in beta testing services, we reserve the right to accept or deny any applicants for reasons that do not violate our <a href="https://atproducts.xyz/titleiiandvii">Title II and VII policy</a>, as outlined in the <a href="https://www.archives.gov/milestone-documents/civil-rights-act">Civil Rights Act of 1964</a>, regarding volunteers. <br><br>
		        All beta testers are considered volunteers and are not employees. No financial compensation will be provided to beta testers. Beta testers may choose to discontinue participation by contacting <a href="mailto:support@atproducts.xyz">support@atproducts.xyz</a>. Once discotinued, a final confirmation email will be sent, and further communication regarding beta testing services will cease. <br><br>
		        Beta testers may be removed if they violate the main website's <a href="https://atproducts.xyz/terms">Terms of Service</a> or <a href="https://atproducts.xyz/discord">Discord Rules</a>.
		    </p>
		</div>
		<div id="acceptance">
		    <h3> II: Acceptance </h3>
		    <p>
		        By submitting your <a href="/apply">application</a>, you agree to adhere to the following guidelines. Failure to comply with any section may result in the revocation of your beta testing privileges. <br><br>
		        We reserve the right to modify or replace these guidelines at any time, at our sole discretion. In the event of significant changes affecting users, we will make reasonable efforts to provide a minimum of 30 days' notice before the new Guidelines take effect. Significant revisions will be determined solely by us.
		    </p>
		</div>
	</main>
	<Footer />
	<BackToTop />
</div>
<Scripts />
