---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Beta Testing Guidelines" description="View our guidelines to become a beta tester." author="Alex Toucan" />
<div id="page">
	<Navbar />
	<main id="guidelines" class="container">
		<h1 class="title">Beta Testing Guidelines</h1>
		<h5> Last Updated: <time>March 12th, 2023</time>. </h5>
		<h5> Into Effect: <time>March 12th, 2023</time>. </h5>
		<div id="disclaimer">
			<p class="my-3">
				<i>This legal document does not apply to the <a href="https:/atproducts.xyz">main website's</a> viewers/users, only the Department of Beta Testing.</i>
			</p>
		</div>
		<div id="definitions">
			<h3> Definitions </h3>
      <p> Department: Department of Beta Testing (DoBT) of AT Products LLC. <br>
      <br> Main Website/General Website: <a href="https://atproducts.xyz">atproducts.xyz</a> <br>
			<br> Company: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and Noodle Hackerspace. <br> Products: Flash Documentation, MDickie Projects, and SMS Bomb. (commonly referred to as "We", "Us", and "Our") <br>
			<br> Beta Testers/Testers: Beta Testers under the Department of Beta Testers of AT Products LLC.
      <br> You: You refers to the individual accessing or using the Website, Service, or Code, or the company or any other legal entity on behalf of which such individual is accessing or using the Website, Service, or Code, as applicable.
			</p>
		</div>
		<div id="general-guidelines">
			<h3>I: General Guidelines </h3>
      <p> For <a href="/apply">applications</a> to help beta test services, we reserve the right to accept or deny any applicants that is not against the <a href="https://atproducts.xyz/titleiiandvii">Title II and VII policy</a> in accordance of the <a href="https://www.archives.gov/milestone-documents/civil-rights-act">The Civil Rights Act of 1964</a> regarding volunteers. 
      <br><br> All beta testers are considered volunteers, meaning they are not considered employees as no payment will be made to the volunteers (beta testers). Beta testers may unenroll by contact <a href="mailto:support@atproducts.xyz">support@atproducts.xyz</a>. Once unenrolled, one final email may be sent out to confirm your unenrollment, then we will no longer contact you regarding beta testing services.
      <br><br> Beta Testers may be removed if they break the main website's <a href="https://atproducts.xyz/terms">Terms of Service</a> or <a href="https://atproducts.xyz/discord">Discord Rules</a>. </p>
		</div>
		<div id="acceptance">
			<h3> II: Acceptance </h3>
			<p> Upon submitting your <a href="/apply">application</a>, You signify your agreement to the following guidelines. In the circumstance that You violate any section of the guidelines, We reserve the right to revoke Your privileges and ability to beta test as mentioned prior. <br>
			<br> At our sole discretion, we reserve the right to modify or replace these guidelines at any time. If a revision has a sufficient effect on You, we will make efforts to provide at least a 30-day notice before any new Terms take effect. Just so you know, a sufficient revision is determined at Our sole discretion.
			</p>
		</div>
	</main>
	<Footer />
	<BackToTop />
</div>
<Scripts />
