---

---

<html class="h-100" lang="en">
  <head>
    <title>Blue Ball Machine</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/other.css">
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="preload" as="style" href="/static/other.css">
    <link rel="icon" href="/media/favicon/blueball.png">
    <meta property="og:image" content="/media/favicon/blueball.png">
    <meta name="twitter:image" content="/media/favicon/blueball.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Blue Ball Machine">
    <meta name="description" content="Blue Ball Machine; creates blue balls.">
    <meta name="theme-color" content="#1e2ffc">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Blue Ball Machine">
    <meta name="twitter:description" content="Blue Ball Machine; creates blue balls.">
    <meta name="author" content="Alex Toucan">
    <meta property="og:title" content="Blue Ball Machine">
    <meta property="og:description" content="Blue Ball Machine; creates blue balls.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <style>
      body {
        background: url(/media/images/image.gif);
      }
    </style>

    <style>
      @keyframes fadeIn {
        from { opacity: 0; }
        to { opacity: 1; }
      }

      @keyframes fadeOut {
        from { opacity: 1; }
        to { opacity: 0; }
      }

      .fade-in {
        animation: fadeIn 1s forwards;
      }

      .fade-out {
        animation: fadeOut 1s forwards;
      }

      .notification-container {
        padding-right: 4rem !important;
        display: none;
      }

      .notification-close-btn {
        position: absolute;
        top: 0.5rem;
        right: 0.5rem;
      }

      @media (min-width: 480.98px) {
          .arrow {
              margin-left: 21.75rem !important;
          }
          .pb-custom-2 {
            padding-bottom: 0.5rem !important;
          }
      }

      @media (max-width: 480.98px) {
          .notification-container, .arrow {
              position: sticky !important;
              top: 100% !important;
              white-space: normal !important;
          }
          .arrow {
              height: 100%;
              margin-bottom: 0 !important;
          }
          .notification-content {
            display: flex
          }
      }

      @media (min-width: 767.98px) {
        .hero-main {
          background-image: url(/media/images/hero.webp) !important;
          background-size: cover !important;
          background-position: center center !important;
          background-repeat: no-repeat !important;
          filter: drop-shadow(2px 4px 6px black);
          
        }
      }

      .hero-main {
        background: initial;
      }

      .tab {
        text-indent: 2rem;
      }

      @media (min-width: 767.98px) {
        .information-btn {
          margin-bottom: calc(1rem * 4 + 42px) !important;
        }
      }
    </style>

    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
  </head>
  <body class="h-100">

    <div class="position-fixed bottom-0 end-0 me-3" style="margin-bottom: calc(1rem * 2 + 42px);" id="information-btn">
      <button class="btn btn-secondary py-2 d-flex align-items-center shadow-lg" id="bd-information" type="button" data-bs-toggle="modal" data-bs-target="#informationModal">
        <span>
          <i class="my-1 bi bi-info"></i>
        </span>
        <span class="visually-hidden" id="bd-information-text">Toggle information modal</span>
      </button>
    </div>

    <div class="bg-dark rounded-2 position-fixed bottom-0 end-0 m-2 pt-3 ps-3 pb-2 text-light shadow-lg notification-container" id="audio-notification" data-bs-theme="dark">
      <button type="button" class="btn-close notification-close-btn p-3" aria-label="Close" id="close-notification"></button>
      <div class="notification-content">
        <p class="h4 pb-4 pb-custom-2 pb-md-0">There is audio that could be played!</p>
        <i class="h1 bi bi-arrow-right arrow"></i>
      </div>
    </div>

    <div class="modal fade" id="informationModal" tabindex="-1" aria-labelledby="informationModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="informationModalLabel">Information & Credits</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="hero hero-main p-md-4 rounded-2 mb-3">
              <div class="bg-dark p-2 rounded-2 d-grid mx-auto" style="width: 217px;filter: drop-shadow(2px 4px 6px black);">
                <span class="text-center fw-bold fs-4 text-white mb-2">Made by:</span>
                <a class="btn btn-dark py-2" type="button" href="https://atproducts.xyz" target="_blank" rel="noopener noreferrer">
                  <img alt="AT Products LLC" src="https://atproducts.xyz/media/images/longwhite.png" width="175px">
                </a>
              </div>
            </div>
            <h2>Credits</h2>
            <p class="mb-1"><b>Author:</b> <a href="/portfolio">Alex Toucan</a></p>
            <p class="mb-1"><b>Original Creators:</b> <a href="https://web.archive.org/web/20060426005946/http://ytmnd.com/users/profile/40320">Earthbounder</a> and <a href="https://ytmnd.com/users/benjabean1">benjabean1</a></p>
            <p class="mb-1"><b>Audio:</b> Breakfast Machine (From "Pee Wee's Big Adventure")</p>
            <p class="mb-1" class="mb-1"><b>Foreground:</b> Unknown but first appeared on <a href="https://ytmnd.com/">YTMND</a>.</p>
            <p><b>Scripter:</b> <a href="/portfolio">Alex Toucan</a></p>
            <h2>History</h2>
            <div class="text-justify">
              <p class="tab">The Blue Ball Machine first appeared on <a href="http://blueballfixed.ytmnd.com/">YTMND</a> in 2005, which YTMND, an initialism for "You're the Man Now, Dog", is an online community centered on the creation of hosted memetic web pages. The site was created or at least owned by <a href="https://web.archive.org/web/20060426005946/http://ytmnd.com/users/profile/40320">the account of Earthbounder</a>. The site would later stop working, according to archives around 2009.</p>
              <p class="tab">The site would later be brought to <a href="https://web.archive.org/web/20121231200144/http://www.haneke.net/">haneke.net</a> from mid-2008, to its demise in early 2017. The site used to be a <a href="https://web.archive.org/web/20030320100006/http://haneke.net/">German "Internetportal"</a> in 2003, and <a href="https://web.archive.org/web/20040729235613/http://www.haneke.net/#">was a red button that opened a empty pop-up</a> in 2004. The site later become the <a href="https://web.archive.org/web/20080420084457/http://www.haneke.net/"></a>Blue Ball Machine that we all know and love from early-mid 2008</a>.</p>
              <p class="tab">The site exploded in popularity from late 2012, which even appeared on the <a href="https://theuselessweb.com/">The Useless Web</a> at one point, according to <a href="https://web.archive.org/web/20141103194304/http://www.theuselessweb.com/js/uselessweb.js">its list from 2013-2014</a>. The site sadly disappeared in mid-2017. The site is now a <a href="http://www.haneke.net/">nest box live camera</a> from 2021, and still exists in 2025.</p>
              <p class="tab">However, <a href="http://blueballfixed.ytmnd.com/">the YTMND site would be revived</a> in mid-2019, as they switched from Flash to HTML5, which appears to now be maintained <a href="https://ytmnd.com/users/benjabean1">by a user called benjabean1</a>. The site reads that the GIF's origin is "... unknown, but it has been used on many YTMNDs before." And the sound is from "Pee Wee's Big Adventure".</p>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="position-fixed bottom-0 end-0 mb-3 me-3">
      <button class="btn btn-secondary py-2 d-flex align-items-center shadow-lg" id="bd-audio" type="button" aria-expanded="false">
        <span class="audio-icon-active">
          <i class="my-1 bi bi-volume-mute-fill"></i>
        </span>
        <span class="visually-hidden" id="bd-audio-text">Toggle audio</span>
      </button>
    </div>
  
    <script>
      (() => {
        'use strict';

        let audio = null;
,
        const setCookie = (name, value, days) => {
          const date = new Date();
          date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
          const expires = `; expires=${date.toUTCString()}`;
          document.cookie = `${name}=${value || ''}${expires}; path=/`;
        };

        const getCookie = (name) => {
          const nameEQ = `${name}=`;
          const ca = document.cookie.split(';');
          for (let i = 0; i < ca.length; i++) {
            let c = ca[i];
            while (c.charAt(0) === ' ') c = c.substring(1, c.length);
            if (c.indexOf(nameEQ) === 0) return c.substring(nameEQ.length, c.length);
          }
          return null;
        };

        const playAudio = () => {
          if (!audio) {
            audio = new Audio('/media/images/sound.mp3');
            audio.loop = true;
            // Update Media Session metadata
            if ('mediaSession' in navigator) {
              navigator.mediaSession.metadata = new MediaMetadata({
                title: 'Blue Ball Machine',
                artist: 'Alex Toucan',
                album: 'Blue Ball Machine Soundtrack',
                artwork: [
                  { src: '/media/favicon/blue/blueball.png', sizes: '192x192', type: 'image/png' }
                ]
              });
              
              navigator.mediaSession.setActionHandler('play', playAudio);
              navigator.mediaSession.setActionHandler('pause', pauseAudio);
            }
          }
          audio.play().then(() => updateButtonIcon(true)).catch(error => console.log('Audio play was prevented by the browser:', error));
        };

        const pauseAudio = () => {
          if (audio) {
            audio.pause();
            updateButtonIcon(false);
          }
        };

        const toggleAudio = () => {
          const icon = document.querySelector('.audio-icon-active i');
          if (icon.classList.contains('bi-volume-up-fill')) {
            pauseAudio();
          } else {
            playAudio();
          }
        };

        const updateButtonIcon = (isPlaying) => {
          const icon = document.querySelector('.audio-icon-active i');
          if (isPlaying) {
            icon.classList.remove('bi-volume-mute-fill');
            icon.classList.add('bi-volume-up-fill');
          } else {
            icon.classList.remove('bi-volume-up-fill');
            icon.classList.add('bi-volume-mute-fill');
          }
        };

        const showNotification = () => {
          const notification = document.getElementById('audio-notification');
          if (notification) {
            notification.style.display = 'block';
            notification.classList.add('fade-in');
          }
        };

        const hideNotification = () => {
          const notification = document.getElementById('audio-notification');
          if (notification) {
            notification.classList.add('fade-out');
            notification.addEventListener('animationend', () => {
              notification.style.display = 'none';
            });
          }
        };

        const dismissNotification = () => {
          hideNotification();
          setCookie('audioNotificationDismissed', 'true', 7);
        };

        window.addEventListener('load', () => {
          const audioButton = document.getElementById('bd-audio');
          const closeButton = document.getElementById('close-notification');
          audioButton.addEventListener('click', () => {
            toggleAudio();
            dismissNotification();
          });
          closeButton.addEventListener('click', () => {
            dismissNotification();
          });

          if (!getCookie('audioNotificationDismissed')) {
            showNotification();
          }

          if ('mediaSession' in navigator) {
            navigator.mediaSession.setActionHandler('play', () => {
              playAudio();
              dismissNotification();
            });
            navigator.mediaSession.setActionHandler('pause', () => {
              pauseAudio();
            });
          }
        });
      })();
    </script>
    <script is:inline src="/static/message.js"></script>
    

  </body>
</html>
