---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import Accordion from '../components/accordion/Accordion.astro';
import AccordionItem from '../components/accordion/AccordionItem.astro';
---

<Head title="AT Products LLC" description="AT Products LLC is an Informational Technology Company, with computer resources" keywords="AT Products, Ethical Hacking Society, The Script Community, AT Products LLC, ATproducts" author="Alex Toucan" 
additionalContent="<meta name='google-site-verification' content='8CRfwExNu3kB77SccZhzqhwnETsU2dnm0CACBJSRJ5M'>"
bulletin={[
{ bulletinImage: "2172-1-012424.webp" },
{ bulletinImage: "2172-2-012424.webp" },
{ bulletinImage: "2172-3-012424.webp" },
]} />
<div id="page">
  <Navbar />
  <Hero
  id="main"
  title="AT Products LLC"
  description="The company that provides web solutions to your web problems!"
  primaryHref="/paid"
  primaryText="Paid Services"
  marginBottom="false"
  dropdownItems={[
  { navigationDesc: "General Information", navigationLink: "#general-info" },
  { navigationDesc: "Products", navigationLink: "#products" },
  { navigationDesc: "Allies", navigationLink: "#allies" },
  { navigationDesc: "Credits", navigationLink: "#credits" },
  { navigationDesc: "History", navigationLink: "#history" },
  { navigationDesc: "What's New?", navigationLink: "#what-new" },
  ]},
  icons={[
  { icon: "github", desc: "Github", href: "https://github.com/Alex-Toucan/atproducts.xyz" },
  { icon: "twitter-x", desc: "Twitter / X", href: "https://twitter.com/ATProductsLLC" },
  { icon: "youtube", desc: "YouTube", href: "https://youtube.com/c/AlexToucanAT" },
  { icon: "envelope-fill", desc: "Contact Form / Email", href: "/form/" },
  { icon: "cloud-sun-fill", desc: "Weather", href: "https://twitter.com/ATPWeather" },
  ]}
  />
  <div id="carousel-A" class="carousel carousel-main carousel-fade slide shadow nolrpadding container-sm mt-xmd-2 mb-3 pointer-event" data-bs-ride="carousel">
    <div class="pt-xmd-2 px-xmd-2">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img src="/media/slideshow/2172-1-012424.webp" class="d-block w-100" alt="2.17.2 Release Slide 1">
        </div>
        <div class="carousel-item">
          <img src="/media/slideshow/2172-2-012424.webp" class="d-block w-100" alt="2.17.2 Release Slide 2">
        </div>
        <div class="carousel-item">
          <img src="/media/slideshow/2172-3-012424.webp" class="d-block w-100" alt="2.17.2 Release Slide 3">
        </div>
      </div>
      <div class="mediarow py-2" aria-label="Carousel-A Controls">
        <button class="carousel-control-prev col" type="button" data-bs-target="#carousel-A" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <div class="carousel-indicators col-7 col-sm-5 text-center">
          <button aria-label="Slide 1" class="active slidebtn" data-bs-slide-to="0" data-bs-target="#carousel-A" type="button" aria-current="true"></button>
          <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="1" aria-label="Slide 2" class="slidebtn"></button>
          <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="2" aria-label="Slide 3" class="slidebtn"></button>
        </div>
        <button class="carousel-control-next col" type="button" data-bs-target="#carousel-A" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="d-flex">
      <div class="btn-group w-100 p-1" role="group" aria-label="Carousel-A Play/Pause">
        <input type="radio" class="btn-check btn-check-dark col playButton" name="btnradio" id="playButton" aria-label="playButton" checked="">
        <label class="btn" for="playButton" id="playButtonLabel"><i class="bi bi-play-fill fs-4 link-hero"></i></label>
        <input type="radio" class="btn-check btn-check-dark col pauseButton" name="btnradio" id="pauseButton" aria-label="pauseButton">
        <label class="btn" for="pauseButton" id="pauseButtonLabel"><i class="bi bi-pause-fill fs-4 link-hero"></i></label>
      </div>
      <div class="col px-2 my-auto"><a href="/media/pdf/2.17.2 Patch Notes.pdf" class="fs-2 link-hero"><i class="bi bi-filetype-pdf"></i></a></div>
    </div>
  </div>
  <main id="index" class="container">
    <hr class="hero-drappear">
    <div id="general-info">
      <h2>General Information</h2>
      <p> AT Products LLC, otherwise known as AT Products (officially recognized pronunciation: "A.T Products") is an informative technology company that is based in the United States, that contains resources for cybersecurity and malware. Our products are for the public to use anytime. </p>
      <p> Our current products are Flash Documentation, MDickie Projects, and SMS Bomb. </p>
      <p> The "AT" in AT Products does stand for Alex Toucan. </p>
    </div>
    <hr>
    <div id="products">
      <h2>Products</h2>
      <div class="products-border rounded-2 p-1">
        <div class="d-md-flex">
          <div class="nav flex-column nav-pills col-md-4 me-md-1" id="products-tab" role="tablist" aria-orientation="vertical">
            <button class="nav-link active" id="products-1-tab" data-bs-toggle="pill" data-bs-target="#products-1" type="button" role="tab" aria-controls="products-1" aria-selected="true">Paid Services</button>
            <button class="nav-link" id="products-2-tab" data-bs-toggle="pill" data-bs-target="#products-2" type="button" role="tab" aria-controls="products-2" aria-selected="false" tabindex="-1">Flash Documentation</button>
            <button class="nav-link" id="products-3-tab" data-bs-toggle="pill" data-bs-target="#products-3" type="button" role="tab" aria-controls="products-3" aria-selected="false" tabindex="-1">MDickie Projects</button>
            <button class="nav-link" id="products-4-tab" data-bs-toggle="pill" data-bs-target="#products-4" type="button" role="tab" aria-controls="products-4" aria-selected="false" tabindex="-1">SMS Bomb</button>
            <button class="nav-link" id="products-5-tab" data-bs-toggle="pill" data-bs-target="#products-5" type="button" role="tab" aria-controls="products-5" aria-selected="false" tabindex="-1">Pynx's Projects</button>
            <button class="nav-link" id="products-6-tab" data-bs-toggle="pill" data-bs-target="#products-6" type="button" role="tab" aria-controls="products-6" aria-selected="false" tabindex="-1">Public Archive</button>
          </div>
          <div class="vr disbr me-1"></div>
          <hr class="opacity-25 my-1 d-md-none">
          <div class="tab-content col-md text-center products-tabContent" id="products-tabContent">
            <div class="products-1 tab-pane fade active show" id="products-1" role="tabpanel" aria-labelledby="products-1-tab" tabindex="0">
              <h2 class="card-title mb-2">Paid Services</h2>
              <p>View our Paid Services!</p>
              <p>Current primary services are Website Design and Website Hosting.</p>
              <div class="tab-link">
                <a href="/paid" class="btn btn-primary w-100">Visit</a>
              </div>
            </div>
            <div class="products-2 tab-pane fade" id="products-2" role="tabpanel" aria-labelledby="products-2-tab" tabindex="0">
              <div class="bg-white rounded-2 mb-2"><img class=" rounded-2" src="/media/images/flashdoc.webp" alt="Flash Documentation"></div>
              <h2 class="card-title">Flash Documentation</h2>
              <p class="mb-0">Here are some things about Adobe Flash!</p>
              <div class="tab-link">
                <a href="/flash" class="btn btn-primary w-100 mb-2">Visit</a><a href="/backup/flash" class="btn btn-secondary w-100">Visit the all laid out version</a>
              </div>
            </div>
            <div class="products-3 tab-pane fade" id="products-3" role="tabpanel" aria-labelledby="products-3-tab" tabindex="0">
              <div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/mdickiepro.webp" alt="MDickie Projects"></div>
              <h2 class="card-title">MDickie Projects</h2>
              <p class="mb-0">This is a fanmade site about what has MDickie developed since the 1990s!</p>
              <div class="tab-link">
                <a href="/mdickie" class="btn btn-primary w-100">Visit</a>
              </div>
            </div>
            <div class="products-4 tab-pane fade" id="products-4" role="tabpanel" aria-labelledby="products-4-tab" tabindex="0">
              <div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/ya.png" alt="SMS Bomb"></div>
              <h2 class="card-title">SMS Bomb</h2>
              <p class="mb-0">This is for Android Devices. You can spam message your friends!</p>
              <div class="tab-link">
                <a href="/sms" class="btn btn-primary w-100">Visit</a>
              </div>
            </div>
            <div class="products-5 tab-pane fade" id="products-5" role="tabpanel" aria-labelledby="products-5-tab" tabindex="0">
              <h2 class="card-title mb-2">Pynx's Projects</h2>
              <p class="mb-0">Partnered with <a href="https://2983u2.site/">PynxTech</a>, we released these projects!</p>
              <div class="tab-link">
                <a href="/pynx" class="btn btn-primary w-100">Visit</a>
              </div>
            </div>
            <div class="products-6 tab-pane fade" id="products-6" role="tabpanel" aria-labelledby="products-6-tab" tabindex="0">
              <h2 class="card-title mb-2">Public Archive</h2>
              <p class="mb-0">View most of our old versions here!</p>
              <div class="tab-link">
                <a href="/backup/archive" class="btn btn-primary w-100">Visit</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="allies">
      <h2>Allies</h2>
      <div class="bg-dark index-border p-1 p-dark-0 rounded-2 text-white">
        <div class="d-md-flex flex-row">
          <div class="col-md">
            <div class="p-1">
              <div class="mx-md-auto d-table">
                <a href="https://protdos.com" class="d-mmd-flex">
                  <img src="/media/images/protdos.webp" alt="ProtDos" height="60px" class="d-inline col-auto">
                  <div class="d-inline my-mmd-auto col">ProtDos</div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="p-1">
              <div class="mx-md-auto d-table">
                <a href="https://deltasoftai.com" class="d-mmd-flex">
                  <img src="/media/images/deltasoft.webp" alt="Deltasoft" height="60px" class="d-inline col-auto me-2">
                  <div class="d-inline my-mmd-auto col">Deltasoft</div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="p-1">
              <div class="mx-md-auto d-table">
                <a href="https://zoezo.dev" class="d-mmd-flex">
                  <img src="/media/images/zoezo.webp" alt="Zoezo" height="60px" class="d-inline col-auto me-1">
                  <div class="d-inline my-mmd-auto col">Zoezo</div>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="m-md-2"></div>
        <div class="d-md-flex flex-row">
          <div class="col-md">
            <div class="p-1">
              <div class="mx-md-auto d-table">
                <a href="https://2983u2.site/" class="d-mmd-flex">
                  <img src="/media/images/pynx.webp" alt="PynxTech" height="60px" class="d-inline col-auto">
                  <div class="d-inline my-mmd-auto col">PynxTech</div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md">
            <div class="p-1">
              <div class="mx-md-auto d-table">
                <a href="https://discord.com/invite/FqcSvnrnvc" class="d-mmd-flex">
                  <img src="/media/images/IDA.webp" alt="International Developer's Association" height="60px" class="d-inline col-auto rounded-2 me-2">
                  <div class="d-inline my-mmd-auto col">International Developer's Association</div>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr>
    <div id="credits">
      <h2>Credits</h2>
      <div class="bg-dark index-border p-dark-0 p-1 rounded-2 text-white">
        <div class="p-2 text-mmd-center">
          <a href="https://protdos.com">
            <img src="/media/images/protdos.webp" alt="ProtDos" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2"><div class="d-inline">ProtDos</a> allowed us to use their (our current) scroll button and their past Bootstrap v3.</div>
        </div>
        <hr class="m-2 d-md-none">
        <div class="p-2 text-mmd-center">
          <a href="https://getbootstrap.com">
            <img src="/media/images/bootstrap.webp" alt="Bootstrap" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">Bootstrap</a> has provided their CSS library for us to use.</div>
        </div>
        <hr class="m-2 d-md-none">
        <div class="p-2 text-mmd-center">
          <a href="https://astro.build">
            <img src="/media/images/astro.webp" alt="Astro" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 px-1 ms-1 me-2"><div class="d-inline">Astro</a> has provided their framework which powers our site!</div>
        </div>
        <hr class="m-2 d-md-none">
        <div class="p-2 text-mmd-center">
          <a href="https://zoezo.dev">
            <img src="/media/images/zoezo.webp" alt="Zoezo" height="60px" class="d-block mx-mmd-auto d-md-inline me-md-1 mb-mmd-2"><div class="d-inline">Zoezo</a> is a current <span class="glow-text">code contributor</span>!</div>
        </div>
        <hr class="m-2">
        <Accordion parent="resourcesAccordion" additionalClasses="m-2" theme="dark">
          <Fragment slot="accordion-content">
            <AccordionItem bodyVisible="none" title="Other Credits" id="creditsOne" parent="resourcesAccordion">
              <Fragment slot="accordion-item-content">
                <div class="p-2 text-mmd-center d-block">
                  <p class="mb-0"><a href="https://uigradients.com/">uiGradients</a> for providing gradients for the carousel images when I'm lazy to do it myself.</p>
                </div>
              </Fragment>
            </AccordionItem>
            <AccordionItem bodyVisible="none" title="Older Credits" id="creditTwo" parent="resourcesAccordion">
              <Fragment slot="accordion-item-content">
                <div class="p-2 text-mmd-center">
                  <div class="p-2">
                    <p class="d-inline">
                      <a href="https://w3schools.com"><img src="/media/images/w3schools.webp" alt="W3Schools" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">W3Schools</a> has provided the former navigation buttons.</p></div>
                  </div>
                  <div class="mb-md-2"></div>
                  <hr class="m-2 d-md-none">
                  <div class="p-2">
                    <p class="d-inline">
                      <a href="https://tinkercad.com">
                        <img src="/media/images/tinkercad.webp" alt="TinkerCAD" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">TinkerCAD</a> has provided their 3D building tool to build our past logo.
                    </p>
                  </div>
                  </div>
                </div>
              </Fragment>
            </AccordionItem>
          </Fragment>
        </Accordion>
      </div>
    </div>
    <hr>
    <div id="history">
      <h2> History </h2>
      <div class="position-relative" id="historyTab" role="tablist" style="margin: 1.55rem !important;">
        <div class="progress" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 1px;" id="history-line">
          <div class="progress-bar" style="width: 0%" id="history-progress"></div>
        </div>
        <button type="button" class="position-absolute top-0 start-0 translate-middle btn btn-sm btn-primary rounded-3" id="history-1">2020</button>
        <button type="button" class="position-absolute top-0 start-25 translate-middle btn btn-sm btn-secondary rounded-3" id="history-2">2021</button>
        <button type="button" class="position-absolute top-0 start-50 translate-middle btn btn-sm btn-secondary rounded-3" id="history-3">2022</button>  
        <button type="button" class="position-absolute top-0 start-75 translate-middle btn btn-sm btn-secondary rounded-3" id="history-4">2023</button>
        <button type="button" class="position-absolute top-0 start-100 translate-middle btn btn-sm btn-secondary rounded-3" id="history-5">2024</button>
      </div>
      <div class="tab-content products-border rounded-2 p-2" id="history-tabs">
        <div class="tab-pane fade show active" id="history-1-pane">
          <h1>2020</h1>
          <p class="m-0">AT Products was just a simple thought around this time, a company owned by Alex Toucan. It would become very real with the help of <a href="https://discord.com">Discord</a>, as it gave Alex Toucan some reputation.</p>
        </div>
        <div class="tab-pane fade" id="history-2-pane">
          <h1>2021</h1>
          <p class="m-0">It wasn't until 2021, that the past logo was completed with a 3D modeling tool, also known as <a href="https://tinkercad.com">TinkerCAD</a>. Also in 2021, especially around late 2021, was when our website was just getting under development. For a school assignment, <a href="https://1-0.atproducts.xyz/roms">AT's ROM Games</a> was chosen as the first web page to be completed. Since the criteria were just for four areas of information to be put on the said web page, and the product was already being made. This would start the adventure of atproducts.xyz, but these sites had <a href="https://code.org">code.org/codeprojects.org</a> domains), which had basic CSS. We finished the main website within the same time area of late 2021, which meant that the <a href="/ehs">Ethical Hacking Society</a> and <a href="/script">The Script Community</a> got their website done around that period as well.</p>
        </div>
        <div class="tab-pane fade" id="history-3-pane">
          <h1>2022</h1>
          <p class="m-0">The New Year of 2022, brought <a href="/codinghome">CodingHome</a>, and our Documentation. Finally, in February 2022, we bought the domain of atproducts.org and put the same code there. But, soon enough, <a href="https://protdos.com">ProtDos</a> permitted us to use their (and our) past CSS, which was <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a>. We changed the CSS to make it dark a month later, sold the domain a month later, and bought the atproducts.xyz domain... a month later. and then <a href="https://2-6.atproducts.xyz">changed it back in June of 2022</a>. Between March and June of 2022, we introduced <a href="/flash">Flash Documentation</a> and the <a href="/noodle">Noodle Hackerspace</a> as new products. The hugest overhaul would happen on June 3rd, 2022, with <a href="https://2-6.atproducts.xyz">2.6</a>. Which replaced <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a> with <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Bootstrap 5</a>. Not much later, on August 21st, 2022, <a href="https://2-6-1.atproducts.xyz">we changed the company logo</a>, to a more professional design. <a href="https://2-7.atproducts.xyz">2.7</a>, released on September 22nd, 2022, changed the nav bar. In late August of 2022, AT Products joined and helped create The CodingHome Universe (now the <a href="https://discord.com/invite/FqcSvnrnvc">International Developer's Association</a>), a coders alliance with our current allies.</p>
        </div>
        <div class="tab-pane fade" id="history-4-pane">
          <h1>2023</h1>
          <p class="m-0"><a href="https://2-12.atproducts.xyz">2.12</a>, released on January 4th, 2023, added back dark mode and the switch as <a href="https://blog.getbootstrap.com/2022/12/24/bootstrap-5-3-0-alpha1/">Bootstrap v5.3.0-alpha1</a> released on December 24th, 2022. What an update to release into the New Year of 2023 since dark mode was being waited on for months beforehand. <a href="https://2-15.atproducts.xyz">2.15</a> brought new introductions, otherwise called heroes with images, released on June 30th, 2023. <a href="https://2-16.atproducts.xyz">2.16</a> would bring improvements to the heroes, releasing on September 13rd, 2023. And finally, <a href="https://2-16-1.atproducts.xyz">2.16.1</a>, released on September 27th, 2023, brought an overhaul to this history tab. On November 29th, 2023, we changed the company logo again with <a href="https://2-17.atproducts.xyz">2.17</a>. Closing out the year, replacing the code behind this whole project, <a href="https://2-17-1.atproducts.xyz">2.17.1</a> releasing on December 20th, 2023, brought in the Astro framework.</p>
        </div>
        <div class="tab-pane fade" id="history-5-pane">
          <h1>2024</h1>
          <p class="m-0">Nothing important here yet. 👀</p>
        </div>
      </div>
    </div>
    <hr>
    <div id="what-new">
      <h2> What's New? </h2>
      <p>
        <b> Released on:</b> January 24th, 2024.<br>
        <b>ATP Database:</b> 2.17.2
      </p>
      <b>Added</b>
      <ul>
        <li>Added a <b>BUNCH</b> of resources in CodingHome and even added more accordions! <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Added a PDF download button in the carousel. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Added a footnote in both the Contact Form and the Submitted page. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
      </ul>
      <b>Changed</b>
      <ul>
        <li>Updated the Privacy Policy. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>MDickie Projects is now up to date. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>The Contact Form is now structured with flexbox. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Updated the Contact Form's submit button's size. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Changed the focus ring on the "Back To Top" button. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Changed border radius on the history buttons. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Updated Bootstrap Icons from v1.11.2 to v1.11.3. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Updated Vite v4.5.1 to v4.5.2. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/186" target="_blank" rel="noopener noreferrer">(#186)</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
      </ul>
      <b>Removed and Replaced</b>
      <ul>
        <li>Removed AstroCore as an ally as the company went defunct, instead we put Zoezo there and in the credits. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Replaced the old mail button (the one to directly go to your email client) and replaced it with the Contact Form. The manual option link will be in the Contact Form from now on. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
      </ul>
      <b>Bug Fixes</b>
      <ul>
        <li>Fixed a bug where the back-to-top button was behind the cookie menu. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
        <li>Fixed missing GitHub workflows. <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/184" target="_blank" rel="noopener noreferrer">(#184)</a></li>
      </ul>
    </div>
  </main>
  <Footer />
  <BackToTop />
</div>
<Scripts index="true" />
