---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import Accordion from '../components/accordion/Accordion.astro';
import AccordionItem from '../components/accordion/AccordionItem.astro';
---

<DefaultBody title="AT Products LLC" description="AT Products LLC is an Informational Technology Company, with computer resources" keywords="AT Products, Ethical Hacking Society, The Script Community, AT Products LLC, ATproducts" author="Alex Toucan" 
additionalContent="<meta name='google-site-verification' content='8CRfwExNu3kB77SccZhzqhwnETsU2dnm0CACBJSRJ5M'>"
bulletin={[
  { bulletinImage: "221-021225-1.webp" },
  { bulletinImage: "221-021225-2.webp" },
  { bulletinImage: "221-021225-3.webp" },
]} 
index="true" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <Hero
      id="main"
      title="AT Products LLC"
      description="The company that provides <strong>web solutions</strong> to your <strong>web problems</strong>!"
      marginBottom="false"
      buttons={[
        { href: "/paid", text: "Paid Services", type: "primary" },
      ]},
      dropdownItems={[
        { navigationDesc: "General Information", navigationLink: "#general-info" },
        { navigationDesc: "Products", navigationLink: "#products" },
        { navigationDesc: "Allies", navigationLink: "#allies" },
        { navigationDesc: "Credits", navigationLink: "#credits" },
        { navigationDesc: "History", navigationLink: "#history" },
        { navigationDesc: "What's New?", navigationLink: "#what-new" },
      ]},
      icons={[
        { icon: "github", desc: "GitHub", href: "https://github.com/Alex-Toucan/atproducts.xyz" },
        { icon: "twitter-x", desc: "Twitter / X", href: "https://x.com/ATProductsLLC" },
        { icon: "youtube", desc: "YouTube", href: "https://youtube.com/c/AlexToucanAT" },
        { icon: "envelope-fill", desc: "Contact Form / Email", href: "/contact/" },
        { icon: "cloud-sun-fill", desc: "Weather", href: "https://x.com/ATPWeather" },
      ]},
    />
    <div id="carousel-A" class="carousel carousel-main carousel-fade slide shadow px-0 container-xsm mt-xmd-2 mb-3 pointer-event" data-bs-ride="carousel">
      <div class="pt-xmd-2 px-xmd-2">
        <div class="carousel-inner">
          <div class="carousel-item active" data-bs-interval="10000">
            <img src="/media/slideshow/221-021225-1.webp" class="d-block w-100" alt="2.21 Release Slide 1">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="/media/slideshow/221-021225-2.webp" class="d-block w-100" alt="2.21 Release Slide 2">
          </div>
          <div class="carousel-item" data-bs-interval="10000">
            <img src="/media/slideshow/221-021225-3.webp" class="d-block w-100" alt="2.21 Release Slide 3">
          </div>
        </div>
        <div class="mediarow py-2" aria-label="Carousel-A Controls">
          <button class="carousel-control-prev col" type="button" data-bs-target="#carousel-A" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <div class="carousel-indicators col-8 col-xs-6 col-sm-5 text-center">
            <button aria-label="Slide 1" class="active slidebtn" data-bs-slide-to="0" data-bs-target="#carousel-A" type="button" aria-current="true"></button>
            <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="1" aria-label="Slide 2" class="slidebtn"></button>
            <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="2" aria-label="Slide 3" class="slidebtn"></button>
          </div>
          <button class="carousel-control-next col" type="button" data-bs-target="#carousel-A" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        </div>
      </div>
      <div class="d-flex">
        <div class="btn-group w-100 p-1" role="group" aria-label="Carousel-A Play/Pause">
          <input type="radio" class="btn-check btn-check-dark col playButton" name="btnradio" id="playButton" aria-label="playButton" checked="">
          <label class="btn" for="playButton" id="playButtonLabel"><i class="bi bi-play-fill fs-4 link-carousel"></i></label>
          <input type="radio" class="btn-check btn-check-dark col pauseButton" name="btnradio" id="pauseButton" aria-label="pauseButton">
          <label class="btn" for="pauseButton" id="pauseButtonLabel"><i class="bi bi-pause-fill fs-4 link-carousel"></i></label>
        </div>
        <div class="col px-2 my-auto">
          <a href="/media/pdf/2.21 Patch Notes.pdf" aria-label="Carousel PDF Download" class="fs-2 link-carousel" target="_blank" rel="noopener noreferrer"><i class="bi bi-filetype-pdf"></i></a>
        </div>
      </div>
    </div>
    <main id="index" class="container">
      <hr class="hero-drappear">
      <div id="general-info">
        <h2>General Information</h2>
        <p> AT Products LLC (officially recognized pronunciation: "A.T Products LLC"), otherwise known as ATP, is an informative technology company that is based in the United States, that contains resources for cybersecurity and malware. Our products are for the public to use anytime. </p>
        <p> Our current products are Flash Documentation, MDickie Projects, and SMS Bomb. </p>
        <p> The "AT" in AT Products does stand for Alex Toucan. </p>
        <p> The <a href="/backup/archive">Public Archive</a> contains other projects and pages that we've completed before. </p>
      </div>
      <hr>
      <div id="products">
        <h2>Products</h2>
        <div class="products-border rounded-2 p-1">
          <div class="d-md-flex">
            <div class="nav flex-column nav-pills col-md-4 me-md-1" id="products-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="products-1-tab" data-bs-toggle="pill" data-bs-target="#products-1" type="button" role="tab" aria-controls="products-1" aria-selected="true">Paid Services</button>
              <button class="nav-link" id="products-2-tab" data-bs-toggle="pill" data-bs-target="#products-2" type="button" role="tab" aria-controls="products-2" aria-selected="false" tabindex="-1">Flash Documentation</button>
              <button class="nav-link" id="products-3-tab" data-bs-toggle="pill" data-bs-target="#products-3" type="button" role="tab" aria-controls="products-3" aria-selected="false" tabindex="-1">MDickie Projects</button>
              <button class="nav-link" id="products-4-tab" data-bs-toggle="pill" data-bs-target="#products-4" type="button" role="tab" aria-controls="products-4" aria-selected="false" tabindex="-1">SMS Bomb</button>
              <button class="nav-link" id="products-5-tab" data-bs-toggle="pill" data-bs-target="#products-5" type="button" role="tab" aria-controls="products-5" aria-selected="false" tabindex="-1">Pynx's Projects</button>
              <button class="nav-link" id="products-6-tab" data-bs-toggle="pill" data-bs-target="#products-6" type="button" role="tab" aria-controls="products-6" aria-selected="false" tabindex="-1">AT's ROM Games</button>
              <button class="nav-link" id="products-7-tab" data-bs-toggle="pill" data-bs-target="#products-7" type="button" role="tab" aria-controls="products-7" aria-selected="false" tabindex="-1">Public Archive</button>
            </div>
            <div class="vr disbr me-1"></div>
            <hr class="opacity-25 my-1 d-md-none">
            <div class="tab-content col-md text-center products-tabContent" id="products-tabContent">
              <div class="products-1 tab-pane fade active show" id="products-1" role="tabpanel" aria-labelledby="products-1-tab" tabindex="0">
                <h2>Paid Services</h2>
                <p>View our Paid Services!</p>
                <p>Current primary services are Website Design and Website Hosting.</p>
                <div class="tab-link">
                  <a href="/paid" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
              <div class="products-2 tab-pane fade" id="products-2" role="tabpanel" aria-labelledby="products-2-tab" tabindex="0">
                <div class="bg-white rounded-2 mb-2"><img class=" rounded-2" src="/media/images/flashdoc.webp" alt="Flash Documentation"></div>
                <h2>Flash Documentation</h2>
                <p class="mb-0">Here are some things about Adobe Flash!</p>
                <div class="tab-link">
                  <a href="/flash" class="btn btn-primary w-100 mb-2">Visit</a>
                </div>
              </div>
              <div class="products-3 tab-pane fade" id="products-3" role="tabpanel" aria-labelledby="products-3-tab" tabindex="0">
                <div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/mdickiepro.webp" alt="MDickie Projects"></div>
                <h2>MDickie Projects</h2>
                <p class="mb-0">This is a fanmade site about what MDickie has developed since the 1990s!</p>
                <div class="tab-link">
                  <a href="/mdickie" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
              <div class="products-4 tab-pane fade" id="products-4" role="tabpanel" aria-labelledby="products-4-tab" tabindex="0">
                <div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/ya.png" alt="SMS Bomb"></div>
                <h2>SMS Bomb</h2>
                <p class="mb-0">This is for Android Devices. You can spam message your friends!</p>
                <div class="tab-link">
                  <a href="/sms" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
              <div class="products-5 tab-pane fade" id="products-5" role="tabpanel" aria-labelledby="products-5-tab" tabindex="0">
                <h2>Pynx's Projects</h2>
                <p class="mb-0">Partnered with <a href="https://2983u2.site/">PynxTech</a>, we released these projects!</p>
                <div class="tab-link">
                  <a href="/pynx" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
              <div class="products-6 tab-pane fade" id="products-6" role="tabpanel" aria-labelledby="products-6-tab" tabindex="0">
                <div class="bg-white rounded-2 mb-2"><img class="py-1 rounded-2" src="/media/images/AT-ROM-Games-with-logo.webp" alt="AT's ROM Games"></div>
                <h2>AT's ROM Games</h2>
                <p class="mb-0">A <strong>discontinued</strong> collection of ROMs from back in 2021!</p>
                <div class="tab-link">
                  <a href="/roms" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
              <div class="products-7 tab-pane fade" id="products-7" role="tabpanel" aria-labelledby="products-7-tab" tabindex="0">
                <h2>Public Archive</h2>
                <p class="mb-0">View most of our old versions here!</p>
                <div class="tab-link">
                  <a href="/backup/archive" class="btn btn-primary w-100">Visit</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="allies">
        <h2>Allies</h2>
        <div class="bg-dark index-border p-1 p-dark-0 rounded-2 text-white" data-bs-theme="dark">
          <div class="d-md-flex flex-row">
            <div class="col-md">
              <div class="p-2">
                <div class="mx-md-auto d-table">
                  <a href="https://discord.gg/pYa87Bhau9" class="d-mmd-flex"><img src="/media/images/RSA.webp" alt="Royal Stack Alliance" height="60px" class="d-inline col-auto me-2"><div class="d-inline my-mmd-auto col">Royal Stack Alliance</div></a>
                </div>
              </div>
            </div>
            <div class="col-md"> 
              <div class="p-2"> 
                <div class="mx-md-auto d-table"> 
                  <a href="https://zoezo.dev" class="d-mmd-flex"><img src="/media/images/zoezo.webp" alt="Zoezo" height="60px" class="d-inline col-auto me-1"><div class="d-inline my-mmd-auto col">Zoezo</div></a> 
                </div> 
              </div> 
            </div>
          </div>
        </div>
      </div>
      <hr>
      <div id="credits">
        <h2>Credits</h2>
        <div class="bg-dark index-border p-dark-0 p-1 rounded-2 text-white" data-bs-theme="dark">
          <hr class="m-2 d-md-none">
          <div class="p-2 text-mmd-center">
            <a href="https://getbootstrap.com">
              <img src="/media/images/bootstrap.webp" alt="Bootstrap" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">Bootstrap</a> has provided their CSS library for us to use.</div>
          </div>
          <hr class="m-2 d-md-none">
          <div class="p-2 text-mmd-center">
            <a href="https://astro.build">
              <img src="/media/images/astro.webp" alt="Astro" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 px-1 ms-1 me-2"><div class="d-inline">Astro</a> has provided their framework which powers our site!</div>
          </div>
          <hr class="m-2">
          <Accordion parent="resourcesAccordion" additionalClasses="m-2" theme="dark">
            <Fragment slot="accordion-content">
              <AccordionItem bodyVisible="none" title="Other Credits" id="creditsOne" parent="resourcesAccordion">
                <Fragment slot="accordion-item-content">
                  <div class="p-2 text-mmd-center d-block">
                    <p class="mb-0"><a href="https://uigradients.com/">uiGradients</a> for providing gradients for the carousel images when we are lazy to do it ourselves.</p>
                  </div>
                </Fragment>
              </AccordionItem>
              <AccordionItem bodyVisible="none" title="Older Credits" id="creditTwo" parent="resourcesAccordion">
                <Fragment slot="accordion-item-content">
                  <div class="p-2 text-mmd-center">
                    <div class="p-2">
                      <p class="d-inline">
                        <a href="https://w3schools.com"><img src="/media/images/w3schools.webp" alt="W3Schools" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">W3Schools</a> has provided the former navigation buttons.</p></div>
                    </div>
                    <div class="mb-md-2"></div>
                    <hr class="m-2 d-md-none">
                    <div class="p-2">
                      <p class="d-inline">
                        <a href="https://tinkercad.com">
                          <img src="/media/images/tinkercad.webp" alt="TinkerCAD" height="60px" class="d-block mx-mmd-auto d-md-inline mb-mmd-2 me-2"><div class="d-inline">TinkerCAD</a> has provided their 3D building tool to build our past logo.
                      </p>
                    </div>
                    </div>
                  </div>
                </Fragment>
              </AccordionItem>
            </Fragment>
          </Accordion>
        </div>
      </div>
      <hr>
      <div id="history">
        <h2> History </h2>
        <div class="overflow-auto mt-1 mb-2">
          <div aria-label="History Bar" id="historyTab" role="tablist" class="historyTabs position-relative">
            <div class="progress-wrapper">
              <div class="progress proper-center" role="progressbar" aria-label="Progress" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="height: 10px;" id="history-line">
                <div class="progress-bar" style="width: 0%" id="history-progress"></div>
              </div>
            </div>
            <div id="history-buttons" class="d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-primary rounded-3" aria-controls="history-1-pane" aria-label="2020" id="history-1">2020</button>
              <button type="button" class="btn btn-sm btn-secondary rounded-3" aria-controls="history-2-pane" aria-label="2021" id="history-2">2021</button>
              <button type="button" class="btn btn-sm btn-secondary rounded-3" aria-controls="history-3-pane" aria-label="2022" id="history-3">2022</button>
              <button type="button" class="btn btn-sm btn-secondary rounded-3" aria-controls="history-4-pane" aria-label="2023" id="history-4">2023</button>
              <button type="button" class="btn btn-sm btn-secondary rounded-3" aria-controls="history-5-pane" aria-label="2024" id="history-5">2024</button>
              <button type="button" class="btn btn-sm btn-secondary rounded-3" aria-controls="history-5-pane" aria-label="2024" id="history-5">2025</button>
            </div>
          </div>
        </div>
        <div class="tab-content products-border rounded-2 p-2" id="history-tabs">
          <div class="tab-pane fade show active" id="history-1-pane">
            <h3>2020</h3>
            <p class="m-0">AT Products was just a simple thought around this time, a company owned by Alex Toucan. It would become genuine with the help of <a href="https://discord.com">Discord</a>, as it gave Alex Toucan some reputation.</p>
          </div>
          <div class="tab-pane fade" id="history-2-pane">
            <h3>2021</h3>
            <p class="m-0">The journey began in 2021, with <span><a tabindex="0" href="javascript:void(0)" type="button" class="text-reset text-decoration-dashed" data-bs-toggle="popover" data-bs-title="2021-2022 Logo" data-bs-content="<img src='/media/images/2021logo.png' class='popover-image' width='100%' alt='2021-2022 Logo'>" data-bs-html="true" data-bs-placement="bottom" data-bs-trigger="focus">the past logo</a></span> being completed with a 3D modeling tool, also known as <a href="https://tinkercad.com">TinkerCAD</a>. Also in 2021, especially around late 2021, was when our website was just getting under development. For a school assignment, <a href="https://1-0.atproducts.xyz/roms">AT's ROM Games</a> was chosen as the first web page to be completed. Since the criteria were just for four areas of information to be put on the said web page, and the product was already being made. This would start the adventure of atproducts.xyz, but these sites had <a href="https://code.org">code.org/codeprojects.org</a> domains), which had basic CSS. We finished the main website within the same time area of late 2021, which meant that the <a href="/ehs">Ethical Hacking Society</a> and <a href="/script">The Script Community</a> got their website done around that period as well.</p>
          </div>
          <div class="tab-pane fade" id="history-3-pane">
            <h3>2022</h3>
            <p class="m-0">The New Year of 2022, brought <a href="/codinghome">CodingHome</a>, and our Documentation. Finally, we bought the domain atproducts.org in February and put the same code there. But, soon enough, ProtDos permitted us to use their (and our) past CSS, which was <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a>. We changed the CSS to make it dark a month later, sold the domain a month later, and bought the atproducts.xyz domain... a month later. and then <a href="https://2-6.atproducts.xyz">changed it back in June</a>. Between March and June, we introduced <a href="/flash">Flash Documentation</a> and the <a href="/noodle">Noodle Hackerspace</a> as new products. The hugest overhaul would happen on June 3rd, with <a href="https://2-6.atproducts.xyz">2.6</a>. Which replaced <a href="https://getbootstrap.com/docs/3.3/">Bootstrap 3</a> with <a href="https://getbootstrap.com/docs/5.1/getting-started/introduction/">Bootstrap 5</a>. Not much later, on August 21st, <a href="https://2-6-1.atproducts.xyz">we changed the company logo in 2.6.1</a>, to a more <span><a tabindex="0" href="javascript:void(0)" type="button" class="text-reset text-decoration-dashed" data-bs-toggle="popover" data-bs-title="2022-2023 Logo" data-bs-content="<img src='/media/images/2022logo.png' class='popover-image' width='100%' alt='2022-2023 Logo'>" data-bs-html="true" data-bs-placement="bottom" data-bs-trigger="focus">professional design</a></span>. <a href="https://2-7.atproducts.xyz">2.7</a>, released on September 22nd, changed the nav bar. In late August, AT Products joined and helped create The CodingHome Universe (now the <a href="https://discord.com/invite/FqcSvnrnvc">International Developer's Association</a>), a coders alliance with our current allies. <a href="https://2-8.atproducts.xyz/">2.8</a>, released on October 9th, 2022, added modals for each section within Community/Product page (which would be replaced in 2025 with <a href="https://2-21.atproducts.xyz">2.21</a>).</p>
          </div>
          <div class="tab-pane fade" id="history-4-pane">
            <h3>2023</h3>
            <p class="m-0"><a href="https://2-12.atproducts.xyz">2.12</a>, released on January 4th, added back dark mode and the switch as <a href="https://blog.getbootstrap.com/2022/12/24/bootstrap-5-3-0-alpha1/">Bootstrap v5.3.0-alpha1</a> was released on December 24th, 2022. What an update to release into the New Year of 2023, since dark mode had been awaited for months beforehand. <a href="https://2-13.atproducts.xyz">2.13</a> would replace a couple of links to the iconic cards that still exist in Web Pages and Pynx's Projects, as most of these cards got replaced by 2.15 (later on), released on January 18th. <a href="https://2-15.atproducts.xyz">2.15</a> brought new introductions, otherwise called heroes with images, released on June 30th. <a href="https://2-16-1.atproducts.xyz">2.16.1</a>, released on September 27th, brought an overhaul to this history tab. On November 29th, we changed the <span><a tabindex="0" href="javascript:void(0)" type="button" class="text-reset text-decoration-dashed" data-bs-toggle="popover" data-bs-title="2023-Current Logo" data-bs-content="<img src='/media/images/2023logo.png' class='popover-image' width='100%' alt='2023-Current Logo'>" data-bs-html="true" data-bs-placement="bottom" data-bs-trigger="focus">company logo</a></span> again with <a href="https://2-17.atproducts.xyz">2.17</a>. Closing out the year, replacing the code behind this whole project, <a href="https://2-17-1.atproducts.xyz">2.17.1</a>, which released on December 20th, brought in the Astro framework.</p>        
          </div>
          <div class="tab-pane fade" id="history-5-pane">
            <h3>2024</h3>
            <p class="m-0">2024 had been a slow year, but stuff still came out for the site at least. The first update released was <a href="https://2-17-2.atproducts.xyz">2.17.2</a>, on January 24th. <a href="https://2-18.atproducts.xyz">2.18</a>, releasing on March 27th, would be the second update of the year, and revamped MDickie Projects entirely. <a href="https://2-19.atproducts.xyz">2.19</a>, released on July 10th, 2024, added new features and resources, including the logo popovers you see here in the history section, redesigned several UI elements, updated various components, removed outdated items, and fixed multiple bugs. <a href="https://2-20.atproducts.xyz">2.20</a>, released on October 10th, readded <a href="/roms">AT's ROM Games</a>, and added code highlighting where needed. Finally, both <a href="https://2-20-1.atproducts.xyz">2.20.1</a> in October and <a href="https://2-20-2.atproducts.xyz">2.20.2</a> in December added 4 stories in total. <a href="https://2-20-2.atproducts.xyz">2.20.2</a> also added a Pynx Project, <a href="/nyaos">NyaOS</a>.</p>
          </div>
          <div class="tab-pane fade" id="history-6-pane">
            <h3>2025</h3>
            <p class="m-0">The first update of 2025, <a href="https://2-21.atproducts.xyz">2.21</a>, released on February 12th, 2025, replaced modals from 2022 (from <a href="https://2-8.atproducts.xyz">2.8</a>), back into their own page/articles (from the code.org days) from all Community/Product pages that contained them.</p>
          </div>
        </div>
      </div>
      <hr>
      <div id="what-new">
        <h2> What's New? </h2>
        <p>
          <b> Released on:</b> Febuary 12nd, 2025.<br>
          <b>ATP Database:</b> 2.21
        </p>
        <b>Added</b>
        <ul>
          <li>Added story "The Impact of Informational Technology on Daily Life". (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/415" target="_blank" rel="noopener noreferrer">#415</a>)</li>
          <li>Added a Departments section in both the navbar and footer. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/373" target="_blank" rel="noopener noreferrer">#373</a>)</li>
          <li>Added accordions in Paid Services to define certain things. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/379" target="_blank" rel="noopener noreferrer">#379</a>)</li>
          <li>Added resources to CodingHome. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/commit/2dd2cf3" target="_blank" rel="noopener noreferrer">2dd2cf3</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/389" target="_blank" rel="noopener noreferrer">#389</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/395" target="_blank" rel="noopener noreferrer">#395</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/414" target="_blank" rel="noopener noreferrer">#414</a>)</li>
          <li>Added tabs to Stories. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/417" target="_blank" rel="noopener noreferrer">#417</a>)</li>
          <li>Added footers to Stories' PDFs. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/commit/3ffbb36" target="_blank" rel="noopener noreferrer">3ffbb36</a>)</li>
          <li>Added colors for social media embeds. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/412" target="_blank" rel="noopener noreferrer">#412</a>)</li>
        </ul>
        
        <b>Changed</b>
        <ul>
          <li>Replaced modals with their own page on Products/Communities. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/405" target="_blank" rel="noopener noreferrer">#405</a>)</li>
          <li>Updated NyaOS to be final, as is. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/380" target="_blank" rel="noopener noreferrer">#380</a>)</li>
          <li>Updated Astro from v5.0.5 to v5.2.3. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/374" target="_blank" rel="noopener noreferrer">#374</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/375" target="_blank" rel="noopener noreferrer">#375</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/376" target="_blank" rel="noopener noreferrer">#376</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/377" target="_blank" rel="noopener noreferrer">#377</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/388" target="_blank" rel="noopener noreferrer">#388</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/393" target="_blank" rel="noopener noreferrer">#393</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/394" target="_blank" rel="noopener noreferrer">#394</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/396" target="_blank" rel="noopener noreferrer">#396</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/399" target="_blank" rel="noopener noreferrer">#399</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/403" target="_blank" rel="noopener noreferrer">#403</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/406" target="_blank" rel="noopener noreferrer">#406</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/409" target="_blank" rel="noopener noreferrer">#409</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/413" target="_blank" rel="noopener noreferrer">#413</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/418" target="_blank" rel="noopener noreferrer">#418</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/419" target="_blank" rel="noopener noreferrer">#419</a>)</li>
          <li>Updated @astrojs/react from v4.1.0 to v4.2.0. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/374" target="_blank" rel="noopener noreferrer">#374</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/377" target="_blank" rel="noopener noreferrer">#377</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/396" target="_blank" rel="noopener noreferrer">#396</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/399" target="_blank" rel="noopener noreferrer">#399</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/403" target="_blank" rel="noopener noreferrer">#403</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/406" target="_blank" rel="noopener noreferrer">#406</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/413" target="_blank" rel="noopener noreferrer">#413</a>)</li>
          <li>Updated Licenses, Terms of Service, and the Privacy Policy to be update to date with Products. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/392" target="_blank" rel="noopener noreferrer">#392</a>)</li>
          <li>Updated the Privacy Policy to include Netlify's Data Processing agreement. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/391" target="_blank" rel="noopener noreferrer">#391</a>)</li>
        </ul>
        
        <b>Removed</b>
        <ul>
          <li>Removed the backup pages for any Product/Community. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/405" target="_blank" rel="noopener noreferrer">#405</a>)</li>
          <li>Removed some links as they are now invalid. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/commit/6e9c2dfb" target="_blank" rel="noopener noreferrer">6e9c2dfb</a>, <a href="https://github.com/Alex-Toucan/atproducts.xyz/commit/101421c2" target="_blank" rel="noopener noreferrer">101421c2</a> & <a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/416" target="_blank" rel="noopener noreferrer">#416</a>)</li>
        </ul>
        
        <b>Bug Fixes</b>
        <ul>
          <li>Fixed Flash Documentation's modal formatting issue. (<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/398" target="_blank" rel="noopener noreferrer">#398</a>)</li>
        </ul>

      </div>
    </main>
    <Footer />
  </div>
  <BackToTop />
</div>
</DefaultBody>
