---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
import Accordion from '../components/accordion/Accordion.astro';
import AccordionItem from '../components/accordion/AccordionItem.astro';
---

<Head title="AT Products LLC - Department of Beta Testing" description="AT Products LLC's DoBT beta tests versions during development before shipping!" keywords="AT Products, Ethical Hacking Society, The Script Community, AT Products LLC, ATproducts" author="Alex Toucan" 
additionalContent=""
bulletin={[
{ bulletinImage: "DoBTopen.webp" },
{ bulletinImage: "218-2-012424.webp" },
]} />
<div id="page">
  <Navbar />
  <div class="alert alert-dark alert-dismissible fade show mb-0 d-flex gap-2" role="alert">
    <i class="bi bi-shield-fill-exclamation h-100"></i> 
    <div>
      <strong>BETA NOTICE:</strong> This is a new beta version of the DoBT site!
    </div> 
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button> 
  </div>
  <Hero
  id="codinghome"
  titleHTML="<h1 class='display-3 fw-bold'>AT Products LLC</h1> <h3 class='display-6 text-body-secondary fw-medium'>Department of Beta Testing</h3>"
  description="Welcome to AT Products's Department of Beta Testing's website portal which is full of resources!"
  primaryHref="https://beta.atproducts.xyz/"
  primaryText="Beta Website"
  secondaryHref="https://atproducts.xyz/"
  secondaryText="Main Website"
  marginBottom="false"
  icons={[
  { icon: "github", desc: "GitHub", href: "https://github.com/Alex-Toucan/atproducts.xyz" },
  { icon: "twitter-x", desc: "Twitter / X", href: "https://twitter.com/ATProductsLLC" },
  { icon: "youtube", desc: "YouTube", href: "https://youtube.com/c/AlexToucanAT" },
  { icon: "envelope-fill", desc: "Contact Form / Email", href: "https://atproducts.xyz/form/" },
  { icon: "cloud-sun-fill", desc: "Weather", href: "https://twitter.com/ATPWeather" },
  ]}
  />
  <div id="carousel-A" class="carousel carousel-main carousel-fade slide shadow nolrpadding container-sm mt-xmd-2 mb-3 pointer-event" data-bs-ride="carousel">
    <div class="pt-xmd-2 px-xmd-2">
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="10000">
          <img src="/media/slideshow/DoBTopen.webp" class="d-block w-100" alt="DoBT Beta Open">
        </div>
        <div class="carousel-item" data-bs-interval="10000">
          <img src="/media/slideshow/218-2-012424.webp" class="d-block w-100" alt="2.18 Release Slide 2">
        </div>
      </div>
      <div class="mediarow py-2" aria-label="Carousel-A Controls">
        <button class="carousel-control-prev col" type="button" data-bs-target="#carousel-A" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
        </button>
        <div class="carousel-indicators col-7 col-sm-5 text-center">
          <button aria-label="Slide 1" class="active slidebtn" data-bs-slide-to="0" data-bs-target="#carousel-A" type="button" aria-current="true"></button>
          <button type="button" data-bs-target="#carousel-A" data-bs-slide-to="1" aria-label="Slide 2" class="slidebtn"></button>
        </div>
        <button class="carousel-control-next col" type="button" data-bs-target="#carousel-A" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <div class="d-flex">
      <div class="btn-group w-100 p-1" role="group" aria-label="Carousel-A Play/Pause">
        <input type="radio" class="btn-check btn-check-dark col playButton" name="btnradio" id="playButton" aria-label="playButton" checked="">
        <label class="btn" for="playButton" id="playButtonLabel"><i class="bi bi-play-fill fs-4 link-hero"></i></label>
        <input type="radio" class="btn-check btn-check-dark col pauseButton" name="btnradio" id="pauseButton" aria-label="pauseButton">
        <label class="btn" for="pauseButton" id="pauseButtonLabel"><i class="bi bi-pause-fill fs-4 link-hero"></i></label>
      </div>
      <div class="col px-2 my-auto"><a href="/media/pdf/2.18 Patch Notes.pdf" class="fs-2 link-hero" target="_blank" rel="noopener noreferrer"><i class="bi bi-filetype-pdf"></i></a></div>
    </div>
  </div>
  <main id="index" class="container">
    <hr class="hero-drappear">
    <div id="about-us">
      <h2>About Us</h2>
      <p>Welcome to the AT Products LLC (ATPLLC)'s Department of Beta Testing (DoBT) (ATPLLC-DoBT [generally used], ATPDoBT, or ADoBT), as we test the <a href="https://atproducts.xyz">main department's website</a> and help improve it for our users and future customers.</p>
      <p>Why not <a href="/apply">apply today</a>! Your value of a beta tester is important to us. Our beta tester's feedback are greatly appreciated and will be taken into note greatly. Our users can see what you helped provide feedback with, and you could possibly be in the credits for the version you are beta testing!.</p>
      <p>This department has been recognized by AT Products LLC (and by Alex Toucan) since March 18th, 2024.</p>
    </div>
  </main>
  <Footer />
  <BackToTop />
</div>
<Scripts index="true" />
