---
import DefaultBody from '../layouts/DefaultBody.astro';
---

<DefaultBody 
  title="Advertisements" 
  description="Support AT Products LLC with advertisements on our site." 
  keywords="advertisements, support, AT Products LLC" 
  author="AT Products LLC"
>
  <div class="container pt-4 vh-100">
    <h1 class="text-center fw-bolder">
      Advertisements from <a href="https://atproducts.xyz">AT Products LLC</a>
    </h1>

    <p class="text-center mt-3 fw-semibold fs-6">
      Support us by viewing advertisements on this page—we keep our other sites ad-free for your convenience.
    </p>

    <!-- Responsive Adsterra Grid -->
    <div class="ad-grid my-4">
      <Fragment set:html={`
        <script>
          window.atOptions = {
            key: '158bbd11ec1f205737043f4832348e20',
            format: 'iframe',
            height: 250,
            width: 300,
            params: {}
          };
        </script>
      `} />

      <div class="ad-grid">

        <!-- 728x90 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : '1b091bc2c6b88afcf4bea9782acbc1b4',
              'format' : 'iframe',
              'height' : 90,
              'width' : 728,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/1b091bc2c6b88afcf4bea9782acbc1b4/invoke.js"></script>
        </div>

        <!-- 160x600 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : 'f803b11794063cf668fc3ee91f60b82a',
              'format' : 'iframe',
              'height' : 600,
              'width' : 160,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/f803b11794063cf668fc3ee91f60b82a/invoke.js"></script>
        </div>

        <!-- 468x60 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : 'a0b7b4741d77243ea46684cb6b27675f',
              'format' : 'iframe',
              'height' : 60,
              'width' : 468,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/a0b7b4741d77243ea46684cb6b27675f/invoke.js"></script>
        </div>

        <!-- 320x50 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : 'a46fa7a655ee1b120a82fc6e9d30b1f9',
              'format' : 'iframe',
              'height' : 50,
              'width' : 320,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/a46fa7a655ee1b120a82fc6e9d30b1f9/invoke.js"></script>
        </div>

        <!-- 300x250 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : '158bbd11ec1f205737043f4832348e20',
              'format' : 'iframe',
              'height' : 250,
              'width' : 300,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/158bbd11ec1f205737043f4832348e20/invoke.js"></script>
        </div>

        <!-- 160x300 -->
        <div class="ad-item">
          <script>
            atOptions = {
              'key' : 'c8742194f53ad9ec219db63988eb461f',
              'format' : 'iframe',
              'height' : 300,
              'width' : 160,
              'params' : {}
            };
          </script>
          <script src="https://www.highperformanceformat.com/c8742194f53ad9ec219db63988eb461f/invoke.js"></script>
        </div>

      </div>


    </div>

    <!-- EffectiveGateCPM Script 1 -->
    <script async data-cfasync="false" src="https://pl28664708.effectivegatecpm.com/946bb43adc202e0d28aa4ebab5ae1626/invoke.js"></script>
    <div id="container-946bb43adc202e0d28aa4ebab5ae1626"></div>

    <!-- EffectiveGateCPM Script 2 -->
    <script src="https://pl28664685.effectivegatecpm.com/a2/a3/c1/a2a3c16e61fc765ade1caed37a5529e9.js"></script>

    <!-- EffectiveGateCPM Smartlink -->
    <a href="https://www.effectivegatecpm.com/yk7i7096x0?key=b546a3d2d696f4c0b57fcc418969f9c9" style="display:none;"></a>

    <!-- EffectiveGateCPM Script 3 -->
    <script src="https://pl28664642.effectivegatecpm.com/e5/52/94/e552941806105b5e68df4c3b6ce18ee3.js"></script>
  </div>

  <!-- Bottom Buttons + Footer -->
  <div class="d-flex position-fixed bottom-0 mb-3 justify-content-between w-100">
    <div class="start-0 ms-3" id="information-btn">
      <button class="btn btn-secondary py-2 d-flex align-items-center shadow-lg" 
              id="bd-information" 
              type="button" 
              data-bs-toggle="modal" 
              data-bs-target="#informationModal">
        <span><i class="my-1 bi bi-info"></i></span>
        <span class="visually-hidden" id="bd-information-text">Toggle information modal</span>
      </button>
    </div>

    <footer class="text-center tab-link d-flex align-self-center">
      <span>2025 &reg; <a href="https://atproducts.xyz">AT Products LLC</a></span>
    </footer>

    <div class="dropup end-0 me-3">
      <button class="btn btn-secondary py-2 dropdown-toggle d-flex align-items-center" 
              id="bd-theme" 
              type="button" 
              aria-expanded="false" 
              data-bs-toggle="dropdown" 
              data-bs-display="static">
        <span class="theme-icon-active">
          <i class="bi bi-sun-fill me-2"></i>
        </span>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>

      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-specific" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light">
            <i class="bi bi-sun-fill me-2"></i> Light
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark">
            <i class="bi bi-moon-stars-fill me-2"></i> Dark
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto">
            <i class="bi bi-circle-half me-2"></i> Auto
          </button>
        </li>
      </ul>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="informationModal" tabindex="-1" aria-labelledby="informationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="informationModalLabel">Information & Credits</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <div class="modal-body">
          <div class="hero hero-main p-md-4 rounded-2 mb-3">
            <div class="bg-dark p-2 rounded-2 d-grid mx-auto" style="width: 217px; filter: drop-shadow(2px 4px 6px black);">
              <span class="text-center fw-bold fs-4 text-white mb-2">Made by:</span>
              <a class="btn btn-dark py-2" href="https://atproducts.xyz" target="_blank" rel="noopener noreferrer">
                <img alt="AT Products LLC" src="https://atproducts.xyz/media/images/longwhite.png" width="175px">
              </a>
            </div>
          </div>

          <h2>Information</h2>
          <div class="text-justify">
            <p class="tab">
              This page is dedicated to supporting <a href="https://atproducts.xyz"><strong>AT Products LLC</strong></a> through advertisements.
            </p>
            <p class="tab">
              Your support directly contributes to the maintenance and development of our platforms.
            </p>
            <p class="tab">
              If you wish to support us further, please consider visiting our <a href="https://atproducts.xyz/paid">Paid Products</a>.
            </p>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

</DefaultBody>
