---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Licenses" description="Licenses of all our resources." author="Alex Toucan"/>
<div id="page">
<Navbar />
<main id="licenses" class="text-center container">
      <h1 class="title">Licenses</h1> 
  <div id="content" class="border p-2 my-2 rounded-2"><div id="first" class="border p-2 my-2 rounded-2">
		    <h2>1st-party Licenses</h2>
      <div class="mx-1">
        <div class="border" id="ours">
          <h2 class="title">atproducts.xyz License</h2>
          <p><i>Note that this license includes a copy of the <a href="https://opensource.org/license/mit/">MIT license</a>.</i></p>
           <div class=" basics-scroll m-2" style="height: 150px">
<p>atproducts.xyz's license is labeled as the MIT license, meaning you can do anything you want with this site except illegal activies.</p>
<div class="h2 mt-2">MIT License</div>
		   <p>
Permission is hereby granted, free of charge, to any person obtaining a copy of this software and associated documentation files (the “Software”), to deal in the Software without restriction, including without limitation the rights to use, copy, modify, merge, publish, distribute, sublicense, and/or sell copies of the Software, and to permit persons to whom the Software is furnished to do so, subject to the following conditions:
<br><br>
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software.
<br><br>
THE SOFTWARE IS PROVIDED “AS IS”, WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.
		   </p>
	   </div>
        </div></div>
</div><hr><div id="third" class="border p-2 my-2 rounded-2"><h2>3rd-party Licenses</h2>
        <div class="border" id="bootstrap">
          <h2 class="title">Bootstrap &amp; Bootstrap Icons License</h2>
          <p><i>Note that this license is a direct copy of the <a href="https://opensource.org/license/mit/">MIT license</a>.</i></p>
          <div class="basics-scroll m-2" style="height: 150px">
		  <p>The MIT License (MIT)
<br><br>
Copyright (c) 2011-2023 The Bootstrap Authors
<br><br>
Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:
<br><br>
The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.
<br><br>
THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.</p>
	  </div>
        </div>
        <div class="border" id="jquery">
          <h2 class="title">JQuery License</h2>
          <div class="basics-scroll m-2" style="height: 150px">

<p><strong>Note:</strong> For the purposes of this document, the term "Project" will refer to any <a href="https://js.foundation">JS Foundation</a> project using the MIT license <strong>AND</strong> referencing this document in the header of the distributed Project code or Project website source code.</p>
<h2>Source Code</h2><p>Projects referencing this document are released under the terms of the <a href="https://tldrlegal.com/license/mit-license">MIT license</a>.</p>
<p>The MIT License is simple and easy to understand and it places almost no restrictions on what you can do with the Project.</p>
<p>You are free to use the Project in any other project (even commercial projects) as long as the copyright header is left intact.</p>
<h2> Sample Code</h2><p>All demos and examples, whether in a Project's repository or displayed on a Project site, are released under the terms of the license as specified in the relevant repository. Many Projects choose to release their sample code under the terms of <a href="https://tldrlegal.com/l/cc0-1.0">CC0</a>.</p>
<p>CC0 is even more permissive than the MIT license, allowing you to use the code in any manner you want, without any copyright headers, notices, or other attribution.</p>
<h2> Web Sites</h2><p>The content on a Project web site referencing this document in its header is released under the terms of the license specified in the website's repository or if not specified, under the <a href="https://tldrlegal.com/license/mit-license">MIT license</a>.</p>
<p><strong>The design, layout, and look-and-feel of JS Foundation project web sites are not licensed for use and may not be used on any site, personal or commercial, without prior written consent from the JS Foundation</strong>.</p>
<p>For further information regarding JS Foundation licensing and intellectual property, please review the <a href="https://js.foundation/pdf/ip-policy.pdf">JS Foundation IP Policy</a>.</p>
	</div>
        </div></div>
          </div>
	   </main>
<Footer />
<BackToTop />
</div>
<Scripts />
