---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="ATPLLC DoBT - Links" description="Links for the beta testers of AT Products LLC." author="Alex Toucan"/>
      <div id="page">
<Navbar />
 <Hero
  id="codinghome"
  title="Links"
  description="Links for the beta testers of AT Products LLC"
  />
    <main id="links" class="container">
<p>
<h2>2.18 Links</h2>
<p>
<a href="https://beta.atproducts.xyz">2.18 Testing</a>
<a href="https://github.com/Alex-Toucan/atproducts.xyz/pull/190">2.18 PR</a>
</p>
<h2>Beta Testing Links</h2>
<p>
    <a href="/links">Links</a>
  <a href="https://github.com/Alex-Toucan/atproducts.xyz/blob/beta/standards.md">Beta Standards</a>
  <br>
    <a href="https://atproducts.xyz">Public Website</a>
  <br>
    <a href="https://beta.atproducts.xyz">Beta Website</a>
  <br>
    <a href="https://github.com/Alex-Toucan/atproducts.xyz/pulls">GitHub PRs</a>
  <br>
    <a href="https://github.com/Alex-Toucan/atproducts.xyz/tree/beta">Beta Branch</a>
      <br>
    <a href="https://discord.gg/NTVd3vGFMS">Alex's Diary (CodingHome @ Discord)</a>
  <br>
    <a href="https://twitter.com/ATProductsLLC">ATPLLC's Twitter</a>
  <br>
    <a href="https://atproducts.xyz/backup/archive/">Backup Archive (public)</a>
  <br>
    <a href="https://beta.atproducts.xyz/backup/archive/">Backup Archive (beta)</a>
</p>
</main>
<Footer />
<BackToTop />
</div>
<Scripts />
