---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Links" description="Links for the beta testers of AT Products LLC." author="Alex Toucan">
  <div id="page">
    <Navbar />
    <div id="main-content">
      <Hero
        id="codinghome"
        title="Links"
        description="Links for the beta testers of AT Products LLC."
      />
      <main id="links" class="container">
        <p>
        <h2>2.25 Links</h2>
        <p class="my-3"><b>Last Updated:</b> 5/18/2026</p>
        <p>
          <i>This is a beta version for 2.25, introducing the new Bootstrap v6 features. As a reminder, this is a work in progress and may contain bugs, glitches, or incomplete functionality.</i><br><br>
          <i>The GitHub branch for this beta version that is currently active is the <a href="https://github.com/Alex-Toucan/atproducts.xyz/tree/bootstrap-v6-dev"><code>bootstrap-v6-dev</code> branch</a>, <b>NOT</b> the <code>beta</code> branch.</i><br><br>
          <i>If any of such bugs are found, please report them on the <a href="https://github.com/Alex-Toucan/atproducts.xyz/issues" target="_blank">GitHub issue tracker</a>, or email us at <a href="mailto:support@atproducts.xyz">support@atproducts.xyz</a>.</i>
        </p>
        <p>
        <a href="https://forms.gle/fiDp5uhAbiMWhWtw9">Feedback Form</a>
        <br>
        <a href="https://beta.atproducts.xyz"><code>beta</code> branch (Active)</a>
        <br>
        <a href="https://bootstrap-v6-dev--atproducts.netlify.app/"><code>bootstrap-v6-dev</code> branch (Active)</a>
        <br>
        <a href="https://radiumos.atproducts.xyz">RadiumOS (beta)</a>
        <br>
        <a href="https://github.com/Alex-Toucan/atproducts.xyz/milestone/36">2.25 Milestone</a>
        </p>
        <hr>
        <h2>Beta Testing Links</h2>
        <p>
            <a href="https://atproducts.xyz">Public Website</a>
          <br>
            <a href="https://beta.atproducts.xyz">Beta Website</a>
          <br>
            <a href="https://github.com/Alex-Toucan/atproducts.xyz/pulls">GitHub PRs</a>
          <br>
            <a href="https://github.com/Alex-Toucan/atproducts.xyz/tree/beta">Beta Branch</a>
              <br>
            <a href="https://discord.gg/NTVd3vGFMS">Alex's Diary (CodingHome @ Discord)</a>
          <br>
            <a href="https://twitter.com/ATProductsLLC">ATPLLC's Twitter</a>
          <br>
            <a href="https://atproducts.xyz/backup/archive/">Backup Archive (public)</a>
          <br>
            <a href="https://beta.atproducts.xyz/backup/archive/">Backup Archive (beta)</a>
        </p>
      </main>
      <Footer />
    </div>
    <BackToTop />
  </div>
</DefaultBody>
