---

---

<html class="h-100" lang="en" data-bs-theme="dark">
  <head>
    <title>Maintenance Mode</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="script" href="/static/darkmode.js">
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:image" content="/media/favicon/iconembed.png">
    <meta name="twitter:image" content="/media/favicon/iconembed.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Maintenance Mode">
    <meta name="description" content="atproducts.xyz is currently under maintenance as planned.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Maintenance Mode">
    <meta name="twitter:description" content="atproducts.xyz is currently under maintenance as planned.">
    <meta name="author" content="Alex Toucan">
    <meta property="og:title" content="Maintenance Mode">
    <meta property="og:description" content="atproducts.xyz is currently under maintenance as planned.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script is:inline src="/static/darkmode.js"></script>

    <style>
      @media (min-width: 450px) {
        .h-custom-100 {
          height: 100%;
        }
      }

      .image {
        min-width: 70px;
        max-width: 100px;
      }

      [data-bs-theme=dark] .image {
         filter: invert(1);
      }
    </style>
  </head>
  <body class="h-100">
    <div id="page" class="h-100">
      <main id="maintenance" class="container h-100 d-flex justify-content-center align-items-center">
        <div class="p-4 p-md-5 m-mmd-3 bg-secondary-subtle rounded-3 border-2">
          <div class="d-md-flex gap-2">
            <img src="/media/images/shortblack.png" width="15%" class="image me-mmd-2">
            <img src="/media/images/wrench-adjustable.png" width="15%" class="image">
            <div class="ms-auto mt-mmd-2 d-md-grid justify-content-md-center align-items-md-center text-md-end" class="image">
              <h1 class="m-0">AT Products LLC</h1>
              <h2 class="text-body-secondary m-0">Maintenance Mode</h2>
            </div>
          </div>
          <hr>
          <div class="text-justify">
            <p>atproducts.xyz is currently under maintenance as planned. The beginning of "Maintenance Mode" has started on <code>4/19/24 @ 7:00 PM (19:00) CST</code> and will end on <code>4/19/24 @ 7:30 PM (19:30) CST</code>*. You can view times for the <a href="https://dateful.com/convert/cst-cdt-central-time?t=7pm">beginning time</a> and the <a href="https://dateful.com/convert/cst-cdt-central-time?t=7:30pm">ending time</a> in your time zone. </p>
            <p>We apologize for the inconvenience this may have caused.</p>
          </div>
          <hr>
          <p class="fw-normal text-body-secondary" style="font-size: .8rem">* - The end time for Maintenance Mode may change at any time when necessary.</p>
          <h6> ® AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script>
          </h6>
        </div>

        <div class="dropup position-fixed bottom-0 end-0 mb-3 me-3">
          <button class="btn btn-secondary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
            <span class="theme-icon-active">
              <i class="my-1"></i>
            </span>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-specific" aria-labelledby="bd-theme-text">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="false">
                <i class="bi bi-sun-fill me-2"></i> Light </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <i class="bi bi-moon-stars-fill me-2"></i> Dark </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="true">
                <i class="bi bi-circle-half me-2"></i> Auto </button>
            </li>
          </ul>
        </div>
      </main>
    </div>

    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
  </body>
</html>
