---

---

<html class="h-100" lang="en" data-bs-theme="dark">
  <head>
    <title>Blank Canvas</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="script" href="/static/darkmode.js">
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:image" content="/media/favicon/iconembed.png">
    <meta name="twitter:image" content="/media/favicon/iconembed.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Blank Canvas">
    <meta name="description" content="This page is used as a blank canvas for our web-devs to use for testing new elements.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Blank Canvas">
    <meta name="twitter:description" content="This page is used as a blank canvas for our web-devs to use for testing new elements.">
    <meta name="author" content="Alex Toucan">
    <meta property="og:title" content="Blank Canvas">
    <meta property="og:description" content="This page is used as a blank canvas for our web-devs to use for testing new elements.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/static/darkmode.js"></script>
  </head>
  <body class="h-100">
    <div id="page" class="h-100">
      <main id="tos" class="container h-100 d-flex justify-content-center align-items-center">
        <div class="p-5 my-auto bg-dark-subtle rounded-3 border-2 border-secondary"><img src="/media/images/shortwhite.png" width="20%">
          <hr>
          <div class="my-5 mx-auto" style="filter: drop-shadow(2px 4px 6px black);">
            <div class="text-center">Insert Code Here (or remove the <code>&lt;div&gt;</code>)</div>
          </div>
        </div>
      </main>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
  </body>
</html>
