---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Noodle Hackerspace" heroid="noodle" icon="noodle.webp" color="#f1b856" description="Noodle Hackerspace is a community of resources!" keywords="Scripts, viruses, coding," author="Alex Toucan & Pynx"/>
<div id="page">
  <Navbar />
  <div class="alert alert-dark mb-0" role="alert">
  This is an inactive community. Expect no new sections or changes without special exceptions.
  </div>
  <div id="main-content">
    <Hero id="noodle" title="Noodle Hackerspace" description="Noodle Hackerspace is the community of physical and digital hacking resources!" imageSrc="/media/images/noodle.webp" imageWidth="15%" minImageWidth="150px" imageClasses="me-md-3 rounded-2"
      buttons={[
        { href: "/pynx", text: "Pynx's Projects", type: "primary" },
        { href: "/backup/noodle", text: "View the all laid out format", type: "secondary" },
      ]},
      icons={[
        { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/r7qVKedjwR" },
        { icon: "bullseye", desc: "Pynx Technologies", href: "https://2983u2.site/" },
        { icon: "heart-fill", desc: "Tokyo Chat", href: "https://tokyochat.pynxthegoat.repl.co/" },
      ]},
    />
    <main id="noodle" class="text-center container">
      <div id="disclaimer">
        <h2> Disclaimer </h2>
        <p> 
        We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br><br>
        Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>
        If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
        </p>
      </div> 
      <hr>
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/noodle/pynxtech">
          Pynx Technology
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/stories/cctv">
          CCTV Interception
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="/articles/noodle/viruses">
          Viruses & Malware
        </a>
        <a class="btn btn-dl btn-resource" type="button" href="https://tokyochat.pynxthegoat.repl.co/">
          Tokyo Chat
        </a>
      </div>  
    </main>
    <Footer author="Alex Toucan & Pynx" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
