---
import Head from '../layouts/Head.astro';
import Hero   from '../components/Hero.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import Modal  from '../components/Modal.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Noodle Hackerspace" heroid="noodle" icon="noodle.webp" description="Noodle Hackerspace is a community of resources!" keywords="Scripts, viruses, coding," author="Alex Toucan & Pynx"/>
<div id="page">
<Navbar />
<div class="alert alert-dark mb-0" role="alert">
  This is an inactive community. Expect no new sections or changes without special exceptions.
</div>
<Hero id="noodle" title="Noodle Hackerspace" description="Noodle Hackerspace is the community of physical and digital hacking resources!" primaryHref="https://2983u2.site/" primaryText="Pynx Technologies" secondaryHref="/backup/noodle" secondaryText="View the all laid out format" imageSrc="/media/images/noodle.webp" imageWidth="15%" minImageWidth="150px" imageClasses="me-md-3 rounded-2"
icons={[
    { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/r7qVKedjwR" },
    { icon: "twitter", desc: "Twitter", href: "https://twitter.com/Aquoz_co" },
    { icon: "bullseye", desc: "Pynx Technologies", href: "https://2983u2.site/" },
    { icon: "heart-fill", desc: "Tokyo Chat", href: "https://tokyochat.pynxthegoat.repl.co/" },
  ]}
/>
    <main id="noodle" class="text-center container">
  <div id="disclaimer">
    <h2> Disclaimer </h2>
   <p> We do not take responsibility for any damage, or legal issues, done with these files here at AT Products LLC, Ethical Hacking Society, The Script Community, CodingHome, or Noodle Hackerspace.      <br><br>
      Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a></p>
  </div> <hr>
  <div id="resources">
            <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <Modal title="Pynx Technologies" id="pynx"><Fragment slot="modal-content">
    <p><a href="https://2983u2.site/">Pynx Technologies</a> is a company that has cybersecurity tools, pentesting tools, etc. It sells at the moment 
      SSkullzv2 and Skullzv3.</p>
</Fragment></Modal>
 <Modal title="Stories" id="stories"><Fragment slot="modal-content">
      <p><a href="/stories/cctv">CCTV Interception</a></p>
</Fragment></Modal>  
<Modal title="Viruses &amp; Malware" id="files"><Fragment slot="modal-content">
    <p> <a href="/media/files/root.sh" download>Root Password Phishing (Bash)</a> <a href="/media/files/alias.sh">Alias Command Version</a> <a href="/media/files/instruct.txt">Instructions</a> by Lynx </p>
    <p> <a href="/media/files/login.py" download>Example Login Program (Python)</a>, (Password is "password"), by Lynx </p>
    <p> <a href="/media/files/Cerbios.py" download>Cerbios Ransomware (Python)</a> by Pynx </p>
    <p> <a href="/media/files/sshbrute-main.zip" download>SSH Brute (Python [ZIP])</a> by Pynx </p>
</Fragment></Modal>
<Modal title="Apps &amp; Software" id="app"><Fragment slot="modal-content">
      <p> <a href="https://tokyochat.pynxthegoat.repl.co/">Tokyo Chat</a> by Pynx </p>
 </Fragment></Modal>
    </div>  </main>
<Footer author="Alex Toucan & Pynx"/>
<BackToTop />
  </div>
  <Scripts />
