---
import DefaultBody from '../layouts/DefaultBody.astro';
import HeroPynx from '../components/secondary/HeroPynx.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="NyaOS" heroid="ehs" description="NyaOS; a Hobby OS." keywords="Inferno, NyaOS, BxPP, AT Products LLC" author="Alex Toucan & Pynx" />
<div id="page">
	<Navbar />
	<div id="main-content">
		<HeroPynx
			title="NyaOS"
			description="Made by Pynx&semi; a little hobby OS with potential."
	    buttons={[
	      { href: "#downloads", text: "Downloads", type: "primary" },
	    ]},
	    dropdownItems={[
        { navigationDesc: "General Information", navigationLink: "#general-info" },
        { navigationDesc: "Commands", navigationLink: "#commands" },
        { navigationDesc: "Downloads", navigationLink: "#downloads" },
	    ]},
	  />
	  <main id="nyaos" class="container">
	    <div id="general-info">
	      <h2> General Information </h2>
	      <p><strong>NyaOS is no longer being worked on, but was never finalized; be warned of bugs and glitches.</strong> NyaOS is a 32-bit hobby OS, purely made for fun, as the bootloader is made with <a href="https://osdev.org/">OSDev</a>. Test this OS in a virtual machine!</p>
        <span><strong>The minimum requirements for NyaOS is:</strong></span>
        <ul>
          <li><strong>CPU:</strong> At least 1 core.</li>
          <li><strong>RAM:</strong> At least 21mb (or roughly the size of the ISO).</li>
          <li><strong>Storage:</strong> None, since it's all run on the ISO.</li>
        </ul>
	    </div>
	    <hr>
      <div id="commands">
        <h2>Commands</h2>
<pre class="mt-2 p-2 border-2 border-solid rounded-2"><code>-- General Commands --
help             # shows a help message
ping             # just outputs pong 
echo             # echos back said string(s) (currently, echo is bugged)
clear            # clears screen (after running commands, it may turn light blue instead)
history          # shows commands previously used
fb               # toggle special characters
exit             # exits the console (causes a kernel panic)

-- File-related Commands --
create &lt;dirname&gt; # creates a new file
write &lt;dirname&gt;  # writes data to a file
cat &lt;dirname&gt;    # displays the contents of a files
del &lt;dirname&gt;    # deletes a files
del -r &lt;dirname&gt; # deletes a directory
ls               # lists files
mkdir &lt;dirname&gt;  # creates a new directory
cd &lt;dirname&gt;     # changes the current directory
</code></pre>
      </div>
      <hr>
	    <div id="downloads">
	      <h2>Downloads</h2>
        <div class="d-grid d-md-flex flex-wrap gap-2 my-3">
          <a class="btn btn-primary btn-lg" href="/media/files/NyaOS.iso">ISO Download</a>
        </div>
        <h3>ISO Stats</h3>
        <ul>
          <li><strong>Name:</strong> NyaOS.iso</li>
          <li><strong>Last Modified:</strong> Tuesday, November 30, 2024, 4:45:51 PM CST.</li>
          <li><strong>Size:</strong> 27.5 MB (28,841,984 bytes) (may differ on disk).</li>
        </ul>
	    </div>
	  </main>
		<Footer author="Alex Toucan & Pynx" />
	</div>
	<BackToTop />
</div>
</DefaultBody>
