---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Paid Services & Website Creation Policies and Terms" description="View our Paid Services & Website Creation Policies and Terms to understand our website and paid services guidelines." author="Alex Toucan"/>
<div id="page">
<Navbar />
  <main id="tos" class="container">
    <h1 class="title"> Paid Services & Website Creation Policies and Terms</h1> 
    <h5> Last Updated: <time>December 22nd, 2023</time>.</h5>
    <h5> Into Effect: <time>December 22nd, 2023</time>.</h5>
    <div id="disclaimer">
      <p class="my-3"><i>These terms are not meant to be confused with the <a href="/terms">Terms of Service</a>. These terms are for our <a href="/paid">Paid Services</a> and not for our website.</i></p>
    </div> 
    <div id="definitions">
    <h3> Definitions</h3> 
    <p> Company: AT Products LLC <br>
        Services: Primary Services: Website Design Package, and Website Hosting Package. Secondary Services: Website Maintenance Package. (commonly referred to as "We", "Us", and "Our")
        <br><br>
        You: You refers to the individual accessing or using the Website, Service, or Code, or the company or any other legal entity on behalf of which such individual is accessing or using the Website, Service, or Code, as applicable. </p>
    </div>
    <div id="paidterms">
      <h3> I: General Terms </h3>
      <p>
        These Terms of Service govern the use of the paid website services provided by AT Products LLC ("Company") and the use of CashApp as the sole payment option. By accessing or using the Company's website creation services and making payments via CashApp, you agree to be bound by these terms and conditions. If you do not agree to these terms, please refrain from using our services.
        <br><br>
        The Company offers website creation services ("Services") to clients seeking the development and design of a website. The specific features, functionalities, and deliverables of the Services will be agreed upon in writing between the Company and the client.
        <br><br>
        The client shall make payment for the Services according to the rates and terms specified by the Company. The sole payment option accepted is CashApp. By choosing to make a payment via CashApp, you agree to adhere to the terms and conditions of CashApp.
        <br><br>
        CashApp is a third-party payment service provided by CashApp or its affiliates. The Company does not have control over CashApp's policies, processes, or transactions. The Company does not collect, process, or store any payment-related information provided through CashApp. All payment processing and financial transactions are handled by CashApp, and the Company disclaims any liability arising from any issues, errors, or disputes related to payments made through CashApp.
        <br><br>
        Refunds may be offered 30 days after completion of the Website Design, however, it may result in a deletion as we only do returns with our refunds. Any disputes, refunds, or chargebacks related to payments made through CashApp shall be governed by CashApp's terms and conditions and refund policies. The Company shall not be responsible for resolving any disputes related to payments made through CashApp.
        <br><br>
        Upon the client's full payment for the Services, the Company assigns all intellectual property rights associated with the website created to the client, except for any pre-existing materials or proprietary tools used by the Company. The client acknowledges that the Company may incorporate third-party materials, such as plugins, themes, or stock images, into the website. The ownership and licensing terms for such third-party materials are subject to the terms and conditions of the respective third-party providers.
        <br><br>
        The client agrees to maintain the confidentiality of any confidential information received from the Company during the provision of the Services. Confidential information includes but is not limited to, trade secrets, client data, website concepts, and proprietary methodologies.
        <br><br>
        Until our website design package is completed in full and You, the customer, has paid our invoice, we shall own your website created by us. If you ask for maintenance on your site, we will claim ownership again until the service(s) are completed and again paid in full. If you do not pay in full after the requested service is done, in 30 days, we will delete the website (or project), and it shall not be recovered. If we cannot do such, legal action will be taken. The website maintenance package does not apply, you shall own the site until the website design package is completed.
        <br><br>
        The website provided by the Company is offered "as is" and without any warranties, whether expressed or implied. The Company shall not be liable for any direct, indirect, incidental, consequential, or special damages arising out of or in connection with using the Services.
      </p>
    </div>
    <div id="acceptance">
      <h3> II: Acceptance </h3>
      <p> 
        Upon contacting us for any service package, You signify your agreement to the following TOS. In the circumstance that You violate any section of the TOS, We reserve the right to revoke Your privileges and ability to use the Code, Project(s), and Services we provide.
        <br> <br>
        At our sole discretion, we reserve the right to modify or replace these policies and terms at any time. If a revision has a sufficient effect on You, we will make efforts to provide at least a 30-day notice before any new Terms take effect. Just so you know, a sufficient revision is determined at Our sole discretion.
      </p>          
    </div> 
  </main>
<Footer />
<BackToTop />
</div>
<Scripts />
