---
import Head from '../layouts/Head.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Policies" description="View ATP's policies." author="Alex Toucan"/>
<Navbar />
        <main id="policies" class="text-center container"> 
          <h1 class="title"> Policies </h1>
     <div class="d-md-flex d-grid flex-wrap gap-2">
<div class="col">
  <a href="/privacy"><h3>Privacy Policy</h3></a>
  </div>
       <div class="col">
  <a href="/titleiiandvii"><h3>Title II & VII Policy</h3></a>
  </div>
                 <div class="col-12">
  <a href="/paidterms"><h3>Paid Services & Website Creation Policies and Terms</h3></a>
          </div>
</main>
<Footer />
<BackToTop />
</div>
    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
     <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
    <script is:inline src="/static/scroll.js"></script>
    <script is:inline src="/static/purecookie.js"></script>
    <script is:inline src="/static/enabler.js"></script>
    </body>
    </html>
