---

---

<html class="h-100" lang="en" data-bs-theme="dark">
  <head>
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="script" href="/static/darkmode.js">
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" tyye="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:image" content="/media/favicon/iconembed.png">
    <meta name="twitter:image" content="/media/favicon/iconembed.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Portfolio">
    <meta name="description" content="Portfolio of Alex Toucan.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Portfolio">
    <meta name="twitter:description" content="Portfolio of Alex Toucan.">
    <meta name="author" content="Alex Toucan">
    <meta property="og:title" content="Portfolio">
    <meta property="og:description" content="Portfolio of Alex Toucan.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script is:inline src="/static/darkmode.js"></script>

    <style>
      body {
        overflow: visible;
      }

      @media (max-width: 767.98px) {
        img.atproducts-image {
          min-width: 200px !important;
        }
      }

      img.atproducts-image {
        min-width: 290px;
        width: 40%;
      }

      p {
        margin-bottom: 0 !important;
        padding-bottom: 1rem;
      }

      @media (max-width: 767.98px) {
        p:nth-last-child(-n + 1) {
          padding-bottom: 4rem !important;
        }
      }
    </style>
    
  </head>
  <body class="py-5 container">
    <div class="d-md-flex gap-3 h-100">
      <div class="col-md-3">
        <div class="text-center">
          <img src="/media/favicon/iconembed.png" width="40%" class="mb-2 rounded-2" alt="Icon">
          <h1 class="display-6 fw-bold">Alex Toucan</h1>
          <p class="text-body-secondary p-0 fw-bold">Website Developer</p>
          <p class="text-body-secondary p-0">Amongst Other Hobbies...</p>
          <hr>
        </div>
      <ul class="nav flex-column nav-pills" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100 active" id="tab-about-tab" data-bs-toggle="pill" data-bs-target="#tab-about" type="button" role="tab" aria-controls="tab-about" aria-selected="true">About Me</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="tab-atproducts-tab" data-bs-toggle="pill" data-bs-target="#tab-atproducts" type="button" role="tab" aria-controls="tab-atproducts" aria-selected="false">AT Products LLC</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="tab-atproductsxyz-tab" data-bs-toggle="pill" data-bs-target="#tab-atproductsxyz" type="button" role="tab" aria-controls="tab-atproductsxyz" aria-selected="false">atproducts.xyz</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="tab-toucan-tab" data-bs-toggle="pill" data-bs-target="#tab-toucan" type="button" role="tab" aria-controls="tab-toucan" aria-selected="false">The Toucan Empire</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="tab-codinghome-tab" data-bs-toggle="pill" data-bs-target="#tab-codinghome" type="button" role="tab" aria-controls="tab-codinghome" aria-selected="false">CodingHome</button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link w-100" id="tab-atpweather-tab" data-bs-toggle="pill" data-bs-target="#tab-atpweather" type="button" role="tab" aria-controls="tab-atpweather" aria-selected="false">ATPWeather</button>
        </li>
      </ul>
      </div>
      <div class="vr d-none d-md-block border-3"></div>
      <hr class="d-block d-md-none border-3">
      <div class="col-md">
        <div class="tab-content col-md products-tabContent" id="products-tabContent">
          <div class="tab-pane fade active show" id="tab-about" role="tabpanel" aria-labelledby="tab-about-tab" tabindex="0">
            <h1 class="display-6 fw-bold mb-2">About Me</h1>
            <p>Hello there! I'm <strong>Alex Toucan</strong>, considered a 15-year-old Korean-Scottish-American, embodying a rich tapestry of diverse cultural influences.</p>
            <p>I am the founder and owner of <strong><a href="https://atproducts.xyz">AT Products LLC</a></strong>, affectionately known as <strong>A.T Products</strong>. Based in the United States, we pride ourselves on being an informative technology company focusing on cybersecurity and malware resources, all easily accessible to the public.</p> 
            <p>I am also the second owner of <a href="https://discord.gg/pgGfhDVrmS">CodingHome</a>, a Discord server rich in coding resources and support for most languages!</p>
            <p>With a diverse website skill set spanning HTML, CSS, JavaScript, <a href="https://astro.build">Astro</a>, <a href="https://react.dev/">React</a>, <a href="https://getbootstrap.com">Bootstrap</a>, <a href="https://jquery.com/">JQuery</a>, and Content Security Policy, I'm deeply involved in crafting innovative solutions to technological challenges. I use GitHub as my platform with my <a href="https://github.com/Alex-Toucan/atproducts.xyz">main website's code</a>.</p>
            <p>For those curious about my PC setup, I boast an 11th Gen Intel Core i9-11900k CPU, Radeon RX 480 GPU, 64 GB RAM, and a high-speed 1300 Mbps Wi-Fi adapter, and the glorious Windows 11 Pro, empowering both my work and immersive gaming experiences.</p>
            <p>When I'm not immersed in coding or developing tech solutions, you can find me exploring the digital realms of <strong>Roblox</strong>, indulging in games like <em>Theme Park Tycoon 2</em>, which is where part of the Toucan Empire is, <em>Ultimate Driving</em>, and various shooters. <em>Minecraft</em> and the <em>Grand Theft Auto</em> series, particularly IV and V, also hold a special place in my gaming repertoire.</p>
            <p>Beyond the realm of tech and gaming, I am the creator and curator of <a href="https://twitter.com/ATPWeather">ATPWeather</a>, a platform dedicated to meteorological insights and detailed forecasts, enriched with official NWS data. My passion for understanding data extends to studying roads, signs, and intersections, contributing to a comprehensive understanding of urban infrastructure.</p>
            <p>You can primarily find me on <strong>Discord</strong> to stay connected and engaged, where I'm always up for a conversation. Feel free to connect with me across various social platforms instead:</p>
            <ul>
              <li><strong>Discord</strong>: <a href="https://discord.com/users/905434578926313512">@alextoucan</a></li>
              <li><strong>Roblox</strong>: <a href="https://www.roblox.com/users/170901919/profile">@AlexToucanYT</a></li>
              <li><strong>GitHub</strong>: <a href="https://github.com/Alex-Toucan/">Alex-Toucan</a></li>
              <li><strong>Twitter</strong>: <a href="https://twitter.com/ATProductsLLC">ATProductsLLC</a></li>
              <li><strong>YouTube</strong>: <a href="https://youtube.com/c/AlexToucanAT">AlexToucanAT</a></li>
            </ul>
            <p>Join me on this exciting journey through technology, ruling countries, gaming, and meteorology as we explore the ever-evolving innovation landscape together!</p>
          </div>
          <div class="tab-pane fade" id="tab-atproducts" role="tabpanel" aria-labelledby="tab-atproducts-tab" tabindex="0">
            <div class="w-100 border-1 bg-white rounded-2 p-5 mb-2">
                <img src="/media/images/longblack.png" class="d-block mx-auto text-center atproducts-image">
            </div>
            <h1 class="display-6 fw-bold mb-2">AT Products LLC</h1>
            <p><strong>You can find a summarized version of this at <a href="https://atproducts.xyz/#history">atproducts.xyz</a>.</strong></p>
            <p><strong><a href="https://atproducts.xyz">AT Products LLC</a></strong>, otherwise known as AT Products (officially recognized pronunciation: "A.T Products") is an informative technology company that is based in the United States, that contains resources for cybersecurity and malware. This section goes through what you can find on AT Products LLC, the atproducts.xyz section will be about website elements and details.</p>
            <p>AT Products LLC currently serves websites made for customers via our <a href="https://beta.atproducts.xyz/paid">Paid Services</a>. On our Paid Services, we sell Website Design, Website Hosting, Website Maintenance, and Email Creation packages. It also serves my website projects of <a href="https://beta.atproducts.xyz/flash">Flash Documentation</a>, full of Adobe Flash resources, and <a href="https://beta.atproducts.xyz/mdickie">MDickie Projects</a>,  a fanmade site about what MDickie has developed since the 1990s.</p>
            <p>There are also a couple of third-party products made with other people and organizations. <a href="https://atproducts.xyz/sms">SMS Bomb, made with <a href="https://protdos.com">ProtDos</a>, allows you to spam SMS messages to whoever you choose. And <a href="https://atproducts.xyz/pynx">Pynx's Projects</a>, malware collection that includes <a href="https://atproducts.xyz/bxpp">BxPP</a> and <a href="https://atproducts.xyz/inferno">Inferno</a>.</p>
            <p>AT Products LLC is a resource hub for four technology communities. The <a href="https://atproducts.xyz/ehs">Ethical Hacking Society</a> (defunct as of 2024), which ethically hacks. The <a href="https://atproducts.xyz/script">The Script Community</a> (defunct as of 2021), is for hacking enthusiasts to share their knowledge. <a href="https://atproducts.xyz/codinghome">CodingHome</a> (active), a coding and web development community where tech enthusiasts of all skill levels can come together, and the <a href="https://atproducts.xyz/noodle">Noodle Hackerspace</a> (defunct as of 2023), a community of physical and digital hacking resources.</p>
            <h2 class="fw-bold mb-2">History</h2>
            <p>AT Products LLC was being thought about around 2019/2020, just as a thought to create a company, but did not have a reason behind it. I guess I just liked having bodies of power.</p>
            <p>My first product, <a href="https://backup.atproducts.xyz/roms">AT's ROM Games</a>, was just a bunch of ROMs that I put together around 2019 and started posting on sites like the <a href="https://archive.org">Internet Archive</a> and later <a href="https://code.org">code.org Sites</a>. Once I started taking middle school tech classes, I 3D modeled a basic text logo for AT Products, so there's the logo for that and I also made an AT's ROM Games logo around late 2021.</p>
            <p>Still in middle school around late 2021, entering into early-2022, now we were making basic HTML and CSS sites (totally nothing like today's site), being made on <a href="https://code.org">code.org</a>, which had the option to publish to the public. As an assignment, I had to create a site with four sections and an image, which AT's ROM Games fit perfectly with that criteria. At that point, I started making sites. You can find more details about those sites and their version at the <strong>atproducts.xyz</strong> tab.</p>
            <p>At this point, I started collaborating with sites to make the sites for the <a href="https://atproducts.xyz/ehs">Ethical Hacking Society (formerly called the Dark Side) (EHS)</a> and <a href="https://atproducts.xyz/script">The Script Community (formerly called Vi) (TSC)</a> (a server that forked off the EHS). <a href="https://atproducts.xyz/codinghome">CodingHome</a> would come later (which also forked off TSC). Around mid-2022, the <a href="https://atproducts.xyz/noodle">Noodle Hackerspace</a>, and <a href="https://atproducts.xyz/flash">Flash Documentation</a> would be introduced. There was a <a href="https://backup.atproducts.xyz/food">Food Bot</a> that I made around May of 2022, a Discord Bot that serves food images but would quickly be defunct as it requires a bunch of time to maintain.</p>
            <p>Starting to experiment with logos and such, in August 2022 came the <a href="https://2-6-1.atproducts.xyz/media/images/94952755_padded_logo.png">old logo</a>. Logos, then alliances, with The CodingHome Universe (now the International Developer's Association [defunct May 2024]).</p>
            <p>2023 came, and <a href="https://beta.atproducts.xyz/pynx">Pynx's Projects and <a href="https://beta.atproducts.xyz/mdickie">MDickie Projects</a> came by. Finally, we changed the logo again in late November. March of 2024, the <a href="https://beta-testing.atproducts.xyz">Department of Beta Testing</a> launched. That's the whole history of the company!</p>
          </div>
          <div class="tab-pane fade" id="tab-atproductsxyz" role="tabpanel" aria-labelledby="tab-atproductsxyz-tab" tabindex="0">
            <div class="w-100 border-1 bg-white rounded-2 p-5 mb-2">
                <img src="/media/images/longblack.png" class="d-block mx-auto text-center atproducts-image">
            </div>
            <h1 class="display-6 fw-bold mb-2">atproducts.xyz</h1>
            <p><strong>You can find a summarized version of this at <a href="https://atproducts.xyz/#history">atproducts.xyz</a>.</strong></p>
            <p><strong><a href="https://atproducts.xyz">atproducts.xyz</a></strong>, is the website for AT Products LLC. The history of the company is the <em>AT Products LLC</em> section, this section will go over the website.</p>
            <p>atproducts.xyz currently serves every page mentioned in the previous section, plus more pages including <a href="https://atproducts.xyz/backup/archive">Public Archive</a>, <a href="https://atproducts.xyz/stories/cctv">StoryViewer</a> (Noodle Hackerspace only), and documentation/legal documents.</p>
            <p>atproducts.xyz has the following dependencies:
            <ul>
              <li>Astro: v4.8.3</li>
              <li>@astrojs/react: v3.3.2</li>
              <li>Bootstrap: v5.3.3</li>
              <li>Bootstrap Icons: v1.11.3</li>
              <li>JQuery: v4.0.0-beta</li>
              <li>jQuery UI: v1.13</li>
            </ul>
            <h2 class="fw-bold mb-2">History</h2>
            <p>As previously stated in the AT Products LLC section, the site had basic HTML and CSS, being produced on <a href="https://code.org">code.org</a>. The first few pages were <a href="https://backup.atproducts.xyz/roms">AT's ROM Games</a>, <a href="https://atproducts.xyz/ehs">Ethical Hacking Society (EHS)</a>, <a href="https://atproducts.xyz/script">The Script Community (TSC)</a> and <a href="https://atproducts.xyz/codinghome">CodingHome</a>. Fun fact; AT's ROM Games came first before the index page. You can view the first version <a href="https://1-0.atproducts.xyz">here</a>.</p>
            <p>Forking off from the previous section now. In February of 2022, I bought the atproducts.org domain (before .xyz) off <a href="https://freenom.com">FreeNom</a>. By this point, I finally got into <a href="https://getbootstrap.com">Bootstrap Framework</a>, but v3 of it, so it appears rather old. It started being introduced in <a href="https://2-0-1.atproducts.xyz">ATP Database 2.0</a>.</p> It was modified to become dark by <a href="https://2-1.atproducts.xyz/">2.1</a>.</p>
            <p>The first reference to icons came around April 2022, appearing in <a href="https://2-3.atproducts.xyz/">2.3</a> (better example: <a href="https://2-3.atproducts.xyz/">2.4</a> with <a href="https://fontawesome.com/">FontAwesome</a> (later to be replaced by <a href="https://icons.getbootstrap.com">Bootstrap Icons</a>). The cookie menu, the one that we all know today, came in version <a href="https://2-4-2.atproducts.xyz/">2.4.2</a>, while <a href="https://2-4-1.atproducts.xyz/">2.4.1</a> had a mention of cookie consent.</p>
            <p>May of 2022 and June of 2022 were two big months. The <a href="https://atproducts.xyz/noodle">Noodle Hackerspace</a> and <a href="https://atproducts.xyz/flash">Flash Documentation</a> came in version <a href="https://2-5.atproducts.xyz/">2.5</a>. <a href="https://2-5-1.atproducts.xyz/">2.5.1</a> did bring in the old <a href="https://backup.atproducts.xyz/food">Food Bot</a> prior to its removal in <a href="https://2-6-1.atproducts.xyz/">2.6.1</a>, and that version product in <a href="https://atproducts.xyz/mdickie">MDickie Projects</a>. <a href="https://2-6.atproducts.xyz/">2.6</a> overhauled the site with the return of light mode, new navbar, and overall new feel! AT's ROMs Games got removed in <a href="https://2-6-2.atproducts.xyz/">2.6.2</a>, then the current (modified nowadays) footer came in <a href="https://2-6-3.atproducts.xyz/">2.6.3</a>, and the somewhat current navbar in <a href="https://2-7.atproducts.xyz/">2.7</a>.</p>
            <p><a href="https://2-7-1.atproducts.xyz/">2.7.1</a> came Paid Services, the first time that we were selling stuff. <a href="https://2-8.atproducts.xyz/">2.8</a> made most communities into modals for content. <a href="https://2-9.atproducts.xyz/">2.8</a> introduced <a href="https://atproducts.xyz/BxPP">BxPP</a> and scrollspies for communities. <a href="https://2-10.atproducts.xyz/">2.10</a> introduced the carousel. <a href="https://2-10-1.atproducts.xyz/">2.10.1</a> introduced the Public Archive (formerly the Old Pages page). And finally to close out the 2022 season, <a href="https://2-11.atproducts.xyz/">2.11</a> revamped our footer to include JavaScript to render our copyright years and dropdowns.</p>
            <p>A grand start to 2023, <a href="https://2-12.atproducts.xyz/">2.12</a> added the color modes switch with the return of dark mode, thanks to <a href="https://blog.getbootstrap.com/2022/12/24/bootstrap-5-3-0-alpha1/">Bootstrap v5.3.0-alpha1</a> releasing a bit earlier. <a href="https://2-13.atproducts.xyz/">2.13</a> brought in cards. <a href="https://2-14.atproducts.xyz/">2.14</a> brought in PWA, Content Security Policy, and a carousel redesign. <a href="https://2-15.atproducts.xyz/">2.15</a> overhauled the introductions with heroes, and <a href="https://2-16.atproducts.xyz/">2.16</a> overhauled them. Finally, <a href="https://2-17-2.atproducts.xyz/">2.17.2</a> replaced HTML with Astro. That's the atproducts.xyz history!</p>
          </div>
          <div class="tab-pane fade" id="tab-toucan" role="tabpanel" aria-labelledby="tab-toucan-tab" tabindex="0">
            <div class="w-100 border-1 bg-white rounded-2 p-2 mb-2">
              <img src="/media/images/the-toucans.png" class="d-block mx-auto text-center" width="30%" style="min-width:200px"> 
            </div>
            <h1 class="display-6 fw-bold mb-2">The Toucan Empire</h1>
            <p><strong>The Toucan Empire</strong> has two parts, being on <a href="https://nationstates.net">NationStates</a> as a <a href="https://www.nationstates.net/nation=the_toucans">country</a>, and being a theme park on the hit <a href="https://roblox.com">Roblox</a> game <em><a href="https://www.roblox.com/games/69184822/Theme-Park-Tycoon-2">Theme Park Tycoon 2</a></em>.</p>
            <h2 class="fw-bold card-title mb-2"><a href="https://www.nationstates.net/nation=the_toucans">NationStates</a></h2>
            <p>The main part of <a href="https://www.nationstates.net/nation=the_toucans">The Toucan Empire</a> is being held on <a href="https://nationstates.net">NationStates</a>, a country simulator. The Toucan Empire, a socialist country, is well known for its civil rights and political freedoms, but more known for its efficient economy combined with its 2.867 billion people, is worth 266 trillion Bird Coins (The Toucan Empire's currency) a year, as the Average income is 92,833 Bird Coins, and evenly distributed, with the richest citizens earning only 2.0 times as much as the poorest. The capital of The Toucan Empire is Newport, with its national animal being the Toucan. Recently, the national religion is <a href="https://aue-religion.org/">Aue</a>, an atheist-based religion. The crime in The Toucans was once 23 crimes an hour, down to 2 crimes an hour, making it one of the safest countries.
            <h2 class="fw-bold card-title mb-2"><a href="https://www.roblox.com/games/69184822/Theme-Park-Tycoon-2">Theme Park Tycoon 2</a></h2>
            <p>The Toucan Empire is also on the <a href="https://roblox.com">Roblox</a> game <a href="https://www.roblox.com/games/69184822/Theme-Park-Tycoon-2">Theme Park Tycoon 2</a> as a theme park. The park's theme is a highway/city with numerous highways, roads, and intersections, with multiple bridges. It comes complete with a border, a processing center, numerous departments (transportation, architecture, broadcasting, etc.), train stations, food centers, beaches, and of course, rides. The map below shows the many districts (areas) that The Toucan Empire contains with their special attraction. As Theme Parks cannot be shared and Alex Toucan must be playing at the same time to view the park, a picture album will be provided below.</p>
          </div>
          <div class="tab-pane fade" id="tab-codinghome" role="tabpanel" aria-labelledby="tab-codinghome-tab" tabindex="0">
            <h1 class="mb-2">Pynx's Projects</h1>
            <p class="mb-0">Partnered with <a href="https://2983u2.site/">PynxTech</a>, we released these projects! </p>
            <div class="tab-link">
              <a href="/pynx" class="btn btn-primary w-100">Visit</a>
            </div
          </div>
          <div class="tab-pane fade" id="tab-atpweather" role="tabpanel" aria-labelledby="tab-atpweather-tab" tabindex="0">
            <h1 class="mb-2">Public Archive</h1>
            <p class="mb-0">View most of our old versions here!</p>
            <div class="tab-link">
              <a href="/backup/archive" class="btn btn-primary w-100">Visit</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="dropup position-fixed bottom-0 end-0 mb-3 me-3">
      <button class="btn btn-secondary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
        <span class="theme-icon-active">
          <i class="my-1"></i>
        </span>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-specific" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="false">
            <i class="bi bi-sun-fill me-2"></i> Light </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <i class="bi bi-moon-stars-fill me-2"></i> Dark </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="true">
            <i class="bi bi-circle-half me-2"></i> Auto </button>
        </li>
      </ul>
    </div>

    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
  </body>
</html>
