---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Privacy Policy" description="Your privacy is important here at AT Products, view the Privacy Policy to better understand what we'll do for your privacy." author="Alex Toucan"/>
<div id="page">
<Navbar />
    <main id="privacy" class="container">
    <h1 class="title"> Privacy Policy </h1> <h5> Last Updated: <time>December 22nd, 2023</time>.</h5>    <h5> Into Effect: <time>December 22nd, 2023</time>.</h5> <div id="definitions">
    <h3> Definitions </h3>
      <p> Company: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and Noodle Hackerspace.<br>
              Products: Flash Documentation, MDickie Projects, and SMS Bomb. (commonly referred to as "We", "Us", and "Our") <br> <br> You: You refers to the individual accessing or using the Website, Service, or Code, or the company or any other legal entity on behalf of which such individual is accessing or using the Website, Service, or Code, as applicable. </p>        
              <div id="general-policy"> <h3> I: General Privacy Policy</h3> 
          <div id="cookies"><h4> Website Cookies </h4> <p>Cookies are what help the analytics and color modes run on this site. Since this website is based in the US, there are state laws that match this site, such as the CCPA (California), VCDPA & CDPA (Virginia), CPA (Colorado), CTDPA (Connecticut), and UCPA (Utah), and also in Europe, there is the GDPR. We must have permission from the user to use cookies due to privacy. You can block any cookie at any time using your browser's cookie settings. </p></div>
          <div id="data"><h4> Data and Files </h4> <p> We will never log user activity (including clicks, typing, or any other actions on this site, especially on the Contact Form). Any data that goes to us will not be sold whatsoever (This also applies to website cookies and IP addresses). Any data/file that is claimed by you can be removed by contacting <a href="mailto:support@atproducts.xyz">our support line</a>.</p></div>
</div>
   <div id="acceptance">
<h3> II: Acceptance </h3> 
     <p>By visiting this site, You signify your agreement to the following Privacy Policy.
<br> <br>
At Our sole discretion, we reserve the right to modify or replace the Privacy Policy at any time. If a revision has a sufficient effect on You, we will make efforts to provide at least a 30-day notice before any new policy takes effect. Just so you know, a sufficient revision is determined at Our sole discretion.
     </p>          </div> </main>
<Footer />
<BackToTop />
</div>
<Scripts />
