---
import DefaultBody from '../layouts/DefaultBody.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="Privacy Policy" description="Your privacy is important here at AT Products, view the Privacy Policy to understand what we'll do for your privacy." author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <main id="privacy" class="container">
      <h1 class="title"> Privacy Policy </h1>
      <h5> Last Updated: <time>January 6th, 2025</time>. </h5>
      <h5> Into Effect: <time>February 12th, 2025</time>. </h5>
      <div id="definitions">
        <div id="definitions">
          <h3> Definitions </h3>
            <p>  <b>Company:</b> AT Products LLC/ATPLLC: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and the Noodle Hackerspace (commonly referred to as "We", "Us", "Our") <br>
            <br> <b>Website:</b> <a href="https://atproducts.xyz">atproducts.xyz</a>
            <br> <b>Products:</b> Flash Documentation, MDickie Projects, SMS Bomb, all of our Stories, and all of Pynx's Projects. <br>
            <br> <b>You/Your:</b> You/Your refers to the individual, organization, or company accessing or using the Servers, Website, Service, or the company or any other legal entity on behalf of which such individual, organization, or company is accessing or using any Discord Server, Website, File (including code), and access to any other Services by/owned by AT Products LLC.
          </p>
        </div>      
        <div id="general-policy">
          <h3> I: General Privacy Policy</h3>
          <div id="cookies">
            <h4> Website Cookies </h4>
            <p>Cookies help analytics and color modes run on this site. Since this website is based in the US, there are state laws that match this site, such as the CCPA (California), VCDPA & CDPA (Virginia), CPA (Colorado), CTDPA (Connecticut), and UCPA (Utah), and also in Europe, there is the GDPR, we must have permission from the user to use cookies due to privacy. We do not currently serve third-party cookies (cookies from other websites), which is getting blocked in major browsers as of 2024. You can block any cookie at any time using your browser's cookie settings. </p>
          </div>
          <div id="data">
            <h4>Data and Files</h4>
            <p>We do not log user activity on this site, including clicks, typing, or any other actions, especially on the Contact Form. Any data collected will not be sold or shared (sharing exception for Netlify), including website cookies and IP addresses. If you wish to remove any data or files that you own, please contact our support team at <a href="mailto:support@atproducts.xyz">support@atproducts.xyz</a>.</p>
          </div>        
          <div id="ip">
            <h4>IP Addresses</h4>
            <p>When you submit our <a href="/contact/">Contact Form</a>, your IP address is logged and sent to our service provider, <a href="https://netlify.com">Netlify</a>. This information is only visible to us and Netlify and is used solely for specific purposes (e.g., security, analytics). As stated in the <a href="#data">data section</a>, we do not sell or share this information with third parties (sharing exception for Netlify). Netlify has a document regarding data processing <a href="https://www.netlify.com/pdf/netlify-dpa.pdf">here</a>. </p>
          </div>
          <div id="acceptance">
            <h3> II: Acceptance</h3>
            <p> Upon visiting our Website, You signify your agreement to the following Privacy Policy.<br> 
            <br> We reserve the right, at our sole discretion, to modify or replace the Privacy Policy at any time. If a revision has a good effect on You, we will make efforts to provide at least a 30-day notice before any new privacy statements take effect. A sufficient revision is determined at our sole discretion.
            </p>
          </div>
      </main>
      <Footer />
  </div>
  <BackToTop />
</div>
</DefaultBody>
