---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import HeroPynx      from '../components/secondary/HeroPynx.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="PSON" heroid="ehs" description="PSON; The better JSON for Python." keywords="Inferno, PSON, BxPP, AT Products LLC" author="Alex Toucan & Pynx" />
<div id="page">
	<Navbar />
	<HeroPynx
		title="PSON for JSON"
		description="Made by Pynx&semi; the better way to do JSON files for Python; with Python."
		primaryHref="#downloads"
    primaryText="Downloads"
    secondaryHref="https://github.com/2983u2/Pson/"
    secondaryText="Source Code"
    dropdownItems={[
      { navigationDesc: "General Information", navigationLink: "#general-info" },
      { navigationDesc: "Requirements", navigationLink: "#requirements" },
      { navigationDesc: "Installation", navigationLink: "#install" },
      { navigationDesc: "Downloads", navigationLink: "#downloads" },
    ]},
  />
  <main id="bxpp" class="container">
    <div id="general-info">
      <h2> General Information </h2>
      <p>PSON aka PynxSON, made by Pynx, is a JSON extension for Python3. It uses a Python script as a library, then you create a Python script using functions from the library for it to create a JSON file using what you wrote.</p>
      <p>What does PSON have? Well:</p>
      <ul>
        <li>Comments (Ever needed to describe your objects? Well now you can!)</li>
        <li>Better read and write (no "with open")</li>
        <li>Better Speed and compatibility</li>
      </ul>
      <p>
        <b>Version:</b> 2.0 <br>
        <b>Platforms:</b> Windows, Linux, and MacOS.
      </p>
    </div>
    <hr>
    <div id="requirements">
      <h2> Requirements </h2>
      <p><b>Python:</b> 3.0 and above</p>
    </div>
    <hr>
    <div id="install">
      <h2> Installation </h2>
      <p>
        <ol>
          <li>Download the <a href="https://github.com/2983u2/Pson/blob/main/Pson.py">Python library file</a>.</li>
          <li>Import the file: <code>from Pson import *</code></li>
          <li>Call the functions: <b><u><a href="https://github.com/2983u2/Pson?tab=readme-ov-file#examples">Examples</a></u></b></li>
          <li>Run your script to generate a JSON file.</li>
        </ol>
      </p>
    </div>
    <hr>
    <div id="downloads">
      <h2>Downloads</h2>
      <ul class="nav nav-tabs" id="downloadTab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active" id="python-tab" data-bs-toggle="tab" data-bs-target="#python-tab-pane" type="button" role="tab" aria-controls="python-tab-pane" aria-selected="false" tabindex="-1"><img src="/media/images/python.png" height="45px"></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="java-tab" data-bs-toggle="tab" data-bs-target="#java-tab-pane" type="button" role="tab" aria-controls="java-tab-pane" aria-selected="false" tabindex="-1"><img src="/media/images/java.png" height="45px"></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="c-tab" data-bs-toggle="tab" data-bs-target="#c-tab-pane" type="button" role="tab" aria-controls="c-tab-pane" aria-selected="false" tabindex="-1"><img src="/media/images/c.png" height="45px"></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="cpp-tab" data-bs-toggle="tab" data-bs-target="#cpp-tab-pane" type="button" role="tab" aria-controls="cpp-tab-pane" aria-selected="true"><img src="/media/images/c++.png" height="45px"></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="rust-tab" data-bs-toggle="tab" data-bs-target="#rust-tab-pane" type="button" role="tab" aria-controls="rust-tab-pane" aria-selected="true"><img src="/media/images/rust.png" height="45px"></button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link" id="haskell-tab" data-bs-toggle="tab" data-bs-target="#haskell-tab-pane" type="button" role="tab" aria-controls="haskell-tab-pane" aria-selected="true"><img src="/media/images/haskell.png" height="45px"></button>
        </li>
      </ul>
      <div class="tab-content border rounded-bottom-2 p-2" id="downloadTabContent">
        <div class="tab-pane fade active show" id="python-tab-pane" role="tabpanel" aria-labelledby="python-tab" tabindex="0">
          <a class="btn btn-primary" href="https://github.com/2983u2/Pson/blob/main/Pson.py">Library File (Python)</a> 
          <a class="btn btn-primary" href="https://github.com/2983u2/Pson/archive/refs/heads/main.zip" download="">ZIP Download (Python)</a> 
        </div>
        <div class="tab-pane fade" id="java-tab-pane" role="tabpanel" aria-labelledby="java-tab" tabindex="0">
          <div class="text-center">
            <i class="fs-3 bi bi-cone-striped"></i>
            <p class="m-0"> This section is under development. </p>
          </div>
        </div>
        <div class="tab-pane fade" id="c-tab-pane" role="tabpanel" aria-labelledby="c-tab" tabindex="0">
          <div class="text-center">
            <i class="fs-3 bi bi-cone-striped"></i>
            <p class="m-0"> This section is under development. </p>
          </div>
        </div>
        <div class="tab-pane fade" id="cpp-tab-pane" role="tabpanel" aria-labelledby="cpp-tab" tabindex="0">
          <div class="text-center">
            <i class="fs-3 bi bi-cone-striped"></i>
            <p class="m-0"> This section is under development. </p>
          </div>
        </div>
        <div class="tab-pane fade" id="rust-tab-pane" role="tabpanel" aria-labelledby="rust-tab" tabindex="0">
          <div class="text-center">
            <i class="fs-3 bi bi-cone-striped"></i>
            <p class="m-0"> This section is under development. </p>
          </div>
        </div>
        <div class="tab-pane fade" id="haskell-tab-pane" role="tabpanel" aria-labelledby="haskell-tab" tabindex="0">
          <div class="text-center">
            <i class="fs-3 bi bi-cone-striped"></i>
            <p class="m-0"> This section is under development. </p>
          </div>
        </div>
      </div>
    </div>
  </main>
	<Footer author="Alex Toucan & Pynx" />
	<BackToTop />
</div>
<Scripts />
