---
import CardPage  from '../layouts/CardPage.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<!DOCTYPE html>
<html class="fixedtopnavimage" lang="en">
  <head>
    <title>Pynx's Projects</title>
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.min.css">
    <link rel="icon" href="/media/images/pynx.png">
        <link rel="preload" as="style" href="/static/bootstrap.css">
    <link rel="preload" as="image" href="/media/images/hero-ehs.webp">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta charset="UTF-8">
    <meta name="title" content="Pynx's Projects">
    <meta name="description" content="View Pynx's projects.">
    <meta name="keywords" content="AT Products, Ethical Hacking Soeciety, The Script Community, AT Products LLC, ATproducts">
    <meta name="author" content="Alex Toucan">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta property="og:image" content="/media/images/pynx.png">
        <meta name="msapplication-TileColor" content="#da532c">
          <script src="/static/darkmode.js"></script>
  </head>
  <body class="fixedtopnavimage">
  <div id="page">
<Navbar />
        <main id="pynx" class="text-center"> 
        <CardPage id="ehs" title="Pynx's Projects" 
        cardLinks={[
         { cardTitle: "BxPP", cardDescription: "A custom Python programming language!", cardHref: "/bxpp" },
         { cardTitle: "Inferno", cardDescription: Inferno is a very malicious ransomware executable that is relentless.", cardHref: "/inferno" },
         { cardTitle: "Noodle Hackerspace", cardDescription: "This community contains Pynx's code samples.", cardImage: "/media/images/noodle.webp", cardHref: "/noodle", secondaryhref: "/backup/noodle", additionalImageClasses: "py-1" },
         ]}>
        </main>
<Footer hr="none" />
<BackToTop />
</div>
    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery/dist/jquery.min.js"></script>
     <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
    <script is:inline src="/static/scroll.js"></script>
    <script is:inline src="/static/purecookie.js"></script>
    <script is:inline src="/static/enabler.js"></script>
    </body>
    </html>
