---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero     from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="AT's ROM Games" heroid="roms" description="AT's ROM Games is a discontinued collection of ROMs from back in 2021." keywords="ROMS, AT's ROM Games, AT Products" author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div class="alert alert-dark mb-0" role="alert">
    This is an discontinued product. Expect no new updates or changes.
  </div>
  <div id="main-content">
    <Hero
      id="roms"
      description="A <strong>discontinued</strong> collection of ROMs from back in 2021!"
      imageSrc="/media/images/AT-ROM-Games-with-logo-white.webp" 
      imageWidth="30%" 
      imageAlt="AT's ROM Games"
      minImageWidth="300px" 
      container="true"
      buttons={[
        { href: "#downloads", text: "Downloads", type: "primary" },
      ]},
      dropdownItems={[
        { navigationDesc: "What is AT's ROM Games?", navigationLink: "#what" },
        { navigationDesc: "Downloads", navigationLink: "#downloads" },
      ]},
    />
    <main id="roms" class="container">
      <div id="what">
        <h2>What is AT's ROM Games?</h2>
        <p>AT's ROM Games is a <strong>discontinued</strong> collection of various ROMs (including Flash, Nintendo, Sony, Microsoft, Apple, Commodore, etc.), and includes emulators (includes mostly Windows and Mac based ones) to play such ROMs. AT's ROM Games has been in and out of this website, but the complete comeback makes it a rememberance to our first product, all the way back in late 2021. 
        <br><br>For more information about AT's ROM Games, please visit the 1.0 build of the page <a href="https://1-0.atproducts.xyz/roms">here</a>.
        <br><br>The current version from May 28th, 2022, is 3.0. As a discontinued product, AT's ROM Games will never be updated again.
        </p>
      </div>
      <hr>
      <div id="downloads">
        <h2>Downloads</h2>
        <div class="d-grid d-md-flex flex-wrap gap-2 mb-3">
          <a class="btn btn-primary btn-lg" href="https://mega.nz/folder/xa1DFLjS#l6bJvDJA1P7Thj0zwHrryw">AT's ROM Games 3.0 (mega.nz)</a>
        </div>
        <h3>Pre-betas</h3>
        <p class="mb-2">These versions are from late 2021 and are still up.</p>
        <div class="d-grid gap-2">
          <div class="d-grid d-md-flex flex-wrap gap-2">
            <a class="btn btn-secondary col" href="https://archive.org/download/ats-rom-games-2.0-flash-pre-release-1/AT%27s%20ROM%20Games%202.0%20-%20Flash%20-%20Pre-release%201.zip">AT's ROM Games 2.0 - Pre-release 1 (archive.org)</a>
            <a class="btn btn-secondary col" href="https://archive.org/download/ats-rom-games-2.0-pre-release-2/AT%27s%20ROM%20Games%202.0%20-%20Pre-release%202.zip">AT's ROM Games 2.0 - Pre-release 2 (archive.org)</a>
          </div>
          <div class="d-grid d-md-flex flex-wrap gap-2">
            <a class="btn btn-secondary col" href="https://archive.org/download/ats-rom-games-2.0/AT%27s%20ROM%20Games%202.0.zip">AT's ROM Games 2.0 - Overhauled MDickie Flash Collection (archive.org)</a>
            <a class="btn btn-secondary col" href="https://archive.org/download/mdickie-flash/MDickie%20Flash.zip">AT's ROM Games 2.0 - Original MDickie Flash Collection (archive.org)</a>
          </div>
          <div class="d-grid d-md-flex flex-wrap gap-2">
            <a class="btn btn-secondary col" href="https://archive.org/download/ats-rom-games-flash-6.2.21/AT%27s%20ROM%20Games%20-%20Flash%20%286.2.21%29.zip">AT's ROM Games 2.0 - Original Flash Collection (archive.org)</a>
          </div>
        </div>
      </div>
    </main>
    <Footer author="Alex Toucan" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
