<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="generator" content="Astro v5.1.9">
    <title>Russian Bible</title>
    <meta name="title" content="Russian Bible">
    <meta name="author" content="Royal Stack Alliance and AT Products LLC">
    <meta name="description" content="The Bible in Russian, created by the Royal Stack Alliance and AT Products LLC">
    <!-- Pinterest -->
    <meta name="p:domain_verify" content="f2909780aedab1ba3ce40fbcf657cb6b">
    <link rel="icon" href="/images/RSA.png">
    <meta property="og:title" content="Russian Bible">
    <meta property="og:description" content="The Bible in Russian, created by the Royal Stack Alliance and AT Products LLC">
    <meta property="og:type" content="website">
    <meta property="og:image" content="/images/RSA.png">
    <link rel="manifest" href="/other/site.webmanifest">
    <meta name="theme-color" content="#015e55">
    <link rel="stylesheet" href="/_astro/_chapter_.CEdIlp20.css">
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

      *,
      :before,
      :after {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
        --tw-contain-size: ;
        --tw-contain-layout: ;
        --tw-contain-paint: ;
        --tw-contain-style: ;
      }
      ::backdrop {
        --tw-border-spacing-x: 0;
        --tw-border-spacing-y: 0;
        --tw-translate-x: 0;
        --tw-translate-y: 0;
        --tw-rotate: 0;
        --tw-skew-x: 0;
        --tw-skew-y: 0;
        --tw-scale-x: 1;
        --tw-scale-y: 1;
        --tw-pan-x: ;
        --tw-pan-y: ;
        --tw-pinch-zoom: ;
        --tw-scroll-snap-strictness: proximity;
        --tw-gradient-from-position: ;
        --tw-gradient-via-position: ;
        --tw-gradient-to-position: ;
        --tw-ordinal: ;
        --tw-slashed-zero: ;
        --tw-numeric-figure: ;
        --tw-numeric-spacing: ;
        --tw-numeric-fraction: ;
        --tw-ring-inset: ;
        --tw-ring-offset-width: 0px;
        --tw-ring-offset-color: #fff;
        --tw-ring-color: rgb(59 130 246 / 0.5);
        --tw-ring-offset-shadow: 0 0 #0000;
        --tw-ring-shadow: 0 0 #0000;
        --tw-shadow: 0 0 #0000;
        --tw-shadow-colored: 0 0 #0000;
        --tw-blur: ;
        --tw-brightness: ;
        --tw-contrast: ;
        --tw-grayscale: ;
        --tw-hue-rotate: ;
        --tw-invert: ;
        --tw-saturate: ;
        --tw-sepia: ;
        --tw-drop-shadow: ;
        --tw-backdrop-blur: ;
        --tw-backdrop-brightness: ;
        --tw-backdrop-contrast: ;
        --tw-backdrop-grayscale: ;
        --tw-backdrop-hue-rotate: ;
        --tw-backdrop-invert: ;
        --tw-backdrop-opacity: ;
        --tw-backdrop-saturate: ;
        --tw-backdrop-sepia: ;
        --tw-contain-size: ;
        --tw-contain-layout: ;
        --tw-contain-paint: ;
        --tw-contain-style: ;
      }
      *,
      :before,
      :after {
        box-sizing: border-box;
        border-width: 0;
        border-style: solid;
        border-color: #e5e7eb;
      }
      :before,
      :after {
        --tw-content: "";
      }
      html,
      :host {
        line-height: 1.5;
        -webkit-text-size-adjust: 100%;
        -moz-tab-size: 4;
        -o-tab-size: 4;
        tab-size: 4;
        font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
          "Segoe UI Emoji", Segoe UI Symbol, "Noto Color Emoji";
        font-feature-settings: normal;
        font-variation-settings: normal;
        -webkit-tap-highlight-color: transparent;
      }
      body {
        margin: 0;
        line-height: inherit;
      }
      hr {
        height: 0;
        color: inherit;
        border-top-width: 1px;
      }
      abbr:where([title]) {
        -webkit-text-decoration: underline dotted;
        text-decoration: underline dotted;
      }
      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        font-size: inherit;
        font-weight: inherit;
      }
      a {
        color: inherit;
        text-decoration: inherit;
      }
      b,
      strong {
        font-weight: bolder;
      }
      code,
      kbd,
      samp,
      pre {
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          Liberation Mono, Courier New, monospace;
        font-feature-settings: normal;
        font-variation-settings: normal;
        font-size: 1em;
      }
      small {
        font-size: 80%;
      }
      sub,
      sup {
        font-size: 75%;
        line-height: 0;
        position: relative;
        vertical-align: baseline;
      }
      sub {
        bottom: -0.25em;
      }
      sup {
        top: -0.5em;
      }
      table {
        text-indent: 0;
        border-color: inherit;
        border-collapse: collapse;
      }
      button,
      input,
      optgroup,
      select,
      textarea {
        font-family: inherit;
        font-feature-settings: inherit;
        font-variation-settings: inherit;
        font-size: 100%;
        font-weight: inherit;
        line-height: inherit;
        letter-spacing: inherit;
        color: inherit;
        margin: 0;
        padding: 0;
      }
      button,
      select {
        text-transform: none;
      }
      button,
      input:where([type="button"]),
      input:where([type="reset"]),
      input:where([type="submit"]) {
        -webkit-appearance: button;
        background-color: transparent;
        background-image: none;
      }
      :-moz-focusring {
        outline: auto;
      }
      :-moz-ui-invalid {
        box-shadow: none;
      }
      progress {
        vertical-align: baseline;
      }
      ::-webkit-inner-spin-button,
      ::-webkit-outer-spin-button {
        height: auto;
      }
      [type="search"] {
        -webkit-appearance: textfield;
        outline-offset: -2px;
      }
      ::-webkit-search-decoration {
        -webkit-appearance: none;
      }
      ::-webkit-file-upload-button {
        -webkit-appearance: button;
        font: inherit;
      }
      summary {
        display: list-item;
      }
      blockquote,
      dl,
      dd,
      h1,
      h2,
      h3,
      h4,
      h5,
      h6,
      hr,
      figure,
      p,
      pre {
        margin: 0;
      }
      fieldset {
        margin: 0;
        padding: 0;
      }
      legend {
        padding: 0;
      }
      ol,
      ul,
      menu {
        list-style: none;
        margin: 0;
        padding: 0;
      }
      dialog {
        padding: 0;
      }
      textarea {
        resize: vertical;
      }
      input::-moz-placeholder,
      textarea::-moz-placeholder {
        opacity: 1;
        color: #9ca3af;
      }
      input::placeholder,
      textarea::placeholder {
        opacity: 1;
        color: #9ca3af;
      }
      button,
      [role="button"] {
        cursor: pointer;
      }
      :disabled {
        cursor: default;
      }
      img,
      svg,
      video,
      canvas,
      audio,
      iframe,
      embed,
      object {
        display: block;
        vertical-align: middle;
      }
      img,
      video {
        max-width: 100%;
        height: auto;
      }
      [hidden]:where(:not([hidden="until-found"])) {
        display: none;
      }
      .fixed {
        position: fixed;
      }
      .col-span-2 {
        grid-column: span 2 / span 2;
      }
      .col-start-1 {
        grid-column-start: 1;
      }
      .col-start-2 {
        grid-column-start: 2;
      }
      .row-start-1 {
        grid-row-start: 1;
      }
      .row-start-2 {
        grid-row-start: 2;
      }
      .flex {
        display: flex;
      }
      .grid {
        display: grid;
      }
      .h-full {
        height: 100%;
      }
      .h-screen {
        height: 100vh;
      }
      .w-full {
        width: 100%;
      }
      .min-w-typo {
        min-width: 45ch;
      }
      .max-w-typo {
        max-width: 75ch;
      }
      .grid-cols-1 {
        grid-template-columns: repeat(1, minmax(0, 1fr));
      }
      .grid-cols-custom {
        grid-template-columns: 0.25fr 1fr;
      }
      .grid-rows-custom {
        grid-template-rows: 0.1fr 1fr;
      }
      .items-center {
        align-items: center;
      }
      .justify-center {
        justify-content: center;
      }
      .gap-2 {
        gap: 0.5rem;
      }
      .overflow-auto {
        overflow: auto;
      }
      .overflow-y-auto {
        overflow-y: auto;
      }
      .rounded-lg {
        border-radius: 0.5rem;
      }
      .bg-charcoal {
        --tw-bg-opacity: 1;
        background-color: rgb(42 42 60 / var(--tw-bg-opacity, 1));
      }
      .bg-midnight {
        --tw-bg-opacity: 1;
        background-color: rgb(2 8 24 / var(--tw-bg-opacity, 1));
      }
      .bg-sky-950 {
        --tw-bg-opacity: 1;
        background-color: rgb(8 47 73 / var(--tw-bg-opacity, 1));
      }
      .p-4 {
        padding: 1rem;
      }
      .px-4 {
        padding-left: 1rem;
        padding-right: 1rem;
      }
      .py-2 {
        padding-top: 0.5rem;
        padding-bottom: 0.5rem;
      }
      .pl-0 {
        padding-left: 0;
      }
      .text-center {
        text-align: center;
      }
      .text-start {
        text-align: start;
      }
      .text-lg {
        font-size: 1.125rem;
        line-height: 1.75rem;
      }
      .font-semibold {
        font-weight: 600;
      }
      .text-blue-500 {
        --tw-text-opacity: 1;
        color: rgb(59 130 246 / var(--tw-text-opacity, 1));
      }
      .text-gray-300 {
        --tw-text-opacity: 1;
        color: rgb(209 213 219 / var(--tw-text-opacity, 1));
      }
      .text-white {
        --tw-text-opacity: 1;
        color: rgb(255 251 247 / var(--tw-text-opacity, 1));
      }
      .underline {
        text-decoration-line: underline;
      }
      .underline-offset-8 {
        text-underline-offset: 8px;
      }
      .transition {
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
          -webkit-backdrop-filter;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
          backdrop-filter;
        transition-property: color, background-color, border-color,
          text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter,
          backdrop-filter, -webkit-backdrop-filter;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
        transition-duration: 0.15s;
      }
      .duration-300 {
        transition-duration: 0.3s;
      }
      .hover\:text-blue-700:hover {
        --tw-text-opacity: 1;
        color: rgb(29 78 216 / var(--tw-text-opacity, 1));
      }
      .hover\:underline:hover {
        text-decoration-line: underline;
      }

      .montserrat {
        font-family: Montserrat, sans-serif
      }

      body {
        background-color: #020818;
        color: #fff;
        scrollbar-color: #082f49 #020818
      }

      .main-table {
        grid-template-columns: 300px 1fr;
        grid-template-rows: 50px 1fr
      }

      .main-content {
        background-color: #2a2a3c
      }

      @media (min-width: 645.98px) {
        .container-story {
          max-width: 65ch;
          margin-right: auto;
          margin-left: auto;
          text-align: justify
        }
      }

      @media (min-width: 768px) {
        .container-story {
          max-width: 70ch
        }
      }

      @media (min-width: 992px) {
        .container-story {
          max-width: 75ch
        }
      }

      @media (min-width: 1200px) {
        .container-story {
          max-width: 80ch
        }
      }

      @media (min-width: 1400px) {
        .container-story {
          max-width: 85ch
        }
      }

      .cross {
        font-size: 72pt !important;
        text-align: center
      }

      p {
        margin-bottom: 1rem !important
      }

      h6,
      .h6,
      h5,
      .h5,
      h4,
      .h4,
      h3,
      .h3,
      h2,
      .h2,
      h1,
      .h1 {
        margin-top: 0 !important;
        margin-bottom: .5rem !important;
        font-weight: 500 !important;
        line-height: 1.2
      }

      h1,
      .h1 {
        font-size: calc(1.375rem + 1.5vw) !important
      }

      @media (min-width: 1200px) {

        h1,
        .h1 {
          font-size: 2.5rem !important
        }
      }

      h2,
      .h2 {
        font-size: calc(1.325rem + .9vw) !important
      }

      @media (min-width: 1200px) {

        h2,
        .h2 {
          font-size: 2rem !important
        }
      }

      h3,
      .h3 {
        font-size: calc(1.3rem + .6vw) !important
      }

      @media (min-width: 1200px) {

        h3,
        .h3 {
          font-size: 1.75rem !important
        }
      }

      h4,
      .h4 {
        font-size: calc(1.275rem + .3vw) !important
      }

      @media (min-width: 1200px) {

        h4,
        .h4 {
          font-size: 1.5rem !important
        }
      }

      h5,
      .h5 {
        font-size: 1.25rem !important
      }

      h6,
      .h6 {
        font-size: 1rem !important
      }

      .toc-button {
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out
      }

      .toc-button:hover,
      .toc-button:focus {
        background-color: #009f83
      }

      .toc-button:active {
        background-color: #006a76
      }

      .tab {
        text-indent: 3rem
      }
    </style>
  </head>
  <body class="h-screen">
    <div class="grid h-screen main-table">
      <!-- Section 1: Empty -->
      <div class="flex items-center justify-center font-semibold">Евангелие от Матфея 1-я глава</div>
      <!-- Section 2: Collaborative Project -->
      <div class="flex items-center justify-center text-center">
        <span class="text-gray-300 montserrat"> A Collaborative Project by <a href="https://royal-stack-alliance.netlify.app/" class="text-blue-500 transition duration-300 hover:text-blue-700 hover:underline" target="_blank" rel="noopener noreferrer">Royal Stack Alliance</a> and <a href="https://atproducts.xyz" class="text-blue-500 transition duration-300 hover:text-blue-700 hover:underline" target="_blank" rel="noopener noreferrer">AT Products LLC</a>. </span>
      </div>
      <!-- Section 3: Navigation -->
      <div class="p-4">
        <p class="text-lg font-semibold text-center underline underline-offset-8">Оглавление</p>
        <div class="grid grid-cols-1 gap-2 pl-0">
          <button class="px-4 py-2 rounded-lg bg-sky-950 text-start toc-button"> lorem </button>
          <button class="px-4 py-2 rounded-lg bg-sky-950 text-start toc-button"> ispum </button>
        </div>
      </div>
      <!-- Section 4: Main Content -->
      <div class="p-4 overflow-auto main-content">
        <div class="container-story">
          <h1 class="text-center cross">†</h1>
          <h6 class="text-center">Синодальный перевод Библии</h6>
          <h5 class="text-center">БИБЛИЯ</h5>
          <h5 class="text-center">Книги Священного Писания</h5>
          <h6 class="text-center">ВЕТХОГО и НОВОГО ЗАВЕТА</h6>
          <h6 class="text-center">1858-1876 г</h6>
          <p class="tab">
            <i>в русском переводе с параллельными местами</i> История русской Библии восходит к 1816 году, когда по повелению императора Александра I Российское Библейское Общество приступило к переводу Нового Завета на русский язык. В 1876 году вышла в свет издание первой полной русской Библии, включающий в себя книги Ветхого и Нового Завета. С тех пор этот перевод, обычно называемый Синодальным, выдержав десятки изданий, стал стандартным текстом Библии для всех христиан России. Канонические книги Ветхого Завета переводились с древнееврейского текста, так называемого «масоретского» с дополнениями и вариантами из Септуагинты, заключёнными в квадратные скобки, а неканонические – с греческого, за исключением третьей книги Ездры, переведенной с латинского, так как этой книги нет ни в еврейской, ни в греческой Библии.
          </p>
          <p class="tab"> При переводе Ветхого Завета с т.н. «масоретского» текста в русский текст вносились — в скобках — слова, отсутствовавшие в еврейском оригинале, но присутствующие в древнегреческой и церковнославянской версиях. Недостатком русской Библии 1876 года было то, что эти «текстологические» скобки внешне ничем не отличались от скобок — знаков препинания. По инициативе Британского и Иностранного Библейского Общества в 1882 году вышло в свет издание Синодального перевода без неканонических книг. В этом издании, в частности, была предпринята попытка убрать из русского текста Ветхого Завета слова и выражения, внесенные в него из греческой и славянской версий (новозаветная часть русского перевода не подвергалась пересмотру). К сожалению, из-за смешения «текстологических» скобок со скобками — знаками препинания эта попытка привела лишь к тому, что из Ветхого Завета были вообще изъяты практически все слова и выражения, которые почему-либо были заключены в скобки в издании 1876 года. Эта ошибка повторилась в издании, подготовленном Американским Библейским Обществом в 1947 году. В настоящем изданий Библии восстановлены все слова и выражения Синодального перевода, имеющиеся в еврейском тексте Ветхого Завета, но безосновательно опущенные в изданиях 1882 и 1947 годах. Что касается слов и выражений, которые были внесены в Синодальный перевод из греческой версии Ветхого Завета, то они сохранены лишь в тех немногих случаях, где современная текстология действительно считает возможным доверять греческой Библии больше, чем дошедшему до нас еврейскому тексту. В основу Синодального перевода новозаветной части Библии легли печатные издания греческого Нового Завета, прежде всего — C. F. Matthei (1803-1807) и M. A. Scholz (1830-1836). В скобках в русский перевод вносились слова, отсутствовавшие в этих книгах, но наличествовавшие в церковнославянских текстах. В настоящем издании текст Нового Завета печатается без каких-либо опущений или дополнений по отношению к изданию 1876 года. </p>
          <p class="tab"> Брюссельская Библия содержит текст Синодального перевода выпущенного в 1973-77 годах. Для облегчения поиска схожих мест Библии, в конце каждой главы отображается список сокращенных перекрёстных ссылок. Номера глав и стихов в сокращенных ссылках разделяются двоеточием. Например, в книге Бытие 1:27 ссылка Быт 5:1-2 (в поглавном списке параллельных мест) означает, что к стиху 27 первой главы соответствующей книги имеется параллель: стихи 1-2 пятой главы Книги Бытия. Также, представленные тексты Синодального перевода опционально позволяют отображать номера Стронга. Номера оформлены как ссылки на симфонию номеров Стронга, которая поставляется в комплекте с подстрочным переводом. В случае необходимости изучения подстрочного перевода конкретной главы, переход к соответствующей главе подстрочного перевода можно произвести, нажав на заголовок, отображаемый перед текстом главы. </p>
          <p class="tab"> Примечание: Слова поставленные в скобках, заимствованы из греческого перевода 70-ти толковников (III в. до Р.Х.); слова напечатанные курсивом, приведены для ясности и связи речи. В параллельных местах цифры при них, поставленные в квадратных скобках, указывают стихи текста, к которым относятся параллельные места. </p>
        </div>
      </div>
    </div>
  </body>
</html>
