---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero   from '../components/Hero.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="The Script Community" heroid="script" icon="vibrant2.png" color="#404eed" description="The Script Community is for hacking enthusiasts to share their knowledge." keywords="Scripts, viruses, coding," author="Alex Toucan & Nasus"/>
<div id="page"> 
  <Navbar />
  <div class="alert alert-dark mb-0" role="alert">
    This is an inactive community. Expect no new sections or changes without special exceptions.
  </div>
  <div id="main-content">
    <Hero id="script" title="The Script Community" description="The Script Community is for hacking enthusiasts to share their knowledge." imageSrc="/media/images/vibrant2.png" imageWidth="15%" minImageWidth="150px" imageClasses="me-md-3" />
    <main id="script" class="text-center container">
      <div id="disclaimer">
        <h2> Disclaimer </h2>
        <p> 
        We do not take responsibility for any damage or legal issues with these files here at AT Products LLC, and the other communities at the Ethical Hacking Society, The Script Community, CodingHome, or the Noodle Hackerspace. <br><br>
        Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>
        If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a>
        </p>
      </div>
      <hr>
      <div id="resources">
        <h2> Resources </h2>
        <p> What do you want to know about today? </p>
        <div>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/links">
            Learning Resources & Links
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/python">
            Python Basics
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/javascript">
            JavaScript Basics
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/html">
            HTML Basics
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/osint">
            OSINT
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/dos">
            Denial of Service
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/password">
            Passwords
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/id">
            ID Creation Time
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/keylogging">
            Keylogging
          </a>
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/nitrologging">
            Nitrologging & Tokenlogging
          </a>   
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/other">
            Other Scripts
          </a>   
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/phishing">
            Phishing
          </a>     
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/google">
            Google Dorking
          </a>     
          <a class="btn btn-dl btn-resource" type="button" href="/articles/script/wifi">
            Wi-Fi Hacking
          </a>  
          </Modal>
        </div>
      </div>
    </main>
    <Footer author="Alex Toucan & Nasus" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
