---

---

<html class="h-100" lang="en" data-bs-theme="dark">
  <head>
    <title>Shutdown Notice</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="/static/cookie.css">
    <link rel="stylesheet" href="/static/other.css">
    <link rel="preload" as="style" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
    <link rel="preload" as="style" href="/static/other.css">
    <link rel="preload" as="script" href="/static/darkmode.js">
    <link rel="shortcut icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/media/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="/media/favicon/favicon.png">
    <link rel="icon" type="image/png" href="/media/favicon/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/media/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/media/favicon/favicon-16x16.png">
    <link rel="mask-icon" href="/media/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <meta property="og:image" content="/media/favicon/iconembed.png">
    <meta name="twitter:image" content="/media/favicon/iconembed.png">
    <meta name="msapplication-TileColor" content="#da532c">
    <link rel="manifest" href="/media/favicon/site.webmanifest">
    <meta charset="UTF-8">
    <meta name="title" content="Shutdown Notice">
    <meta name="description" content="AT Products LLC is temporarily shutting down the site for 24 hours as a moment of silence and respect.">
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@ATProductsLLC">
    <meta name="twitter:creator" content="@ATProductsLLC">
    <meta name="twitter:title" content="Shutdown Notice">
    <meta name="twitter:description" content="AT Products LLC is temporarily shutting down the site for 24 hours as a moment of silence and respect.">
    <meta name="author" content="AT Products LLC">
    <meta property="og:title" content="Shutdown Notice">
    <meta property="og:description" content="AT Products LLC is temporarily shutting down the site for 24 hours as a moment of silence and respect.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script is:inline src="/static/darkmode.js"></script>

    <style>
      .image {
        min-width: 225px;
      }

      [data-bs-theme=dark] .image {
         filter: invert(1);
      }
    </style>
  </head>
  <body class="h-100">
    <div id="page" class="h-100">
      <main id="maintenance" class="container h-100 d-grid d-md-flex justify-content-center align-items-center my-0">
        <div class="text-center">
          <div class="mb-1">
        <i class="display-1 bi bi-alarm-fill"></i>
          </div>
          <br>
          <p class="fs-1 fw-semibold mt-4 mb-2">A moment of silence...</p>
          <p class="text-muted fs-5">
        We at AT Products LLC extend our deepest condolences to Charlie Kirk, his wife, and their children. Just three hours ago, a violent attack was carried out against Kirk, an act that appears to have been politically motivated. Regardless of one’s stance on Charlie’s views, we should all be aware that violence is not a valid way to protest, even in politics.
          </p>
          <p class="text-muted fs-5">
        That said, we at AT Products LLC will shut down the site for 24 hours, starting at <code>9/11/2025 @ 12:00 AM CDT</code>, as our way of showing respect for the death of Charlie Kirk. We do this not in political alignment, but as a way to give a moment of silence during a dark time here in the U.S. and as us, Earth.
          </p>
        </div>

        <div class="dropup position-fixed bottom-0 end-0 mb-3 me-3">
          <button class="btn btn-secondary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
            <span class="theme-icon-active">
              <i class="my-1"></i>
            </span>
            <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-specific" aria-labelledby="bd-theme-text">
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="false">
                <i class="bi bi-sun-fill me-2"></i> Light </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
                <i class="bi bi-moon-stars-fill me-2"></i> Dark </button>
            </li>
            <li>
              <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="true">
                <i class="bi bi-circle-half me-2"></i> Auto </button>
            </li>
          </ul>
        </div>
      </main>
    </div>

    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
    <script is:inline src="/static/message.js"></script>
  </body>
</html>
