---
import DefaultBody from '../layouts/DefaultBody.astro';
import Hero     from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<DefaultBody title="SMS Bomb" heroid="sms" color="#5b5d6e" icon="ya.png" description="AT Products LLC presents SMS Bomb. Download now to annoy your Android friends!" keywords="SMS, SMS Bomb, AT Products" author="Alex Toucan & CodingLive" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <Hero
      title="SMS Bomb"
      id="sms"
      description="An Android app that can spam messages very easily and very fast!"
      imageSrc="/media/images/ya.png" 
      imageWidth="30%" 
      minImageWidth="150px" 
      imageClasses="pe-md-3"
      buttons={[
        { href: "#downloads", text: "Downloads", type: "primary" },
        { href: "/codinghome", text: "CodingHome", type: "secondary" },
      ]},
      dropdownItems={[
        { navigationDesc: "What is SMS Bomb?", navigationLink: "#what" },
        { navigationDesc: "Downloads", navigationLink: "#downloads" },
      ]},
    />
    <main id="sms" class="container">
      <div id="what">
        <h2>What is SMS Bomb?</h2>
        <p>SMS Bomb can spam messages to your friends! Only supported on Android, using an APK Installation file. <br>
          <br> It'll use your phone number to spam SMS messages to the phone number you will input into the app. The only way to stop the SMS Bombing is to shutdown/reset the host phone/device.<br>
          <br> We are not responsible for any damage done to you or who you sent messages using this app, meaning we are not responsible for making you lose a friend. <br>
          <br> Made by <a href="https://discord.com/users/786495827827752990">@CodingLive on Discord</a> at <a href="/codinghome">CodingHome</a>.
        </p>
      </div>
      <hr>
      <div id="downloads">
        <h2>Downloads</h2>
        <a class="btn btn-primary btn-lg mt-2" href="/media/files/sms_bomb.apk" download>APK File for Android Devices</a>
      </div>
    </main>
    <Footer author="Alex Toucan & CodingLive" />
  </div>
  <BackToTop />
</div>
</DefaultBody>
