---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Hero     from '../components/Hero.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="SMS Bomb" heroid="sms" description="AT Products & ProtDos presents SMS Bomb. Download now to annoy your Android friends!" keywords="SMS, SMS Bomb, AT Products" author="Alex Toucan & CodingLive" />
<div id="page">
<Navbar />
 <Hero
  title="SMS Bomb"
  id="sms"
  description="An Android app that can spam messages very easily and very fast!"
  primaryHref="#downloads"
  primaryText="Downloads"
  secondaryHref="/codinghome"
  secondaryText="CodingHome"
  imageSrc="/media/images/ya.png" 
  imageWidth="30%" 
  minImageWidth="150px" 
  imageClasses="pe-md-3"
  dropdownItems={[
  { navigationDesc: "What is SMS Bomb?", navigationLink: "#what" },
  { navigationDesc: "Downloads", navigationLink: "#downloads" },
    ]}
/>
            <main id="sms" class="container">
                    <div id="what">
                        <h2>What is SMS Bomb?</h2>
                        <p>SMS Bomb can spam messages to your friends! Only supported on Android, using a APK Installation file. <br> <br>
                           It'll use your phone number to spam messages. <br> <br>
                          We are not responsible for any damage done to you or who you sent messages to using this app, meaning we are not responsible for making you lose a friend. <br> <br>
                          Made by <a href="https://discord.com/users/786495827827752990">@CodingLive on Discord</a> at <a href="codinghome">CodingHome</a>.</p>
                      </p>
                      </div>
                      <hr>
                    <div id="downloads">
                    <h2>Downloads</h2>
                      <a href="/media/files/sms_bomb.apk" download>APK File for Android Devices</a>
                              </div>
                            </main>
<Footer author="Alex Toucan & CodingLive"/>
<BackToTop />
    </div>
<Scripts />
