---
import Head from '../laYouts/Head.astro';
import Scripts from '../laYouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Terms of Service" description="View our Terms of Services to understand our guidelines." author="Alex Toucan" />
<div id="page">
  <Navbar />
  <main id="tos" class="container">
    <h1 class="title"> Terms of Service </h1>
    <h5> Last Updated: <time>April 2nd, 2024</time>. </h5>
    <h5> Into Effect: <time>April 3rd, 2024</time>. </h5>
    <div id="disclaimer">
      <p class="my-3">
        <i>These terms are not meant to be confused with the <a href="/paidterms">Paid Services &amp; Website Creation Policies and Terms</a>. These terms are for using the website in other manners. </i>
      </p>
    </div>
    <div id="definitions">
      <h3> Definitions </h3>
        <p>   <b>Company:</b> AT Products LLC/ATPLLC: The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and the Noodle Hackerspace (commonly referred to as "We", "Us", "Our") <br>
        <br> <b>Website:</b> <a href="https://atproducts.xyz">atproducts.xyz</a>
        <br> <b>Products:</b> Flash Documentation, MDickie Projects, and SMS Bomb. <br>
        <br> <b>You/Your:</b> You/Your refers to the individual, organization, or company accessing or using the Servers, Website, Service, or the company or any other legal entity on behalf of which such individual, organization, or company is accessing or using any Discord Server, Website, File (including code), and access to any other Services by/owned by AT Products LLC.
      </p>
    </div>
    <div id="general-tos">
      <h3>I: General Terms of Service </h3>
      <p> You take responsibility, therefore any activity resulting from Your device on our Website is also Your responsibility. All files should be carefully advised to be looked through by an anti-virus, or code editor before using, since confusion for what file You are using can occur. Any virus should be downloaded on a virtual machine and tested on said virtual machine, we are not responsible for any damage caused by our code to Your or anyone's device. <br>
        <br> Any illegal activity is strictly prohibited in our files. Our files are intended for personal and/or educational use only. Any use of our files for illegal activities will result in immediate termination of all AT Products (including subsidiary) services. Depending on the severity and impact of the illegal activity, it may also lead to IP termination. We strictly adhere to the Computer Fraud and Abuse Act (CFAA) and the Electronic Communications Protection Act (ECPA). Therefore, ethical hacking practices must be maintained at all times, whether within a Discord server or elsewhere. Users are prohibited from distributing malware, participating in DDoS attacks, spreading worms, ransomware, or any other form of virus or hacking files. <br>
        <br> Discord history may apply if banned on that one server may prohibit that one part on the ATP Database. If banned through all servers, then the whole database will be locked. <a href="/discord">Follow our own Discord Rules to use our Discord Servers</a>. <br>
        <br> Copyright action may be taken if You claim what is not Yours, any file will be copyrighted by us unless labeled so otherwise. Copyright holder for The Script Community, Ethical Hacking Society, CodingHome, Noodle Hackerspace, and Flash Documentation is AT Products. Fair Use Act is allowed to ask us for permission if it is modified and if You want to claim that said file. Some of our files do not have a creator attached to them, incorrectly claim it is Yours and disciplinary action will be taken against You.
      </p>
    </div>
    <div id="acceptance">
      <h3> II: Acceptance</h3>
      <p> Upon downloading any of our project(s), code, or scripts, on our Website, You signify Your agreement to the following terms. If You violate any section of the Terms of Service, we reserve the right to revoke Your privileges and ability to use what we provide of Services and Servers. <br>
        <br> We reserve the right, at our sole discretion, to modify or replace the Terms of Service at any time. If a revision has a good effect on You, we will make efforts to provide at least a 30-day notice before any new rules take effect. A sufficient revision is determined at our sole discretion.
      </p>
    </div>
  </main>
  <Footer />
  <BackToTop />
</div>
<Scripts />
