---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Terms of Service" description="View our Terms of Services to understand our guidelines." author="Alex Toucan" />
<div id="page">
  <Navbar />
  <main id="tos" class="container">
    <h1 class="title"> Terms of Service </h1>
    <h5> Last Updated: <time>March 28th, 2023</time>. </h5>
    <h5> Into Effect: <time>April 3rd, 2024</time>. </h5>
    <div id="disclaimer">
      <p class="my-3">
        <i>These terms are not meant to be confused with the <a href="/paidterms">Paid Services &amp; Website Creation Policies and Terms</a>. These terms are for using the website in other manners. </i>
      </p>
    </div>
    <div id="definitions">
      <h3> Definitions </h3>
      <p> <b>Company:</b> The Collection of the ATP Database, AT Products, The Script Community, Ethical Hacking Society, CodingHome, and the Noodle Hackerspace. 
        <br> <b>Products:</b> Flash Documentation, MDickie Projects, and SMS Bomb. (commonly referred to as "We", "Us", and "Our") <br>
        <br> <b>You:</b> You refers to the individual accessing or using the Website, Service, or Code, or the company or any other legal entity on behalf of which such individual is accessing or using the Website, Service, or Code, as applicable.
      </p>
    </div>
    <div id="general-tos">
      <h3>I: General Terms of Service </h3>
      <p> You take responsibility, therefore any activity resulting from the use of your device on our Project(s) and Code is also your responsibility. All files should be carefully advised before usage to be looked through by an anti-virus, or code editor since confusion as to what file you are using can occur. Any virus should be downloaded on a virtual machine and tested on said virtual machine, we are not responsible for any damage caused by our code to your or anyone's device. <br>
        <br> Any illegal activity is prohibited in our files. Our files should only be used for personal, and/or educational use only. If it does get used for illegal activity, termination for any AT Products's (even subsidiary) services will take place. The illegal activity, depending on how much damage, or how unlawful it is, may result in an IP termination. Due to the Computer Fraud and Abuse Act (“CFAA”), and the Electronic Communications Protection Act (“ECPA”), please keep the hacking ethical (whether it is in a Discord server or not). Do not spread our Malware, DDoS, Worms, Ransomware, or any type of virus/hacking files. <br>
        <br> Discord history may apply, if banned on that one server may prohibit that one part on the ATP Database. If banned through all servers, then the whole database will be locked. <a href="/discord">Follow our own Discord Rules to use our Discord Servers</a>. <br>
        <br> Copyright action may be taken if you claim what is not yours, any file will be copyrighted by us unless labeled so otherwise. Copyright holder for The Script Community, Ethical Hacking Society, CodingHome, Noodle Hackerspace, and Flash Documentation is AT Products. Fair Use Act is allowed to ask us for permission if it is modified and if you want to claim that said file. Some of our files do not have a creator attached to them, incorrectly claim it is yours and disciplinary action will be taken against you.
      </p>
    </div>
    <div id="acceptance">
      <h3> II: Acceptance </h3>
      <p> Upon downloading any of Our Project(s), Code, or Scripts, You signify your agreement to the following TOS. In the circumstance that You violate any section of the TOS, We reserve the right to revoke Your privileges and ability to use the Code, Project(s), and Services we provide. <br>
        <br> At our sole discretion, we reserve the right to modify or replace these TOS at any time. If a revision has a sufficient effect on You, we will make efforts to provide at least a 30-day notice before any new Terms take effect. Just so you know, a sufficient revision is determined at Our sole discretion.
      </p>
    </div>
  </main>
  <Footer />
  <BackToTop />
</div>
<Scripts />
