<!DOCTYPE HTML>
<html> 
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Howard Tiger Cards</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script is:inline src="/static/darkmode.js"></script>
  </head>
  <body class="m-5 d-flex flex-wrap gap-2">
    <div class="card card-custom" data-bs-theme="light">
      <div class="card-img-top">
          <img alt="football" src="https://s.yimg.com/ny/api/res/1.2/UR5beFQktZVHQwvDbokJWg--/YXBwaWQ9aGlnaGxhbmRlcjt3PTk2MDtoPTY0MA--/https://media.zenfs.com/en/la_times_articles_853/c6898d58b04e730521d0dd8fac05779e" class="card-img-top" />
          <div class="proper-center text-white text-center">
            <h1 class="display-2 fw-bold">Football</h1>
            <h3 class="display-5">@ Chester</h3>
          </div>
      </div>
    <div class="card-body card-orange card-orange-today">
      <div class="d-flex flex-wrap">
        <div class="col-6">
            <div class="d-grid">
              <span><i class="bi bi-geo-alt-fill me-1"></i> Chester</span>
              <span><i class="bi bi-calendar-event me-1"></i> August 13th, 2024</span>
              <span><i class="bi bi-clock-fill me-1"></i> 6 PM - 7 PM</span>
          </div>
        </div>
    </div>
  </div>
    </div>
      <div class="card card-custom" data-bs-theme="light">
        <div class="card-img-top">
          <img alt="Volleyball" src="https://th.bing.com/th/id/OSK.HEROtSNHY-PcCQdwqTBAK9AxsACmwBlNuNm49d6vxRepyog" class="card-img-top" />
          <div class="proper-center text-white text-center">
            <h1 class="display-2 fw-bold">Volleyball</h1>
            <h3 class="display-5">VS Hanson</h3>
          </div>
        </div>
        <div class="card-body card-orange">
          <div class="d-flex flex-wrap">
            <div class="col-6">
                <div class="d-grid">
                  <span><i class="bi bi-geo-alt-fill me-1"></i> Howard (H)</span>
                  <span><i class="bi bi-calendar-event me-1"></i> August 10th, 2024</span>
                  <span><i class="bi bi-clock-fill me-1"></i> 4 PM - 5 PM</span>
              </div>
            </div>
        </div>
      </div>
    </div>

    <script is:inline src="https://cdn.jsdelivr.net/npm/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery@4.0.0-beta/dist/jquery.min.js"></script>
    <script is:inline src="https://cdn.jsdelivr.net/npm/jquery-ui/dist/jquery-ui.min.js"></script>
    <script is:inline src="/static/message.js"></script>  

    <!-- Theme switcher -->
    <div class="dropup position-fixed bottom-0 end-0 me-3" style="margin-bottom: 11rem">
      <button class="btn btn-secondary py-2 dropdown-toggle d-flex align-items-center" id="bd-theme" type="button" aria-expanded="false" data-bs-toggle="dropdown" data-bs-display="static">
        <span class="theme-icon-active">
          <i class="my-1"></i>
        </span>
        <span class="visually-hidden" id="bd-theme-text">Toggle theme</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-end dropdown-menu-specific" aria-labelledby="bd-theme-text">
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center active" data-bs-theme-value="light" aria-pressed="false">
            <i class="bi bi-sun-fill me-2"></i> Light 
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="dark" aria-pressed="false">
            <i class="bi bi-moon-stars-fill me-2"></i> Dark 
          </button>
        </li>
        <li>
          <button type="button" class="dropdown-item d-flex align-items-center" data-bs-theme-value="auto" aria-pressed="true">
            <i class="bi bi-circle-half me-2"></i> Auto 
          </button>
        </li>
      </ul>
    </div>

    <!-- Branding Button -->
    <div class="position-fixed bottom-0 end-0 mb-3 me-3 bg-dark p-2 rounded-2 d-grid">
      <span class="text-center fw-bold fs-4 text-white mb-2">Made by:</span>
      <a class="btn btn-dark py-2" type="button" href="https://atproducts.xyz" target="_blank" rel="noopener noreferrer">
        <img alt="AT Products LLC" src="https://atproducts.xyz/media/images/longwhite.png" width="175px">
      </a>
    </div>

  </body>
</html>
