---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Title II & VII Policy" description="View our Title II & VII Policy to understand your rights!" author="Alex Toucan"/>
<div id="page">
<Navbar />
    <main id="titleiivii" class="container">
    <h1 class="title"> Title II & VII Policy </h1> 
    <h5> Last Updated: <time>March 12th, 2023</time>.</h5>    
    <h5> Into Effect: <time>March 27th, 2023</time>.</h5>
      <p class="my-3"><i>All of these titles refer to the <a href="https://www.archives.gov/milestone-documents/civil-rights-act">Civil Rights Act of 1964</a>.</i></p>
      <h3>Title II Policy</h3>
           <p> It is the policy of AT Products LLC that all customers, partners, etc. shall not be discriminated against to sex, race, color, national origin, religion, or handicap and that no customer, or any other person will be subject to discrimination.</p>
      <h3>Title VII Policy</h3>
     <p> It is the policy of AT Products LLC that all employment and volunteering opportunities will be offered without regard to sex, race, color, national origin, religion, or handicap and that no employee, or any other person will be subject to discrimination. We will accommodate religion practices dependent on employees and volunteers.</p>
  </main>
<Footer />
<BackToTop />
</div>
<Scripts />
