---
import Head from '../layouts/Head.astro';
import Scripts from '../layouts/Scripts.astro';
import CardPage  from '../layouts/CardPage.astro';
import Navbar    from '../components/Navbar.astro';
import Footer    from '../components/Footer.astro';
import BackToTop from '../components/BackToTop.astro';
---

<Head title="Web Projects" heroid="web" description="View our web projects." keywords="AT Products, Ethical Hacking Society, The Script Community, AT Products LLC, ATproducts" author="Alex Toucan" />
<div id="page">
<Navbar />
        <main id="web" class="text-center"> 
        <CardPage id="web" title="Web Projects" 
        cardLinks={[
         { cardTitle: "Flash Documentation", cardDescription: "Here are some things about Adobe Flash!", cardImage: "/media/images/flashdoc.webp", cardHref: "/flash", secondaryHref: "/backup/flash" },
         { cardTitle: "MDickie Projects", cardDescription: "This is a fanmade site about what has MDickie developed since the 1990s!", cardImage: "/media/images/mdickiepro.webp", cardHref: "/mdickie", additionalImageClasses: "p-1" },
         ]} />
        </main>
<Footer hr="none" />
<BackToTop />
</div>
<Scripts />
