---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/stories/Navbar.astro';
import Scrollspy from '../../../layouts/stories/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody breadcrumb="true" title="Onion Links" description="Ethical Hacking Society presents 'Onion Links'!" author="AT Products LLC & Ethical Hacking Society">
<div id="page">
  <Navbar pageTitle="Onion Links" 
    link={[
     { name: "Ethical Hacking Society" , href: "/ehs" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="onion">
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Onion Links</h1>
          <h5 class="text-start"><b>Made by:</b> <a href="/ehs">Ethical Hacking Society</a>.</h5>
          <h5 class="text-start"><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
          <div id="disclaimer">
            <h2> Disclaimer </h2>
            <p> Even though accessing Onion Links or as known as "The Dark Web" is all legal, please be careful so you do not do <b>illegal activity</b>. We are not taking any responsibility for legal issues or damage done, even at AT Products LLC, and the Ethical Hacking Society. Onion links can provide a higher level of privacy and anonymity, but may still provide risks.<br>
              <br> If you are going to use any of these onion links, use a VPN and Tor Browser. <br>
              <br> <a href="https://www.torproject.org/download/" target="_blank" rel="noopener noreferrer">Download Tor Browser</a> <br>
              <a href="https://www.expressvpn.com/vpn-service/tor-vpn" target="_blank" rel="noopener noreferrer">More information on VPNs</a>
            </p>
          </div>
          <hr>
        </div>
        <div id="content">
          <p> The links in <b> bold </b> may not work correctly, so the ones that are not in bold have been tested out and worked 100% correctly. Note that the Dark Web Pug's Guide has more links.</p>
          <div id="forums">
            <h3> Forums </h3>
            <b> <a href="http://t4is3dhdc2jd4yhw.onion/index.php?mode=viewthread&amp;forumid=1&amp;thread=6"> Link 1 </a>
            <a href="http://wikitjerrta4qgz4.onion/">Link 2 </a>
            <a href="http://3g2upl4pq6kufc4m.onion/">Link 3</a>
            <a href="http://torlinkbgs6aabns.onion/">Link 4</a> </b> 
            <a href="http://xsglq2kdl72b2wmtn5b2b7lodjmemnmcct37owlz5inrhzvyfdnryqid.onion/">Link 5</a> 
            <a href="http://bj5hp4onm4tvpdb5rzf4zsbwoons67jnastvuxefe4s3v7kupjhgh6qd.onion/">Link 6</a>
            <br>
            <br>
            <b> <a href="http://zw3crggtadila2sg.onion/">TorChan</a>
            <a href="http://rhe4faeuhjs4ldc5.onion/">Anonymous</a> 
            <a href="http://oxwugzccvk3dk6tj.onion/">8Chan</a>
            <a href="http://qzbkwswfv5k2oj5d.onion/">0Day</a>
            <a href="http://answerstedhctbek.onion/">Hidden Answers</a> </b>
            <br><br> <a href="http://qrtitjevs5nxq6jvrnrjyz5dasi3nbzx24mzmfxnuk2dnzhpphcmgoyd.onion/">Dark Web Pug's Guide</a> 
            <a href="http://jaz45aabn5vkemy4jkg4mi4syheisqn2wn2n4fsuitpccdackjwxplad.onion/">OnionLinks</a> 
            <a href="http://xsglq2kdl72b2wmtn5b2b7lodjmemnmcct37owlz5inrhzvyfdnryqid.onion/">Wiki 1</a> 
            <a href="http://bj5hp4onm4tvpdb5rzf4zsbwoons67jnastvuxefe4s3v7kupjhgh6qd.onion/">Wiki 2</a> 
            <a href="http://zqktlwiuavvvqqt4ybvgvi7tyo4hjl5xgfuvpdf6otjiycgwqbym2qad.onion/wiki/index.php/Main_Page">Wiki 3</a> 
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>® <script is:inline src="/static/year.js"></script> AT Products LLC</h6>
          <h6>Ethical Hacking Society is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>