---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Viruses & Malware" icon="noodle.webp" color="#f1b856" description="Noodle Hackerspace presents 'Viruses & Malware'!" author="AT Products LLC & Noodle Hackerspace" />
<div id="page">
  <Navbar pageTitle="Viruses & Malware" 
    link={[
     { name: "Noodle Hackerspace" , href: "/noodle" },
    ]} 
  />
  <div id="main-content">
    <Scrollspy id="files">
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Viruses & Malware</h1>
          <h5 class="text-start"><b>Made by:</b> <a href="/noodle">Noodle Hackerspace</a>.</h5>
          <h5 class="text-start"><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
        </div>
        <div id="content">
          <p> <a href="/media/files/root.sh" download>Root Password Phishing (Bash)</a> (<a href="/media/files/alias.sh">Alias Command Version</a> | <a href="/media/files/instruct.txt">Instructions</a>) by Lynx </p>
          <p> <a href="/media/files/login.py" download>Example Login Program (Python)</a>, (Password is "password"), by Lynx </p>
          <p> <a href="/media/files/Cerbios.py" download>Cerbios Ransomware (Python)</a> by Pynx </p>
          <p> <a href="/media/files/sshbrute-main.zip" download>SSH Brute (Python [ZIP])</a> by Pynx </p>        
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>Noodle Hackerspace is the author and AT Products LLC is publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
