---
import Head from '../../layouts/Head.astro';
import Navbar from '../../layouts/stories/Navbar.astro';
import Scrollspy from '../../layouts/stories/Scrollspy.astro';
import Scripts from '../../layouts/Scripts.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<Head title="How to Center a <div>" description="AT Products LLC's Bookviewer presents 'How to Center a <div>'!" author="Alex Toucan" />
<div id="page">
  <Navbar />
  <div id="main-content">
    <Scrollspy storyname="How to Center a <div>" id="div" 
      scrollcontent={[ 
        { name: "Sources" , href: "#sources" }, 
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1>How to Center a <code>&lt;div&gt;</code></h1>
          <h5><b>Made & Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <h5><b>Published on:</b> May 17th, 2023.</h5>
          <hr>
        </div>
        <div id="Sources" class="story-top-scroll">
          <h2>Sources</h2>
          <div class="d-flex">
            <div class="col-1 fw-bold">[1]</div>
            <div class="col">
              W3Schools. “CSS Layout - Horizontal & Vertical Align.” Www.w3schools.com, <a href="https://www.w3schools.com/css/css_align.asp">www.w3schools.com/css/css_align.asp</a>. Accessed 14 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold">[2]</div>
            <div class="col">
              “How to Center an Element Vertically.” Www.w3schools.com, <a href="https://www.w3schools.com/howto/howto_css_center-vertical.asp">www.w3schools.com/howto/howto_css_center-vertical.asp</a>. Accessed 14 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold">[3]</div>
            <div class="col">
              Abdu. “How Can I Vertically Align Elements in a Div?” Stack Overflow, 17 Sept. 2008, <a href="https://www.stackoverflow.com/questions/79461/how-can-i-vertically-align-elements-in-a-div">stackoverflow.com/questions/79461/how-can-i-vertically-align-elements-in-a-div</a>. Accessed 14 Oct. 2024.
            </div>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>AT Products LLC is the author and publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
<Scripts />
