---
import DefaultBody from '../../layouts/DefaultBody.astro';
import Navbar from '../../components/Navbar.astro';
import Scrollspy from '../../layouts/stories/Scrollspy.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<DefaultBody breadcrumb="true" title="How Technology Engages Students In Education" description="Technology has transformed U.S. education, enhancing student learning."  author="Alex Toucan" scrollspy="true" />
  <div id="page">
    <Navbar breadcrumb="true" pageTitle="How Technology Engages Students In Education" 
      link={[
        { name: "Stories" , href: "/stories" },
      ]}
    />
    <div id="main-content">
      <Scrollspy id="education" 
        scrollcontent={[ 
          { name: "Main Content" , href: "#content" }, 
          { name: "Sources" , href: "#sources" }, 
        ]} 
      >
        <Fragment slot="scrollspy-content">
          <div id="intro" class="story-top-scroll">
            <h1 class="text-start">How Technology Engages Students In Education</h1>
            <h5><a href="/media/pdf/How Technology Engages Students In Education.pdf" target="_blank" rel="noopener noreferrer"><i class="bi bi-filetype-pdf"></i> PDF Download</a></h5><br>
            <h5><b>Made by:</b> <a href="https://portfolio.atproducts.xyz/">Alex Toucan</a>.</h5>
            <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
            <h5><b>Published on:</b> February 12th, 2024.</h5>
            <hr>
          </div>
          <div id="content">
            <p class="tab">Education has been evolving in the United States since its inception. In the modern century, technology has been everywhere in almost every industry. Can people combine education with technology, and if so, does it help students? As schools continue integrating modern technologies, education is not just becoming more efficient. It is evolving into a system that better addresses all sorts of learners (or students or children) by expanding accessibility and addressing the mental demands of the digital world. Technology can help any student, and the ways of doing so are ever-improving.</p>
            <p class="tab">Modern technologies such as interactive digital boards and digital media have made classrooms more efficient, engaging, and effective. The education system now has presentation tools such as chalkboards/whiteboards, interactive boards, projectors, calculators, laptops, and computers, that show quick calculations, videos/motion pictures, and more engaging content. Technology in education has evolved over millennia, from ancient tools like the abacus to today’s interactive digital systems; vintage technology such as the chalkboards after the 18th century, as “students were still practicing [before the 18th century] writing and mathematics on individual clay tablets and slates (pieces of painted wood), allowing students to write, erase and re-write” <a href="#source-1" class="fw-bold">[1]</a>. Old systems have been replaced with new systems, which will continue to expand and reform the education system as the millennium continues.</p>
            <p class="tab">If all this technology has been integrated into the education system, does it help students? Is it worth the price? So far, yes. Technology engages with students, but allows them to learn new ideas in new styles, assisting teachers. Technologies such as “interactive whiteboards make teaching less difficult, giving students better visible aids and academics a better time in presenting lessons” <a href="#source-2" class="fw-bold">[2]</a>; compared to an old whiteboard, where it may not be as appealing as a presentation to students, who, as a young audience, prefer colorful elements over dull ones. Not only does modern technology engage with students visually, but it may also affect the student's ability in the real world outside the education center more deeply, as “Subrahmanyam et al posits that cognitive researchers suggest that for example, playing computer games… …word processing and e-mail… …database and spreadsheet programs… …[and] modeling software” improves the ability to read and visualize images, problem-solving skills, communication skills, promote organizational skills, and specific cognitive skills. <a href="#source-2" class="fw-bold">[2]</a>. Schools have been inquiring and buying more technology as time goes on in the 21st century, and they believe it is worth the budget and the time to assist students in learning.</p>
            <p class="tab">Technology in the education system assists special education students with particular needs. Schools may have a quantity of specific technology that satisfies the needs of certain special education students with different disabilities, ranging from language barriers, to organizational skills, hearing disabilities, and much more as “educational technology falls on a spectrum from universal instructional supports for all learners (e.g., digital graphic organizers, virtual manipulatives, speech-to-text voice recognition, text-to-speech) to highly specialized assistive technology (AT) to support individual needs impacted by a disability” <a href="#source-3" class="fw-bold">[3]</a>, which is only expanding as more and more gets invented and released into the public. Some people are different from others due to disorders, and it may affect their learning, but technology can assist them with the way they learn.</p>
            <p class="tab">Technology has been in the process of being integrated into schools for centuries; it assists students with learning and skills, no matter who they are. Technology has taken more forms than ever imagined, and people used to think, and will continue to expand and reform the education system.</p>
          </div>
          <div id="sources" class="story-top-scroll">
            <h2>Sources</h2>
            <div class="d-flex">
              <div class="col-1 fw-bold" id="source-1">[1]</div>
              <div class="col">
                Meeker, Keenan, and Penny Thompson. “The Evolution of Technology for the Mathematics Classroom.” <i>TechTrends: Linking Research & Practice to Improve Learning</i>, vol. 67, no. 5, Sept. 2023, pp. 843–50. EBSCOhost, <a href="https://doi.org/10.1007/s11528-023-00887-1" class="text-wrap">https://doi.org/10.1007/s11528-023-00887-1.</a> Accessed 10 March 2025.
              </div>
            </div>
            <br>
            <div class="d-flex">
              <div class="col-1 fw-bold" id="source-2">[2]</div>
              <div class="col">
                Arrington, Qui’Shonta. “The Impact of Modern Technology on Education.” 21 Apr. 2022. EBSCOhost, <a href="https://research.ebsco.com/linkprocessor/plink?id=c375a0c0-83fd-3829-8c2a-1323926bc050" class="text-wrap">https://research.ebsco.com/linkprocessor/plink?id=c375a0c0-83fd-3829-8c2a-1323926bc050.</a> Accessed 10 March 2025.
              </div>
            </div>     
            <br> 
            <div class="d-flex">
              <div class="col-1 fw-bold" id="source-3"><a href="#source-3" class="fw-bold">[3]</a></div>
              <div class="col">
                Kaczorowski, Tara, et al. “Designing an Inclusive Future: Including Diversity and Equity With Innovations in Special Education Technology.” <i>Teaching Exceptional Children</i>, vol. 55, no. 5, May 2023, pp. 376–83. EBSCOhost, <a href="https://doi.org/10.1177/00400599221090506" class="text-wrap">https://doi.org/10.1177/00400599221090506.</a> Accessed 1 March 2025.
              </div>
            </div>
          <hr>
          <div id="copyright">
            <h6>® <script is:inline src="/scripts/year.js"></script> AT Products LLC</h6>
            <h6>AT Products LLC is the publisher and copyright holder of this article/story.</h6>
          </div>
        </Fragment>
      </Scrollspy>
    </div>
    <BackToTop />
  </div>
</DefaultBody>
