---
import DefaultBody from '../../layouts/DefaultBody.astro';
import Navbar from '../../layouts/stories/Navbar.astro';
import Scrollspy from '../../layouts/stories/Scrollspy.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<DefaultBody title="Sci-Fi Stories Reflect Reality" description="See how Sci-Fi as a genre becomes our modern reality." author="Alex Toucan" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="Sci-Fi Stories Reflect Reality" />
  <div id="main-content">
    <Scrollspy id="scifi" 
      scrollcontent={[ 
        { name: "Main Content" , href: "#content" }, 
        { name: "Sources" , href: "#sources" }, 
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Sci-Fi Stories Reflect Reality</h1>
          <h5><a href="/media/pdf/Sci-Fi Stories Reflect Reality.pdf" target="_blank" rel="noopener noreferrer"><i class="bi bi-filetype-pdf"></i> PDF Download</a></h5><br>
          <h5><b>Made by:</b> <a href="https://other.atproducts.xyz/portfolio/">Alex Toucan</a>.</h5>
          <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <h5><b>Published on:</b> December 11th, 2024.</h5>
          <hr>
        </div>
        <div id="content">
          <p class="tab">Science fiction. Some audiences find it “cool” or “awesome,” but others might find it more sophisticated, like some may find it reshaping or destroying society as most people live. Science fiction may reflect modern society, or predict how society could be reformed, as innovations come in and out. The short stories of Ray Bradbury’s “The Pedestrian” and SL Huang’s “Degrees of Dilatory Time” demonstrate and critique society, potentially now relevant to current society, using science fiction conventions, implying that innovations could make society dependent on such, which is reshaping itself as a result.</p>
          <p class="tab">Science fiction could mean more in writing than what the stories may convey. Science fiction, or Sci-Fi, is typically science and technology, imaginary, in fiction. The settings can vary, but most science fiction stories are based on the future, or at least when they were written. It does not reflect real life; it is fiction, not nonfiction, right? Wrong. Science fiction is a genre that could predict how society is headed, either for the good, or the bad. Science fiction can reflect on how real life has formed or predict how real life will be formed, based on technology becoming an ever-expanding industry, and only expanding into how consumers use it in their daily lives. Science fiction short stories can predict how society or a certain group of people can be changed as innovations are introduced, and some predictions may be correct in a sophisticated form.</p>
          <p class="tab">Even something as harmless as television could change society. Television, one of America’s greatest inventions, could and has reshaped society as entertainment enlarges. In the short story “The Pedestrian” by Ray Bradbury, people in the setting do not go outside anymore, no, in fact, they watch television all day in their homes instead, not enjoying what nature has to provide. The protagonist, Mr. Mead, does not reflect everyone else on this street, “‘Hello, in there,’ he whispered to every house on every side as he moved. “What's up tonight on Channel 4, Channel 7, Channel 9? Where are the cowboys rushing, and do I see the United States Cavalry over the next hill to the rescue? The street was silent and long and empty, with only his shadow moving like the shadow of a hawk in midcountry” <a href="#source-1" class="fw-bold">[1]</a>. He appears aware that everyone is watching television, but he and the street are silent; always silent. Could society not like him conforming? Possibly. He got even arrested for being the “odd” one, being outside is an offense to a police car, not even a real human <a href="#source-1" class="fw-bold">[1]</a>. The police car thought he had a mental disorder, as Mead was not married, and was walking outside every night: “The car hesitated, or rather gave a faint whirring click, as if information, somewhere, was dropping card by punch-slotted card under electric eyes. “To the Psychiatric Center for Research on Regressive Tendencies” <a href="#source-1" class="fw-bold">[1]</a>. At the time this was written in 1951, punch cards were used as data, not storage devices like nowadays, which only adds to the prediction of society. The stereotypical American, watching television all day but enjoying the outside, at least people outside the US think so. So far, the stereotype is not true, at least for now, but it could change, which is what “The Pedestrian” is predicting and is slowly becoming true.</p>
          <p class="tab">Body parts, natural, or unnatural, what could be the future of body parts? Does it sound insane? Sophisticated? Science fiction also predicts that body parts will be made of pure tech and metal, especially in “By Degrees and Dilatory Time” by SL Huang. Currently, most humans have natural body parts, made out of bone, muscle, and skin, but could it be 50 sheets of metal? Are body parts made out of tech, better, than real body parts? It sounds insane to be questioning, but the reason for such will be revealed. As the main character in “By Degrees and Dilatory Time” by SL Huang, he needed his eyes replaced because he had cancer. He had a potential ‘crisis’ as he thought: “There are people who do this electively. Get their eyes replaced, for aesthetics or enhancement or to do careers that require what only artificial eyes can give them. It costs a pretty penny, and he’s seen them stalking around and cocking their eyebrows as if to show off the unearthly sheen. Some of them choose inhuman colors, artistic ones, heightening the alien illusion as if to better show off their improved orbs. He can’t for the life of him imagine why anyone would do this by choice” <a href="#source-2" class="fw-bold">[2]</a>. Does he prefer real, or artificial eyes? He has to get artificial eyes due to his cancer, but does he like it? That is partly what he thinks to himself, and… he does not like it. His vibrant blue eye color makes him want “to say something stupid about his ethnicity at that point... …Like that made him different from everyone else with tan skin and black hair and dark complexions who would want brown eyes if they could get them. Like stating his ethnicity would change what was technologically possible” <a href="#source-2" class="fw-bold">[2]</a>. Is he self-conscious or anxious about being different from everyone else? Yes, but he would have to adapt one way or another. The potential for everyone else to make fun of him is overwhelming for the main character. Is technology in our bodies a good thing? The question cannot be answered until more innovations come out, but soon enough, it will be answered.</p>
          <p class="tab">As the Sci-Fi short stories of Ray Bradbury’s “The Pedestrian” and SL Huang’s “Degrees of Dilatory Time” demonstrate and critique society, they reflect very well into modern society, even if one of the stories was written 70 years ago. Is technology being too integrated with our lives? Is it changing it for the bad or the good? If these predictions come true as the technology continues to be released, more answers will be given, but the question cannot be answered until then.</p>
        </div>
        <div id="sources" class="story-top-scroll">
          <h2>Sources</h2>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-1">[1]</div>
            <div class="col">
                Bradbury, Ray. <i>The Pedestrian</i>. R.A. Squires. 1951, paragraphs 5-6, 11-17, 62.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-2">[2]</div>
            <div class="col">
                Huang, Shirley Geok-lin. <i>By Degrees and Dilatory Time</i>. 2015, paragraphs 29-30, 60.
            </div>
          </div>   
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>AT Products LLC is the publisher and copyright holder of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
