---
import DefaultBody from '../../layouts/DefaultBody.astro';
import Navbar from '../../layouts/stories/Navbar.astro';
import Scrollspy from '../../layouts/stories/Scrollspy.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<DefaultBody title="The Internet Now is Dull and Gray" description="Take a peek on how Alex Toucan feels about how websites are designed in the modern world." author="Alex Toucan" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="The Internet Now is Dull and Gray" />
  <div id="main-content">
    <Scrollspy id="websites" 
      scrollcontent={[ 
        { name: "Main Content" , href: "#content" }, 
        { name: "Sources" , href: "#sources" }, 
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">The Internet Now is Dull and Gray</h1>
          <h5><a href="/media/pdf/The Internet Now is Dull and Gray.pdf" target="_blank" rel="noopener noreferrer"><i class="bi bi-filetype-pdf"></i> PDF Download</a></h5><br>
          <h5><b>Made by:</b> <a href="https://other.atproducts.xyz/portfolio/">Alex Toucan</a>.</h5>
          <h5><b>Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <h5><b>Published on:</b> October 23rd, 2024.</h5>
          <hr>
        </div>
        <div id="content" class="tab">
          <p class="tab">The internet is a big place, full of identity that audiences love; as the internet evolved, however, the internet became dull and the audiences’ opinions changed. The internet is full of content called websites that contain multiple purposes and do tons of things. The internet was getting bigger, especially in the early 1990s, and it was a colorful haven that attracted kids' attention. Back then, all those 30 years ago, websites were more colorful, creative, and full of content and interactivity, which audiences liked; now, it is a bunch of black-and-white shades with basic-looking components; they lost their shine, which audiences dislike. The shift from more color to less in websites, reduced appeal for select audiences, which could include the young and mature.</p>
          <p class="tab">Websites are fairly recent in their creation, only in the early 1990s; they are a network space that conveys ideas to a general audience. Websites and the internet have existed since the early 1990s, which at the time, were mostly owned by companies that were aware that the internet could be a better future, bringing them more advantages. Websites were basic when the internet was first created all those 30 years ago, as it was mostly HTML, or Hypertext Markup Language, with little to no styling. Examples of old sites are <a href="https://www.pizzahut.com/assets/pizzanet/home.html">Pizza Hut’s Santa Cruz delivery site, or “PizzaNet”</a> (1993) <a href="#source-1" class="fw-bold">[1]</a>, which contains no styling. However, CSS (Cascading Style Sheets), and JS (JavaScript), would come not soon after, creating a whole new world of possibilities for styling, making websites look more detailed and colorful. As websites continued throughout the years, in the early 2010s, they tended to return to a basic, dull yet modern design, losing their shine. As devices evolved, the responsiveness in mobile devices was becoming more in demand; it resulted in a more “modern” refresh in most sites, which resulted in less engaging designs. In the 30 years of existence that websites had, they went from basic to shiny and back to basic.</p>
          <p class="tab">Websites have changed a lot within a third of a century, but how did their main target, the primary reason the internet was created, their audience perceived these design changes? Website developers were meant to go wild with their imagination, attracting audiences, as Grimes explains in an article, directed towards designers “...turning complex information into experiences that draw in audiences and amplify your message’s impact. Ditch the confusion, embrace the clarity, and let your insights shine” (18) <a href="#source-2" class="fw-bold">[2]</a>. Some websites were targeted at a younger audience, and as a way to attract their attention, a bunch of colors were used. Could websites be losing that attention that kids once had given them by choosing a design that drives their attention away? Kids love animations and color, as a guide on explaining how designers should design children’s websites states “Animation, sound, and large colorful graphics are favored by children, while the same elements are generally ones to be avoided when constructing an information site for adult users” (Blower et. al 25) <a href="#source-3" class="fw-bold">[3]</a>. Nickelodeon had a bunch of glossy, colorful elements, where users could also download software such as screensavers and games, an example would be in <a href="https://web.archive.org/web/2000/https://spongebob.com">2000 (Nickelodeon)</a> <a href="#source-4" class="fw-bold">[4]</a>. A less big example, <a href="https://web.archive.org/web/2000/https://spongebob.com">YouTube (for this example, 2005)</a>, a major video streaming platform founded in 2005, had once a ton of color and allowed creators to personalize pages to have more than a simple black-and-white template, as shown in the snapshot (YouTube) <a href="#source-5" class="fw-bold">[5]</a>. As of 2024, it is now a bunch of black and white, with the only exceptions being their logo and their thumbnails, or cover photos. YouTube is only an example of what younger audiences like, as social media also followed the same trend as YouTube's (owned by Google) set. Some websites were for mature audiences, but they still had attempted ways to drive attention to them, this could apply to politics or crime, which is for mature audiences. One of these examples in politics was <a href="https://web.archive.org/web/20240623123818/https://dolekemp96.org">Bob Dole in 1996</a>, this site features a bunch of colors and attention to detail with shapes to attract attention from voters. Although Bob Dole lost the election in 1996, it still stood as an example of what political advertisements used to look like back then <a href="#source-6" class="fw-bold">[6]</a>. Candidate websites in 2024 still have a few elements of color, but basic shapes are more dull than they used to be. Crime websites such as <a href="https://web.archive.org/web/20240623123818/https://www.cnn.com/US/OJ/">OJ Simpson by CNN in 1996</a>, showed images to convey information and it worked to grab the attention of the general public <a href="#source-7" class="fw-bold">[7]</a>. Websites, no matter their audience, still attempt or target a group of audiences with colorful, glossy, or shiny, elements, and it worked.</p>
          <p class="tab">The ways websites are designed from now and then 30 years ago, are very different, yet have different ways to grab the attention of their audiences. Some websites were colorful and attention-grabbing back then, but some are no longer having those qualities. As websites became modern and attempted to be responsive to mobile devices, they chose less engaging designs. Audiences simply prefer colorful, detailed elements, which are no longer being used in websites in today’s world.</p>
        </div>
        <div id="sources" class="story-top-scroll">
          <h2>Sources</h2>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-1">[1]</div>
            <div class="col">
              Pizza Hut. "Homepage." Pizza Hut, <a class="text-wrap" href="https://www.pizzahut.com/assets/pizzanet/home.html">https://www.pizzahut.com/assets/pizzanet/home.html</a>. Accessed 22 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-2">[2]</div>
            <div class="col">
              Grimes, Jennifer. “Convert Data Into Powerful Visual Stories.” <i>TD: Talent Development</i>, vol. 78, no. 10, Oct. 2024, pp. 18–20. EBSCOhost, <a class="text-wrap" href="https://search.ebscohost.com/login.aspx?direct=true&db=aph&AN=180065090&site=ehost-live">search.ebscohost.com/login.aspx?direct=true&db=aph&AN=180065090&site=ehost-live</a>. Accessed 15 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-3">[3]</div>
            <div class="col">
              Blowers, Helene, and Rbin Bryan. “Weaving a Library Web: A Guide to Developing Children’s Websites.” <i>Library Mosaics</i>, vol. 15, no. 6, Nov. 2004, p. 25. EBSCOhost, <a class="text-wrap" href="jttps://search.ebscohost.com/login.aspx?direct=true&db=aph&AN=15157054&site=ehost-live">search.ebscohost.com/login.aspx?direct=true&db=aph&AN=15157054&site=ehost-live</a>. Accessed 15 October 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-4">[4]</div>
            <div class="col">
              Nickelodeon. "SpongeBob SquarePants." <i>Nickelodeon</i>, archived by <i>Internet Archive</i>, 2000, <a class="text-wrap" href="https://web.archive.org/web/2000/https://spongebob.com">web.archive.org/web/2000/https://spongebob.com</a>. Accessed 22 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-5">[5]</div>
            <div class="col">
              YouTube. "Homepage." YouTube, archived by <i>Internet Archive</i>, 2006, <a class="text-wrap" href="https://web.archive.org/web/2006/https://youtube.com">web.archive.org/web/2006/https://youtube.com</a>. Accessed 22 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-6">[6]</div>
            <div class="col">
              Dole/Kemp '96 Campaign. "Dole/Kemp '96." <i>Dole/Kemp '96</i>, archived by <i>Internet Archive</i>, August 2, 1996, <a class="text-wrap" href="https://web.archive.org/web/20240623123818/https://dolekemp96.org">web.archive.org/web/20240623123818/https://dolekemp96.org</a>. Accessed 22 Oct. 2024.
            </div>
          </div>
          <br>
          <div class="d-flex">
            <div class="col-1 fw-bold" id="source-7">[7]</div>
            <div class="col">
              CNN. "US News: OJ Trial." CNN, archived by <i>Internet Archive</i>, Oct. 1996, <a class="text-wrap" href="https://web.archive.org/web/20240623123818/https://www.cnn.com/US/OJ/">web.archive.org/web/20240623123818/https://www.cnn.com/US/OJ/</a>. Accessed 22 Oct. 2024.
            </div>
          </div> 
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>AT Products LLC is the publisher and copyright holder of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
