body {
  color: #fff;
  background-color: #050505;
}

.navbar {
  background-color: #171917;
  padding-bottom: 0 0 4.5rem;
  margin: auto;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.atpro {
  padding-left: 1%
}

#all-intro {
  text-align: center;
}

#intro {
  padding: 7% 15%;
}

.icon {
  color: #383838;
  margin-bottom: 1rem;
}
.icon:hover {
  color: #6a6767;
}

.active {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.container {
  padding-top: 7%;
}

#all-title {
   padding: 0% 5%;
   padding-bottom: 7%;
}
#all {
  padding: 7% 15%;
  text-align: center;
}
#Disclaimer-title {
    padding: 7% 15%;
}

#CH-image {
  width: 25%;
  border-radius: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#middle {
  text-align: center;
}

#social {
  margin-left: 1rem;
}
#final {
  padding-top: 20px:
}
