a.learn:link, a.learn:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a.learn:hover, a.learn:active {
  background-color: red;
}
