.learn:link, .learn:visited {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.learn:hover, .learn:active {
  background-color: red;
}
