---
const { author, hr, marginTop } = Astro.props;
---

<footer>
  {hr !== 'none' && <hr>}
  <div class={`container-footer ${marginTop === 'true' ? 'lg:mt-0 mt-3' : ''}`}>
    <div class="lg:mt-8">
      <div class="row lg:px-2">
        <div class="lg:col-2 xesm:me-2">
         <div class="text-center">
           <div class="imgdiv"><a href="/"><img src="/media/images/shortblack.webp" width="50%" alt="icon" class="footerimg"></a></div>
             <br>
             <h1 class="footer-header"><a href="/">AT Products LLC</a></h1>
          </div>
        </div>
        <div class="lg:col-2 lg:mt-0 mt-2 lg:me-2 lg:text-centertostart">
          <h2 class="h5">Products</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/paid" class="nav-link p-0 text-normal">Paid Services</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/web" class="nav-link p-0 text-wrap-auto">Web Projects</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/stories" class="nav-link p-0 text-wrap-auto">Stories</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/sms" class="nav-link p-0 text-wrap-auto">SMS Bomb</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/minefalls" class="nav-link p-0 text-wrap-auto">Mine Falls</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/pynx" class="nav-link p-0 text-wrap-auto">Pynx's Projects</a></li>
          </ul>
        </div>
        <div class="lg:col-2 lg:mt-0 mt-2 lg:me-2 lg:text-centertostart">
          <h2 class="h5">Departments</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="https://beta-testing.atproducts.xyz" class="nav-link p-0 text-wrap-auto">Department of Beta Testing</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="https://portfolio.atproducts.xyz/#toucanempire" class="nav-link p-0 text-wrap-auto">The Toucan Empire</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="https://portfolio.atproducts.xyz/#atpweather" class="nav-link p-0 text-wrap-auto">ATPWeather</a></li>
          </ul>
        </div>
        <div class="lg:col-2 lg:mt-0 mt-2 lg:me-2 lg:text-centertostart">
          <h2 class="h5">Communities</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/script" class="nav-link p-0 text-wrap-auto">The Script Community</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/ehs" class="nav-link p-0 text-wrap-auto">Ethical Hacking Society</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/codinghome" class="nav-link p-0 text-wrap-auto">CodingHome</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/noodle" class="nav-link p-0 text-wrap-auto">Noodle Hackerspace</a></li>
          </ul>
        </div>
        <div class="lg:col-2 lg:mt-0 mt-2 lg:me-2 lg:text-centertostart">
          <h2 class="h5">Documentation</h2>
          <ul class="nav flex-column">
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/terms" class="nav-link p-0 text-normal">Terms of Service</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/discord" class="nav-link p-0 text-wrap-auto">Discord Rules</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/privacy" class="nav-link p-0 text-wrap-auto">Privacy Policy</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/policies" class="nav-link p-0 text-wrap-auto">Other Policies</a></li>
            <li class="nav-item mb-2 d-block lg:d-flex mx-3 mx-xsm-5 lg:mx-0"><a href="/licenses" class="nav-link p-0 text-wrap-auto">Licenses</a></li>
          </ul>
        </div>
      </div>
      <div class="d-flex justify-content-between pt-3 pb-2 mt-4 border-top">
        <div class="lg:d-flex">
          <a class="ms-3 footer-info dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#footerinfo" role="button" aria-expanded="false" aria-controls="footerinfo">
            Information
            <i class="bi bi-sm bi-chevron-expand" aria-hidden="true"></i>
          </a>
          <div class="ms-3 pt-2 lg:col-6 collapse" id="footerinfo">
            <div class="card card-body text-start d-block lg:d-flex">
              <b>Version:</b> <script is:inline src="/scripts/version.js"></script><br>
              {author ?
                <>
                  <b>Author:</b> {author}
                </>
                :
                <>
                 <b>Author:</b> Alex Toucan
                </>
              }    
              <br><br>
              <p>® <script is:inline src="/scripts/year.js"></script> AT Products LLC</p>
             </div>
            </div>
          </div>
          <ul class="list-unstyled d-flex me-3 gap-3">
            <li><a class="link-footer" href="https://github.com/Alex-Toucan/atproducts.xyz" aria-label="GitHub"><i class="bi bi-github"></i></a></li>
            <li><a class="link-footer" href="https://x.com/ATProductsLLC" aria-label="Twitter / X"><i class="bi bi-twitter-x"></i></a></li>
            <li><a class="link-footer" href="https://www.instagram.com/atproductsllc/" aria-label="Instagram"><i class="bi bi-instagram"></i></a></li>
            <li><a class="link-footer" href="https://youtube.com/c/AlexToucanAT" aria-label="YouTube"><i class="bi bi-youtube"></i></a></li>
            <li><a class="link-footer" href="/contact/" aria-label="Contact Form / Email"><i class="bi bi-envelope-fill"></i></a></li>
            <li><a class="link-footer" href="https://x.com/ATPWeather" aria-label="Weather"><i class="bi bi-cloud-sun-fill"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
</footer>
