<!-- Icon.astro -->
<Fragment props>
  import { name, desc, href } from '@astro/props'
  
  // This assumes YourIconComponent is the actual component used for rendering icons

  <div class="icon">
    {YourIconComponent && <YourIconComponent name={name} />}
    <p>{desc}</p>
    <a href={href}>{desc}</a>
  </div>
</Fragment>
