<:astro>
export default function IconRender({ href, icon, desc }) {
  let shouldRender = !!href;

  return (
    <a
      href={shouldRender ? href : undefined}
      target={shouldRender ? "_blank" : undefined}
      rel={shouldRender ? "noopener noreferrer" : undefined}
      class={shouldRender ? "link-hero fs-7" : undefined}
      data-bs-toggle={shouldRender ? "tooltip" : undefined}
      data-bs-placement={shouldRender ? "bottom" : undefined}
      data-bs-title={shouldRender ? desc : undefined}
    >
      {shouldRender && <i class={`bi bi-${icon}`}></i>}
    </a>
  );
}
</:astro>
