<:astro>
export default function IconRender({ href, icon, desc }) {
  {#if href}
    {{
      let iconelement = `bi bi-${icon}`;
      return (
        <a
          href={href}
          target="_blank"
          rel="noopener noreferrer"
          class="link-hero fs-7"
          data-bs-toggle="tooltip"
          data-bs-placement="bottom"
          data-bs-title={desc}
        >
          <i class={iconelement}></i>
        </a>
      );
    }}
  {/if}
}
</:astro>
