<:astro>
  export default function Icon({ href, icon, desc }) {
    return (
      {#if href && icon && desc}
        <a href={href} target='_blank' rel='noopener noreferrer' class='link-hero fs-7'>
          <i class={`bi bi-${icon}`}></i>
          <span>{desc}</span>
        </a>
      {/if}
    );
  }
</:astro>
