---

---

<a href="#main-content" class="visually-hidden-focusable btn btn-primary position-fixed m-2 hero-filter" style="z-index: 2000;" title="Skip to main content">Skip to main content</a>

<header>
  <nav class="navbar navbar-expand-lg fixed-top main-navbar">
    <div class="container-fluid">
      <a href="https://atproducts.xyz" aria-label="Return to AT Products LLC" class="navbar-toggler d-md-block border-0 p-0 me-lg-2">
        <i class="bi bi-arrow-left-short"></i>
      </a>
      <a class="navbar-brand m-0 me-lg-2" href="/"> 
        <img src="/media/images/DoBT-Logo-Black.png" height="45px" alt="AT Products LLC - Department of Beta Testing" class="headerimg">
      </a>
      <button class="navbar-toggler border-0 p-0" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="offcanvas offcanvas-start overflow-auto" tabindex="-1" id="offcanvasNavbar">
        <div class="offcanvas-header pb-2">
          <h5 class="offcanvas-title">
            <img src="/media/images/DoBT-Logo-Black.png" height="45px" alt="AT Products LLC - Department of Beta Testing" class="headerimg">
          </h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas"></button>
        </div>

        <div class="navbar-body d-lg-flex gap-2">
          <div class="navbar-nav custom-group justify-content-start me-auto">
            <a class="custom-group-item custom-group-item-action" href="/">Home</a>
            <a class="custom-group-item custom-group-item-action" href="/apply">Apply</a>

            <div class="custom-group-item p-0 dropdown dropdown-section">
              <a class="dropdown-toggle custom-group-item-action d-block" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside">
                Resources
              </a>
              <div class="dropdown-menu p-0 border-0" data-bs-display="static">
                <div class="custom-group">
                  <a class="custom-group-item custom-group-item-action" href="/links">Links</a>
                  <a class="custom-group-item custom-group-item-action" href="https://atproducts.xyz">Public Website</a>
                  <a class="custom-group-item custom-group-item-action" href="https://beta.atproducts.xyz">Beta Website</a>
                  <a class="custom-group-item custom-group-item-action" href="https://github.com/Alex-Toucan/atproducts.xyz/pulls">GitHub PRs</a>
                  <a class="custom-group-item custom-group-item-action" href="https://github.com/Alex-Toucan/atproducts.xyz/tree/beta">Beta Branch</a>
                  <a class="custom-group-item custom-group-item-action" href="https://discord.gg/NTVd3vGFMS">Alex's Diary (CodingHome @ Discord)</a>
                  <a class="custom-group-item custom-group-item-action" href="https://twitter.com/ATProductsLLC">ATPLLC's Twitter</a>
                  <a class="custom-group-item custom-group-item-action" href="https://atproducts.xyz/backup/archive/">Backup Archive (public)</a>
                  <a class="custom-group-item custom-group-item-action" href="https://beta.atproducts.xyz/backup/archive/">Backup Archive (beta)</a>
                </div>
              </div>
            </div>
            <a class="custom-group-item custom-group-item-action" href="/guidelines">Guidelines</a>
          </div>

          <div class="navbar-nav custom-group justify-content-start ms-auto nav-tab-link mb-2 mb-lg-0 color-changer">
            <div class="custom-group-item p-0 dropup dropdown-section color-dropdown">
              <a class="dropdown-toggle custom-group-item-action color-button d-block" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="bd-theme">
                <span class="theme-icon-active"><i class="bi bi-sun-fill me-2"></i></span>
                <span class="d-lg-none" id="bd-theme-text">Change theme</span>
              </a>
              <div class="dropdown-menu p-0" data-bs-display="static" data-bs-popper="static">
                <div class="custom-group">
                  <a class="dropdown-item" href="#" data-bs-theme-value="light"><i class="bi bi-sun-fill me-2"></i> Light</a>
                  <a class="dropdown-item" href="#" data-bs-theme-value="dark"><i class="bi bi-moon-stars-fill me-2"></i> Dark</a>
                  <a class="dropdown-item" href="#" data-bs-theme-value="auto"><i class="bi bi-circle-half me-2"></i> Auto</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>

<noscript>
  <div class="alert alert-dark mb-0" role="alert">
    <strong>It seems like you don't have JavaScript enabled!</strong> For color modes, accordions, scrollspies, tab panes, dropdowns, popovers, and much more, you'll need JavaScript to work! We do not have fallbacks, so please enable JavaScript or <a href="https://github.com/Alex-Toucan/atproducts.xyz">view the source code to read the information</a>.
  </div>
</noscript>
