---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="Flash Engines and Alternatives" icon="Adobe_Flash_Player_32.svg.png" color="#4a0000" description="Flash Documentation presents 'Flash Engines and Alternatives'!" author="AT Products LLC & Flash Documentation" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="Flash Engines and Alternatives" 
    link={[
     { name: "Flash Documentation" , href: "/flash" },
    ]}
  />
  <div id="main-content">
    <Scrollspy id="eg"
      scrollcontent={[ 
        { name: "Browser Supports", href: "#browser" },
        { name: "Apps", href: "#app" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">Flash Engines and Alternatives</h1>
          <h5 class="text-start"><b>Featured In:</b> <a href="/flash">Flash Documentation</a>.</h5>
          <h5 class="text-start"><b>Made & Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
        </div>
        <div id="content">
          <div id="browser">
            <h2>Browser Supports</h2>
            <p><a href="https://ruffle.rs/">Ruffle</a></p>
          </div>
          <div id="app">
            <h2>Apps</h2>
            <p>These ones are for computers, if you use Android, <a href="browsers">click here for the browsers</a> or <a href="android">click here for the actual flash engine</a>.</p>
            <p><a href="https://ruffle.rs/">Ruffle</a><br>
                <a href="https://flashpointarchive.org/">FlashPoint</a></p>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>This article/story was featured in Flash Documentation and AT Products LLC is author & publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
