---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="How to use Flash after 2021" icon="Adobe_Flash_Player_32.svg.png" color="#4a0000" description="Flash Documentation presents 'How to use Flash after 2021'!" author="AT Products LLC & Flash Documentation" scrollspy="true" />
<div id="page">
  <Navbar pageTitle="How to use Flash after 2021" 
    link={[
     { name: "Flash Documentation" , href: "/flash" },
    ]}
  />
  <div id="main-content">
    <Scrollspy id="ft"
      scrollcontent={[ 
        { name: "Browser Installation", href: "#browser" },
        { name: "App/SWF Installation", href: "#app" },
      ]} 
    >
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">How to use Flash after 2021</h1>
          <h5 class="text-start"><b>Featured In:</b> <a href="/flash">Flash Documentation</a>.</h5>
          <h5 class="text-start"><b>Made & Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
        </div>
        <div id="content">
          <p>If you want to use Flash in a browser or an app, follow these instructions.</p>
          <div id="browser">
            <h2>Browser Installation</h2>
            <p>
                If there is Flash Player already installed, use the <a href="/media/files/uninstall_flash_player%20(Step%201).exe">Uninstaller for Windows</a>, otherwise use the <a href="/media/files/uninstall_flash_player.dmg">Uninstaller for Mac OS X - 10.6 or higher</a>, or the <a href="/media/files/uninstall_flash_player_osx_10.4.dmg">Uninstaller for Mac OS X - 10.4 & 10.5</a>.
            </p>
            <p>
                After that, run an installer from the table of installers depending on your device with the version you want. The versions suffixed with “pep” are PPAPI (WebKit and Blink), the ones with “ax” are ActiveX (Trident and EdgeHTML) and the ones without suffix are NPAPI (Gecko and Goanna). Follow the instructions on the installer that you chose. Reminder that most major browsers such as Google Chrome, FireFox, and many more, will no longer accept any flash version.
            </p>
            <p>
                Next, find a browser that allows Flash plug-ins, you can visit <a href="browsers">this page</a> to find some.
            </p>
  
            <div class="d-flex flex-wrap row-cols-3">
                <div class="col">
                    <p class="m-0 p-0"><b>Windows</b></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_win.exe" download>win</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_winpep.exe" download>winpep</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_winax.exe" download>winax</a></p>
                </div>
                <div class="col">
                    <p class="m-0 p-0"><b>Macintosh</b></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_mac.dmg" download>mac</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_macpep.dmg" download>macpep</a></p>
                </div>
                <div class="col">
                    <p class="m-0 p-0"><b>Linux i386</b></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_linux.i386.tar.gz" download>linux</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_linuxpep.i386.tar.gz" download>linuxpep</a></p>
                </div>
                <div class="col"></div>
                <div class="col">
                    <p class="m-0 p-0"><b>Macintosh (pkg)</b></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_mac_pkg.dmg" download>mac</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_macpep_pkg.dmg" download>macpep</a></p>
                </div>
                <div class="col">
                    <p class="m-0 p-0"><b>Linux x86_64</b></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_linux.x86_64.tar.gz" download>linux</a></p>
                    <p class="m-0 p-0"><a href="/media/files/flashplayer32_0r0_371_linuxpep.x86_64.tar.gz" download>linuxpep</a></p>
                </div>
            </div>
          </div>
          <div id="app">
            <h2>App/SWF Installation</h2>
            <p>
                In the "SWF Installation", an <a href="/media/files/flashplayer_32_sa.exe">already installed app</a> is waiting for you. However, you'll need a SWF file (Shockwave Flash) to run. I left a <a href="/media/files/flash_cmpunk.swf">SWF game here</a> for you to try out.
            </p>
            <p>
              If you need to change your global settings, visit <a href="https://www.macromedia.com/support/documentation/en/flashplayer/help/settings_manager04.html">this site</a>.</p>
            </p>
          </div>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>This article/story was featured in Flash Documentation and AT Products LLC is author & publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
