---
import DefaultBody from '../../../layouts/DefaultBody.astro';
import Navbar from '../../../layouts/articles/Navbar.astro';
import Scrollspy from '../../../layouts/articles/Scrollspy.astro';
import BackToTop from '../../../components/BackToTop.astro';
---

<DefaultBody title="How to Run Apps in Screensavers" icon="Adobe_Flash_Player_32.svg.png" color="#4a0000" description="Flash Documentation presents 'How to Run Apps in Screensavers'!" author="AT Products LLC & Flash Documentation" />
<div id="page">
  <Navbar pageTitle="How to Run Apps in Screensavers" 
    link={[
     { name: "Flash Documentation" , href: "/flash" },
    ]}
  />
  <div id="main-content">
    <Scrollspy id="rs">
      <Fragment slot="scrollspy-content">
        <div id="intro" class="story-top-scroll">
          <h1 class="text-start">How to Run Apps in Screensavers</h1>
          <h5 class="text-start"><b>Featured In:</b> <a href="/flash">Flash Documentation</a>.</h5>
          <h5 class="text-start"><b>Made & Published by:</b> <a href="/">AT Products LLC</a>.</h5>
          <hr>
        </div>
        <div id="content">
          <p><b>Please note that AT Products LLC never created any of these files. Credits to <a href="https://www.reddit.com/user/IoI_xD/">IoI_xD on Reddit</a>.</b> The reason this relates to Flash is you may need this section for a .EXE file that contains Flash content that is supposed to be a screensaver.</p>
          <p>Firstly, to get it to actually run, you'll first need to download and run <a href="/media/files/ScreensaversPlanet_Flash_Fix.reg">this registry file</a>. You will get a warning upon running it, <a href="https://www.virustotal.com/#/file/84532c37fba28264d9a73cb86cf92a524732e2d0b189cd4cd30c84c1e4db1e84/detection">It is indeed safe</a>.</p>
          <p>After that you should be able to click on it and it will exactly as shown above, but what about getting it to automatically run as a screensaver? Windows doesn't allow you to run .exe files as savers anymore, so you will have to do a bit of extra set up. Before anything, you'll need a consistent place to save all these files. We recommend <code>C:\Windows\System32</code> because that's where all the screensavers are normally stored.</p>
          <p>Secondly, you'll need to download <a href="/media/files/Screen Launcher.scr">Screen Launcher</a>. Save it to a place on your computer, then right click it and select "Install". Then right click the <code>.scr</code> file and click install, you shall be taken to the screensaver settings automatically. Optionally to prevent issues, put Screen Launcher into <code>C:\Windows\System32</code>. If you're not on the screen and you're on Windows Vista or above, press WIN + R and type into Run <code>control desk.cpl,,@screensaver</code> to enter Screensaver Settings and select Screen Launcher. Click settings on the screensaver and navigate it to where you saved the screensaver (e.g. <code>C:\Windows\System32\Bobsaver.exe</code>).</p>
          <p>Now the screensaver works, but there's still a problem: it doesn't exit as it should. You can't move your mouse to exit it like normal. Instead, you have to press "ESC", which doesn't exit the program but minimizes it. Not much can be about the mouse, but what could be done is make it so that the ESC key exits the program completely. Download <a href="https://autohotkey.com/download/">AutoHotKey</a> and install it. Once it's installed, download a <a href="/media/files/bobsav.ahk">.ahk file</a>, then move it to <code>C:\Users\Owner\AppData\Roaming\Microsoft\Windows\Start Menu\Programs\Startup</code>, or press WIN + R and type into Run <code>shell:startup</code> to go to the folder. What the script will do is bind the ESC key to the ALT + F4 function, but only when the screensaver is running. Just double click the file and it should start running. You can now experience the screensaver as it was meant to be seen.</p>
        </div>
        <hr>
        <div id="copyright">
          <h6>&reg; AT Products (LLC) 2019-<script is:inline src="/static/year.js"></script></h6>
          <h6>This article/story was featured in Flash Documentation and AT Products LLC is author & publisher of this article/story.</h6>
        </div>
      </Fragment>
    </Scrollspy>
  </div>
  <BackToTop />
</div>
</DefaultBody>
