table { page-break-after:auto }
tr    { page-break-inside:avoid; page-break-after:auto }
td    { page-break-inside:avoid; page-break-after:auto }
thead { display:table-header-group }
tfoot { display:table-footer-group }

table { border-collapse: collapse; }
tr { border: none; }
td {
border-right: solid 1px #999999; 
border-left: solid 1px #999999;
}

.table-center {
  margin-left: auto;
  margin-right: auto;
}
