---
import Head from '../../layouts/Head.astro';
import Scripts from '../../layouts/Scripts.astro';
import Navbar    from '../../components/Navbar.astro';
import Footer    from '../../components/Footer.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<Head title="Public Archive" description="This is the public archive to any old versions and retired pages." author="Alex Toucan"/>
      <div id="page">
<Navbar />
    <main id="archive" class="container"> 
          <h1 class="title"> Public Archive </h1>
          <p> Wanna view our archive of pages we no longer use? Sure! </p>
          <p><b> These pages are as is. They will never be updated, not even for bug fixes, for testing and preserving purposes.</b></p><br>
          <p> <a href="http://backup.atproducts.xyz/portal">Portal (2.7 - 2.11)</a> </p>
          <p> <a href="http://backup.atproducts.xyz/roms">AT's ROM Games (1.0 - 2.6.2 | 2.11 - 2.13.2 & 2.15 [removal of card])</a> </p>
          <p> <a href="http://backup.atproducts.xyz/warn">Warnings (2.6 - 2.6.2)</a> </p>
          <p> <a href="http://backup.atproducts.xyz/food">Food Bot (2.6 - 2.6.2)</a> </p>
          <p> <a href="http://backup.atproducts.xyz/maintenance">Maintenance</a> <i>Last used on 12/20/23 for 2.17.1.</i> </p>
          <p> <a href="http://backup.atproducts.xyz/credits">Credits (2.5.1)</a> <i>This was brought back in 2.6.2 as its section in the index page.</i> </p>
          <div id="menu" class="text-wrap">
            <div class="d-flex">
              <div class="sw-feature-box col">
            <a href="https://1-0.atproducts.xyz" class="sw-link text-wrap">1.0</a>
</div>
            </div>
<div class="d-flex">
  <div class="sw-feature-box col">
<a href="https://2-0-1.atproducts.xyz" class="sw-link text-wrap">2.0.1</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-0-2.atproducts.xyz" class="sw-link text-wrap">2.0.2</a>
      </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-1.atproducts.xyz" class="sw-link text-wrap">2.1</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-1-1.atproducts.xyz" class="sw-link text-wrap">2.1.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-1-2.atproducts.xyz" class="sw-link text-wrap">2.1.2</a>
        </div>
        <div class="sw-feature-box col">
<a href="https://2-1-3.atproducts.xyz" class="sw-link text-wrap">2.1.3</a>
          </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-2.atproducts.xyz" class="sw-link text-wrap">2.2</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-2-1.atproducts.xyz" class="sw-link text-wrap">2.2.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-2-1-1.atproducts.xyz" class="sw-link text-wrap">2.2.1.1</a>
        </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-3.atproducts.xyz" class="sw-link text-wrap">2.3</a>
    </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-4.atproducts.xyz" class="sw-link text-wrap">2.4</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-4-1.atproducts.xyz" class="sw-link text-wrap">2.4.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-4-2.atproducts.xyz" class="sw-link text-wrap">2.4.2</a>
        </div>
        <div class="sw-feature-box col">
<a href="https://2-4-3.atproducts.xyz" class="sw-link text-wrap">2.4.3</a>
          </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-5.atproducts.xyz" class="sw-link text-wrap">2.5</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-5-1.atproducts.xyz" class="sw-link text-wrap">2.5.1</a>
      </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-6.atproducts.xyz" class="sw-link text-wrap">2.6</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-6-1.atproducts.xyz" class="sw-link text-wrap">2.6.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-6-2.atproducts.xyz" class="sw-link text-wrap">2.6.2</a>
        </div>
      <div class="sw-feature-box col">
<a href="https://2-6-3.atproducts.xyz" class="sw-link text-wrap">2.6.3</a>
        </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-7.atproducts.xyz" class="sw-link text-wrap">2.7</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-7-1.atproducts.xyz" class="sw-link text-wrap">2.7.1</a>
      </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-8.atproducts.xyz" class="sw-link text-wrap">2.8</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-8-1.atproducts.xyz" class="sw-link text-wrap">2.8.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-8-2.atproducts.xyz" class="sw-link text-wrap">2.8.2</a>
        </div>
        <div class="sw-feature-box col">
<a href="https://2-8-3.atproducts.xyz" class="sw-link text-wrap">2.8.3</a>
          </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-9.atproducts.xyz" class="sw-link text-wrap">2.9</a>
    </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-10.atproducts.xyz" class="sw-link text-wrap">2.10</a>
    </div>
    <div class="sw-feature-box col">
<a href="https://2-10-1.atproducts.xyz" class="sw-link text-wrap">2.10.1</a>
      </div>
      <div class="sw-feature-box col">
<a href="https://2-10-2.atproducts.xyz" class="sw-link text-wrap">2.10.2</a>
        </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-11.atproducts.xyz" class="sw-link text-wrap">2.11</a>
    </div>
</div>
<div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-12.atproducts.xyz" class="sw-link text-wrap">2.12</a>
    </div>
</div>
            <div class="d-flex"> 
              <div class="sw-feature-box col">
<a href="https://2-13.atproducts.xyz" class="sw-link text-wrap">2.13</a>
                </div>
                <div class="sw-feature-box col">
<a href="https://2-13-1.atproducts.xyz" class="sw-link text-wrap">2.13.1</a>
                  </div>
                  <div class="sw-feature-box col">
<a href="https://2-13-2.atproducts.xyz" class="sw-link text-wrap">2.13.2</a>
                    </div>
                    <div class="sw-feature-box col">
<a href="https://2-13-3.atproducts.xyz" class="sw-link text-wrap">2.13.3</a>
                      </div>
                    <div class="sw-feature-box col">
<a href="https://2-13-3-1.atproducts.xyz" class="sw-link text-wrap">2.13.3.1</a>
                      </div>
</div>
            <div class="d-flex"> 
              <div class="sw-feature-box col">
<a href="https://2-14.atproducts.xyz" class="sw-link text-wrap">2.14</a>
                </div>
                <div class="sw-feature-box col">
<a href="https://2-14-1.atproducts.xyz" class="sw-link text-wrap">2.14.1</a>
                  </div>
                  <div class="sw-feature-box col">
<a href="https://2-14-1-1.atproducts.xyz" class="sw-link text-wrap">2.14.1.1</a>
                    </div>
                    <div class="sw-feature-box col">
<a href="https://2-14-2.atproducts.xyz" class="sw-link text-wrap">2.14.2</a>
                      </div>
</div>
                        <div class="d-flex"> 
                          <div class="sw-feature-box col gap-2">
<a href="https://2-15.atproducts.xyz" class=" sw-link text-wrap ">2.15</a><div class="dropdown d-inline">
                            <button class="footer-info dropdown-toggle sw-link text-wrap" type="button" data-bs-toggle="dropdown" aria-expanded="false">
  </button>
  <ul class="dropdown-menu" data-popper-placement="top-start">
    <li><a class="dropdown-item" href="http://2-15-alpha1.atproducts.xyz">2.15-alpha1</a></li>
        <li><a class="dropdown-item" href="http://2-15-alpha2.atproducts.xyz">2.15-alpha2</a></li>
        <li><a class="dropdown-item" href="http://2-15-alpha3.atproducts.xyz">2.15-alpha3</a></li>
        <li><a class="dropdown-item" href="http://2-15-beta1.atproducts.xyz">2.15-beta1</a></li>
        <li><a class="dropdown-item" href="http://2-15.atproducts.xyz">2.15</a></li>
  </ul></div>
</div>
   <div class="sw-feature-box col">                         
           <a href="https://2-15-1.atproducts.xyz" class="sw-link text-wrap">2.15.1</a>
                            </div>
                            <div class="sw-feature-box col">
                        <a href="https://2-15-2.atproducts.xyz" class="sw-link text-wrap">2.15.2</a>
                              </div>
                              <div class="sw-feature-box col">
                                   <a href="https://2-15-2-1.atproducts.xyz" class="sw-link text-wrap">2.15.2.1</a>    
                                </div>
                          </div>
            <div class="d-flex"> 
              <div class="sw-feature-box col">
<a href="https://2-16.atproducts.xyz" class="sw-link text-wrap">2.16</a>
              </div>
                     <div class="sw-feature-box col">
<a href="https://2-16-1.atproducts.xyz" class="sw-link text-wrap">2.16.1</a>
              </div>     
                           <div class="sw-feature-box col">
<a href="https://2-16-1-1.atproducts.xyz" class="sw-link text-wrap">2.16.1.1</a>
              </div>     
               <div class="sw-feature-box col">
<a href="https://2-16-1-2.atproducts.xyz" class="sw-link text-wrap">2.16.1.2</a>
              </div>     </div>
              <div class="d-flex"> 
  <div class="sw-feature-box col">
<a href="https://2-17.atproducts.xyz" class="sw-link text-wrap">2.17</a>
    </div>
  <div class="sw-feature-box col">
<a href="https://2-17-1.atproducts.xyz" class="sw-link text-wrap">2.17.1</a>
    </div>
  <div class="sw-feature-box col">
<a href="https://2-17-1-1.atproducts.xyz" class="sw-link text-wrap">2.17.1.1</a>
    </div>
  <div class="sw-feature-box col gap-2">
<a href="https://2-17-2.atproducts.xyz" class="sw-link text-wrap">2.17.2</a><span class="badge bg-primary ms-2">Latest</span> 
    </div>
</div>
                        </div>
            <a class="visually-hidden-focusable p-2 mt-2 text-center" href="https://beta-testing.atproducts.xyz">secret button</a>
          </div>
</main>
<Footer />
<BackToTop />
</div>
<Scripts />
