---
import Head from '../../layouts/Head.astro';
import Scripts from '../../layouts/Scripts.astro';
import Navbar    from '../../components/Navbar.astro';
import Footer    from '../../components/Footer.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<Head title="Blank Canvas" description="This page is used as a blank canvas for our web-devs to use for testing new elements." author="Alex Toucan"/>
<div id="page">
<Navbar />
  <main id="tos" class="container">
<h1 class="title">Blank Canvas</h1>
<p>This page is used as a blank canvas for our web-devs to use for testing new elements.</p>
<hr>
<div class="my-5 mx-auto" style="filter: drop-shadow(2px 4px 6px black);">
<div class="text-center">Insert Code Here (or remove the <code>&lt;div&gt;</code>)</div>
</div>
</main>
<Footer />
<BackToTop />
</div>
<Scripts />
