.versions-wrapper {
  & .btn-outline-primary:hover {
    background-color: rgba(13, 110, 253, 0.2);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: #0d6efd;
    border-color: #0d6efd;
  }

  & .btn-outline-warning:hover {
    background-color: rgba(255, 193, 7, 0.25);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    color: #ffc107;
    border-color: #ffc107;
  }
}