---
import Head from '../../layouts/Head.astro';
import Scripts from '../../layouts/Scripts.astro';
import Navbar    from '../../components/Navbar.astro';
import Footer    from '../../components/Footer.astro';
import BackToTop from '../../components/BackToTop.astro';
---

<Head title="Contact Form" description="If you don't want to email us on your email client, use this instead. We'll reach out to your email provided." author="Alex Toucan"/>
      <div id="page">
<Navbar />
    <main id="form" class="container">
    <h1 class="title">Contact Form</h1>
    <p>You may either use this or <a href="mailto:support@atproducts.xyz">email us manually</a>. If you don't want to email us on your email client, use this instead. We'll reach out to your email provided.</p>
<form
  name="Contact Form" 
  action="/form/success"
  method="POST"
  data-netlify="true"
  enctype="multipart/form-data"
class>
<div class="d-sm-flex gap-2">
<div class="col">
    <div class="mb-3">
      <label for="nameInput" class="form-label fw-bold">Name</label>
      <input name="name" class="form-control" id="nameInput" placeholder="John Doe" required>
    </div>
</div>
<div class="col">
<div class="mb-3">
  <label for="emailInput" class="form-label fw-bold">Email address</label>
  <input name="Email" type="email" class="form-control" id="emailInput" placeholder="name@example.com" required>
</div>
</div>
</div>
<div class="mb-3">
  <label for="textareaInput" class="form-label fw-bold">Information to Send</label>
  <textarea name="Text" class="form-control" id="textareaInput" rows="3" required></textarea>
</div>
    <label for="fileInput">
      Add file (TESTING):
    </label>
      <input name="file" type="file" id="fileInput" multiple>
<button type="submit" class="btn btn-lg btn-primary col-12">Send</button>
</form>
</main>
<Footer />
<BackToTop />
</div>
<Scripts />
