---
const { link, pageTitle } = Astro.props;
---

<a href="#main-content" class="visually-hidden-focusable btn btn-primary position-fixed m-2 hero-filter skip-content" title="Skip to main content">Skip to main content</a>

<header class="main-navbar fixed-top">
  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <a class="navbar-brand" href="/"
        ><img
          src="/media/images/longblack.webp"
          height="45px"
          alt="AT Products LLC"
          class="headerimg" /></a
      ><button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="offcanvas"
        data-bs-target="#offcanvasNavbar"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="offcanvas offcanvas-start overflow-auto"
        tabindex="-1"
        id="offcanvasNavbar"
      >
        <div class="offcanvas-header pb-2">
          <h5 class="offcanvas-title"><img
          src="/media/images/longblack.webp"
          height="45px"
          alt="AT Products LLC"
          class="headerimg" /></h5>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
          ></button>
        </div>
        <div class="navbar-body d-lg-flex gap-2">
          <div class="navbar-nav custom-group justify-content-start me-auto">
            <a class="custom-group-item custom-group-item-action" href="/"
              >Home</a
            >
            <div class="custom-group-item p-0 dropdown dropdown-section">
              <a
                class="dropdown-toggle custom-group-item-action d-block"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                Products
              </a>
              <div class="dropdown-menu p-0 border-0">
                <div class="custom-group">
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/paid"
                    >Paid Services</a
                  >
                  <div class="custom-group-item p-0 dropdown subdropdown dropdown-section">
                    <a
                      class="dropdown-toggle custom-group-item-action d-block"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                    >
                      Web Projects
                    </a>
                    <div class="dropdown-menu p-0 border-0">
                      <div class="custom-group">
                        <a
                          class="custom-group-item custom-group-item-action"
                          href="/flash"
                          >Flash Documentation</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/mdickie"
                          >MDickie Projects</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/roms"
                          >AT's ROM Games</a
                        >
                      </div>
                    </div>
                  </div>
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/stories"
                    >Stories</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/sms"
                    >SMS Bomb</a
                  >
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/minefalls"
                    >Mine Falls</a
                  >
                  <div class="custom-group-item p-0 dropdown subdropdown dropdown-section">
                    <a
                      class="dropdown-toggle custom-group-item-action d-block"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                    >
                      Pynx Projects
                    </a>
                    <div class="dropdown-menu p-0 border-0">
                      <div class="custom-group">
                        <a
                          class="custom-group-item custom-group-item-action"
                          href="/radiumos"
                          >RadiumOS</a
                        >
                        <a
                          class="custom-group-item custom-group-item-action"
                          href="/ezpkgm"
                          >ezpkgm</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/pson"
                          >PSON</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/bxpp"
                          >BxPP</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/fenta"
                          >FentaMini</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/inferno"
                          >Inferno</a
                        >
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="custom-group-item p-0 dropdown dropdown-section">
              <a
                class="dropdown-toggle custom-group-item-action d-block"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
              >
                Departments
              </a>
              <div class="dropdown-menu p-0 border-0">
                <div class="custom-group">
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="https://beta-testing.atproducts.xyz"
                    >Department of Beta Testing</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="https://portfolio.atproducts.xyz/#toucanempire"
                    >The Toucan Empire</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="https://portfolio.atproducts.xyz/#atpweather"
                    >ATPWeather</a
                  >
                </div>
              </div>
            </div>
            <div class="custom-group-item p-0 dropdown dropdown-section">
              <a
                class="dropdown-toggle custom-group-item-action d-block"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
              >
                Communities
              </a>
              <div class="dropdown-menu p-0 border-0">
                <div class="custom-group">
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/ehs"
                    >Ethical Hacking Society</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/script"
                    >The Script Community</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/codinghome"
                    >CodingHome</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/noodle"
                    >Noodle Hackerspace</a
                  >
                </div>
              </div>
            </div>
            <div class="custom-group-item p-0 dropdown dropdown-section">
              <a
                class="dropdown-toggle custom-group-item-action d-block"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                data-bs-auto-close="outside"
              >
                Documentation
              </a>
              <div
                class="dropdown-menu p-0 border-0"
                data-bs-display="static"
              >
                <div class="custom-group">
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/terms"
                    >Terms of Service</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/discord"
                    >Discord Rules</a
                  ><a
                    class="custom-group-item custom-group-item-action"
                    href="/privacy"
                    >Privacy Policy</a
                  >
                  <div class="custom-group-item p-0 dropdown subdropdown dropdown-section">
                    <a
                      class="dropdown-toggle custom-group-item-action d-block"
                      href="#"
                      role="button"
                      data-bs-toggle="dropdown"
                    >
                      Other Policies
                    </a>
                    <div class="dropdown-menu p-0 border-0">
                      <div class="custom-group">
                        <a
                          class="custom-group-item custom-group-item-action text-wrap"
                          href="/paidterms"
                          >Paid Services & Website Creation Policies and
                          Terms</a
                        ><a
                          class="custom-group-item custom-group-item-action"
                          href="/titleiiandvii"
                          >Title II & VII</a
                        >
                      </div>
                    </div>
                  </div>
                  <a
                    class="custom-group-item custom-group-item-action"
                    href="/licenses"
                    >Licenses</a
                  >
                </div>
              </div>
            </div>
          </div>
          <div class="navbar-nav custom-group justify-content-start ms-auto nav-tab-link mb-2 mb-lg-0 color-changer">
            <div class="custom-group-item p-0 dropup dropdown-section color-dropdown">
              <a class="dropdown-toggle custom-group-item-action color-button d-block" href="#" role="button" data-bs-toggle="dropdown" data-bs-auto-close="outside" id="bd-theme">
                <span class="theme-icon-active"><i class="bi bi-sun-fill me-2"></i></span>
                <span class="d-lg-none" id="bd-theme-text">Change theme</span>
              </a>
              <div class="dropdown-menu p-0" data-bs-display="static" data-bs-popper="static">
                <div class="custom-group">
                  <a class="dropdown-item" href="#" data-bs-theme-value="light">
                    <i class="bi bi-sun-fill me-2"></i> Light
                  </a>
                  <a class="dropdown-item" href="#" data-bs-theme-value="dark">
                    <i class="bi bi-moon-stars-fill me-2"></i> Dark
                  </a>
                  <a class="dropdown-item" href="#" data-bs-theme-value="auto">
                    <i class="bi bi-circle-half me-2"></i> Auto
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <nav class="pt-0 pb-2 navbar">
    <div class="container-fluid">
      <ol class="navbar-nav breadcrumb m-0 flex-row">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        {link && link.map(({ name, href }, index) => (
          <li class="breadcrumb-item"><a href={href}>{name}</a></li>
        ))}
        <li class="breadcrumb-item active" aria-current="page">{pageTitle}</li>
      </ol>
    </div>
  </nav>
</header>

<noscript>
  <div class="alert alert-dark mb-0" role="alert">
  <strong>It seems like you don't have JavaScript enabled!</strong> You will need JavaScript for color modes, accordions, scrollspies, tab panes, dropdowns, popovers, and more! We do not have fallbacks, so please enable JavaScript or <a href="https://github.com/Alex-Toucan/atproducts.xyz">view the source code to read the information</a>.
</noscript>