---
const games = [
  { name: "2048", href: "/2048" },
  { name: "Among Us", href: "/amongus" },
  { name: "BitLife", href: "/bitlife" },
  { name: "Bloons TD", href: "/bt/bloons" },
  { name: "Bloons TD 2", href: "/bt/bloons2" },
  { name: "Bloons TD 5", href: "/bt/bloons5" },
  { name: "Bloxorz" , href: "/bloxorz" },
  { name: "Chrome Dino", href: "/chromedino" },
  { name: "Cookie Clicker", href: "/cookieclicker" },
  { name: "Crazy Cattle 3D", href: "/crazycattle3d" },
  { name: "Doodle Jump", href: "/doodlejump" },
  { name: "Flappy Bird", href: "/flappybird" },
  { name: "Mario", href: "/mario" },
  { name: "Minesweeper", href: "/minesweeper" },
  { name: "Pacman", href: "/pacman" },
  { name: "Papa's Bakeria", href: "/papa/bakeria" },
  { name: "Papa's Burgeria", href: "/papa/burgeria" },
  { name: "Papa's Cheeseria", href: "/papa/cheeseria" },
  { name: "Papa's Cupcakeria", href: "/papa/cupcakeria" },
  { name: "Papa's Donuteria", href: "/papa/donuteria" },
  { name: "Papa's Freezeria", href: "/papa/freezeria" },
  { name: "Papa's Pancakeria", href: "/papa/pancakeria" },
  { name: "Papa's Pastaria", href: "/papa/pastaria" },
  { name: "Papa's Pizzeria", href: "/papa/pizzeria" },
  { name: "Papa's Scooperia", href: "/papa/scooperia" },
  { name: "Papa's Sushiria", href: "/papa/sushiria" },
  { name: "Papa's Tacomia", href: "/papa/tacomia" },
  { name: "Papa's Wingeria", href: "/papa/wingeria" },
  { name: "Retro Bowl", href: "/retrobowl" },
  { name: "Riddle School 1", href: "/riddle/riddleschool" },
  { name: "Riddle School 2", href: "/riddle/riddleschool2" },
  { name: "Riddle School 3", href: "/riddle/riddleschool3" },
  { name: "Riddle School 4", href: "/riddle/riddleschool4" },
  { name: "Riddle School 5", href: "/riddle/riddleschool5" },
  { name: "Riddle Transfer 1", href: "/riddle/riddletransfer1" },
  { name: "Riddle Transfer 2", href: "/riddle/riddletransfer2" },
  { name: "Shell Shockers" , href: "/shellshockers" },
  { name: "Slope" , href: "/slope" },
  { name: "Snow Rider 3D", href: "/snowrider3d" },
  { name: "Subway Surfers", href: "/subwaysurfers" },
  { name: "Super Mario 64", href: "/sm64" },
].sort((a, b) => a.name.localeCompare(b.name));
---

<div class="d-grid gap-2 list-group">
  <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" id="searchInput" />
  <hr class="my-2">
  {games && games.map(({ name, href }, index) => (
    <a class="list-group-item list-group-item-action" type="button" href={href}>{name}</a>
  ))}
</div>