---
const { title, link, scrolling } = Astro.props;
---

<div class="d-lg-grid vh-100 main-table">
  <!-- Left sidebar -->
  <div class="navbar-expand-lg left-column">
    <div class="offcanvas offcanvas-start border-0 secondary-section h-lg-100" id="offcanvasNavbar">
      <div class="offcanvas-body d-grid p-0" style="flex-grow: initial !important;">
        <div class="primary-section d-flex align-content-center flex-wrap justify-content-lg-center justify-content-between px-4 px-lg-0" style="height: 70px;">
          <img src="/media/images/signature.png" height="30px" class="main-image">
          <button type="button" class="btn-close d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close" style="height: initial !important;"></button>
        </div>
        <div class="p-4">
          <p class="display-6 fs-4 text-center">Games</p>
          <slot />
        </div>
      </div>
    </div>
  </div>

  <!-- Right column wrapper -->
  <div class="right-column">
    <!-- Top right: header -->
    <div class="secondary-section d-flex align-items-center justify-content-between justify-content-lg-center text-center px-4 px-lg-0" style="height: 70px;">
      <button class="navbar-toggler d-block d-lg-none" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar">
        <span class="navbar-toggler-icon"></span>
      </button>
      <h1 class="display-6 fs-3 m-0">Unblocked Games</h1>
    </div>

    <!-- Bottom right: main content -->
    <div class="main-content p-4">
      <div class="container">
        <div class="d-flex justify-content-between">
          <h2>{title}</h2>
          <div class="d-flex gap-2">
            <button class="link-game" id="fullScreenBtn" aria-label="Enter fullscreen mode" data-bs-toggle="tooltip" data-bs-placement="bottom" data-bs-title="Fullscreen">
              <i class="bi bi-fullscreen" aria-hidden="true"></i>
              <span class="visually-hidden">Fullscreen</span>
            </button>
          </div>
        </div>
        {link && (
          <div id="game" class="mt-3 rounded-2 ratio ratio-16x9">
            <iframe class="rounded-2 d-block mx-auto" scrolling={`${scrolling === 'true' ? 'yes' : 'no'}`} frameborder="0" allowtransparency="true" src={link} id="full-screen"></iframe>
          </div>
        )}
      </div>
    </div>
  </div>
</div>
