---
const games = [
  { name: "2048", href: "/2048" },
  { name: "Among Us", href: "/amongus" },
  { name: "BitLife", href: "/bitlife" },
  { name: "Chrome Dino", href: "/chromedino" },
  { name: "Cookie Clicker", href: "/cookieclicker" },
  { name: "Crazy Cattle 3D", href: "/crazycattle3d" },
  { name: "Doodle Jump", href: "/doodlejump" },
  { name: "Flappy Bird", href: "/flappybird" },
  { name: "Mario", href: "/mario" },
  { name: "Minesweeper", href: "/minesweeper" },
  { name: "Pacman", href: "/pacman" },
  { name: "Papa's Pizzeria", href: "/papa/pizzeria" },
  { name: "Retro Bowl", href: "/retrobowl" },
  { name: "Slope", href: "/slope" },
  { name: "Snow Rider 3D", href: "/snowrider3d" },
  { name: "Subway Surfers", href: "/subwaysurfers" },
].sort((a, b) => a.name.localeCompare(b.name));
---

<div class="d-grid gap-2 list-group" style="height: calc(100vh - 80px - 4rem - 28.8px); overflow-y: auto">
  <input class="form-control w-100" type="search" placeholder="Search" aria-label="Search" id="searchInput" />
  <hr class="my-2">
  {games && games.map(({ name, href }, index) => (
    <a class="list-group-item list-group-item-action" type="button" href={href}>{name}</a>
  ))}
</div>