---
const games = [
  { name: "2048", href: "/2048" },
  { name: "Among Us", href: "/amongus" },
  { name: "BitLife", href: "/bitlife" },
  { name: "Bloons TD", href: "/bt/bloons" },
  { name: "Bloons TD 2", href: "/bt/bloons2" },
  { name: "Bloons TD 3", href: "/bt/bloons3" },
  { name: "Bloons TD 4", href: "/bt/bloons4" },
  { name: "Bloons TD 5", href: "/bt/bloons5" },
  { name: "Bloxorz" , href: "/bloxorz" },
  { name: "Chrome Dino", href: "/chromedino" },
  { name: "Cookie Clicker", href: "/cookieclicker" },
  { name: "Crazy Cattle 3D", href: "/crazycattle3d" },
  { name: "Doodle Jump", href: "/doodlejump" },
  { name: "DOOM", href: "/doom" },
  { name: "Flappy Bird", href: "/flappybird" },
  { name: "Hill Climb Racing", href: "/hillclimb" },
  { name: "Jacksmith", href: "/jacksmith" },
  { name: "Mario Bros (HTML)", href: "/mario" },
  { name: "Mario Bros (NES)", href: "/mariobros" },
  { name: "Minesweeper", href: "/minesweeper" },
  { name: "Pacman", href: "/pacman" },
  { name: "Papa's Bakeria", href: "/papa/bakeria" },
  { name: "Papa's Burgeria", href: "/papa/burgeria" },
  { name: "Papa's Cheeseria", href: "/papa/cheeseria" },
  { name: "Papa's Cupcakeria", href: "/papa/cupcakeria" },
  { name: "Papa's Donuteria", href: "/papa/donuteria" },
  { name: "Papa's Freezeria", href: "/papa/freezeria" },
  { name: "Papa's Pancakeria", href: "/papa/pancakeria" },
  { name: "Papa's Pastaria", href: "/papa/pastaria" },
  { name: "Papa's Pizzeria", href: "/papa/pizzeria" },
  { name: "Papa's Scooperia", href: "/papa/scooperia" },
  { name: "Papa's Sushiria", href: "/papa/sushiria" },
  { name: "Papa's Tacomia", href: "/papa/tacomia" },
  { name: "Papa's Wingeria", href: "/papa/wingeria" },
  { name: "Retro Bowl", href: "/retrobowl" },
  { name: "Retro Bowl College", href: "/retrobowlcollege" },
  { name: "Riddle School 1", href: "/riddle/riddleschool" },
  { name: "Riddle School 2", href: "/riddle/riddleschool2" },
  { name: "Riddle School 3", href: "/riddle/riddleschool3" },
  { name: "Riddle School 4", href: "/riddle/riddleschool4" },
  { name: "Riddle School 5", href: "/riddle/riddleschool5" },
  { name: "Riddle Transfer 1", href: "/riddle/riddletransfer1" },
  { name: "Riddle Transfer 2", href: "/riddle/riddletransfer2" },
  { name: "Slope", href: "/slope" },
  { name: "Sonic (Genesis)", href: "/sonic/genesis" },
  { name: "Sonic Advance 1", href: "/sonic/advance1" },
  { name: "Sonic Advance 2", href: "/sonic/advance2" },
  { name: "Sonic Advance 3", href: "/sonic/advance3" },
  { name: "Snow Rider 3D", href: "/snowrider3d" },
  { name: "Subway Surfers", href: "/subwaysurfers" },
  { name: "Super Mario 64 (N64)", href: "/sm64" },
  { name: "Super Mario 64 (HTML)", href: "/sm64html" },
  { name: "We Become What We Behold", href: "/wbwwb" },
  { name: "Angry Birds", href: "/angrybirds" },
  { name: "Angry Birds Go Crazy", href: "/angrybirdsgocrazy" },
  { name: "I Don't Even Know", href: "/idontevenknow" },
  { name: "Breaking the Bank", href: "/breakingthebank" },
  { name: "Don't Whack Your Boss", href: "/dontwhackyourboss" },
  { name: "Escaping the Prison", href: "/escapingtheprison" },
  { name: "Impossible Quiz", href: "/impossiblequiz" },
  { name: "Impossible Quiz 2", href: "/impossiblequiz2" },
  { name: "Infiltrating the Airship", href: "/infiltratingtheairship" },
  { name: "One Chance", href: "/onechance" },
  { name: "Don't Poop Your Pants", href: "/pants" },
  { name: "PC Breakdown", href: "/pcbreakdown" },
  { name: "Simpsons", href: "/simpsons" },
  { name: "Unfair Mario", href: "/unfairmario" },
  { name: "Parking Mania", href: "/parking/parkingmania" },
  { name: "Parking Mania 2", href: "/parking/parkingmania2" },
  { name: "Extreme Parking Mania", href: "/parking/extremeparkingmania" },
  { name: "Extreme Parking Mania 2", href: "/parking/extremeparkingmania2" },
  { name: "Duck Life", href: "/ducklife" },
  { name: "Duck Life 4", href: "/ducklife4" },
  { name: "Duck Life 5", href: "/ducklife5" },
  { name: "Orb", href: "/orb" },
  { name: "Orb 2", href: "/orb2" },
  { name: "Run", href: "/run/run" },
  { name: "Run 2", href: "/run/run2" },
  { name: "Run 3", href: "/run/run3" },
  { name: "The Visitor", href: "/thevisitor" },
  { name: "The Visitor Returns", href: "/thevisitorreturns" },
  { name: "Portal", href: "/portal" },
  { name: "Windows XP Version 19.914", href: "/windowsxp" },
  { name: "Windows RG", href: "/windowsrg" },
  { name: "Super Smash Flash", href: "/smashflash" },
  { name: "I Don't Even", href: "/idonteven" },
  { name: "Stealing the Diamond", href: "/diamond" },
  { name: "Fleeing the Complex", href: "/fleeingthecomplex" },
  { name: "Thirty Dollar Haircut", href: "/thirtydollar" },
  { name: "Temple Run 2", href: "/templerun2" },
  { name: "Edge Surf", href: "/edgesurf" },
  { name: "Geometry Dash (Scratch)", href: "/geometrydash" },
  { name: "Getting Over It (Scratch)", href: "/gettingoverit" },
  { name: "Five Nights at Freddy's", href: "/fnaf" },
  { name: "Blackjack 1", href: "/blackjack" },
  { name: "Blackjack 2", href: "/blackjack2" },
  { name: "Minecraft", href: "/minecraft" },
  { name: "Hextris", href: "/hextris" },
  { name: "Flying Car Simulator", href: "/flyingcarsim" },
  { name: "Tetra Legends", href: "/tetralegends" },
  { name: "Friendly Fire", href: "/friendlyfire" },
  { name: "Gopher Kart", href: "/gopherkart" },
  { name: "Survival Race", href: "/survivalrace" },
  { name: "Rocket Soccer Durby", href: "/rocketsoccerdurby" },
  { name: "Roulette", href: "/roulette" },
  { name: "Poker", href: "/poker" },
  { name: "Texas Hold'em", href: "/texasholdem" },
  { name: "Punch Out!!", href: "/punchout" },
  { name: "Tic Tac Toe", href: "/tictactoe" },
  { name: "Chess", href: "/chess" }
].sort((a, b) => a.name.localeCompare(b.name));
---

<div class="d-grid gap-2 list-group">
  <div class="input-group w-100">
    <span class="input-group-text">
      <i class="bi bi-search"></i>
    </span>
    <input class="form-control" type="search" placeholder="Search" aria-label="Search" id="searchInput">
  </div>

  <hr class="my-2">
  {games && games.map(({ name, href }, index) => (
    <a class="list-group-item list-group-item-action" type="button" href={href}>{name}</a>
  ))}
</div>
