---
const { parent, additionalClasses } = Astro.props;
const classes = additionalClasses ? `accordion ${additionalClasses}` : 'accordion';
---

<div class={classes} id={parent}>
  <slot name="accordion-content" parent={parent} />
</div>
